Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

fix minor issues
  Web/web_assessment/components/common/Error.tsx
  Web/web_assessment/components/hospital/HospitalCard.tsx
  Web/web_assessment/components/hospital/HospitalDetails.tsx
  Web/web_assessment/components/hospital/HospitalList.tsx
Labels: @team/web

fix minor issues
  Web/web_assessment/components/hospital/HospitalDetails.tsx
Labels: @team/web

implement the assesment application
  Mobile/mobile_assessement/assets/images/image1.jpg
  Mobile/mobile_assessement/lib/core/errors/exception.dart
  Mobile/mobile_assessement/lib/core/errors/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/utils/usecases/usecases.dart
  Mobile/mobile_assessement/lib/feature/issue/data/dataSources/localdatasource.dart
  Mobile/mobile_assessement/lib/feature/issue/data/dataSources/remotedatasource.dart
  Mobile/mobile_assessement/lib/feature/issue/data/model/issue_model.dart
  Mobile/mobile_assessement/lib/feature/issue/data/repository/Issue_repository.dart
  Mobile/mobile_assessement/lib/feature/issue/domain/entities/Issue_entity.dart
  Mobile/mobile_assessement/lib/feature/issue/domain/repositort/issue_repository.dart
  Mobile/mobile_assessement/lib/feature/issue/domain/usecases/get_all_issue.dart
  Mobile/mobile_assessement/lib/feature/issue/domain/usecases/get_issue_by_Id.dart
  Mobile/mobile_assessement/lib/feature/issue/presentation /bloc/issue_bloc.dart
  Mobile/mobile_assessement/lib/feature/issue/presentation /bloc/issue_event.dart
  Mobile/mobile_assessement/lib/feature/issue/presentation /bloc/issue_state.dart
  Mobile/mobile_assessement/lib/feature/issue/presentation /screen/detail_page.dart
  Mobile/mobile_assessement/lib/feature/issue/presentation /screen/home_page.dart
  Mobile/mobile_assessement/lib/issue_injection.container.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.yaml
  Mobile/mobile_assessement/test/features/issue/domain/usecase/get_issue.dart
  Mobile/mobile_assessement/test/features/issue/domain/usecase/get_issue.mocks.dart
  Mobile/mobile_assessement/test/features/issue/domain/usecase/get_issue_by_id.dart
  Mobile/mobile_assessement/test/features/issue/domain/usecase/get_issue_by_id.mocks.dart
  Mobile/mobile_assessement/test/widget_test.dart
Labels: @team/mobile

webAssesment
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/components/HospitalCard.tsx
  Web/web_assessment/components/NavBar.tsx
  Web/web_assessment/components/SearchBar.tsx
  Web/web_assessment/hospital-test.ts
  Web/web_assessment/pages/HospitalList/index.tsx
  Web/web_assessment/pages/HospitalProfile/[id].tsx
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/_index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/navbar/avatar.png
  Web/web_assessment/public/navbar/logo.png
  Web/web_assessment/store/features/api.ts
  Web/web_assessment/store/store.ts
  Web/web_assessment/tsconfig.json
  Web/web_assessment/type/HospitslList.ts
  Web/web_assessment/type/search.ts
  package-lock.json
  package.json
Labels: repo, @team/web

Domain project
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Post.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/PostUser.cs
Labels: @team/backend

Add application Consatant
  Backend/backend_assessment/CineFlex/CineFlex.Application/Constants/CustomClaimTypes.cs
Labels: @team/backend

Add application persistence
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IPostRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
Labels: @team/backend

Add CQRS and DTO
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Commands/CreatePostCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Commands/DeletePostCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Commands/UpdatePostCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Handlers/CreatePostCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Handlers/DeletePostCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Handlers/GetPostDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Handlers/GetPostListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Handlers/UpdatePostCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Queries/GetPostDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/CQRS/Queries/GetPostListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/DTOs/CreatePostDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/DTOs/IPostDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/DTOs/PostDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/DTOs/UpdatePostDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/DTOs/Validators/CreatePostDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Posts/DTOs/Validators/UpdateDtoValidator.cs
Labels: @team/backend

Application configuration and models
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IUserService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/UserConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Models/ApplicationUser.cs
Labels: @team/backend

Profile Mapping
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
Labels: @team/backend

Add Application Response
  Backend/backend_assessment/CineFlex/CineFlex.Application/Responses/Result.cs
Labels: @team/backend

Add API controller
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/PostController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/UserController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/AuthRequest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/AuthResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/Blogger.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationRequest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/UserConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/PostRepository.cs
Labels: @team/backend

Backing unknownly deleted files
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/UserController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IUserService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IPostRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Post.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/PostUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Models/AuthRequest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Models/AuthResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Models/Blogger.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Models/RegistrationRequest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Models/RegistrationResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/PostRepository.cs
Labels: @team/backend

Add Jwt settings
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Models/JwtSettings.cs
Labels: @team/backend

Add identity
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
Labels: @team/backend

Add Unit Test
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockPostRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Posts/CreatePostCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Posts/DeleteCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Posts/UpdatePostCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/MockPostRepository.cs
Labels: @team/backend

remove Unneccessary space
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
Labels: @team/backend

update state managment of doctor detail
  Web/web_assessment/pages/doctordetail/[id].tsx
Labels: @team/web

Update README.md
  Web/web_assessment/README.md
Labels: @team/web

Update README.md (#362)
  Web/web_assessment/README.md
Labels: @team/web

Jokes app by Fitsum Gedefaw
  Web/web-test-fitsum/.babelrc
  Web/web-test-fitsum/.eslintrc.cjs
  Web/web-test-fitsum/.gitignore
  Web/web-test-fitsum/README.md
  Web/web-test-fitsum/index.html
  Web/web-test-fitsum/jest.config.ts
  Web/web-test-fitsum/package-lock.json
  Web/web-test-fitsum/package.json
  Web/web-test-fitsum/postcss.config.js
  Web/web-test-fitsum/public/vite.svg
  Web/web-test-fitsum/src/App.css
  Web/web-test-fitsum/src/App.tsx
  Web/web-test-fitsum/src/assets/react.svg
  Web/web-test-fitsum/src/components/FormUI/Input.tsx
  Web/web-test-fitsum/src/components/Jokes/ErrorCard.tsx
  Web/web-test-fitsum/src/components/Jokes/JokeCard.test.tsx
  Web/web-test-fitsum/src/components/Jokes/JokeCard.tsx
  Web/web-test-fitsum/src/features/Jokes/JokesList.tsx
  Web/web-test-fitsum/src/features/Jokes/JokesSlice.ts
  Web/web-test-fitsum/src/features/api/JokesApi.ts
  Web/web-test-fitsum/src/index.css
  Web/web-test-fitsum/src/main.tsx
  Web/web-test-fitsum/src/store/index.ts
  Web/web-test-fitsum/src/vite-env.d.ts
  Web/web-test-fitsum/tailwind.config.js
  Web/web-test-fitsum/tsconfig.json
  Web/web-test-fitsum/tsconfig.node.json
  Web/web-test-fitsum/vite.config.ts
Labels: @team/web

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
