Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

feat(zalbo.weatherify): improved the ui
  Mobile/mobile_assessement/lib/features/weatherify/data/data_source/weater_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weatherify/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weatherify/data/repository/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/entity/weather_entity.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/bloc/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/detail_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/welcome_page.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/test/features/weatherify/presentation/bloc/bloc/weather_bloc_bloc.dart
  Mobile/mobile_assessement/test/features/weatherify/presentation/bloc/bloc/weather_bloc_event.dart
  Mobile/mobile_assessement/test/features/weatherify/presentation/bloc/bloc/weather_bloc_state.dart
Labels: @team/mobile

second implimentation
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/index.tsx
  Web/web_assessment/components/home/CardItem.tsx
  Web/web_assessment/components/home/DoctorsCard.tsx
  Web/web_assessment/components/home/Footer.tsx
  Web/web_assessment/components/home/HomePage.tsx
  Web/web_assessment/components/home/NavBar.tsx
  Web/web_assessment/components/home/ProfilePage.tsx
  Web/web_assessment/data/card-data.json
  Web/web_assessment/data/profile-data.json
  Web/web_assessment/pages/_document.tsx
  Web/web_assessment/pages/api/doctors.ts
  Web/web_assessment/pages/api/hello.ts
  Web/web_assessment/pages/hakim.hub/index.tsx
  Web/web_assessment/pages/index.tsx
Labels: @team/web

remove the lib folder
  Web/web_assessment/api-slice/doctors-api.ts
  Web/web_assessment/components/DoctorCard.tsx
  Web/web_assessment/components/DoctorList.tsx
  Web/web_assessment/components/doctor-img.jpg
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/slices/doctorsSlice.ts
  Web/web_assessment/store/store.tsx
Labels: @team/web

update
  Web/web_assessment/components/DoctorCard.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/layout/default.tsx
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/[id].tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/img/cross.jpg
  Web/web_assessment/public/img/hakimhub.jpg
  Web/web_assessment/public/img/man.jpg
  Web/web_assessment/types/doctor
Labels: @team/web

feat(backend.Surafel.Imp-seat)
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatDetailQueryHandler .cs
Labels: @team/backend

feat(Yeabsira.Assessment) add files
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/AuthController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/CinemaController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieBookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IMovieBookingRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Commands/CreateMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Commands/DeleteMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Commands/UpdateMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Handlers/CreateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Handlers/DeleteMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Handlers/GetMovieBookingDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Handlers/GetMovieBookingListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Handlers/UpdateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Queries/GetMovieBookingDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/CQRS/Queries/GetMovieBookingListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/DTOs/CreateMovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/DTOs/IMovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/DTOs/MovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/DTOs/UpdateMovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/DTOs/Validators/CreateMovieBookingDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/DTOs/Validators/IMovieBookingDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MoviesBooking/DTOs/Validators/UpdateMovieBookingDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CinemaEntity.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Movie.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/MovieBooking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/AuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/MovieBookingRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

implement bloc for article and fix issues on user
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/feed_injection_container.dart
  Mobile/starter_project_dark_knights/lib/injection_container.dart
  Mobile/starter_project_dark_knights/lib/user_injection_container.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
Labels: @team/mobile

feat(Yeabsira.Assessment) add search & filter
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IMovieRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Handlers/FilterMovieQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Handlers/SearchMovieQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Queries/FilterMovieQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Queries/SearchMovieQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/DTOs/GenreDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/Entities/CinemaConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/MovieRepository.cs
Labels: @team/backend

feat(web): implement component and e2e testing on about page
  Web/starter_project_barbies/components/about/HeroSection.cy.tsx
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.cy.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.cy.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.cy.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/cypress.config.ts
  Web/starter_project_barbies/cypress/e2e/about_spec.cy.ts
  Web/starter_project_barbies/cypress/fixtures/about/problemItems.json
  Web/starter_project_barbies/cypress/fixtures/about/projects.json
  Web/starter_project_barbies/cypress/fixtures/about/sessions.json
  Web/starter_project_barbies/cypress/fixtures/about/solutionItems.json
  Web/starter_project_barbies/cypress/support/component-index.html
  Web/starter_project_barbies/cypress/support/component.ts
Labels: @team/web

First commit
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Drawing 2.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/amicopuzzle.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
Labels: @team/web

Implement about_us
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/amicopuzzle.png
  Web/starter_project_iconics/public/about/img/amicosolve.png
  Web/starter_project_iconics/public/about/img/icon tag (1).png
  Web/starter_project_iconics/public/about/img/icon tag (2).png
  Web/starter_project_iconics/public/about/img/icon tag (3).png
  Web/starter_project_iconics/public/about/img/icon tag (4).png
  Web/starter_project_iconics/public/about/img/icon tag (5).png
  Web/starter_project_iconics/public/about/img/icon tag.png
  Web/starter_project_iconics/public/about/img/info iconicon1.png
  Web/starter_project_iconics/public/about/img/info iconicon2.png
  Web/starter_project_iconics/public/about/img/info iconicon3.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

implement card items
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/data/about/about-card.json
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-1.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-2.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-3.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-4.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-5.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-1.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-2.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-3.png
  Web/starter_project_iconics/public/img/about/problem-section/africa-iconicon-1.png
  Web/starter_project_iconics/public/img/about/problem-section/amico-solve.png
  Web/starter_project_iconics/public/img/about/problem-section/code-iconicon-2.png
  Web/starter_project_iconics/public/img/about/session-section/amico-puzzle.png
  Web/starter_project_iconics/public/img/about/session-section/light-bulb-icon-3.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-4.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-5.png
  package-lock.json
Labels: repo, @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
Labels: @team/web

implenting about_us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
Labels: @team/web

about-us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

about_us_page
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/public/img/about/about-section/more-info.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-3.png
Labels: @team/web

about-us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
Labels: @team/web

final
  Web/web_assessment/components/common/Loading.tsx
  Web/web_assessment/components/common/SearchBar.tsx
  Web/web_assessment/components/doctor/DoctorCard.tsx
  Web/web_assessment/components/doctor/DoctorDetails.tsx
  Web/web_assessment/components/doctor/DoctorList.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navigation.tsx
  Web/web_assessment/components/web/HospitalCard.tsx
  Web/web_assessment/components/web/HospitalDetail.tsx
  Web/web_assessment/components/web/HospitalList.tsx
  Web/web_assessment/data/doctor/doctors.json
  Web/web_assessment/hooks/hooks.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctor/[id].tsx
  Web/web_assessment/pages/doctor/index.tsx
  Web/web_assessment/pages/hospital/[id].tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/image/HakimHub.png
  Web/web_assessment/public/image/background.png
  Web/web_assessment/public/image/facebook.png
  Web/web_assessment/public/image/insta.png
  Web/web_assessment/public/image/linkedin.png
  Web/web_assessment/public/image/profile.png
  Web/web_assessment/public/image/twitter.png
  Web/web_assessment/ssttore/features/hospital-details-api.ts
  Web/web_assessment/ssttore/features/hospitals-api.ts
  Web/web_assessment/ssttore/index.ts
  Web/web_assessment/store/features/doctor/doctor-detail-api.ts
  Web/web_assessment/store/features/doctor/doctors-api.ts
  Web/web_assessment/store/index.ts
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/ttype/hospital/hospital.ts
  Web/web_assessment/types/doctor/doctor.ts
Labels: @team/web

implement components
  Web/web_assessment/components/common/Loading.tsx
  Web/web_assessment/components/common/SearchBar.tsx
  Web/web_assessment/components/hospital/HospitalCard.tsx
  Web/web_assessment/components/hospital/HospitalDetail.tsx
  Web/web_assessment/components/hospital/HospitalList.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navigation.tsx
  Web/web_assessment/type/hospital/hospital.ts
Labels: @team/web

implement store and add state management
  Web/web_assessment/components/hospital/HospitalList.tsx
  Web/web_assessment/hooks/hooks.tsx
  Web/web_assessment/pages/hospital/[id].tsx
  Web/web_assessment/pages/hospital/index.tsx
  Web/web_assessment/store/features/hospital-details-api.ts
  Web/web_assessment/store/features/hospitals-api.ts
  Web/web_assessment/store/index.ts
Labels: @team/web

feat(create the Navbar component)
  Web/web_assessment/components/common/Search.tsx
  Web/web_assessment/components/hospital/HospitalCard.tsx
  Web/web_assessment/components/hospital/HospitalList.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
Labels: @team/web

feat(web):add the feching feature
  Web/web_assessment/pages/index.tsx
Labels: @team/web

implement domain and data layers
  Mobile/mobile_assessement/lib/features/issue/data/data_sources/issue_local_data_source.dart
  Mobile/mobile_assessement/lib/features/issue/data/data_sources/issue_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/issue/data/models/issue_model.dart
  Mobile/mobile_assessement/lib/features/issue/data/repositories/issue_repository_impl.dart
  Mobile/mobile_assessement/lib/features/issue/domain/entities/issue.dart
  Mobile/mobile_assessement/lib/features/issue/domain/repositories/issue_repository.dart
  Mobile/mobile_assessement/lib/features/issue/domain/usecases/get_issue.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/bloc/issue_bloc.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/bloc/issue_event.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/bloc/issue_state.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/pages/issue_page.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/widgets/nav_bar.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/widgets/upper_bar.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/macos/Flutter/GeneratedPluginRegistrant.swift
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

Fetching complete
  Web/web_assessment/components/common/Search.tsx
  Web/web_assessment/components/hospital/HospitalCard.tsx
  Web/web_assessment/components/hospital/HospitalDetail.tsx
  Web/web_assessment/components/hospital/HospitalList.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/[id].tsx
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/img/logo.png
  Web/web_assessment/store/hospital/hospital-api.tsx
  Web/web_assessment/store/store.ts
  Web/web_assessment/styles/globals.css
  Web/web_assessment/types/Hospital.ts
Labels: @team/web

implement the issue bloc and some widgets
  Mobile/mobile_assessement/lib/features/issue/data/repositories/issue_repository_impl.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/bloc/issue_bloc.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/bloc/issue_event.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/bloc/issue_state.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/pages/issue_page.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/widgets/issue_body.dart
  Mobile/mobile_assessement/test/widget_test.dart
Labels: @team/mobile

add search feature
  Web/web_assessment/components/common/IsOpen.tsx
  Web/web_assessment/components/hospital/HospitalCard.tsx
  Web/web_assessment/components/hospital/HospitalDetailMock.tsx
  Web/web_assessment/components/hospital/HospitalDetails.tsx
  Web/web_assessment/components/hospital/HospitalList.tsx
  Web/web_assessment/components/layout/Navigation.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/hospital/[id].tsx
  Web/web_assessment/pages/hospital/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/image/HakimHub.png
  Web/web_assessment/public/image/background.png
  Web/web_assessment/public/image/facebook.png
  Web/web_assessment/public/image/insta.png
  Web/web_assessment/public/image/linkedin.png
  Web/web_assessment/public/image/profile.png
  Web/web_assessment/public/image/twitter.png
  Web/web_assessment/store/features/hospitals-api.ts
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/type/hospital/hospital.ts
Labels: @team/web

implement usecase test
  Mobile/mobile_assessement/lib/features/issue/presentation/widgets/issue_body.dart
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
  Mobile/mobile_assessement/test/features/issue/domain/usecases/get_issue_test.dart
Labels: @team/mobile

Arrange the environment
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
Labels: @team/web

add images
  Web/web_assessment/components/hospital/HospitalDetailMock.tsx
  Web/web_assessment/pages/hospital/index.tsx
  Web/web_assessment/public/image/dot.png
  Web/web_assessment/public/image/email.png
  Web/web_assessment/public/image/location.png
  Web/web_assessment/public/image/phone.png
Labels: @team/web

final commit
  Web/web_assessment/pages/hospital/index.tsx
  Web/web_assessment/pages/index.tsx
Labels: @team/web

Create Components
  Web/web_assessment/components/Hospital/HospitalCard.tsx
  Web/web_assessment/components/Hospital/HospitalDetailWithOutState.tsx
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/components/common/Header.tsx
  Web/web_assessment/components/common/Layout.tsx
  Web/web_assessment/components/common/LoadingSpinner.tsx
  Web/web_assessment/components/common/Pagination.tsx
Labels: @team/web

Implement Home-Screen
  Web/web_assessment/pages/home/home-screen.tsx
Labels: @team/web

refactor ui
  Mobile/mobile_assessement/lib/features/issue/presentation/bloc/issue_bloc.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/pages/issue_page.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/widgets/issue_body.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/widgets/nav_bar.dart
  Mobile/mobile_assessement/lib/features/issue/presentation/widgets/upvote_downvote.dart
Labels: @team/mobile

Implement Hospital-Detail With State
  Web/web_assessment/pages/hospital/[id].tsx
Labels: @team/web

Implement Hospital With Out State
  Web/web_assessment/pages/hospitalDetailWithOutState/index.tsx
Labels: @team/web

Include image
  Web/web_assessment/public/img/blackLion.png
  Web/web_assessment/public/img/logo.png
Labels: @team/web

Include Store
  Web/web_assessment/store/hospitals/hospitals-api.ts
  Web/web_assessment/store/store.ts
Labels: @team/web

feat(Backend- dotnetforce7) : Implement CRUD and User Identity with test
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlexDbContextFactory.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlexIdentityDbContext.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/RoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/UserConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/UserRoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/IdentityServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Models/ApplicationUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/AuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/UserService.cs
Labels: @team/backend

Implement Hospital Data Sets Type2
  Web/web_assessment/types/hospital.ts
Labels: @team/web

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
