Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

feat(mobile-dart knight) implement authentication domain layer (#202)
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Bold copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Regular copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Light copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/repositories/authentication_repository.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/login_usecase_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/login_usecase_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/signup_usecase_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/signup_usecase_test.mocks.dart
Labels: @team/mobile

fix minor issues
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/blog/Search.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

resolve minor issues
  Web/starter_project_vanguard/components/blog/Search.tsx
Labels: @team/web

feat(Yeaabsira.user) add authentication
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BaseController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Infrastructure/IEmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Create_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/I_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/RegisterDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Update_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ServerSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Mail/EmailSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Responses/Result.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/20230511131137_identityMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/20230511131137_identityMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/BlogAppIdentityDbContextModelSnapshot.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/BlogApp.Infrastructure.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/Mail/EmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230511130958_userMigrations.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230511130958_userMigrations.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Users/Command/Create_UserCommandHandlerTests.cs
Labels: @team/backend

feat(web-iconics): implement tag component (#34)
  Web/starter_project_iconics/components/common/Tag.tsx
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

setup json-server
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

setup json-server (#203)
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

(Mobile-Dartknights): Add user model with test
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/models/user_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
  Mobile/starter_project_dark_knights/test/fixtures/user.json
Labels: @team/mobile

(Mobile-Dartknights): Add network info implementation with test and skeleton for the user repository implementation
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/network/network_info.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repository/user_repository_impl.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/core/network/network_info_test.dart
  Mobile/starter_project_dark_knights/test/core/network/network_info_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/models/user_model_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.mocks.dart
Labels: @team/mobile

feat(Yeabsira.user) add global exception handler
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/MIddleware/ExceptionMiddleware.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
Labels: @team/backend

(Yeabsira.user) add auth
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/InfrastructureServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/Mail/EmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/_UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Users/Command/Create_UserCommandHandlerTests.cs
Labels: @team/backend

user info fetch and update
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

commit to resolve
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

commit to resolve
  Web/starter_project_vanguard/data/profile/user-data.json
  Web/starter_project_vanguard/pages/api/profile.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

commit to resolve
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

user info fetch and update
  Web/starter_project_vanguard/store/features/user-slice.ts
Labels: @team/web

Create Article Domain
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
Labels: @team/mobile

Article domain update
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.mocks.dart
Labels: @team/mobile

article usecase update
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
Labels: @team/mobile

Article usecase update
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
Labels: @team/mobile

Refactor article domain
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
Labels: @team/mobile

article_usecase update
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
Labels: @team/mobile

(Mobile-Dartknights): Add user model
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
Labels: @team/mobile

cherry-pick commit
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
Labels: @team/web

(Mobile-Dartknights): Add user model test
  Mobile/starter_project_dark_knights/test/features/user_profile/data/models/user_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
  Mobile/starter_project_dark_knights/test/fixtures/user.json
Labels: @team/mobile

feat(Mobile-Dartknights): Create user model with tests (#207)
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/models/user_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
  Mobile/starter_project_dark_knights/test/fixtures/user.json
Labels: @team/mobile

add user usecases
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_following.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
Labels: @team/mobile

fix remove some mock entities
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
Labels: @team/mobile

add usecase tests
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
Labels: @team/mobile

fix format document
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
Labels: @team/mobile

[Mobile] home page domain layer
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/get_article.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/pubspec.lock
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.mocks.dart
Labels: @team/mobile

Home page domain layer
  Mobile/starter_project_dartsmiths/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
Labels: @team/mobile

fix(backend-dotnetforce7): update with main
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockCommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
Labels: @team/backend

android/local.properties deleted
  Mobile/starter_project_dartsmiths/android/local.properties
Labels: @team/mobile

feat(mobile:dart_knights):user-domain-layer (#205)
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_following.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
Labels: @team/mobile

add article model and article fixture
  Mobile/starter_project_dark_knights/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dark_knights/test/fixtures/article.json
Labels: @team/mobile

[Mobile] home page domain layer
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/get_article.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/pubspec.lock
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.mocks.dart
Labels: @team/mobile

Home page domain layer
  Mobile/starter_project_dartsmiths/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
Labels: @team/mobile

android/local.properties deleted
  Mobile/starter_project_dartsmiths/android/local.properties
Labels: @team/mobile

implement model and model test for article feature
  Mobile/starter_project_dark_knights/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dark_knights/test/features/article/data/models/article_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/article.json
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
Labels: @team/mobile
