Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

(fix) Resolved merge erros, Added test folder with example files, Fixed git ignore not to add generated files, Fixed font size for Onboarding page
  Mobile/starter_project_dartsmiths/.gitignore
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/on_boarding_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/onboarding_page_v1.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/onboarding_page_v2.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_stepper_box.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_stepper_button.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/stepper_dots.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/core/core_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/datasources/example_datasource_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/models/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/repositories/example_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/entities/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/repositories/example_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/example/presentation/bloc/example_bloc_test.dart
Labels: @team/mobile

(fix) Resolved merge erros, Added test folder with example files, Fixed git ignore not to add generated files, Fixed font size for Onboarding page (#116)
  Mobile/starter_project_dartsmiths/.gitignore
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/on_boarding_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/onboarding_page_v1.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/onboarding_page_v2.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_stepper_box.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_stepper_button.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/stepper_dots.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/core/core_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/datasources/example_datasource_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/models/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/repositories/example_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/entities/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/repositories/example_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/example/presentation/bloc/example_bloc_test.dart
Labels: @team/mobile

feat(web-barbies) : Add blog-form component for new blog post
  Web/starter_project_barbies/components/blog/BlogForm.tsx
  Web/starter_project_barbies/components/blog/RichTextEditor.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/public/img/file-upload.jpg
Labels: @team/web

refactor(web-barbies) : Improve code organization and readability for blog-form component
  Web/starter_project_barbies/components/blog/BlogForm.tsx
  Web/starter_project_barbies/components/blog/RichTextEditor.tsx
  Web/starter_project_barbies/public/img/blog/file-upload.jpg
Labels: @team/web

fix(web-barbies) : Update button colors for blog-form
  Web/starter_project_barbies/components/blog/BlogForm.tsx
Labels: @team/web

clean the branch
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/create_article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/get_article.dart
Labels: @team/mobile

delete entities
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/create_article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/get_article.dart
Labels: @team/mobile

(fix: add svg dependency that is needed for profile_page) (#110)
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

add full UI of write article page (#113)
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/title_bar.dart
Labels: @team/mobile

feat(web-iconics): implement blog page (#51)
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/data/blog/blog-tile.json
  Web/starter_project_iconics/pages/blog/blogs.tsx
  Web/starter_project_iconics/public/img/blog/profile-img.jpg
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

Remove un-necessary imports
  Web/starter_project_barbies/components/story/SuccessStory.tsx
  Web/starter_project_barbies/components/story/Title.tsx
Labels: @team/web

update Success-Story Card
  Web/starter_project_barbies/components/story/SuccessStoryCard.tsx
Labels: @team/web

update Partners section
  Web/starter_project_barbies/components/story/Partners.tsx
Labels: @team/web

Add Partners-data
  Web/starter_project_barbies/public/data/partners.json
Labels: @team/web

fix(web-iconics) change the background to white
  Web/starter_project_iconics/components/home/Landing.tsx
  Web/starter_project_iconics/pages/index.tsx
Labels: @team/web

feat(web-iconics): Implement build-better section of homepage, change hero section to landing section
  Web/starter_project_iconics/components/home-page/Hero.tsx
  Web/starter_project_iconics/components/home/BuildBetter.tsx
  Web/starter_project_iconics/components/home/Landing.tsx
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/better-tomorrow.jpg
  Web/starter_project_iconics/public/img/home/hero.png
Labels: @team/web

rename team folder to teams
  Web/starter_project_iconics/components/team/TeamsHero.tsx
  Web/starter_project_iconics/pages/teams/README.md
  Web/starter_project_iconics/pages/teams/index.tsx
Labels: @team/web

create teams-hero component
  Web/starter_project_iconics/components/team/TeamsHero.tsx
  Web/starter_project_iconics/pages/team/index.tsx
  Web/starter_project_iconics/public/img/teams/hero-background.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-1.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-2.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-3.png
Labels: @team/web

delete teams
  Web/starter_project_iconics/components/team/teams.tsx
  Web/starter_project_iconics/pages/team/teams-page.tsx
Labels: @team/web

delete teams
  Web/starter_project_iconics/components/team/teams.tsx
Labels: @team/web

ekram.story-page (#76)
  Web/starter_project_barbies/components/story/Partners.tsx
  Web/starter_project_barbies/components/story/SuccessStory.tsx
  Web/starter_project_barbies/components/story/SuccessStoryCard.tsx
  Web/starter_project_barbies/components/story/Title.tsx
  Web/starter_project_barbies/pages/story/index.tsx
  Web/starter_project_barbies/public/data/partners.json
  Web/starter_project_barbies/public/data/story.json
  Web/starter_project_barbies/public/img/story/companies/databricks.png
  Web/starter_project_barbies/public/img/story/companies/google.png
  Web/starter_project_barbies/public/img/story/companies/instdeep.png
  Web/starter_project_barbies/public/img/story/companies/linkedin.png
  Web/starter_project_barbies/public/img/story/companies/meta.png
  Web/starter_project_barbies/public/img/story/companies/palantir.png
  Web/starter_project_barbies/public/img/story/photos/biruk.png
  Web/starter_project_barbies/public/img/story/photos/lydia.png
  Web/starter_project_barbies/public/img/story/photos/yisehak.png
  Web/starter_project_barbies/public/img/successStory/a2sv-logo.png
  Web/starter_project_barbies/public/img/successStory/biruk.png
  Web/starter_project_barbies/public/img/successStory/databricks.png
  Web/starter_project_barbies/public/img/successStory/google.png
  Web/starter_project_barbies/public/img/successStory/instdeep.png
  Web/starter_project_barbies/public/img/successStory/linkedin.png
  Web/starter_project_barbies/public/img/successStory/lydia.png
  Web/starter_project_barbies/public/img/successStory/meta.png
  Web/starter_project_barbies/public/img/successStory/palantir.png
  Web/starter_project_barbies/public/img/successStory/yisehak.png
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/styles/story/style.module.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/story.ts
Labels: @team/web

feat(web-iconics): implement teams-hero component (#100)
  Web/starter_project_iconics/components/team/TeamsHero.tsx
  Web/starter_project_iconics/pages/team/teams-page.tsx
  Web/starter_project_iconics/pages/teams/README.md
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/public/img/teams/hero-background.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-1.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-2.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-3.png
Labels: @team/web

feat(backend): Create identity model
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Properties/launchSettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/.DS_Store
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogIdentityDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.dgspec.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.props
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.targets
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.AssemblyInfo.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.AssemblyInfoInputs.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.GlobalUsings.g.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.assets.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.csproj.AssemblyReference.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.assets.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.nuget.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

fix(backend): fix namespace typo
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserConfiguration.cs
Labels: @team/backend

feat(web-iconics): implement build better section for the homepage (#74)
  Web/starter_project_iconics/components/home-page/Hero.tsx
  Web/starter_project_iconics/components/home/BuildBetter.tsx
  Web/starter_project_iconics/components/home/Landing.tsx
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/better-tomorrow.jpg
  Web/starter_project_iconics/public/img/home/hero.png
Labels: @team/web

feat(backend): add migrations
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230503120315_IdentityModel.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230503120315_IdentityModel.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/BlogIdentityDbContextModelSnapshot.cs
Labels: @team/backend

img->Image (#99)
  Web/starter_project_vanguard/components/success-story/Partners.tsx
  Web/starter_project_vanguard/components/success-story/SuccessImageCard.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
Labels: @team/web

changes from main
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
Labels: @team/mobile

profile variables and other fixes
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

profile folder changes
  Web/starter_project_vanguard/components/profile/user.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

file rename and some more changes
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/components/profile/user.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

add profile page
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/types/user-profile.ts
Labels: @team/web

fix conflicts
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/data/success-story.json
Labels: @team/web

make the some changes on the hero of teams page
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
Labels: @team/web

fix(web): made thehero on teams page more responsive
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
Labels: @team/web

decrease the size of text in small screem
  Web/starter_project_vanguard/components/teams/MemberCard.tsx
Labels: @team/web

commit for deployment fiz
  Web/starter_project_vanguard/components/layout/Navbar.tsx
Labels: @team/web

update the navbar's coloring using tailwind config
  Web/starter_project_barbies/components/layout/Navbar.tsx
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/public/img/a2sv-logo.jpeg
Labels: @team/web

feat(web-barbies): Add team page (#37)
  Web/starter_project_barbies/data/team-members.json
  Web/starter_project_barbies/pages/team/index.tsx
  Web/starter_project_barbies/public/image/team/hero-image.svg
Labels: @team/web

update the navbar's coloring using tailwind config 2
  Web/starter_project_barbies/components/layout/Navbar.tsx
Labels: @team/web
