Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

fix(joshua.matador): modify login_model.dart
  Mobile/starter_project_matador/lib/features/auth/data/models/login_model.dart
Labels: @team/mobile

feat(joshua.matador): add auth bloc consumption
  Mobile/starter_project_matador/lib/features/auth/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/auth/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/auth/data/repositories/login_user_repository_impl.dart
  Mobile/starter_project_matador/lib/features/auth/domain/repositories/login_repository.dart
  Mobile/starter_project_matador/lib/features/auth/domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_bloc.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_state.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/widgets/login/logo.dart
  Mobile/starter_project_matador/lib/injection/injection.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
Labels: @team/mobile

Profile with state (#211)
  Web/starter_project_vanguard/components/common/Loading.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user-data.json
  Web/starter_project_vanguard/data/profile/user.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/api/profile.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/store/index.ts
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

feat(web): starter code for web assessment created
  Web/web_assessment/.eslintrc.json
  Web/web_assessment/.gitignore
  Web/web_assessment/README.md
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/_document.tsx
  Web/web_assessment/pages/api/hello.ts
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/postcss.config.js
  Web/web_assessment/public/favicon.ico
  Web/web_assessment/public/next.svg
  Web/web_assessment/public/vercel.svg
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/tsconfig.json
Labels: @team/web

fix nav
  Web/starter_project_iconics/data/layout/navbar/nav-data.ts
Labels: @team/web

remove un part
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
Labels: @team/web

feat(web-vamguard): implement teams page with RTKQ (#288)
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/data/db.json
  Web/starter_project_vanguard/data/team-members.json
  Web/starter_project_vanguard/store/features/teams/teams-api.ts
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

feat(web): starter code for web assessment created (#287)
  Web/web_assessment/.eslintrc.json
  Web/web_assessment/.gitignore
  Web/web_assessment/README.md
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/_document.tsx
  Web/web_assessment/pages/api/hello.ts
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/postcss.config.js
  Web/web_assessment/public/favicon.ico
  Web/web_assessment/public/next.svg
  Web/web_assessment/public/vercel.svg
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/tsconfig.json
Labels: @team/web

feat(web-iconics) implement state management for success-rate section of homepage
  Web/starter_project_iconics/components/home/SuccessRate.tsx
  Web/starter_project_iconics/pages/api/home/success-rates/index.ts
  Web/starter_project_iconics/store/features/home/impact-stories/impact-stories-api.ts
  Web/starter_project_iconics/store/features/home/success-rates/success-rates-api.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

fix state of add blog page
  Web/starter_project_iconics/components/common/Tag.tsx
  Web/starter_project_iconics/data/blogs/tags.json
  Web/starter_project_iconics/pages/api/tags.ts
  Web/starter_project_iconics/pages/blogs/add-blog.tsx
  Web/starter_project_iconics/store/features/blog/tags-api.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

feat(web-iconics): Add RTK Query to teams page (#276)
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/data/layout/navbar/nav-data.ts
  Web/starter_project_iconics/store/features/team-members/team-members-api.ts
  Web/starter_project_iconics/store/index.ts
  Web/starter_project_iconics/types/blog.ts
Labels: @team/web

fix state of add blog page
  Web/starter_project_iconics/pages/blogs/add-blog.tsx
  Web/starter_project_iconics/store/features/blog/tags-api.ts
  Web/starter_project_iconics/store/features/blog/tags-slice.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

resolving index.tsx conflict 3
  Web/starter_project_barbies/pages/index.tsx
Labels: @team/web

resolve conflict for index.tsx
  Web/starter_project_barbies/pages/index.tsx
Labels: @team/web

fixing a tag bug
  Web/starter_project_barbies/components/common/Footer.tsx
Labels: @team/web

adding the layout component
  Web/starter_project_barbies/components/common/Footer.tsx
  Web/starter_project_barbies/components/common/Layout.tsx
  Web/starter_project_barbies/components/common/Navbar.tsx
  Web/starter_project_barbies/components/layout/README.md
  Web/starter_project_barbies/pages/_app.tsx
Labels: @team/web

Add the Navbar mapping functionality
  Web/starter_project_barbies/components/layout/Navbar.tsx
Labels: @team/web

Add the Navbar mapping functionality (#291)
  Web/starter_project_barbies/components/common/Footer.tsx
  Web/starter_project_barbies/components/common/Layout.tsx
  Web/starter_project_barbies/components/common/Navbar.tsx
  Web/starter_project_barbies/components/layout/README.md
  Web/starter_project_barbies/pages/_app.tsx
Labels: @team/web

edit the footer links
  Web/starter_project_barbies/components/layout/Footer.tsx
Labels: @team/web

feat(matador.joshua): add login bloc consumption (#262)
  Mobile/starter_project_matador/lib/features/auth/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/auth/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/auth/data/repositories/login_user_repository_impl.dart
  Mobile/starter_project_matador/lib/features/auth/domain/repositories/login_repository.dart
  Mobile/starter_project_matador/lib/features/auth/domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_bloc.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_state.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/widgets/login/logo.dart
  Mobile/starter_project_matador/lib/injection/injection.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

Implement about_us
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/amicopuzzle.png
  Web/starter_project_iconics/public/about/img/amicosolve.png
  Web/starter_project_iconics/public/about/img/icon tag (1).png
  Web/starter_project_iconics/public/about/img/icon tag (2).png
  Web/starter_project_iconics/public/about/img/icon tag (3).png
  Web/starter_project_iconics/public/about/img/icon tag (4).png
  Web/starter_project_iconics/public/about/img/icon tag (5).png
  Web/starter_project_iconics/public/about/img/icon tag.png
  Web/starter_project_iconics/public/about/img/info iconicon1.png
  Web/starter_project_iconics/public/about/img/info iconicon2.png
  Web/starter_project_iconics/public/about/img/info iconicon3.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

First commit
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Drawing 2.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/amicopuzzle.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
Labels: @team/web

implement card items
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/data/about/about-card.json
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-1.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-2.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-3.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-4.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-5.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-1.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-2.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-3.png
  Web/starter_project_iconics/public/img/about/problem-section/africa-iconicon-1.png
  Web/starter_project_iconics/public/img/about/problem-section/amico-solve.png
  Web/starter_project_iconics/public/img/about/problem-section/code-iconicon-2.png
  Web/starter_project_iconics/public/img/about/session-section/amico-puzzle.png
  Web/starter_project_iconics/public/img/about/session-section/light-bulb-icon-3.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-4.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-5.png
  package-lock.json
Labels: repo, @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
Labels: @team/web

implenting about_us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
Labels: @team/web

about_us_page
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/public/img/about/about-section/more-info.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-3.png
Labels: @team/web

Hero Section
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

first
  Web/starter_project_iconics/data/about/social-projects.json
  Web/starter_project_iconics/package-lock.json
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

about-us
  Web/starter_project_iconics/data/about/social-projects.json
  Web/starter_project_iconics/pages/about/index.tsx
Labels: @team/web

about-us
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

about-us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

about-us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
Labels: @team/web

feat(web:iconics) create the api endpoints for the impact-stories
  Web/starter_project_iconics/pages/api/home/impact-stories/[id].ts
Labels: @team/web

feat(web-iconics) implement state management for impact stories section of homepage
  Web/starter_project_iconics/components/home/ImpactStories.tsx
  Web/starter_project_iconics/pages/api/home/impact-stories/[id].ts
Labels: @team/web

fix(web-iconics): reimplement isLoading, and error section of the impact stories section of the homepage
  Web/starter_project_iconics/components/home/ImpactStories.tsx
Labels: @team/web

feat(web-iconics) implement state management for services section of homepage
  Web/starter_project_iconics/components/home/ImpactStories.tsx
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/pages/api/home/services/index.ts
  Web/starter_project_iconics/store/features/home/services/services-api.ts
  Web/starter_project_iconics/store/index.ts
  Web/starter_project_iconics/utils/random-range.ts
Labels: @team/web

fix bugs for article
  Mobile/starter_project_dark_knights/lib/article_injection_container.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/test/features/article/data/repositories/article_repository_imple_test.dart
Labels: @team/mobile

setup folder
  Mobile/mobile_assessement/lib/core/error/exception.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/usecases/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/core/utils/images.dart
  Mobile/mobile_assessement/lib/core/utils/style.dart
  Mobile/mobile_assessement/lib/core/utils/text_style.dart
  Mobile/mobile_assessement/lib/core/utils/ui_converter.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
Labels: @team/mobile

(Mobile): Add landing page and starter files for the whole app
  Mobile/mobile_assessement/assets/images/cloud_image.png
  Mobile/mobile_assessement/assets/images/landing_page_bg.png
  Mobile/mobile_assessement/lib/features/landing_page/screen/landing_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/details_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
