Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

feat(backend-dotnetforces7): Add user blog relation (#232)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Constants/CustomClaimTypes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
Labels: @team/backend

fix(web-iconics): add pagination to team members list (#222)
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/data/teams/team-members.json
Labels: @team/web

feat(mobile-dart knight) implement user authentication (#199)
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/login_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_button.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/signup_form.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

feat(mobile:dart_knights):user-domain-layer (#205)
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_following.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
Labels: @team/mobile

Mobile.duressa jemal.user.data layer and bloc (#214)
  Mobile/starter_project_matador/lib/core/error/exceptions.dart
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/network/network_info.dart
  Mobile/starter_project_matador/lib/features/user/data/datasources/user_local_data_source.dart
  Mobile/starter_project_matador/lib/features/user/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/user/data/models/user_model.dart
  Mobile/starter_project_matador/lib/features/user/data/repositories/user_repository_imp.dart
  Mobile/starter_project_matador/lib/features/user/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/user/domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/add_user.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/delete_user_by_id.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/edit_user_by_id.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_bloc.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_event.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_state.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/user/data/models/user_model_test.dart
Labels: @team/mobile

feat(mobile-dartsmith): implement login entity_login usecase (#117)
  Mobile/starter_project_dartsmiths/lib/core/errors/failures.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/entity/authentication_payload.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/repository/login_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/use_cases/login_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.mocks.dart
Labels: @team/mobile

feat(mobile-dartknight)implement authentication model (#210)
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/models/authentication_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/authentication_valid.json
  Mobile/starter_project_dark_knights/test/fixtures/fixure_reader.dart
Labels: @team/mobile

feat(mobile: dart_knight) feed domain layer (#208)
  Mobile/starter_project_dark_knights/lib/features/feeds/domain/repositories/feed_repository.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/domain/usecases/filter_articles.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/domain/usecases/get_articles.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/domain/usecases/search_articles.dart
  Mobile/starter_project_dark_knights/test/features/feed/domain/usecases/filter_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/feed/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/feed/domain/usecases/get_articles_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/feed/domain/usecases/search_articles_test.dart
Labels: @team/mobile

feat(web-iconics): create getTeamMembers api (#234)
  Web/starter_project_iconics/pages/api/team-members.ts
Labels: @team/web

feat(web-barbies): implement state management for blogs page (#197)
  Web/starter_project_barbies/components/blog/BlogCard.tsx
  Web/starter_project_barbies/components/blog/BlogCardShimmer.tsx
  Web/starter_project_barbies/components/blog/BlogCardWide.tsx
  Web/starter_project_barbies/components/blog/BlogCardWideShimmer.tsx
  Web/starter_project_barbies/components/blog/BlogsList.tsx
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/components/common/LoadingSpinner.tsx
  Web/starter_project_barbies/components/common/Pagination.tsx
  Web/starter_project_barbies/hooks/common.ts
  Web/starter_project_barbies/pages/api/blogs.ts
  Web/starter_project_barbies/pages/blogs/[id].tsx
  Web/starter_project_barbies/pages/blogs/index.tsx
  Web/starter_project_barbies/public/data/blogs.json
  Web/starter_project_barbies/store/blog/blogs-api.ts
  Web/starter_project_barbies/store/store.ts
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

feat(Mobile-Dartknights): Implement BLoC logic for Auth screens (#242)
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/bloc/authentication_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/bloc/authentication_event.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/bloc/authentication_state.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat (web-iconics): add RTK Query to fetch data (#248)
  Web/starter_project_iconics/data/story/success-stories.json
  Web/starter_project_iconics/data/story/success-stories.ts
  Web/starter_project_iconics/pages/api/success-stories.ts
  Web/starter_project_iconics/pages/story/index.tsx
  Web/starter_project_iconics/store/features/story/success-stories-api.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

feat(web-barbies) : Add new blog post (#230)
  Web/starter_project_barbies/.gitignore
  Web/starter_project_barbies/components/blog/BlogForm.tsx
  Web/starter_project_barbies/components/blog/SelectBlogTag.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/store/blog/blogs-api.ts
Labels: @team/web

fix(matador.joshua): add forgost_pass.dart (#252)
  Mobile/starter_project_matador/lib/features/auth/presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/widgets/login/forgot_pass.dart
Labels: @team/mobile

feat(web-iconics) implement state management for impact stories section of homepage (#244)
  Web/starter_project_iconics/.env.example
  Web/starter_project_iconics/components/common/Error.tsx
  Web/starter_project_iconics/components/home/HelpUs.tsx
  Web/starter_project_iconics/components/home/ImpactImage.tsx
  Web/starter_project_iconics/components/home/ImpactStories.tsx
  Web/starter_project_iconics/config/index.tsx
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/api/home/impact-stories/index.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/store/features/home/impact-stories/impact-stories-api.ts
  Web/starter_project_iconics/store/features/home/impact-stories/impact-stories-slice.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

feat(web): implement state management and integration for about page (#194)
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/data/about/problem-items.json
  Web/starter_project_barbies/data/about/projects.json
  Web/starter_project_barbies/data/about/sessions.json
  Web/starter_project_barbies/data/about/solution-items.json
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/store/about/about-api.ts
  Web/starter_project_barbies/store/store.ts
Labels: @team/web

fix(mobile-matador): feat(mobile-matador): Add test for user data layer (#253)
  Mobile/starter_project_matador/lib/features/user/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/user/data/models/user_model.dart
  Mobile/starter_project_matador/lib/features/user/data/repositories/user_repository_imp.dart
  Mobile/starter_project_matador/test/features/user/data/datasources/user_data_source_test.dart
  Mobile/starter_project_matador/test/features/user/data/datasources/user_data_source_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/data/repositories/user_repository_imp_test.dart
  Mobile/starter_project_matador/test/features/user/data/repositories/user_repository_imp_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.mocks.dart
Labels: @team/mobile

feat(Mobile-Dark_Knight): implement article bloc logic (#246)
  Mobile/starter_project_dark_knights/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/bloc/article_event.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/bloc/article_state.dart
Labels: @team/mobile

feat(Mobile-Dartsmith): article and profile bloc implemetation (#239)
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/article_event.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/article_state.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/bloc/profile_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/bloc/profile_event.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/bloc/profile_state.dart
  Mobile/starter_project_dartsmiths/pubspec.lock
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.dart
Labels: @team/mobile

fix(matador.seid) :adding the datasource implementation (#254)
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_datasource.dart
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_local_data_source.dart
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_matador/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_event.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_state.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

add home-page (#54)
  Web/starter_project_barbies/components/home/AcceptanceCard.tsx
  Web/starter_project_barbies/components/home/BuildBetter.tsx
  Web/starter_project_barbies/components/home/Hero.tsx
  Web/starter_project_barbies/components/home/ImpactStories.tsx
  Web/starter_project_barbies/components/home/ServiceCard.tsx
  Web/starter_project_barbies/components/home/SuccessRate.tsx
  Web/starter_project_barbies/components/home/SupportUs.tsx
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/public/data/home/acceptance-rate.json
  Web/starter_project_barbies/public/data/home/impact-stories.json
  Web/starter_project_barbies/public/data/home/service-description.json
  Web/starter_project_barbies/public/img/home/africa.png
  Web/starter_project_barbies/public/img/home/build-better.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-1.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-2.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-3.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-4.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-5.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-6.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-7.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-1.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-2.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-3.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-4.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-5.png
  Web/starter_project_barbies/public/img/home/success-description.png
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/home.ts
Labels: @team/web

add user Profile bloc (#251)
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/bloc/user_profile_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/bloc/user_profile_event.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/bloc/user_profile_state.dart
Labels: @team/mobile

Endale.add new blog state (#200)
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/TagSelection.tsx
  Web/starter_project_vanguard/components/blog/TextEditor.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/data/success-story.json
  Web/starter_project_vanguard/hooks/hooks.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/api/blogs.ts
  Web/starter_project_vanguard/pages/api/success-story.ts
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/store/features/blog/add-new-blog-api.ts
  Web/starter_project_vanguard/store/features/success-story/success-story-api.ts
  Web/starter_project_vanguard/store/store.ts
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

feat(web-barbies): Integrate state (#265)
  Web/starter_project_barbies/components/team/TeamMemberCardShimmer.tsx
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/pages/team/index.tsx
  Web/starter_project_barbies/store/store.ts
  Web/starter_project_barbies/store/team/team-api.ts
Labels: @team/web

fix(web-iconics) make the isLoading section of impact story better (#256)
  Web/starter_project_iconics/components/home/ImpactStories.tsx
Labels: @team/web

feat(web): adding state management to about page (#227)
  Web/starter_project_vanguard/components/about/A2SVSession.tsx
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/data/about/a2sv-sessions.ts
  Web/starter_project_vanguard/data/about/social-projects.ts
  Web/starter_project_vanguard/data/db.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/pages/api/about/index.ts
  Web/starter_project_vanguard/store/about/about-api.ts
  Web/starter_project_vanguard/store/store.ts
  Web/starter_project_vanguard/types/about/a2sv-session.ts
  Web/starter_project_vanguard/types/about/project.ts
Labels: @team/web

implement dependency injection for article feature (#257)
  Mobile/starter_project_dark_knights/lib/article_injection.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat(mobile:dart_knights): user dependency injection container (#263)
  Mobile/starter_project_dark_knights/lib/user_injection_container.dart
Labels: @team/mobile

(feat/dartsmiths/AuthenticaionDataLayer) Add the data layer for the authentication part (#249)
  Mobile/starter_project_dartsmiths/lib/core/error/exceptions.dart
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/error/profile_failures.dart
  Mobile/starter_project_dartsmiths/lib/core/errors/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/network/network_info.dart
  Mobile/starter_project_dartsmiths/lib/core/usecase/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/data/datasource/authentication_remote_datasource.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/data/model/user_auth_credentials.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/data/repository/authentication_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/repository/login_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/use_cases/login_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/presentation/bloc/auth_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/presentation/bloc/auth_bloc_event.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/presentation/bloc/auth_bloc_state.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/repositories/user_profile_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/usecases/get_user_profile.dart
  Mobile/starter_project_dartsmiths/lib/injection/injection.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/core/fixture/user_credential.json
  Mobile/starter_project_dartsmiths/test/core/fixture/user_credential_reader.dart
  Mobile/starter_project_dartsmiths/test/core/network/network_info_test.dart
  Mobile/starter_project_dartsmiths/test/core/network/network_info_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/authentication/data/model/auth_credentials_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/authentication/data/repository/auth_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/authentication/data/repository/auth_repository_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.mocks.dart
Labels: @team/mobile

feat(Web-vanguard): implement Single Blog (#225)
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/RelatedBlog.tsx
  Web/starter_project_vanguard/components/blog/TextEditor.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/data/tags.json
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/blog/[id].tsx
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
  Web/starter_project_vanguard/public/img/illustration.JPG
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

fix(web-barbies) : Resolve blogs-api conflict (#217)
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
  Web/starter_project_barbies/store/blog/blogs-api.ts
  Web/starter_project_barbies/store/store.ts
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

feat(mobile.dartsmith): Home page data layer implementation (#266)
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/datasource/home_remote.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/model/home.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/data/model/home_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/repository/home_repository_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/usecase/home_test.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/usecase/home_test.mocks.dart
Labels: @team/mobile

feat(mobile : Dart Knight) implement the data layer of feed (#258)
  Mobile/starter_project_dark_knights/lib/features/feeds/data/datasources/feed_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/data/repositories/feed_repository_implementation.dart
  Mobile/starter_project_dark_knights/test/features/feed/data/datasources/feed_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/feed/data/datasources/feed_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/feed/data/repositories/feed_repository_implementation_test.dart
  Mobile/starter_project_dark_knights/test/features/feed/data/repositories/feed_repository_implementation_test.mocks.dart
Labels: @team/mobile

feat(web-vanguard): implement home page components (#152)
  Web/starter_project_vanguard/components/home/Activities.tsx
  Web/starter_project_vanguard/components/home/BuildBetter.tsx
  Web/starter_project_vanguard/components/home/HelpUs.tsx
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/components/home/ImpactStories.tsx
  Web/starter_project_vanguard/components/home/SuccessRate.tsx
  Web/starter_project_vanguard/components/home/YearlySuccess.tsx
  Web/starter_project_vanguard/data/home/activities.json
  Web/starter_project_vanguard/data/home/success-rates.json
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/public/img/home/activity-1.jpg
  Web/starter_project_vanguard/public/img/home/activity-2.jpg
  Web/starter_project_vanguard/public/img/home/activity-3.jpg
  Web/starter_project_vanguard/public/img/home/africa.png
  Web/starter_project_vanguard/public/img/home/bulid-better-image.jpg
  Web/starter_project_vanguard/public/img/home/impact-story-image.png
  Web/starter_project_vanguard/public/img/home/landing-image.png
  Web/starter_project_vanguard/types/home/activity.ts
  Web/starter_project_vanguard/types/home/success-rate.ts
Labels: @team/web

feat(mobile : Dart Knight) implement the bloc of feed (#267)
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_event.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_state.dart
Labels: @team/mobile

fix bugs (#255)
  Mobile/starter_project_dartsmiths/lib/core/network/intwork_info.dart
  Mobile/starter_project_dartsmiths/lib/core/network/network_info.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/platform/network_info.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.mocks.dart
Labels: @team/mobile

feat(mobile-matador): Add get list of articles to articles feature
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/get_article_by_id.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/get_list_of_article.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_bloc.dart
Labels: @team/mobile

Bloc consumption for feeds feature
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/get_all_articles.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/get_article_by_id.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/block/feed_bloc.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/block/feed_event.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/block/feed_state.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/article_preview_card.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/home_page_body.dart
  Mobile/starter_project_matador/lib/injection/injection.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

feat(mobile-matador): Consume bloc for feed and article features
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/article_preview_card.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

(Mobile-Dart-kinight):Add mocs file
  Mobile/starter_project_dark_knights/test/features/authentication/data/datasources/authentication_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/repositories/authentication_repository_impl_test.mocks.dart
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
