Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

add new line between images list
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
Labels: @team/web

run npm run lint
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
Labels: @team/web

Conflict resolved
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
Labels: @team/mobile

resolve some issues
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Tag.tsx
Labels: @team/web

Refactor state management based on State Management guideline
  Web/starter_project_vanguard/api/blog/add-new-blog.ts
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/pages/api/blogs.ts
  Web/starter_project_vanguard/pages/api/success-story.ts
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/store/features/success-story/success-story-api.ts
  Web/starter_project_vanguard/store/store.ts
Labels: @team/web

(Mobile-Dartknights): Add repository implementation of the user data layer
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
Labels: @team/mobile

feat(backend-mavericks): Implement CRUD operation for "Tag" Feature (#181)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Tag.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockTagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/createTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/deleteTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

remove extra spaces
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Search.tsx
  Web/starter_project_vanguard/components/common/Tags.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

remove space
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Search.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

destructuer teamMember
  Web/starter_project_iconics/components/teams/TeamMemberCard.tsx
Labels: @team/web

destructure teamMember
  Web/starter_project_iconics/components/teams/TeamMemberCard.tsx
Labels: @team/web

feat(web-iconics): implement teams page (#127)
  Web/starter_project_iconics/components/teams/README.md
  Web/starter_project_iconics/components/teams/TeamMemberCard.tsx
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
  Web/starter_project_iconics/data/teams/team-members.json
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/public/img/teams/naty.png
  Web/starter_project_iconics/types/teams.ts
Labels: @team/web

Data layer for Home page
  Mobile/starter_project_dartsmiths/lib/features/home/data/datasource/home_remote.dart
  Mobile/starter_project_dartsmiths/lib/features/home/data/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
Labels: @team/mobile

(Mobile-Dartknights): Add data layer starter files
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/network/network_info.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

(Mobile-Dartknight): Add data layer for user profile
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.mocks.dart
  Mobile/starter_project_dark_knights/test/fixtures/list_of_users.json
Labels: @team/mobile

(Mobile-Dartknights): Add repository implementation of the user data layer
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
Labels: @team/mobile

feat(backend-dotnetforce7): modified blog model to have CreatorId and get requests
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/BlogApp.Application.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IUserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/ApplicationUserDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogIdentityDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogApp.Persistence.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
Labels: @team/backend

feat(backend-dotnetforce7): modified blog model to have CreatorId and get requests
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
Labels: @team/backend

feat(Elsai.form-blog-tag-entity-relation):implement many-to-many realtionship for blog and tag models
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/IBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Tag.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(Elsai.form-blog-tag-entity-relation):implement one-to-many realtionship for blog and tag models
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
Labels: @team/backend

feat(Elsai.form-blog-tag-entity-relation):implement many-to-many realtionship for blog and tag models
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
Labels: @team/backend

clean code
  Web/starter_project_vanguard/pages/api/blogs.ts
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/store/features/blog/add-new-blog-api.ts
  Web/starter_project_vanguard/store/store.ts
Labels: @team/web

remove spaces
  Web/starter_project_vanguard/components/common/Tags.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

feat(web): implement blogs page (#191)
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Search.tsx
  Web/starter_project_vanguard/components/common/Tags.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

Data layer testing
  Mobile/starter_project_dartsmiths/lib/features/home/data/datasource/home_remote.dart
  Mobile/starter_project_dartsmiths/lib/features/home/data/model/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/data/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/test/core/fixtures/home_data.json
  Mobile/starter_project_dartsmiths/test/core/utils/fixture_reader.dart
  Mobile/starter_project_dartsmiths/test/features/home/data/model/home_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/data/repository/home_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/data/repository/home_repository_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
Labels: @team/mobile

fix(dotnetforce7): fix gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.dgspec.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.props
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.targets
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.assets.json
Labels: @team/backend

feat(web-iconic): removed unnecessary Function
  Web/starter_project_iconics/components/common/blogCard.tsx
Labels: @team/web

feat(web-iconics): removed style mistake
  Web/starter_project_iconics/components/common/blogCard.tsx
Labels: @team/web

feat(web-iconics): create blog card and one profile page
  Web/starter_project_iconics/components/common/blogCard.tsx
  Web/starter_project_iconics/components/profile/myBlogs.tsx
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/data/blogs.ts
  Web/starter_project_iconics/data/user.ts
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/types/blog.tsx
  Web/starter_project_iconics/types/user.tsx
Labels: @team/web

feat(web-iconics): correct folder structure
  Web/starter_project_iconics/components/common/blogCard.tsx
  Web/starter_project_iconics/components/profile/myBlogs.tsx
  Web/starter_project_iconics/data/blogs.ts
  Web/starter_project_iconics/data/user.ts
  Web/starter_project_iconics/types/profile/blog.tsx
  Web/starter_project_iconics/types/profile/user.tsx
Labels: @team/web

feat(web-iconics): convert file formats
  Web/starter_project_iconics/data/profile/blogs.json
  Web/starter_project_iconics/data/profile/blogs.ts
  Web/starter_project_iconics/data/profile/user.json
  Web/starter_project_iconics/data/profile/user.ts
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): update folder structure and reduce code lines
  Web/starter_project_iconics/components/common/blogCard.tsx
  Web/starter_project_iconics/components/common/blogFooter.tsx
  Web/starter_project_iconics/data/profile/blogs.ts
  Web/starter_project_iconics/data/profile/user.ts
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconic): change file name and add links
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): add index file
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): correct folder structure
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/profile/myBlogs.tsx
Labels: @team/web

feat(web-iconics): correct folder naming
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): correct naming of files
  Web/starter_project_iconics/components/profile/myBlogs.tsx
Labels: @team/web

feat(web-iconics): correct naming of files
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): make interface name descriptive
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
Labels: @team/web

feat(web-iconics): correct color of a text
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web
