Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

Merge write article and article reading into one feature article
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/Article_Reading_Page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Article_Author_Detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Article_Author_Profile_Picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Article_Like_Button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Article_Post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/BookmarkIconButton.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Header_Icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

fix file naming in article
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
Labels: @team/mobile

add blue card color
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
Labels: @team/mobile

add repository for the user
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
Labels: @team/mobile

add user model
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/user.dart
Labels: @team/mobile

add user entity
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/entities/user_entity.dart
Labels: @team/mobile

add user model
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user.dart
Labels: @team/mobile

delete article feature files
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/Article_Reading_Page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Article_Author_Detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Article_Author_Profile_Picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Article_Like_Button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Article_Post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/Header_Icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

add the repository layer
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/entities/user_entity.dart
Labels: @team/mobile

Merge article features
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

add onboarding screen 1
  Mobile/starter_project_matador/assets/images/background1.png
  Mobile/starter_project_matador/assets/images/background2.png
  Mobile/starter_project_matador/assets/images/background3.png
  Mobile/starter_project_matador/assets/images/background4.png
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/introduction.dart
Labels: @team/mobile

add splash screen
  Mobile/starter_project_matador/lib/features/splash/presentation/screen/splash_screen.dart
  Mobile/starter_project_matador/lib/features/splash/presentation/widgets/background_containder.dart
Labels: @team/mobile

fix(mobile-dart knights ): merge write article and article reading into one feature article (#129)
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

feat(backend): add user controller
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/UserController.cs
Labels: @team/backend

solve index.tsx conflict for footer component
  Web/starter_project_barbies/pages/index.tsx
Labels: @team/web

upgrade projects to .net 7
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogApp.Persistence.csproj
Labels: @team/backend

feat(Abdulaziz.imp-rating): test rating feature
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Exceptions/RatingNotFoundException.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Create_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Update_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/Create_RatingCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/Update_RatingCommandHandlerTests.cs
Labels: @team/backend

fix(Abdulaziz.imp-rating): fix rating operations responses as per specification
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/Update_RatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Create_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Update_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/Validators/RatingDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/RatingRepository.cs
Labels: @team/backend

feat(Abdulaziz.imp-rating): add response wrapper
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
Labels: @team/backend

fix(Abdulaziz.imp-rating): fix dependencies that are based on baseresponse
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/CreateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/UpdateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Update_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateRatingCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/UpdateRatingCommandHandlerTests.cs
Labels: @team/backend

fix(Abdulaziz.imp-rating): migrate to BaseResponse
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/Create_RatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/Update_RatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Create_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Update_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
Labels: @team/backend

feat(Abdulaziz.imp-rating): implement rating for blogs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Exceptions/RatingNotFoundException.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/Create_RatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/Update_RatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Create_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/Update_RatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/RatingDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/Validators/RatingDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Rating.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/RatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(Abdulaziz.imp-rating): implement and test rating feature (#123)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/CreateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/UpdateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/RatingDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/Validators/RatingDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Rating.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/RatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateRatingCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/UpdateRatingCommandHandlerTests.cs
Labels: @team/backend

add test for user_profile
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
  Mobile/starter_project_dark_knights/test/widget_test.dart
Labels: @team/mobile

fix(matador.tesfaye): remove unnecessary files
  Mobile/starter_project_matador/lib/features/Article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/Article/presentation/widgets/article_detail.dart
  Mobile/starter_project_matador/lib/features/Article/presentation/widgets/user_card.dart
Labels: @team/mobile

feat(gadisa.rate-crud): implement rate crud
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/RateController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/BlogApp.Application.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Query/GetRateListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Usings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Commands/CreateRateCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Commands/DeleteRateCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Commands/UpdateRateCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/CreateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/GetRateDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/GetRateListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/UpdateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Queries/GetRateDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Queries/GetRateListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/CreateRateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/IRateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/RateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/UpdateRateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/CreateRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/IRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/UpdateRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Responses/Result.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Rate.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/RateConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230503124808_addRate.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230503124808_addRate.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/RateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

fix(gadisa.rete-crud):fix handlers and test
  Backend/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Query/GetRateListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/CreateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/GetRateDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/UpdateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230501123711_initialMigration.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230501123711_initialMigration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230503124808_addRate.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230503124808_addRate.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

resovle Footer.tsx conflict
  Web/starter_project_barbies/components/layout/Footer.tsx
Labels: @team/web

feat(Backend.ZSilentCoders): Implement Blog features
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/.gitignore
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/indexLayout.xml
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/vcs.xml
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BaseController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogDetailsQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/CreateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/DeleteBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogDetailsDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/DeleteBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/DeleteBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Blog.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockBlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Usings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

adding fixes on test
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/CreateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/DeleteBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWorks.cs
Labels: @team/backend

add update operation
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogDetailsQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/I_BlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

update the blog feature
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Blog.cs
Labels: @team/backend

feat(Backend.ZSilentCoders): Implement Blog CRUD
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BaseController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Properties/launchSettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogDetailsQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/CreateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/DeleteBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/I_BlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/DeleteBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Responses/Result.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Blog.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

fix(backend): update use pk to string
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistraionRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230504123122_Change user pk to string.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230504123122_Change user pk to string.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
Labels: @team/backend

feat(matador.tesfaye): implement article reading page
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/article_detail.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/user_card.dart
Labels: @team/mobile

resolve conflict for
  Web/starter_project_barbies/components/layout/Footer.tsx
  Web/starter_project_barbies/components/layout/Navbar.tsx
  Web/starter_project_barbies/components/profile/AccountInformation.tsx
  Web/starter_project_barbies/pages/_app.tsx
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/styles/globals.css
Labels: @team/web

resolve conflict for index.tsx
  Web/starter_project_barbies/pages/index.tsx
Labels: @team/web

feat(backend): create identity tests solution
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTests.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/UnitTest1.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Usings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

resolving index.tsx conflict 3
  Web/starter_project_barbies/pages/index.tsx
Labels: @team/web

resolving conflict in global.css
  Web/starter_project_barbies/styles/globals.css
Labels: @team/web
