Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

feat(backend-bruk): add seat on hold check
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Handlers/CreateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
Labels: @team/backend

update file extension
  Web/web_assessment/test/hakim-api-test.ts
Labels: @team/web

Feat(backend): add the test for seats
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockSeatsRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seats/Command/CreateSeatsCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seats/Command/DeleteSeatsCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateSeatsCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteSeatsCommand.cs
Labels: @team/backend

update detail page
  Web/web_assessment/pages/doctors/[doctorId].tsx
Labels: @team/web

update footer page
  Web/web_assessment/components/common/Footer.tsx
Labels: @team/web

remove unnecessary variables
  Web/web_assessment/components/common/Footer.tsx
Labels: @team/web

Feat(backend): add the test for seats
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockSeatsRepository.cs
Labels: @team/backend

build domain and data layer
  Mobile/mobile_assessement/lib/features/weather/data/datasources/weather_local_data_source.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasources/weather_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weather/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entities/weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repositories/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecase/search_weather.dart
  Mobile/mobile_assessement/macos/Flutter/GeneratedPluginRegistrant.swift
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

add header and footer
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/components/common/Header.tsx
  Web/web_assessment/components/common/Layout.tsx
  Web/web_assessment/pages/profile/[id].tsx
Labels: @team/web

uu
  Web/web_assessment/components/doctors/DoctorDetail.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
  Web/web_assessment/pages/doctors/profile.tsx
  Web/web_assessment/store/features/doctors/doctor-api.ts
Labels: @team/web

feat(backend-bruk): improve check if on hold fucntion
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Commands/UpdateSeatCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Handlers/CreateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
Labels: @team/backend

build fix
  Web/web_assessment/pages/doctors/[id]/index.tsx
Labels: @team/web

add search functionality
  Web/web_assessment/pages/doctors-list/index.tsx
  Web/web_assessment/store/features/api/doctors/index.tsx
  Web/web_assessment/types/search.ts
Labels: @team/web

fix build error
  Web/web_assessment/pages/doctors/[id]/index.tsx
Labels: @team/web

feat(backend-bruk): add tests for get seats by cinema
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/CineFlex.Application.UnitTest.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Queries/GetSeatsByCinemaQueryHandlerTest.cs
Labels: @team/backend

fix build error
  Web/web_assessment/pages/doctors/[id]/index.tsx
Labels: @team/web

feat(web): update footer
  Web/web_assessment/components/Footer.tsx
Labels: @team/web

feat(Backend-Yonas) fix migration issue
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBookings/CQRS/Handlers/CreateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBookings/CQRS/Handlers/UpdateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Handlers/SearchMovieQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/AuthorizeService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/UserService.cs
Labels: @team/backend

setup font
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
Labels: @team/web

search functionality done
  Web/web_assessment/pages/doctors-list/index.tsx
Labels: @team/web

feat(backend-bruk): implement search movies by title
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IMovieRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Handlers/GetMovieListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Queries/GetMovieListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/MovieRepository.cs
Labels: @team/backend

add direct forwarding to /doctors
  Web/web_assessment/next.config.js
Labels: @team/web

ui fixes
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/pages/doctors/[doctorId].tsx
Labels: @team/web

Make the pages responsive
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/pages/doctors/[DetailPage].tsx
  Web/web_assessment/pages/doctors/index.tsx
Labels: @team/web

feat(web-Blen): complete most codes
  Web/web_assessment/components/Layout/Navbar.tsx
  Web/web_assessment/components/home/DoctorDetail.tsx
  Web/web_assessment/components/home/DoctorLists.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/store/doctor-slices.ts
  Web/web_assessment/store/doctorSlice.ts
  Web/web_assessment/types/doctor.ts
Labels: @team/web

add footer
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
Labels: @team/web

last commit
  Web/web_assessment/components/doctors/DoctorDetail.tsx
Labels: @team/web

[Mobile] today's assessment finished
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_search_status.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/search_page.dart
  Mobile/mobile_assessement/macos/Flutter/GeneratedPluginRegistrant.swift
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
  Mobile/mobile_assessement/test/features/weather/data/repository/weather_repository_test.dart
  Mobile/mobile_assessement/test/features/weather/data/repository/weather_repository_test.mocks.dart
Labels: @team/mobile

feat(backend-biruk): fix test, still left
  Backend/backend_assessment/CineFlex/CineFlex.Application.Test/CineFlex.Application.Test.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application.Test/Seats/Command/CreateSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.Test/Seats/Command/DeleteSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.Test/Seats/Command/UpdateSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.Test/Seats/Query/GetSeatDetailsQueryTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.Test/Seats/Query/GetSeatListQueryTest.cs
Labels: @team/backend

feat(samuel.api): impliment add booking model
  Backend/backend_assessment/CineFlex/CinFlex.Identity/Models copy/AuthUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/BookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/CinemaController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/CreateBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/DeleteBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/UpdateBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/CreateBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/DeleteBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/GetBookDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/GetQueyListHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/UpdateBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Queries/GetBookDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Queries/GetBookListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTOs/BookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTOs/CreateBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTOs/IBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTOs/UpdateBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Book.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/BookRepository.cs
Labels: @team/backend

add image
  Web/web_assessment/components/common/Header.tsx
  Web/web_assessment/public/img/logo.png
Labels: @team/web

fix reload issue
  Web/web_assessment/components/doctors/DoctorsList.tsx
Labels: @team/web

implement doctors list and doctor details pages
  Web/web_assessment/components/doctors/DoctorDetails.tsx
Labels: @team/web

add footer
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Header.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
Labels: @team/web

feat(zalbo.weatherify): add data and presentation
  Mobile/mobile_assessement/lib/features/weatherify/data/data_source/weater_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weatherify/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weatherify/data/repository/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/entity/weather_entity.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/repository/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/bloc/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/bloc/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/bloc/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/detail_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/welcome_page.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.yaml
  Mobile/mobile_assessement/test/features/weatherify/domain/entity/weather_entity_test.dart
  Mobile/mobile_assessement/test/features/weatherify/domain/repository/weather_repository_test.dart
  Mobile/mobile_assessement/test/features/weatherify/presentation/bloc/bloc/weather_bloc_bloc.dart
  Mobile/mobile_assessement/test/features/weatherify/presentation/bloc/bloc/weather_bloc_event.dart
  Mobile/mobile_assessement/test/features/weatherify/presentation/bloc/bloc/weather_bloc_state.dart
Labels: @team/mobile

feat(tigist-assessment): add mapping
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
Labels: @team/backend

feat(backend-dotnetforce7) : backend-assessment
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieBooking.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockSeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Comman/CreateSeatCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Comman/DeleteReviewCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetCommentListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/CreateSeatDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/ISeatDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/UpdateSeatDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/MovieBooking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/SeatConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(Backend.mavericks): wrap authentication and booking
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/AuthController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatsController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Middlewares/ExceptionMiddleware.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/CQRS/Commands/RegistrationCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/CQRS/Handlers/AuthQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/CQRS/Handlers/RegistrationCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/CQRS/Queries/AuthQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/DeleteBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/CreateBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/DeleteBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/UpdateBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/CreateBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/UpdateBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/Validator/CreateBookDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/Validator/UpdateBookDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Book.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
Labels: @team/backend

finalize
  Web/web_assessment/components/Card.tsx
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/components/Search.tsx
  Web/web_assessment/pages/index.tsx
Labels: @team/web

Add doctor detail page
  Web/web_assessment/components/doctor/DoctorCard.tsx
  Web/web_assessment/components/doctor/DoctorDetail.tsx
  Web/web_assessment/pages/[id].tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/doctor/doctors-api.ts
Labels: @team/web

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
