Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

feat(backend-bruk): add basic endpoint authorization
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/CinemaController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieBookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
Labels: @team/backend

feat(Backend-Yonas) add Authorization
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/CinemaController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieBookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthorizationService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IUserService.cs
Labels: @team/backend

add padding for footer
  Web/web_assessment/components/layout/Header.tsx
Labels: @team/web

finalized
  Web/web_assessment/components/Search.tsx
Labels: @team/web

feat(web-assesement) implement state managemement and ui for detail doctor page
  Web/web_assessment/pages/doctors/[id].tsx
  Web/web_assessment/pages/doctors/index.tsx
Labels: @team/web

add search functionality
  Web/web_assessment/pages/doctor/[id].tsx
  Web/web_assessment/pages/doctor/doctors-list.tsx
  Web/web_assessment/pages/doctor/index.tsx
  Web/web_assessment/store/features/doctor/doctor-api.ts
Labels: @team/web

Second update
  Web/web_assessment/common/Footer.tsx
  Web/web_assessment/common/Top.tsx
  Web/web_assessment/components/DoctorsList.tsx
  Web/web_assessment/components/SearchDoctor.ts
  Web/web_assessment/pages/detail/index.tsx
  Web/web_assessment/pages/home/index.tsx
  Web/web_assessment/pages/serach/index.tsx
  Web/web_assessment/store/doctor/doctorSearchSlice.ts
  Web/web_assessment/store/store.tsx
Labels: @team/web

fix(backend-bruk): add token on registration
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/CQRS/Commands/RegisterUserCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/CQRS/Handlers/RegisterUserCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/Identity/AuthService.cs
Labels: @team/backend

refactor ui
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/components/doctors/SearchBar.tsx
  Web/web_assessment/pages/doctors/[doctorId].tsx
  Web/web_assessment/pages/doctors/index.tsx
Labels: @team/web

(feat) Create weather fetching app, Add full layers of clean architecture for it including Ui to the data layer
  Mobile/mobile_assessement/assets/images/sunny_weather
  Mobile/mobile_assessement/lib/core/error/exceptions.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/shared_widgets/example_button.dart
  Mobile/mobile_assessement/lib/core/usecases/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/core/utils/images.dart
  Mobile/mobile_assessement/lib/core/utils/ui_converter.dart
  Mobile/mobile_assessement/lib/core/utils/util.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasource/weather_local_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasource/weather_remote_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/model/city_weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/data/repository/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entities/city.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entities/city_weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repository/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/weather_usecase.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/cities_page.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/city_detail.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/landing_page.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widgets/custom_button.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widgets/custom_list_tile.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widgets/custom_text_field.dart
  Mobile/mobile_assessement/lib/injection.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

final assesment
  Web/starter_project_vanguard/next.config.js
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
  Web/web_assessment/components/doctors/SingleDoctor.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/components/layout/README.md
  Web/web_assessment/data/layout/nav-items.ts
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/types/footer-navigation.ts
  Web/web_assessment/types/nav.ts
Labels: @team/web

feat(mobile-duressaJemal): Consume the bloc for weather feature
  Mobile/mobile_assessement/lib/features/weather/data/datasource/weather_remote_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/model/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/home.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/onboarding.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widget/waether_detail.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widget/weather_row.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
  Mobile/mobile_assessement/lib/main.dart
Labels: @team/mobile

last
  Web/web_assessment/components/Navbar.tsx
  Web/web_assessment/components/doctors/DoctorDetail.tsx
  Web/web_assessment/components/doctors/DoctorItem.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
  Web/web_assessment/pages/doctors/profile.tsx
  Web/web_assessment/store/features/doctors/doctor-api.ts
  Web/web_assessment/store/features/doctors/doctor-slice.ts
  Web/web_assessment/store/index.ts
Labels: @team/web

fix(Backend.mavericks): register services
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/IdentityServiceRegistration.cs
Labels: @team/backend

fix(backend-bereket): CineFlex CRUD with Authentication
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
Labels: @team/backend

feat(joshua.mobile-assessment): add mobile assessment
  Mobile/mobile_assessement/lib/example/data/repositories/example_repository_impl.dart
  Mobile/mobile_assessement/lib/example/domain/entities/example.dart
  Mobile/mobile_assessement/lib/example/domain/repositories/example_repository.dart
  Mobile/mobile_assessement/lib/example/domain/usecases/example_usecase.dart
  Mobile/mobile_assessement/lib/example/presentation/bloc/example_bloc.dart
  Mobile/mobile_assessement/lib/example/presentation/bloc/example_event.dart
  Mobile/mobile_assessement/lib/example/presentation/bloc/example_state.dart
  Mobile/mobile_assessement/lib/example/presentation/screen/weather_city_list.dart
  Mobile/mobile_assessement/lib/example/presentation/screen/weather_detail_screen.dart
  Mobile/mobile_assessement/lib/example/presentation/widgets/example_widget.dart
  Mobile/mobile_assessement/lib/features/city/data/datasources/city_remote_datasources.dart
  Mobile/mobile_assessement/lib/features/city/data/models/city_weather_model.dart
  Mobile/mobile_assessement/lib/features/city/data/repositories/city_list_repository_impl.dart
  Mobile/mobile_assessement/lib/features/city/data/repositories/city_repository_impl.dart
  Mobile/mobile_assessement/lib/features/city/domain/entities/city.dart
  Mobile/mobile_assessement/lib/features/city/domain/entities/favourites.dart
  Mobile/mobile_assessement/lib/features/city/domain/repositories/city_list_repository.dart
  Mobile/mobile_assessement/lib/features/city/domain/repositories/city_repository.dart
  Mobile/mobile_assessement/lib/features/city/domain/usecases/city_usecase.dart
  Mobile/mobile_assessement/lib/features/city/injectory.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/city_bloc.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/city_event.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/city_state.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/favourites/favourite_bloc.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/favourites/favourite_event.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/favourites/favourite_state.dart
  Mobile/mobile_assessement/lib/features/city/presentation/screen/splash_screen.dart
  Mobile/mobile_assessement/lib/features/city/presentation/screen/weather_city_list.dart
  Mobile/mobile_assessement/lib/features/city/presentation/screen/weather_detail_screen.dart
  Mobile/mobile_assessement/lib/features/city/presentation/widgets/get_started_button.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

implement-authentication
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
Labels: @team/backend

feat(tigist-assessment): add test
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/BookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seats/Commands/DeleteSeatCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seats/Queries/GetSeatListQueryHandlerTest.cs
Labels: @team/backend

feat(Backend-Yonas) Aauthorize booking
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieBookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBookings/CQRS/Commands/CreateMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBookings/CQRS/Commands/DeleteMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBookings/CQRS/Commands/UpdateMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBookings/CQRS/Handlers/CreateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBookings/CQRS/Handlers/DeleteMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBookings/CQRS/Handlers/UpdateMovieBookingCommandHandler.cs
Labels: @team/backend

add weather usecase
  Mobile/mobile_assessement/lib/domain/usecases/get_weather_data.dart
Labels: @team/mobile

feat(backend): Implement User Identity
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/RoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/UserConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/UserRoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/IdentityServiceRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Models/AppUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/AuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/UserIdentityDbContext.cs
Labels: @team/backend

finalize implementation
  Web/web_assessment/components/Doctor.tsx
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/components/common/Layout.tsx
  Web/web_assessment/components/common/NavBar.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/pages/[id].tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/doctor/doctor-api.ts
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
Labels: @team/web

implement doctors list and doctor details pages
  Web/web_assessment/components/doctors/DoctorsList.tsx
Labels: @team/web

feat(backend): Implement the MovieBooking Model
  Backend/backend_assessment/CineFlex/CineFlex.Domain/MovieBooking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
Labels: @team/backend

feat(backend): add some cascading
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Movie.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContext.cs
Labels: @team/backend

feat(backend): Implement the MovieBooking Repository
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/MovieBookingRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

add weather Detail page
  Mobile/mobile_assessement/lib/presentation/screens/home_page.dart
  Mobile/mobile_assessement/lib/presentation/screens/search_page.dart
  Mobile/mobile_assessement/lib/presentation/screens/weather_detail_page.dart
Labels: @team/mobile

feat(backend-biruk): bug fixes and restructure
  Backend/backend_assessment/CineFlex.Seat.Test/CineFlex.Seat.Test.csproj
  Backend/backend_assessment/CineFlex.Seat.Test/Class1.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/CreateSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/DeleteSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/UpdateSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Query/GetSeatDetailsQueryTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Query/GetSeatListQueryTest.cs
Labels: @team/backend

implement doctors list and doctor details pages
  Web/web_assessment/data/doctors/doctor-details.json
  Web/web_assessment/data/doctors/doctors-list.json
Labels: @team/web

add weather app files
  Mobile/mobile_assessement/assets/images/cloud_sun.png
  Mobile/mobile_assessement/assets/images/rainy.png
  Mobile/mobile_assessement/assets/images/sun_cloud.PNG
  Mobile/mobile_assessement/assets/images/sunny_cloud.png
  Mobile/mobile_assessement/lib/core/errors/failures.dart
  Mobile/mobile_assessement/lib/core/exceptions.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/core/utils/converter.dart
  Mobile/mobile_assessement/lib/dependency_injection.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasources/weather_local_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasources/weather_remote_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entities/weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repositories/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_weather.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/detail.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/getstarted.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/home.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widgets/nav_bar.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

feat(backend): Implement MovieBooking Features and Contracts
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IMovieBookingRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Commands/CreateMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Commands/DeleteMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Commands/UpdateMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Handlers/CreateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Handlers/DeleteMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Handlers/GetMovieBookingListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Handlers/GetMovieBookingQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Handlers/UpdateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Queries/GetMovieBookingListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Queries/GetMovieBookingQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/DTO/CreateMovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/DTO/IMovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/DTO/MovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/DTO/UpdateMovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
Labels: @team/backend

fix(Backend.mavericks): resolve naming conflict
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/CineFlexDbContext.cs
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/CineFlexDbContextFactory.cs
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/IdentityServiceRegistration.cs
Labels: @team/backend

add weather bloc
  Mobile/mobile_assessement/lib/presentation/bloc/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/presentation/bloc/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/presentation/bloc/bloc/weather_state.dart
Labels: @team/mobile

feat(backend): config files and startup project
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/CineFlex.Application.UnitTest.csproj
Labels: @team/backend

feat(backend): add migrations
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContext.cs
Labels: @team/backend

feat(samuel.api): add missing
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IBookRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/CreateBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/DeleteBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/UpdateBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/CreateBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/DeleteBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/GetBookDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Queries/GetBookDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Queries/GetBookListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/BookRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

add weather remote datasources
  Mobile/mobile_assessement/lib/data/datasources/weather_remote_datasource.dart
Labels: @team/mobile

feat(backend.gadisa): added test
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seattest/Command/DeleteRateCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seattest/Command/UpdateRateCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSeatCommandHandler.cs
Labels: @team/backend

create weather app for assessment
  Mobile/mobile_assessement/assets/images/cloud&sun.png
  Mobile/mobile_assessement/assets/images/sun.jpg
  Mobile/mobile_assessement/lib/core/error/exception.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/usecase/usecase.dart
  Mobile/mobile_assessement/lib/core/util/ui_converter.dart
  Mobile/mobile_assessement/lib/features/data/data_source/city_weather_remote_datasource.dart
  Mobile/mobile_assessement/lib/features/data/model/city_weather_model
  Mobile/mobile_assessement/lib/features/data/repository/city_weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/domain/entity/city_weather_entity.dart
  Mobile/mobile_assessement/lib/features/domain/repository/weather_repository.dart
  Mobile/mobile_assessement/lib/features/domain/usecase/get_city_weather.dart
  Mobile/mobile_assessement/lib/features/presentation/bloc/city_weather_bloc.dart
  Mobile/mobile_assessement/lib/features/presentation/bloc/city_weather_event.dart
  Mobile/mobile_assessement/lib/features/presentation/bloc/city_weather_state.dart
  Mobile/mobile_assessement/lib/features/presentation/screen/detail_page.dart
  Mobile/mobile_assessement/lib/features/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/features/presentation/screen/spilash_page.dart
  Mobile/mobile_assessement/lib/injection.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.yaml
  Mobile/mobile_assessement/test/features/domain/repository/city_weather_repository_test.dart
  Mobile/mobile_assessement/test/widget_test.dart
Labels: @team/mobile

add error handling
  Mobile/mobile_assessement/lib/core/error_handle/exceptions.dart
  Mobile/mobile_assessement/lib/core/error_handle/failure.dart
  Mobile/mobile_assessement/lib/core/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
