Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

article update and create ui (#111)
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_styles.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/chips_builder.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/custom_textfield.dart
Labels: @team/mobile

ekram.story-page (#76)
  Web/starter_project_barbies/components/story/Partners.tsx
  Web/starter_project_barbies/components/story/SuccessStory.tsx
  Web/starter_project_barbies/components/story/SuccessStoryCard.tsx
  Web/starter_project_barbies/components/story/Title.tsx
  Web/starter_project_barbies/pages/story/index.tsx
  Web/starter_project_barbies/public/data/partners.json
  Web/starter_project_barbies/public/data/story.json
  Web/starter_project_barbies/public/img/story/companies/databricks.png
  Web/starter_project_barbies/public/img/story/companies/google.png
  Web/starter_project_barbies/public/img/story/companies/instdeep.png
  Web/starter_project_barbies/public/img/story/companies/linkedin.png
  Web/starter_project_barbies/public/img/story/companies/meta.png
  Web/starter_project_barbies/public/img/story/companies/palantir.png
  Web/starter_project_barbies/public/img/story/photos/biruk.png
  Web/starter_project_barbies/public/img/story/photos/lydia.png
  Web/starter_project_barbies/public/img/story/photos/yisehak.png
  Web/starter_project_barbies/public/img/successStory/a2sv-logo.png
  Web/starter_project_barbies/public/img/successStory/biruk.png
  Web/starter_project_barbies/public/img/successStory/databricks.png
  Web/starter_project_barbies/public/img/successStory/google.png
  Web/starter_project_barbies/public/img/successStory/instdeep.png
  Web/starter_project_barbies/public/img/successStory/linkedin.png
  Web/starter_project_barbies/public/img/successStory/lydia.png
  Web/starter_project_barbies/public/img/successStory/meta.png
  Web/starter_project_barbies/public/img/successStory/palantir.png
  Web/starter_project_barbies/public/img/successStory/yisehak.png
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/styles/story/style.module.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/story.ts
Labels: @team/web

img->Image (#99)
  Web/starter_project_vanguard/components/success-story/Partners.tsx
  Web/starter_project_vanguard/components/success-story/SuccessImageCard.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
Labels: @team/web

feat(web-iconics): implement teams-hero component (#100)
  Web/starter_project_iconics/components/team/TeamsHero.tsx
  Web/starter_project_iconics/pages/team/teams-page.tsx
  Web/starter_project_iconics/pages/teams/README.md
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/public/img/teams/hero-background.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-1.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-2.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-3.png
Labels: @team/web

feat(web-iconics): implement blog page (#51)
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/data/blog/blog-tile.json
  Web/starter_project_iconics/pages/blog/blogs.tsx
  Web/starter_project_iconics/public/img/blog/profile-img.jpg
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

feat(web-iconics): implement build better section for the homepage (#74)
  Web/starter_project_iconics/components/home-page/Hero.tsx
  Web/starter_project_iconics/components/home/BuildBetter.tsx
  Web/starter_project_iconics/components/home/Landing.tsx
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/better-tomorrow.jpg
  Web/starter_project_iconics/public/img/home/hero.png
Labels: @team/web

feat(mobile.matador.duressaJemal): Implement homepage body UI (#114)
  Mobile/starter_project_matador/assets/images/card_image.jpg
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/article_preview_card.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/chip_builder.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/filter_chips.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/home_page_body.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/search_bar.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

Gadisa.rate crud fix (#143)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

fix(mobile-dart knights ): merge write article and article reading into one feature article (#129)
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

feat(matador.tesfaye): implement article reading page (#141)
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/article_detail.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/user_card.dart
Labels: @team/mobile

use next/image (#119)
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
Labels: @team/web

A navbar on the new branch (#124)
  Web/starter_project_barbies/components/layout/Navbar.tsx
Labels: @team/web

remove body background (#130)
  Web/starter_project_iconics/pages/team/teams-page.tsx
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

fix(matador.joshua): add forget password (#122)
  Mobile/starter_project_matador/lib/features/login/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/forgot_password.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

feat(web-barbies) : Add user blogs management page (#22)
  Web/starter_project_barbies/data/blogs.json
  Web/starter_project_barbies/pages/api/blogs.ts
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
  Web/starter_project_barbies/public/img/blog/coding.jpg
  Web/starter_project_barbies/public/img/blog/profile.jpg
  Web/starter_project_barbies/styles/globals.css
Labels: @team/web

fix(web-vanguard): make the hero on teams page responsive (#115)
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/MemberCard.tsx
  Web/starter_project_vanguard/data/success-story.json
Labels: @team/web

feat(web-barbies) : Add blog-form component for new blog post (#45)
  Web/starter_project_barbies/components/blog/BlogForm.tsx
  Web/starter_project_barbies/components/blog/RichTextEditor.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/public/img/blog/file-upload.jpg
Labels: @team/web

fix navigation issue (#131)
  Web/starter_project_iconics/components/layout/Navbar.tsx
  Web/starter_project_iconics/data/layout/navbar/nav-data.ts
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/pages/story/index.tsx
Labels: @team/web

add profile page (#41)
  Web/starter_project_vanguard/components/layout/Navbar.tsx
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/public/img/profile/profile-photo.png
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

fix(matador.joshua): remove login_page.dart (#134)
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

feat(Abdulaziz.imp-rating): implement and test rating feature (#123)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/CreateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/UpdateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/RatingDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/Validators/RatingDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Rating.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/RatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateRatingCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/UpdateRatingCommandHandlerTests.cs
Labels: @team/backend

Implement My blogs (#132)
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

add onboarding screen 1 (#136)
  Mobile/starter_project_matador/lib/features/onboarding/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/introduction.dart
Labels: @team/mobile

feat(backend-zsilentcoders): implement blog CRUD (#166)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

fix(Mobile - Dart_Knights) : Fix import and asset errors (#167)
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Medium.ttf
  Mobile/starter_project_dark_knights/lib/core/utils/style.dart
  Mobile/starter_project_dark_knights/lib/core/utils/text_style.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/screen/home_page.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_card.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_image.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_info.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/filters.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/profile_pic.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/search_bar.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

feat(web-iconics): implement success-rate section of the homepage (#120)
  Web/starter_project_iconics/components/home/SuccessCard.tsx
  Web/starter_project_iconics/components/home/SuccessRate.tsx
  Web/starter_project_iconics/data/home/success-rate.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/types/home/success-rate.tsx
Labels: @team/web

feat(web-iconics): implement impact stories section of homepage (#164)
  Web/starter_project_iconics/components/home/ImpactImage.tsx
  Web/starter_project_iconics/components/home/ImpactStories.tsx
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/components/home/SuccessRate.tsx
  Web/starter_project_iconics/data/home/impact-story.json
  Web/starter_project_iconics/data/home/service.json
  Web/starter_project_iconics/data/home/service.ts
  Web/starter_project_iconics/data/home/success-rate.json
  Web/starter_project_iconics/data/home/success-rate.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/impact-story-0.png
  Web/starter_project_iconics/public/img/home/impact-story-1.png
  Web/starter_project_iconics/public/img/home/impact-story-2.png
  Web/starter_project_iconics/public/img/home/impact-story-3.png
  Web/starter_project_iconics/public/img/home/impact-story-4.png
  Web/starter_project_iconics/public/img/home/impact-story-5.png
  Web/starter_project_iconics/public/img/home/impact-story-6.png
  Web/starter_project_iconics/public/img/home/impact-story-gallery.png
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/home/impact-story.tsx
Labels: @team/web

feat(hiwot.dartsmiths)implement article entities_get_article usecase (#144)
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/usecases/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/get_article.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.mocks.dart
Labels: @team/mobile

feat(backend-dotnetforce7): implement tag entity crud with test (#163)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockTagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/CreateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/DeleteTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/UpdateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Query/GetTagDetailQueryHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Query/GetTagListQueryHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/CreateTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/DeleteTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/UpdateTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/UpdateTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/CreateTagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/CreateTagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Tag.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/TagConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

Bisrat | about page (#47)
  Web/starter_project_vanguard/components/about/A2SVSession.tsx
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/data/about/a2sv-sessions.ts
  Web/starter_project_vanguard/data/about/social-projects.ts
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/public/img/about/icons/africa-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/coding-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/github.svg
  Web/starter_project_vanguard/public/img/about/icons/light-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/share.svg
  Web/starter_project_vanguard/public/img/about/phases/development-phase.svg
  Web/starter_project_vanguard/public/img/about/phases/education-process.svg
  Web/starter_project_vanguard/public/img/about/phases/growth-rate.svg
  Web/starter_project_vanguard/public/img/about/problems/how-we-are-solving.svg
  Web/starter_project_vanguard/public/img/about/problems/problem-image.svg
  Web/starter_project_vanguard/public/img/about/projects/hakimhub.svg
  Web/starter_project_vanguard/public/img/about/projects/tracksys.svg
  Web/starter_project_vanguard/public/img/about/sessions/how-to-approach.svg
  Web/starter_project_vanguard/public/img/about/sessions/problem-solving-session.svg
  Web/starter_project_vanguard/public/img/about/sessions/q&a.svg
  Web/starter_project_vanguard/public/img/about/sessions/technical-training.svg
  Web/starter_project_vanguard/public/img/about/sessions/weekly-contests.svg
  Web/starter_project_vanguard/public/img/about/sessions/weekly-one-on-ones.svg
  Web/starter_project_vanguard/styles/globals.css
  Web/starter_project_vanguard/tailwind.config.js
  Web/starter_project_vanguard/types/about/activity-component.ts
  Web/starter_project_vanguard/types/about/centered-image.ts
  Web/starter_project_vanguard/types/about/image-paragraph-component.ts
  Web/starter_project_vanguard/types/about/image-text-stack-component.ts
  Web/starter_project_vanguard/types/about/session-component.ts
  Web/starter_project_vanguard/types/about/social-project-component.ts
  Web/starter_project_vanguard/types/about/social-project-description.ts
Labels: @team/web

feat(web-iconics): Implement services section of homepage (#153)
  Web/starter_project_iconics/components/home/IndividualService.tsx
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/data/home/service.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/internships.png
  Web/starter_project_iconics/public/img/home/social-projects.png
  Web/starter_project_iconics/public/img/home/training.png
  Web/starter_project_iconics/types/home/service.ts
Labels: @team/web

fix(Abdulaziz.migrate-rating): migrate to new response handler (#169)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
Labels: @team/backend

fix(backend-zsilentcoders): fix blog tests (#173)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
Labels: @team/backend

(Mobile-Dartknights): Add common errors and usecases (#168)
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/usecases/usecase.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat(web-barbies): create store (#171)
  Web/starter_project_barbies/pages/_app.tsx
  Web/starter_project_barbies/store/hooks.ts
  Web/starter_project_barbies/store/store.ts
Labels: @team/web

Delete Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations directory
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
Labels: @team/backend

feat( web-iconics): implement pagination component (#82)
  Web/starter_project_iconics/.eslintrc.json
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

untracked unwanted changes (#157)
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_button.dart
Labels: @team/mobile

feat(web-iconics): implement help us section of homepage (#156)
  Web/starter_project_iconics/components/home/HelpUs.tsx
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/help-us.png
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

Mobile matador.duressa jemal.user.domain layer (#174)
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/user/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/user/domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.mocks.dart
Labels: @team/mobile
