Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

feature(backend-mavericks: persistance layer for user
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): setup gitignore
  Backend/.gitignore
Labels: @team/backend

implemnting about-section
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

implementing about-us-card
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
Labels: @team/web

feat(backend-mavericks): Implement user Authentication
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Identity/IAuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Exceptions/ServerErrorException.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Commands/SigninCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Commands/SignupCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Handlers/SigninHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Handlers/SignupHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTOs/SigninFormDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTOs/SigninResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTOs/SignupFormDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTOs/SignupResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTOs/Validators/SigninFormDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTOs/Validators/SignupFormValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/User.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Configurations/Entities/RoleConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Configurations/Entities/UserConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Configurations/Entities/UserRoleConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/UserIdentityDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignInHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignUpHandlerTests.cs
Labels: @team/backend

fix(web-iconics): add pagination to team members list (#222)
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/data/teams/team-members.json
Labels: @team/web

add remote datasource implementation
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_sources.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.mocks.dart
Labels: @team/mobile

formated the document
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_sources.dart
Labels: @team/mobile

add Comment-Blog Relationship
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/CommentConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(backend-dotnetforce7)Comment-Blog-Relationship
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(backend-dotnetforces7): Add user blog relation (#232)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Constants/CustomClaimTypes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
Labels: @team/backend

feat(backend-dotnetforce7)Comment-Blog-Relationship
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(web-iconics): remove inconsistent naming
  Web/starter_project_iconics/components/blog/BlogCard.tsx
Labels: @team/web

feat(web-iconics): convert file formats
  Web/starter_project_iconics/data/profile/blogs.json
  Web/starter_project_iconics/data/profile/blogs.ts
  Web/starter_project_iconics/data/profile/user.json
  Web/starter_project_iconics/data/profile/user.ts
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): update code because of update on type
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/profile/MyBlogsPage.tsx
  Web/starter_project_iconics/data/profile/blogs.json
Labels: @team/web

feat(web-iconics): add index file
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): correct folder naming
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): correct naming of files
  Web/starter_project_iconics/components/profile/myBlogs.tsx
Labels: @team/web

feat(web-iconics): correct props naming
  Web/starter_project_iconics/components/blog/BlogCard.tsx
Labels: @team/web

feat(web-iconics): rename files to thier proper extension
  Web/starter_project_iconics/types/blog.ts
  Web/starter_project_iconics/types/user.ts
Labels: @team/web

feat(web-iconics): undo a commit
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): create blog card and one profile page
  Web/starter_project_iconics/components/common/blogCard.tsx
  Web/starter_project_iconics/components/profile/myBlogs.tsx
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/data/blogs.ts
  Web/starter_project_iconics/data/user.ts
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/types/blog.tsx
  Web/starter_project_iconics/types/user.tsx
Labels: @team/web

feat(web-iconics): fix
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
Labels: @team/web

feat(web-iconics): correct color of a text
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

feat(web-iconics): correct naming of files
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconic): resolve inconsistent code style
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/profile/MyBlogsPage.tsx
  Web/starter_project_iconics/components/profile/ProfilePageLayout.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): removed unnecessary component and correct naming
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/components/profile/MyBlogsPage.tsx
  Web/starter_project_iconics/components/profile/ProfilePageLayout.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): fix namings and vague points
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/profile/myBlogs.tsx
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/profile/blog.tsx
Labels: @team/web

feat(web-iconics): make interface name descriptive
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
Labels: @team/web

feat(web-iconics): removed style mistake
  Web/starter_project_iconics/components/common/blogCard.tsx
Labels: @team/web

feat(web-iconics): correct folder structure
  Web/starter_project_iconics/components/common/blogCard.tsx
  Web/starter_project_iconics/components/profile/myBlogs.tsx
  Web/starter_project_iconics/data/blogs.ts
  Web/starter_project_iconics/data/user.ts
  Web/starter_project_iconics/types/profile/blog.tsx
  Web/starter_project_iconics/types/profile/user.tsx
Labels: @team/web

feat(web-iconics): address comments
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): use enum and avoid optional propertis on blog type
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/types/blog.ts
Labels: @team/web

feat(web-iconics): address comments
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

feat(web-iconics): address comments
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): corrected data id
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/data/profile/personal-blogs.json
  Web/starter_project_iconics/data/profile/user-profile.json
Labels: @team/web

feat(web-iconics): use tailwind configured text color
  Web/starter_project_iconics/components/profile/profileLayout.tsx
Labels: @team/web

feat(web-iconics): update folder structure and reduce code lines
  Web/starter_project_iconics/components/common/blogCard.tsx
  Web/starter_project_iconics/components/common/blogFooter.tsx
  Web/starter_project_iconics/data/profile/blogs.ts
  Web/starter_project_iconics/data/profile/user.ts
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconic): change file name and add links
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
