Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

add get all and update operation for blog
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
Labels: @team/backend

Implement My blogs (#132)
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

(Mobile-Dartknights): Implement the splash screen (#75)
  Mobile/starter_project_dark_knights/assets/images/splash_screen.png
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

Gadisa.rate crud fix (#143)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

feat(web): improve about page
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/pages/about/index.tsx
Labels: @team/web

fix(web): addressing requested changes
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/pages/about/data.ts
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/tailwind.config.js
Labels: @team/web

fix(web): changing activites into a single component
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/pages/about/index.tsx
Labels: @team/web

fix(web): addressing requested changes
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/tailwind.config.js
Labels: @team/web

feat(web): Add Basic About Us
  Web/starter_project_vanguard/components/about/A2SVSession.tsx
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/public/aboutus/africa_icon.svg
  Web/starter_project_vanguard/public/aboutus/coding_icon.svg
  Web/starter_project_vanguard/public/aboutus/development_phase.svg
  Web/starter_project_vanguard/public/aboutus/education_process.svg
  Web/starter_project_vanguard/public/aboutus/github.svg
  Web/starter_project_vanguard/public/aboutus/growth_rate.svg
  Web/starter_project_vanguard/public/aboutus/hakimhub.svg
  Web/starter_project_vanguard/public/aboutus/how_to_approach.svg
  Web/starter_project_vanguard/public/aboutus/how_we_are_solving.svg
  Web/starter_project_vanguard/public/aboutus/light_icon.svg
  Web/starter_project_vanguard/public/aboutus/problem_image.svg
  Web/starter_project_vanguard/public/aboutus/problem_solving_session.svg
  Web/starter_project_vanguard/public/aboutus/q&a.svg
  Web/starter_project_vanguard/public/aboutus/share.svg
  Web/starter_project_vanguard/public/aboutus/technical_training.svg
  Web/starter_project_vanguard/public/aboutus/tracksys.svg
  Web/starter_project_vanguard/public/aboutus/weekly_contests.svg
  Web/starter_project_vanguard/public/aboutus/weekly_one_on_ones.svg
  Web/starter_project_vanguard/styles/globals.css
Labels: @team/web

fix(web): addressing requested changes
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/data/about/a2sv-sessions.ts
  Web/starter_project_vanguard/data/about/social-projects.ts
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/public/images/aboutus/icons/africa-icon.svg
  Web/starter_project_vanguard/public/images/aboutus/icons/coding-icon.svg
  Web/starter_project_vanguard/public/images/aboutus/icons/github.svg
  Web/starter_project_vanguard/public/images/aboutus/icons/light-icon.svg
  Web/starter_project_vanguard/public/images/aboutus/icons/share.svg
  Web/starter_project_vanguard/public/images/aboutus/phases/development-phase.svg
  Web/starter_project_vanguard/public/images/aboutus/phases/education-process.svg
  Web/starter_project_vanguard/public/images/aboutus/phases/growth-rate.svg
  Web/starter_project_vanguard/public/images/aboutus/problems/how-we-are-solving.svg
  Web/starter_project_vanguard/public/images/aboutus/problems/problem-image.svg
  Web/starter_project_vanguard/public/images/aboutus/projects/hakimhub.svg
  Web/starter_project_vanguard/public/images/aboutus/projects/tracksys.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/how-to-approach.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/problem-solving-session.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/q&a.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/technical-training.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/weekly-contests.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/weekly-one-on-ones.svg
Labels: @team/web

fix(web): renaming folder from images to img
  Web/starter_project_vanguard/public/img/aboutus/icons/africa-icon.svg
  Web/starter_project_vanguard/public/img/aboutus/icons/coding-icon.svg
  Web/starter_project_vanguard/public/img/aboutus/icons/github.svg
  Web/starter_project_vanguard/public/img/aboutus/icons/light-icon.svg
  Web/starter_project_vanguard/public/img/aboutus/icons/share.svg
  Web/starter_project_vanguard/public/img/aboutus/phases/development-phase.svg
  Web/starter_project_vanguard/public/img/aboutus/phases/education-process.svg
  Web/starter_project_vanguard/public/img/aboutus/phases/growth-rate.svg
  Web/starter_project_vanguard/public/img/aboutus/problems/how-we-are-solving.svg
  Web/starter_project_vanguard/public/img/aboutus/problems/problem-image.svg
  Web/starter_project_vanguard/public/img/aboutus/projects/hakimhub.svg
  Web/starter_project_vanguard/public/img/aboutus/projects/tracksys.svg
  Web/starter_project_vanguard/public/img/aboutus/sessions/how-to-approach.svg
  Web/starter_project_vanguard/public/img/aboutus/sessions/problem-solving-session.svg
  Web/starter_project_vanguard/public/img/aboutus/sessions/q&a.svg
  Web/starter_project_vanguard/public/img/aboutus/sessions/technical-training.svg
  Web/starter_project_vanguard/public/img/aboutus/sessions/weekly-contests.svg
  Web/starter_project_vanguard/public/img/aboutus/sessions/weekly-one-on-ones.svg
Labels: @team/web

fix(web): adding missing key in iteration
  Web/starter_project_vanguard/pages/about/index.tsx
Labels: @team/web

fix(web): addressing requested changes
  Web/starter_project_vanguard/components/about/A2SVSession.tsx
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/types/about/activity-component-prop.ts
  Web/starter_project_vanguard/types/about/centered-image-prop.ts
  Web/starter_project_vanguard/types/about/image-paragraph-component-prop.ts
  Web/starter_project_vanguard/types/about/image-text-stack-component-prop.ts
  Web/starter_project_vanguard/types/about/session-component-prop.ts
  Web/starter_project_vanguard/types/about/social-project-component-prop.ts
  Web/starter_project_vanguard/types/about/social-project-description-prop.ts
Labels: @team/web

fix(web): addressing requested changes
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/data/about/a2sv-sessions.ts
  Web/starter_project_vanguard/data/about/social-projects.ts
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/public/images/aboutus/icons/africa-icon.svg
  Web/starter_project_vanguard/public/images/aboutus/icons/coding-icon.svg
  Web/starter_project_vanguard/public/images/aboutus/icons/github.svg
  Web/starter_project_vanguard/public/images/aboutus/icons/light-icon.svg
  Web/starter_project_vanguard/public/images/aboutus/icons/share.svg
  Web/starter_project_vanguard/public/images/aboutus/phases/development-phase.svg
  Web/starter_project_vanguard/public/images/aboutus/phases/education-process.svg
  Web/starter_project_vanguard/public/images/aboutus/phases/growth-rate.svg
  Web/starter_project_vanguard/public/images/aboutus/problems/how-we-are-solving.svg
  Web/starter_project_vanguard/public/images/aboutus/problems/problem-image.svg
  Web/starter_project_vanguard/public/images/aboutus/projects/hakimhub.svg
  Web/starter_project_vanguard/public/images/aboutus/projects/tracksys.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/how-to-approach.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/problem-solving-session.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/q&a.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/technical-training.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/weekly-contests.svg
  Web/starter_project_vanguard/public/images/aboutus/sessions/weekly-one-on-ones.svg
Labels: @team/web

fix(web): addressing requested changes
  Web/starter_project_vanguard/components/about/Activities.tsx
Labels: @team/web

fix(web): improving foldernames and types
  Web/starter_project_vanguard/components/about/A2SVSession.tsx
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/data/about/a2sv-sessions.ts
  Web/starter_project_vanguard/data/about/social-projects.ts
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/public/img/about/icons/africa-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/coding-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/github.svg
  Web/starter_project_vanguard/public/img/about/icons/light-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/share.svg
  Web/starter_project_vanguard/public/img/about/phases/development-phase.svg
  Web/starter_project_vanguard/public/img/about/phases/education-process.svg
  Web/starter_project_vanguard/public/img/about/phases/growth-rate.svg
  Web/starter_project_vanguard/public/img/about/problems/how-we-are-solving.svg
  Web/starter_project_vanguard/public/img/about/problems/problem-image.svg
  Web/starter_project_vanguard/public/img/about/projects/hakimhub.svg
  Web/starter_project_vanguard/public/img/about/projects/tracksys.svg
  Web/starter_project_vanguard/public/img/about/sessions/how-to-approach.svg
  Web/starter_project_vanguard/public/img/about/sessions/problem-solving-session.svg
  Web/starter_project_vanguard/public/img/about/sessions/q&a.svg
  Web/starter_project_vanguard/public/img/about/sessions/technical-training.svg
  Web/starter_project_vanguard/public/img/about/sessions/weekly-contests.svg
  Web/starter_project_vanguard/public/img/about/sessions/weekly-one-on-ones.svg
  Web/starter_project_vanguard/types/about/activity-component.ts
  Web/starter_project_vanguard/types/about/centered-image-prop.ts
  Web/starter_project_vanguard/types/about/centered-image.ts
  Web/starter_project_vanguard/types/about/image-paragraph-component-prop.ts
  Web/starter_project_vanguard/types/about/image-paragraph-component.ts
  Web/starter_project_vanguard/types/about/image-text-stack-component-prop.ts
  Web/starter_project_vanguard/types/about/image-text-stack-component.ts
  Web/starter_project_vanguard/types/about/session-component.ts
  Web/starter_project_vanguard/types/about/social-project-component.ts
  Web/starter_project_vanguard/types/about/social-project-description.ts
Labels: @team/web

feat(web-barbies) : Add user blogs management page (#22)
  Web/starter_project_barbies/data/blogs.json
  Web/starter_project_barbies/pages/api/blogs.ts
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
  Web/starter_project_barbies/public/img/blog/coding.jpg
  Web/starter_project_barbies/public/img/blog/profile.jpg
  Web/starter_project_barbies/styles/globals.css
Labels: @team/web

fix navigation issue (#131)
  Web/starter_project_iconics/components/layout/Navbar.tsx
  Web/starter_project_iconics/data/layout/navbar/nav-data.ts
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/pages/story/index.tsx
Labels: @team/web

fix(mobile-dart knights ): merge write article and article reading into one feature article (#129)
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

add onboarding screen 1 (#136)
  Mobile/starter_project_matador/lib/features/onboarding/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/introduction.dart
Labels: @team/mobile

feat(Abdulaziz.imp-rating): implement and test rating feature (#123)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/CreateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/UpdateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/RatingDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/Validators/RatingDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Rating.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/RatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateRatingCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/UpdateRatingCommandHandlerTests.cs
Labels: @team/backend

feat(matador.tesfaye): implement article reading page (#141)
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/article_detail.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/user_card.dart
Labels: @team/mobile

(Mobile-Dartknights): Implement the splash screen (#75)
  Mobile/starter_project_dark_knights/assets/images/splash_screen.png
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

Gadisa.rate crud fix (#143)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

Implement My blogs (#132)
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

remove local cache
  .vscode/launch.json
  .vscode/tasks.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
Labels: @team/backend

Delete Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations directory
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
Labels: @team/backend

update user profile use case
  Mobile/starter_project_matador/lib/features/user/domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/update_user_profile.dart
Labels: @team/mobile

fix add blog page
  Web/starter_project_iconics/package-lock.json
  Web/starter_project_iconics/package.json
  Web/starter_project_iconics/pages/blog/add-blog.tsx
  Web/starter_project_iconics/public/image-upload.png
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

fix add blog page
  Web/starter_project_iconics/package-lock.json
Labels: @team/web

fix add blog page
  Web/starter_project_iconics/pages/blog/add-blog.tsx
  Web/starter_project_iconics/public/img/blog/upload-img.png
Labels: @team/web

fix add blog page
  Web/starter_project_iconics/pages/blog/add-blog.tsx
Labels: @team/web

fix add blog page
  Web/starter_project_iconics/pages/blog/add-blog.tsx
Labels: @team/web

fix add blog page
  Web/starter_project_iconics/components/blog/TextEditor.tsx
  Web/starter_project_iconics/package-lock.json
  Web/starter_project_iconics/pages/blog/add-blog.tsx
Labels: @team/web

feat(web-iconics): implement success-rate section of the homepage
  Web/starter_project_iconics/components/home/SuccessCard.tsx
  Web/starter_project_iconics/components/home/SuccessRate.tsx
  Web/starter_project_iconics/data/home/success-rate.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/types/home/success-rate.tsx
Labels: @team/web

fix(web-iconics): change the color from Hex to the one defined in the themes
  Web/starter_project_iconics/components/home/SuccessCard.tsx
  Web/starter_project_iconics/components/home/SuccessRate.tsx
Labels: @team/web

feat(web-iconics): implement success-rate section of the homepage (#120)
  Web/starter_project_iconics/components/home/SuccessCard.tsx
  Web/starter_project_iconics/components/home/SuccessRate.tsx
  Web/starter_project_iconics/data/home/success-rate.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/types/home/success-rate.tsx
Labels: @team/web

test update user profile
  Mobile/starter_project_matador/test/features/user/domain/usecases/update_user_profile.dart
Labels: @team/mobile

fix reveiw changes
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
Labels: @team/mobile

fix(backend-dotnetforce7): converted dotnet version back to 6.0
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/AuthServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogApp.Persistence.csproj
Labels: @team/backend
