Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

"AppicationTag"
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/I_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Create_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Delete_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Update_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Create_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Delete_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Get_TagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Get_TagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Update_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/Get_TagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/Get_TagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Create_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/I_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/Create_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/I_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/Update_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

fix(backend-mavericks): remove .idea folder
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/workspace.xml
Labels: @team/backend

"AppicationTag"
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

"Domain _Tag"
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/_Tag.cs
Labels: @team/backend

home usecase testing
  Mobile/starter_project_dartsmiths/lib/features/home/data/model/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
Labels: @team/mobile

[Mobile] home page domain layer
  Mobile/starter_project_dartsmiths/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Labels: @team/mobile

add Loading Spinner
  Web/starter_project_vanguard/components/common/Loading.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user-data.json
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

(Mobile-Dartknights): Add data layer starter files
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/network/network_info.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

First commit
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Drawing 2.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/amicopuzzle.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
Labels: @team/web

Implement about_us
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/amicopuzzle.png
  Web/starter_project_iconics/public/about/img/amicosolve.png
  Web/starter_project_iconics/public/about/img/icon tag (1).png
  Web/starter_project_iconics/public/about/img/icon tag (2).png
  Web/starter_project_iconics/public/about/img/icon tag (3).png
  Web/starter_project_iconics/public/about/img/icon tag (4).png
  Web/starter_project_iconics/public/about/img/icon tag (5).png
  Web/starter_project_iconics/public/about/img/icon tag.png
  Web/starter_project_iconics/public/about/img/info iconicon1.png
  Web/starter_project_iconics/public/about/img/info iconicon2.png
  Web/starter_project_iconics/public/about/img/info iconicon3.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

implement card items
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/data/about/about-card.json
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-1.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-2.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-3.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-4.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-5.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-1.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-2.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-3.png
  Web/starter_project_iconics/public/img/about/problem-section/africa-iconicon-1.png
  Web/starter_project_iconics/public/img/about/problem-section/amico-solve.png
  Web/starter_project_iconics/public/img/about/problem-section/code-iconicon-2.png
  Web/starter_project_iconics/public/img/about/session-section/amico-puzzle.png
  Web/starter_project_iconics/public/img/about/session-section/light-bulb-icon-3.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-4.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-5.png
  package-lock.json
Labels: repo, @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
Labels: @team/web

feat(backend-mavericks): Implement CRUD operation for "Tag" Feature (#181)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Tag.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockTagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/createTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/deleteTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

feat(metador_signup_page) data_layer
  Mobile/starter_project_matador/lib/core/error/exceptions.dart
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/error/network/network_info.dart
  Mobile/starter_project_matador/lib/features/signup/data/datasources/auth_local_data_source.dart
  Mobile/starter_project_matador/lib/features/signup/data/datasources/auth_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/signup/data/models/user_model.dart
  Mobile/starter_project_matador/lib/features/signup/data/repositories/auth_repository_impl.dart
Labels: @team/mobile

resolve minor issues
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Search.tsx
  Web/starter_project_vanguard/components/common/tag.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

[Mobile] home page domain layer
  Mobile/starter_project_dartsmiths/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
Labels: @team/mobile

[Mobile] home page domain layer
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/get_article.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/pubspec.lock
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.mocks.dart
Labels: @team/mobile

home usecase testing
  Mobile/starter_project_dartsmiths/lib/features/home/data/model/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
Labels: @team/mobile

android/local.properties deleted
  Mobile/starter_project_dartsmiths/android/local.properties
Labels: @team/mobile

rebase from main
  Mobile/starter_project_dartsmiths/android/.gitignore
  Mobile/starter_project_dartsmiths/android/app/build.gradle
  Mobile/starter_project_dartsmiths/android/app/src/debug/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  Mobile/starter_project_dartsmiths/android/app/src/main/kotlin/com/example/dartsmiths/MainActivity.kt
  Mobile/starter_project_dartsmiths/android/app/src/main/res/drawable-v21/launch_background.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/drawable/launch_background.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/values-night/styles.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/values/styles.xml
  Mobile/starter_project_dartsmiths/android/app/src/profile/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/build.gradle
  Mobile/starter_project_dartsmiths/android/dartsmiths_android.iml
  Mobile/starter_project_dartsmiths/android/gradle.properties
  Mobile/starter_project_dartsmiths/android/gradle/wrapper/gradle-wrapper.jar
  Mobile/starter_project_dartsmiths/android/gradle/wrapper/gradle-wrapper.properties
  Mobile/starter_project_dartsmiths/android/gradlew
  Mobile/starter_project_dartsmiths/android/gradlew.bat
  Mobile/starter_project_dartsmiths/android/settings.gradle
Labels: @team/mobile

Home page domain layer
  Mobile/starter_project_dartsmiths/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
Labels: @team/mobile

[Mobile] conflict resolved
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
Labels: @team/mobile

feat(backend-dotnetforce) : Implement database relationship between review and blog models
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/ReviewConfiguration.cs
Labels: @team/backend

[Mobile] home page domain layer
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
Labels: @team/mobile

make teams page responsive
  Web/starter_project_iconics/components/team/Teams.tsx
  Web/starter_project_iconics/pages/team/TeamPage.tsx
Labels: @team/web

resolve conflict
  Web/starter_project_iconics/public/landing image area.png
Labels: @team/web

create team card component
  Web/starter_project_iconics/components/team/TeamCard.tsx
Labels: @team/web

remove empty teams-page file
  Web/starter_project_iconics/data/team/teams.ts
Labels: @team/web

remove teams-hero
  Web/starter_project_iconics/components/team/TeamsHero.tsx
  Web/starter_project_iconics/pages/teams/index.tsx
Labels: @team/web

address comments
  Web/starter_project_iconics/components/team/Teams.tsx
  Web/starter_project_iconics/components/teams/README.md
  Web/starter_project_iconics/components/teams/TeamMembersCard.tsx
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
  Web/starter_project_iconics/data/team/teams.ts
  Web/starter_project_iconics/data/teams/teams.json
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/types/teams.ts
Labels: @team/web

modify text position
  Web/starter_project_iconics/components/team/Teams.tsx
Labels: @team/web

add key to image
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
Labels: @team/web

change img with Image
  Web/starter_project_iconics/components/team/TeamCard.tsx
  Web/starter_project_iconics/components/team/Teams.tsx
  Web/starter_project_iconics/components/team/TeamsHero.tsx
  Web/starter_project_iconics/data/team/teams.ts
  Web/starter_project_iconics/pages/team/TeamPage.tsx
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/public/Vector (1).png
  Web/starter_project_iconics/public/Vector (2).png
  Web/starter_project_iconics/public/Vector (3).png
  Web/starter_project_iconics/public/img/teams/naty.png
  Web/starter_project_iconics/types/team/teams.ts
Labels: @team/web

address comments
  Web/starter_project_iconics/components/teams/TeamMemberCard.tsx
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/data/teams/team-members.json
Labels: @team/web

remove background color
  Web/starter_project_iconics/components/team/Teams.tsx
  Web/starter_project_iconics/public/Vector.png
  Web/starter_project_iconics/public/landing image area.png
Labels: @team/web

change header text size
  Web/starter_project_iconics/components/team/Teams.tsx
Labels: @team/web

add key to image
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
Labels: @team/web

set max width for teams page
  Web/starter_project_iconics/components/team/Teams.tsx
  Web/starter_project_iconics/components/team/TeamsHero.tsx
Labels: @team/web

remove background color
  Web/starter_project_iconics/components/team/TeamsHero.tsx
Labels: @team/web

rebuild using individual image for landing image
  Web/starter_project_iconics/components/team/Teams.tsx
  Web/starter_project_iconics/public/Vector (1).png
  Web/starter_project_iconics/public/Vector (2).png
  Web/starter_project_iconics/public/Vector (3).png
  Web/starter_project_iconics/public/Vector.png
Labels: @team/web

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
