Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

change text color
  Web/starter_project_vanguard/components/home/HeroSection.tsx
Labels: @team/web

change svg to react-icons
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/public/img/home-page/landing-image.png
Labels: @team/web

update image folders
  Web/starter_project_vanguard/public/img/landing-image.png
Labels: @team/web

fix image import naming
  Web/starter_project_vanguard/components/home/HeroSection.tsx
Labels: @team/web

implement home page components
  Web/starter_project_vanguard/components/home/BuildBetter.tsx
  Web/starter_project_vanguard/components/home/HelpUs.tsx
  Web/starter_project_vanguard/components/home/ImpactStories.tsx
  Web/starter_project_vanguard/components/home/success-components/Activities.tsx
  Web/starter_project_vanguard/components/home/success-components/SuccessRate.tsx
  Web/starter_project_vanguard/components/home/success-components/YearlySucess.tsx
  Web/starter_project_vanguard/data/home/activities.json
  Web/starter_project_vanguard/data/home/success_rates.json
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/public/img/home-page/activity-1.jpg
  Web/starter_project_vanguard/public/img/home-page/activity-2.jpg
  Web/starter_project_vanguard/public/img/home-page/activity-3.jpg
  Web/starter_project_vanguard/public/img/home-page/africa.png
  Web/starter_project_vanguard/public/img/home-page/bulid-better-image.jpg
  Web/starter_project_vanguard/public/img/home-page/impact-story-image.png
  Web/starter_project_vanguard/types/home/Activity.ts
  Web/starter_project_vanguard/types/home/SuccessModel.ts
Labels: @team/web

fix code formats
  Web/starter_project_vanguard/components/home/BuildBetter.tsx
  Web/starter_project_vanguard/components/home/HelpUs.tsx
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/components/home/ImpactStories.tsx
  Web/starter_project_vanguard/components/home/success-components/Activities.tsx
  Web/starter_project_vanguard/components/home/success-components/SuccessRate.tsx
  Web/starter_project_vanguard/components/home/success-components/YearlySucess.tsx
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/types/home/Activity.ts
  Web/starter_project_vanguard/types/home/SuccessModel.ts
Labels: @team/web

add background color for success section
  Web/starter_project_vanguard/components/home/success-components/SuccessRate.tsx
Labels: @team/web

fix colors and file naming
  Web/starter_project_vanguard/components/home/Activities.tsx
  Web/starter_project_vanguard/components/home/BuildBetter.tsx
  Web/starter_project_vanguard/components/home/HelpUs.tsx
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/components/home/ImpactStories.tsx
  Web/starter_project_vanguard/components/home/SuccessRate.tsx
  Web/starter_project_vanguard/components/home/YearlySucess.tsx
  Web/starter_project_vanguard/data/home/activities.json
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/public/img/home/activity-1.jpg
  Web/starter_project_vanguard/public/img/home/activity-2.jpg
  Web/starter_project_vanguard/public/img/home/activity-3.jpg
  Web/starter_project_vanguard/public/img/home/africa.png
  Web/starter_project_vanguard/public/img/home/bulid-better-image.jpg
  Web/starter_project_vanguard/public/img/home/impact-story-image.png
  Web/starter_project_vanguard/public/img/home/landing-image.png
Labels: @team/web

fix variable namings
  Web/starter_project_vanguard/components/home/Activities.tsx
  Web/starter_project_vanguard/components/home/BuildBetter.tsx
  Web/starter_project_vanguard/components/home/HelpUs.tsx
  Web/starter_project_vanguard/components/home/ImpactStories.tsx
  Web/starter_project_vanguard/components/home/SuccessRate.tsx
  Web/starter_project_vanguard/components/home/YearlySuccess.tsx
  Web/starter_project_vanguard/data/home/activities.json
  Web/starter_project_vanguard/types/home/Activity.ts
Labels: @team/web

fix text and background colors
  Web/starter_project_vanguard/components/home/Activities.tsx
  Web/starter_project_vanguard/components/home/BuildBetter.tsx
  Web/starter_project_vanguard/components/home/HelpUs.tsx
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/components/home/ImpactStories.tsx
  Web/starter_project_vanguard/components/home/SuccessRate.tsx
  Web/starter_project_vanguard/components/home/YearlySuccess.tsx
Labels: @team/web

fix(backend-zsilentcoders):fix blog CRUD
  .vscode/launch.json
  .vscode/tasks.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

fix(backend-zsilentcoders): add data change handle
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(backend-zsilentcoders): Implement blog CRUD
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
Labels: @team/backend

fix(backend-zsilentcoders):fix blog CRUD
  .vscode/launch.json
  .vscode/tasks.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

fix(backend-zsilentcoders): remove local cache
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

fix(backend-zsilentcoders): remove local cache
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

feat(Amha.blog-crud): Implement crud endpoints
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BlogController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Commands/CreateBlogCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Commands/DeleteBlogCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Commands/UpdateBlogCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/DeleteBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/GetAllBlogsQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/GetBlogRequestHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Queries/GetAllBlogsQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Queries/GetBlogQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/BlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/BlogListDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/IThumbnailUrlDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/UpdateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/Validators/IThumbnailUrlValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseCommandResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Blog.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230503210204_blog-model-migration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230503210204_blog-model-migration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

fix(backend-mavericks): modify handlers response
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/DeleteBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/PublishBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/CreateBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/DeleteBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/PublishBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/UpdateBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockBlogRepository.cs
Labels: @team/backend

fix(Amha.blog-crud): migrations git cache cleared
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230501123711_initialMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230501123711_initialMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230503210204_blog-model-migration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230503210204_blog-model-migration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
Labels: @team/backend

feat(Amha.blog-crud): update crud endpoints
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BlogController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Commands/PublishBlogCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/PublishBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Queries/GetBlogListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/BlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/BlogListDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/UpdateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Blog.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(Amha.blog-crud): Implement unit tests
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/CreateBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/DeleteBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/PublishBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/UpdateBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockBlogRepository.cs
Labels: @team/backend

fix(Amha.blog-crud): removed redundant injections
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/DeleteBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/GetBlogRequestHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/PublishBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/CreateBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/DeleteBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/PublishBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/UpdateBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

fix(Mobile - Dart_Knights) : Fix import and asset errors
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Medium.ttf
  Mobile/starter_project_dark_knights/lib/core/utils/style.dart
  Mobile/starter_project_dark_knights/lib/core/utils/text_style.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/screen/home_page.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_card.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_image.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_info.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/filters.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/profile_pic.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/search_bar.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

commit before pullling
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockCommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateCommentCommandHandlerTests.cs
Labels: @team/backend

feature(backend-mavericks): add validation
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/appsettings.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTO/Validators/SignInFormDtoValidators.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTO/Validators/SignUpFormValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
Labels: @team/backend

Fix app starting screen
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

fix(Mobile - Dart_Knights) : Fix import and asset errors (#167)
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Medium.ttf
  Mobile/starter_project_dark_knights/lib/core/utils/style.dart
  Mobile/starter_project_dark_knights/lib/core/utils/text_style.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/screen/home_page.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_card.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_image.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_info.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/filters.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/profile_pic.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/search_bar.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

(Mobile-Dartknights): Add common errors and usecases
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/usecases/usecase.dart
Labels: @team/mobile

(Mobile-Dartknights): Add common errors and usecases
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

(Mobile-Dartknights): Add common errors and usecases (#168)
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/usecases/usecase.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

fix(Abdulaziz.migrate-rating): migrate to new response handler
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
Labels: @team/backend

manage state with redux
  Web/starter_project_vanguard/data/success-story.json
  Web/starter_project_vanguard/features/success-story/success-story-api-slice.ts
  Web/starter_project_vanguard/hooks/hooks.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/public/manifest.json
  Web/starter_project_vanguard/store/store.ts
Labels: @team/web

custom 404 page
  Web/starter_project_vanguard/features/success-story/success-story-api-slice.ts
  Web/starter_project_vanguard/pages/success-story/index.tsx
Labels: @team/web

Define colors and styles which is not defined previously
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

Define colors and styles which is not defined previously (#170)
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

fix(Abdulaziz.migrate-rating): migrate to new response handler (#169)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
Labels: @team/backend

crud blog
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230502111936_CreateBlog.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230502111936_CreateBlog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

Fix Merge Error
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Rate.cs
Labels: @team/backend

Fix Review commits
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/CreateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/UpdateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/CreateRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/IRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/UpdateRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Rate.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/RateConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230502111936_CreateBlog.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230502111936_CreateBlog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(backend-dotnetforce7): implement basic curd on blogs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230501123711_initialMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230501123711_initialMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
Labels: @team/backend
