Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

Bisrat | about page (#47)
  Web/starter_project_vanguard/components/about/A2SVSession.tsx
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/data/about/a2sv-sessions.ts
  Web/starter_project_vanguard/data/about/social-projects.ts
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/public/img/about/icons/africa-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/coding-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/github.svg
  Web/starter_project_vanguard/public/img/about/icons/light-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/share.svg
  Web/starter_project_vanguard/public/img/about/phases/development-phase.svg
  Web/starter_project_vanguard/public/img/about/phases/education-process.svg
  Web/starter_project_vanguard/public/img/about/phases/growth-rate.svg
  Web/starter_project_vanguard/public/img/about/problems/how-we-are-solving.svg
  Web/starter_project_vanguard/public/img/about/problems/problem-image.svg
  Web/starter_project_vanguard/public/img/about/projects/hakimhub.svg
  Web/starter_project_vanguard/public/img/about/projects/tracksys.svg
  Web/starter_project_vanguard/public/img/about/sessions/how-to-approach.svg
  Web/starter_project_vanguard/public/img/about/sessions/problem-solving-session.svg
  Web/starter_project_vanguard/public/img/about/sessions/q&a.svg
  Web/starter_project_vanguard/public/img/about/sessions/technical-training.svg
  Web/starter_project_vanguard/public/img/about/sessions/weekly-contests.svg
  Web/starter_project_vanguard/public/img/about/sessions/weekly-one-on-ones.svg
  Web/starter_project_vanguard/styles/globals.css
  Web/starter_project_vanguard/tailwind.config.js
  Web/starter_project_vanguard/types/about/activity-component.ts
  Web/starter_project_vanguard/types/about/centered-image.ts
  Web/starter_project_vanguard/types/about/image-paragraph-component.ts
  Web/starter_project_vanguard/types/about/image-text-stack-component.ts
  Web/starter_project_vanguard/types/about/session-component.ts
  Web/starter_project_vanguard/types/about/social-project-component.ts
  Web/starter_project_vanguard/types/about/social-project-description.ts
Labels: @team/web

implement entities, usecase and there test
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/usecases/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/update_article.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/entities/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/repositories/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/mock_article_repository.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

fix reveiw changes
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
Labels: @team/mobile

implement test for post and update usecase
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/mock_article_repository.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/datasources/example_datasource_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/models/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/repositories/example_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/entities/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/repositories/example_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/example/presentation/bloc/example_bloc_test.dart
Labels: @team/mobile

feat(Yonas.implement-authentication) Create Files
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Constants/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ConfirmEmailResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ForgotPasswordResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Models/BlogUser.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

implement entities, usecase and there test
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/pubspec.lock
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/mock_article_repository.dart
Labels: @team/mobile

implement test for post and update usecase
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/mock_article_repository.dart
Labels: @team/mobile

feat(Yeabsira.user): Implement user
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/UserController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/I_UserRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Create_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Delete_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Update_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Create_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Delete_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Get_UserDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Get_UserListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Update_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Queries/Get_UserDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Queries/Get_UserListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Create_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/I_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/Create_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/I_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/Update_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/User.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/_UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/_UserRepository.cs
Labels: @team/backend

feat(Yonas.implement-authentication) implement AuthService
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Constants/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Infrastructure/IEmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ConfirmEmailResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Mail/Email.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Mail/EmailSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/BlogApp.Infrastructure.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/InfrastructureServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/Mail/EmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

Yeabsira.user-implement user crud
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/_IndexController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/I_IndexRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Commands/Create_IndexCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Commands/Delete_IndexCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Commands/Update_IndexCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Create_IndexCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Delete_IndexCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Get_IndexDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Get_IndexListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Update_IndexCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Queries/Get_IndexDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Queries/Get_IndexListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/Create_IndexDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/I_IndexDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/Validators/Create_IndexDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/Validators/I_IndexDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/Validators/Update_IndexDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/_IndexDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/User.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/_Index.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/_IndexConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503132546_userMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/_IndexRepository.cs
Labels: @team/backend

feat(backend-zsilentcoders): Implement blog CRUD
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
Labels: @team/backend

feat(Yonas.implement-authentication) implement signup and login
  .vscode/settings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/UserController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Create_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/RegisterDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/20230504085906_test.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/20230504085906_test.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
Labels: @team/backend

feat(Yonas.implement-authentication) add responses
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Mail/Email.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Mail/EmailSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Responses/BaseCommandResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508075848_fix-date-time.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508075848_fix-date-time.cs
Labels: @team/backend

feat(backend-zsilentcoders): Implement blog CRUD
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

feat(matador.josh): add user entity
  Mobile/starter_project_matador/lib/features/login/Domain/entities/user.dart
Labels: @team/mobile

implement update and post entity and usecase with test
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/update_article.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/entities/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/repositories/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
Labels: @team/mobile

fix(matador.joshua): Fix commits
  Mobile/starter_project_matador/lib/core/failure.dart
  Mobile/starter_project_matador/lib/features/login/Domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/login/Domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/signup_use_case.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

add authorId field to article
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

fix(backend-dotnetforce7): fix firstName and lastName null issue in authRessponse
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
Labels: @team/backend

feat(web-iconics): Implement services section of homepage
  Web/starter_project_iconics/components/home/IndividualService.tsx
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/data/home/service.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/internships.png
  Web/starter_project_iconics/public/img/home/social-projects.png
  Web/starter_project_iconics/public/img/home/training.png
  Web/starter_project_iconics/types/home/service.ts
Labels: @team/web

fix(web:iconics): change key to id instead of title
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/data/home/service.ts
  Web/starter_project_iconics/types/home/service.ts
Labels: @team/web

fix(Yonas.implement-authenticaiton) fix rebase errors
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/20230504085906_test.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/20230504085906_test.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Models/BlogUser.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

move team type to folder
  Web/starter_project_barbies/components/team/TeamMemberCard.tsx
  Web/starter_project_barbies/types/team/team.ts
Labels: @team/web

feat(backend-zsilentcoders): Implement blog CRUD
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
Labels: @team/backend

untracked unwanted changes
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_button.dart
Labels: @team/mobile

Temporary Commit
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentByIdQueryHandlert.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(backend-dotnetforce7): implement tag entity crud with test
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockTagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/CreateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/DeleteTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/UpdateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
Labels: @team/backend

feat(Elsai.implement-tag-crud):implement tag crud and test
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockTagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/CreateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/DeleteTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/UpdateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Query/GetTagDetailQueryHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Query/GetTagListQueryHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/CreateTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/DeleteTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/UpdateTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/UpdateTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/CreateTagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/CreateTagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Tag.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/TagConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(web-iconics): Implement services section of homepage (#153)
  Web/starter_project_iconics/components/home/IndividualService.tsx
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/data/home/service.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/internships.png
  Web/starter_project_iconics/public/img/home/social-projects.png
  Web/starter_project_iconics/public/img/home/training.png
  Web/starter_project_iconics/types/home/service.ts
Labels: @team/web

fix(backend-zsilentcoders): add data change handle
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(backend-dotnetforce7): implement tag entity crud with test
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/CreateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
Labels: @team/backend

feat(backend-dotnetforce7): implement tag entity crud with test
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
Labels: @team/backend

feat(backend-dotnetforce7): implement tag entity crud with test
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
Labels: @team/backend

feat(dartsmith.Tamirat).implement update and post entity and usecase with test (#158)
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/update_article.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/entities/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/repositories/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
Labels: @team/mobile

feat(web-iconics): implement help us section of homepage
  Web/starter_project_iconics/components/home/HelpUs.tsx
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/help-us.png
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

feat(web-iconics): implement help us section of homepage (#156)
  Web/starter_project_iconics/components/home/HelpUs.tsx
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/help-us.png
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

untracked unwanted changes (#157)
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_button.dart
Labels: @team/mobile

fix implementation of landing section
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/tailwind.config.js
Labels: @team/web

fix file naming
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/public/img/landing-image.png
Labels: @team/web

fix implementation of landing section
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/tailwind.config.js
Labels: @team/web

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
