Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

Web barbies.kidus.footer final component (#284)
  Web/starter_project_barbies/components/layout/Footer.tsx
  Web/starter_project_barbies/components/layout/Navbar.tsx
  Web/starter_project_barbies/components/profile/ProfileInformation.tsx
  Web/starter_project_barbies/components/profile/ProfileNavbar.tsx
Labels: @team/web

resolve comments
  Web/starter_project_iconics/pages/blog/index.tsx
Labels: @team/web

add error component
  Web/starter_project_iconics/pages/blog/index.tsx
Labels: @team/web

rename folders from blog to blogs
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/data/blogs/blogs.json
  Web/starter_project_iconics/pages/api/blogs/index.ts
  Web/starter_project_iconics/pages/blogs/README.md
  Web/starter_project_iconics/pages/blogs/[id].tsx
  Web/starter_project_iconics/pages/blogs/add-blog.tsx
  Web/starter_project_iconics/pages/blogs/index.tsx
  Web/starter_project_iconics/public/img/blogs/dummy-author-img.png
  Web/starter_project_iconics/public/img/blogs/dummy-blog-img.png
  Web/starter_project_iconics/public/img/blogs/profile-img.jpg
  Web/starter_project_iconics/public/img/blogs/upload-img.png
  Web/starter_project_iconics/store/features/blogs/blog-api.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

rebase from main
  Web/starter_project_iconics/pages/api/blog/blog-api.ts
  Web/starter_project_iconics/types/blog.ts
Labels: @team/web

add cors config
  Web/starter_project_iconics/components/layout/Navbar.tsx
  Web/starter_project_iconics/pages/api/blog/blog-api.ts
  Web/starter_project_iconics/store/features/blog/blog-api.ts
Labels: @team/web

rename blog-api to index
  Web/starter_project_iconics/pages/api/blog/index.ts
  Web/starter_project_iconics/store/features/blog/blog-api.ts
Labels: @team/web

add error component
  Web/starter_project_iconics/pages/blog/index.tsx
Labels: @team/web

add error component
  Web/starter_project_iconics/pages/blog/index.tsx
Labels: @team/web

rebase from main
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/api/blog/blog-api.ts
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/store/features/api/blog-api.ts
Labels: @team/web

feat(rtk): implement rtk query
  Web/starter_project_iconics/pages/api/blog/blog-api.ts
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/store/features/blog/blog-api.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

rename blogapi to blogsapi
  Web/starter_project_iconics/pages/blogs/index.tsx
  Web/starter_project_iconics/store/features/blogs/blogs-api.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

create blog api
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/api/blog/blog-api.ts
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/store/features/api/blog-api.ts
  Web/starter_project_iconics/store/features/blog/blog-api.ts
Labels: @team/web

feat(iconics): fetch blog api (#215)
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/components/layout/Navbar.tsx
  Web/starter_project_iconics/data/blogs/blogs.json
  Web/starter_project_iconics/pages/api/blogs/index.ts
  Web/starter_project_iconics/pages/blogs/README.md
  Web/starter_project_iconics/pages/blogs/[id].tsx
  Web/starter_project_iconics/pages/blogs/add-blog.tsx
  Web/starter_project_iconics/pages/blogs/index.tsx
  Web/starter_project_iconics/public/img/blogs/dummy-author-img.png
  Web/starter_project_iconics/public/img/blogs/dummy-blog-img.png
  Web/starter_project_iconics/public/img/blogs/profile-img.jpg
  Web/starter_project_iconics/public/img/blogs/upload-img.png
  Web/starter_project_iconics/store/features/blogs/blogs-api.ts
  Web/starter_project_iconics/store/index.ts
  Web/starter_project_iconics/types/blog.ts
Labels: @team/web

fix conflict
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/db.json
  Web/starter_project_vanguard/data/profile/user-data.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/api/profile.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/store/index.ts
  Web/starter_project_vanguard/store/store.ts
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

implement fetching from json-server
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/data/db.json
  Web/starter_project_vanguard/store/features/teams/teams-api.ts
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

feat(web-iconics) implement state management for impact stories section of homepage
  Web/starter_project_iconics/components/home/ImpactStories.tsx
  Web/starter_project_iconics/pages/api/home/impact-stories/[id].ts
Labels: @team/web

feat(web:iconics) create the api endpoints for the impact-stories
  Web/starter_project_iconics/pages/api/home/impact-stories/[id].ts
Labels: @team/web

fix(web-iconics): reimplement isLoading, and error section of the impact stories section of the homepage
  Web/starter_project_iconics/components/home/ImpactStories.tsx
Labels: @team/web

update
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/RelatedBlog.tsx
  Web/starter_project_vanguard/data/blog/blogs.json
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/api/blogs.ts
  Web/starter_project_vanguard/pages/blog/[id].tsx
  Web/starter_project_vanguard/store/features/blog/single-blog-api.ts
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

update
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/pages/blog/[id].tsx
Labels: @team/web

update
  Web/starter_project_vanguard/components/blog/RelatedBlog.tsx
  Web/starter_project_vanguard/pages/blog/[id].tsx
Labels: @team/web

update
  Web/starter_project_vanguard/data/blog/blogs.json
  Web/starter_project_vanguard/next.config.js
Labels: @team/web

feat(web-iconics) implement state management for services section of homepage
  Web/starter_project_iconics/components/home/ImpactStories.tsx
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/pages/api/home/services/index.ts
  Web/starter_project_iconics/store/features/home/services/services-api.ts
  Web/starter_project_iconics/store/index.ts
  Web/starter_project_iconics/utils/random-range.ts
Labels: @team/web

remove unwanted imports
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/data/team-members.json
Labels: @team/web

feat(web-vanguard): Add state to single blog page (#273)
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/RelatedBlog.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/data/blog/blogs.json
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/next.config.js
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/api/blogs.ts
  Web/starter_project_vanguard/pages/blog/[id].tsx
  Web/starter_project_vanguard/store/features/blog/single-blog-api.ts
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

changes on article feature
  Mobile/starter_project_dark_knights/lib/article_injection_container.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

add rtk query for team members
  Web/starter_project_iconics/store/features/team-members/team-members-api.ts
Labels: @team/web

add rtk query for team members list
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/store/features/team-members/team-members-api.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

implement consuming bloc for post and get article
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/article_profile.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/lib/injection/article_injection.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/data/model/home_model_test.dart
Labels: @team/mobile

implement card items
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/data/about/about-card.json
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-1.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-2.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-3.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-4.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-5.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-1.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-2.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-3.png
  Web/starter_project_iconics/public/img/about/problem-section/africa-iconicon-1.png
  Web/starter_project_iconics/public/img/about/problem-section/amico-solve.png
  Web/starter_project_iconics/public/img/about/problem-section/code-iconicon-2.png
  Web/starter_project_iconics/public/img/about/session-section/amico-puzzle.png
  Web/starter_project_iconics/public/img/about/session-section/light-bulb-icon-3.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-4.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-5.png
  package-lock.json
Labels: repo, @team/web

First commit
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Drawing 2.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/amicopuzzle.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
Labels: @team/web

Implement about_us
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/amicopuzzle.png
  Web/starter_project_iconics/public/about/img/amicosolve.png
  Web/starter_project_iconics/public/about/img/icon tag (1).png
  Web/starter_project_iconics/public/about/img/icon tag (2).png
  Web/starter_project_iconics/public/about/img/icon tag (3).png
  Web/starter_project_iconics/public/about/img/icon tag (4).png
  Web/starter_project_iconics/public/about/img/icon tag (5).png
  Web/starter_project_iconics/public/about/img/icon tag.png
  Web/starter_project_iconics/public/about/img/info iconicon1.png
  Web/starter_project_iconics/public/about/img/info iconicon2.png
  Web/starter_project_iconics/public/about/img/info iconicon3.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

implenting about_us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
Labels: @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
Labels: @team/web

about_us_page
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/public/img/about/about-section/more-info.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-3.png
Labels: @team/web

fix undefined error
  Web/starter_project_iconics/types/blog.ts
Labels: @team/web

fix(matador.joshua): Correct the login datasource mock
  Mobile/starter_project_matador/lib/features/auth/data/datasources/login_remote_datasource.dart
Labels: @team/mobile

fix(matador.joshua): fix test files
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
