Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

(Mobile): Add landing page with widgets
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/features/landing_page/screen/landing_page.dart
  Mobile/mobile_assessement/lib/features/landing_page/widgets/background_color_image.dart
  Mobile/mobile_assessement/lib/features/landing_page/widgets/cloud_image.dart
  Mobile/mobile_assessement/lib/features/landing_page/widgets/custom_button.dart
  Mobile/mobile_assessement/lib/features/landing_page/widgets/description_text.dart
  Mobile/mobile_assessement/lib/features/landing_page/widgets/forecast_text.dart
  Mobile/mobile_assessement/lib/features/landing_page/widgets/weather_text.dart
Labels: @team/mobile

(Mobile): add home page
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/widgets/action_button.dart
Labels: @team/mobile

(Mobile): Add domain layer
  Mobile/mobile_assessement/lib/core/errors/failure.dart
  Mobile/mobile_assessement/lib/core/usecases/usecase.dart
  Mobile/mobile_assessement/lib/features/weatherify/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/entities/weather.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/repositories/weatherify_repository.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/usecases/search_city.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

(Mobile) Add data layer
  Mobile/mobile_assessement/lib/core/errors/exceptions.dart
  Mobile/mobile_assessement/lib/features/weatherify/data/datasources/weatherify_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weatherify/data/repositories/weather_repository_impl.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

implement fetch from json-server for home page
  Web/starter_project_vanguard/components/home/Activities.tsx
  Web/starter_project_vanguard/components/home/SuccessRate.tsx
  Web/starter_project_vanguard/data/db.json
  Web/starter_project_vanguard/data/home/activities.json
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

remove unwanted imports
  Web/starter_project_vanguard/components/home/Activities.tsx
  Web/starter_project_vanguard/components/home/SuccessRate.tsx
  Web/starter_project_vanguard/data/home/activities.json
Labels: @team/web

feat(backend-bruk): add domain entities
  Backend/backend_assessment/CineFlex/CineFlex.Domain/MovieBooking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
Labels: @team/backend

feat(samuel.domain): impliment domain layer
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seats.cs
Labels: @team/backend

install deps and data layer
  Web/web_assessment/hooks/common.ts
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/store/doctors/doctors-api.ts
  Web/web_assessment/store/store.ts
Labels: @team/web

feat(backend-bruk): skeleton for seats crud application layer
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatsByCinemaQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatsByCinemaQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/CreateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/ISeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/UpdateSeatDtoValidation.cs
Labels: @team/backend

feat(backend-assesment): imp domain layer
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Booking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Genre.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
Labels: @team/backend

feat(backend-biruk): add seat model and dtos
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateMovieCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteMovieCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/UpdateMovieCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateMovieCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteMovieCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetMovieDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetMovieListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/UpdateMovieCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetMovieDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetMovieListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/CreateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/ISeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/UpdateMovieDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContextFactory.cs
Labels: @team/backend

feat(Backend.mavericks): bootstrap authentication
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/identity/IAuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/ApplicationUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/AuthRequest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/AuthResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/JwtSettings.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationRequest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/ApplicationUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CineFlex.Domain.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.sln
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/CineFlexDbContext.cs
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/CineFlexDbContextFactory.cs
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/Configurations/RoleConfiguration.cs
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/Configurations/UserConfiguration.cs
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/Configurations/UserRoleConfiguration.cs
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/IdentityServiceRegistration.cs
  Backend/backend_assessment/CineFlex/src/CineFlex.Identity/Services/AuthService.cs
Labels: @team/backend

feat(backend-assesment): fix domain layer
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Movie.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/Entities/MovieConfiguration.cs
Labels: @team/backend

finish fetching doctors on home
  Web/web_assessment/components/common/Layout.tsx
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/api/hello.ts
  Web/web_assessment/pages/home/home-screen.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/doctors/doctors-api.ts
  Web/web_assessment/types/doctor.ts
Labels: @team/web

feat(backend-biruk): done with the application layer for seat
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetMovieDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetMovieListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/CreateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/ISeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/UpdateMovieDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
Labels: @team/backend

feat(backend-biruk): Add repository for the seat model
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(Backend-Yonas) implement Identity
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/AuthController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthenticationService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthorizationService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IUserService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/JwtSettings.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/LoginModel.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/LoginResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationModel.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/User.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Responses/BaseCommandResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CineFlex.Domain.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlexIdentityDbContext.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlexIdentityDbContextFactory.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/RoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/UserConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/UserRoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/IdentityServiceRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Models/CineFlexUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/AuthenticationService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/AuthorizeService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/UserService.cs
  Backend/backend_assessment/CineFlex/CineFlex.sln
Labels: @team/backend

weather functionality implementation
  Mobile/mobile_assessement/lib/core/error/exception.dart
  Mobile/mobile_assessement/lib/core/error/exceptions.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/shared_widgets/example_button.dart
  Mobile/mobile_assessement/lib/core/usecases/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/article_page_styles.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/core/utils/images.dart
  Mobile/mobile_assessement/lib/core/utils/style.dart
  Mobile/mobile_assessement/lib/core/utils/text_styles.dart
  Mobile/mobile_assessement/lib/core/utils/ui_converter.dart
  Mobile/mobile_assessement/lib/core/utils/util.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasources/local_datasources.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasources/remote_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/model/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/data/repository/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entity/weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repository/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usercase/weather_usecase.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/injection/article_injection.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
  Mobile/mobile_assessement/test/features/weather/data/model/weather_model_test.dart
  Mobile/mobile_assessement/test/features/weather/domain/repository/weather_repository_test.dart
  Mobile/mobile_assessement/test/features/weather/domain/repository/weather_repository_test.mocks.dart
  Mobile/mobile_assessement/test/features/weather/domain/usecase/weather_usecase_test.dart
  Mobile/mobile_assessement/test/features/weather/domain/usecase/weather_usecase_test.mocks.dart
Labels: @team/mobile

feat(backend-Dawit)Seat-Crud
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/GetSeatDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/GetSeatListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Queries/GetSeatDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Queries/GetSeatLIstQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTO/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTO/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTO/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTO/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTO/Validators/CreateSeatDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTO/Validators/ISeatDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTO/Validators/UpdateSeatDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(samuel.application): impliment application layer
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/Commands/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/Commands/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/Commands/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/Queries/GetSeatDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/Queries/GetSeatListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/CreateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/ISeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/UpdateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
Labels: @team/backend

fix(Backend-Yonas) fix-version-issues
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/CineFlex.Application.UnitTest.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CineFlex.Domain.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/AuthenticationService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlex.Persistence.csproj
Labels: @team/backend

feat(tigist-assessment): implement CRUD for seats
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/GetListSeatQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/GetSeatDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Queries/GetSeatDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Queries/GetSeatListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/Validators/CreateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/Validators/DeleteSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/Validators/ISeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/Validators/UpdateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CineFlex.Domain.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlex.Persistence.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/Entities/SeatConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feature(backend):implement seat crud
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetAllSeatsQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetAllSeatsQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/CreateSeatDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/UpdateSeatDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.identity/CineFlex.identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.identity/Class1.cs
Labels: @team/backend

feat(assessment.joshua): add splash screen UI
  Mobile/mobile_assessement/assets/fonts/MenuAltRight.ttf
  Mobile/mobile_assessement/assets/fonts/Poppins-Regular.ttf
  Mobile/mobile_assessement/assets/fonts/Poppins-SemiBold.ttf
  Mobile/mobile_assessement/assets/fonts/Urbanist-Bold.ttf
  Mobile/mobile_assessement/assets/fonts/Urbanist-Regular.ttf
  Mobile/mobile_assessement/assets/images/mostly_sunny.svg
  Mobile/mobile_assessement/assets/images/rainy_lightning.svg
  Mobile/mobile_assessement/assets/images/sunny.svg
  Mobile/mobile_assessement/lib/core/error/exception.dart
  Mobile/mobile_assessement/lib/core/error/exceptions.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/shared_widgets/article_button.dart
  Mobile/mobile_assessement/lib/core/usecases/usecases.dart
  Mobile/mobile_assessement/lib/core/utils/constants/global_variables.dart
  Mobile/mobile_assessement/lib/core/utils/converters/convert_to_font_size.dart
  Mobile/mobile_assessement/lib/core/utils/converters/real_pixel_to_logical_pixel.dart
  Mobile/mobile_assessement/lib/core/utils/util.dart
  Mobile/mobile_assessement/lib/example/data/datasources/example_datasource.dart
  Mobile/mobile_assessement/lib/example/data/models/example.dart
  Mobile/mobile_assessement/lib/example/data/repositories/example_repository_impl.dart
  Mobile/mobile_assessement/lib/example/domain/entities/example.dart
  Mobile/mobile_assessement/lib/example/domain/repositories/example_repository.dart
  Mobile/mobile_assessement/lib/example/domain/usecases/example_usecase.dart
  Mobile/mobile_assessement/lib/example/presentation/bloc/example_bloc.dart
  Mobile/mobile_assessement/lib/example/presentation/bloc/example_event.dart
  Mobile/mobile_assessement/lib/example/presentation/bloc/example_state.dart
  Mobile/mobile_assessement/lib/example/presentation/screen/splash_screen.dart
  Mobile/mobile_assessement/lib/example/presentation/screen/weather_city_list.dart
  Mobile/mobile_assessement/lib/example/presentation/screen/weather_detail_screen.dart
  Mobile/mobile_assessement/lib/example/presentation/widgets/example_widget.dart
  Mobile/mobile_assessement/lib/example/presentation/widgets/get_started_button.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

feat(backend-bruk): implement auth
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/AuthController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/CQRS/Commands/LoginUserCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/CQRS/Commands/RegisterUserCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/CQRS/Handlers/LoginUserCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/CQRS/Handlers/RegisterUserCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/DTOs/LoginResponseDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/DTOs/LoginUserDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/DTOs/RegisterUserDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/DTOs/UserDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/DTOs/Validators/LoginUserDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/DTOs/Validators/RegisterUserDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/AppUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CineFlex.Domain.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/CineFlex.Infrastructure.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/Identity/AuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/Identity/IJwtFactory.cs
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/Identity/JwtFactory.cs
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/Identity/JwtSettings.cs
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/InfrastructureServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlex.Persistence.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContext.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContextFactory.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/RoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/UserConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/UserRoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/CinemaRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/GenericRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/MovieRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.sln
Labels: @team/backend

feat(Mobile.assesment): Implemented domain layer
  Mobile/mobile_assessement/lib/core/errors/exceptions.dart
  Mobile/mobile_assessement/lib/core/errors/failures.dart
  Mobile/mobile_assessement/lib/core/use_cases/use_case.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/entity/weather_entity.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/repository/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weatherify/domain/use_case/weather_use_case.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

feat(tigist-assessment) add seat controller
  .gitignore
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContextFactory.cs
Labels: repo, @team/backend

feat(samuel.persistence): impliment persistence layer
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/CineFlex.Application.UnitTest.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CineFlex.Domain.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seats.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlex.Persistence.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/Entities/SeatConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(backend-biruk): Done with seat crud
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/ISeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/Entities/SeatConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
Labels: @team/backend

feat(samuel.api): impliment api layer
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
Labels: @team/backend

feat(samuel.api): remove relation
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatDto.cs
Labels: @team/backend

feat(tigist-assessment) add identity proj
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/DeleteSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/Validators/DeleteSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Class1.cs
  Backend/backend_assessment/CineFlex/CineFlex.sln
Labels: @team/backend

setup and fetching
  Web/web_assessment/components/Card.tsx
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/components/Navbar.tsx
  Web/web_assessment/components/Search.tsx
  Web/web_assessment/features/userSlice.ts
  Web/web_assessment/layout/index.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/favicon.ico
  Web/web_assessment/public/img/logo.png
  Web/web_assessment/public/img/user.png
  Web/web_assessment/public/next.svg
  Web/web_assessment/public/vercel.svg
  Web/web_assessment/store/index.ts
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/types/Doctor.ts
Labels: @team/web

(Mobile): Add weather bloc
  Mobile/mobile_assessement/lib/features/weatherify/presentation/bloc/weatherify_bloc.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/bloc/weatherify_event.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/bloc/weatherify_state.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

(Mobile): Add dependency Injection
  Mobile/mobile_assessement/lib/injection_container.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

feat(web-assessement): implement doctors search and filter ui
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/components/doctors/Search.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/components/layout/README.md
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/img/doctor.jpg
  Web/web_assessment/public/img/navigation/logo.png
  Web/web_assessment/public/img/navigation/user.png
  Web/web_assessment/store/index.ts
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/types/doctors/doctor.ts
Labels: @team/web

feat(backend-bruk): add entity relations
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CinemaEntity.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/MovieBooking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContext.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
Labels: @team/backend

integrate home screen
  Web/web_assessment/components/common/Layout.tsx
  Web/web_assessment/components/common/LoadingSpinner.tsx
  Web/web_assessment/components/common/Pagination.tsx
  Web/web_assessment/components/doctor/DoctorCard.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/home/home-screen.tsx
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/types/doctor.ts
Labels: @team/web

feat(mobile-duressaJemal): Implement domain and datalayer for weather feature
  Mobile/mobile_assessement/lib/core/error/exceptions.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/usecase/usecase.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasource/weather_remote_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/model/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entity/weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repositories/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/add_favorite_city.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_city_weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_favorite_cities.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/remove_favorite_city.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/bloc/weather_bloc_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/bloc/weather_bloc_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/bloc/weather_bloc_state.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/home.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/onboarding.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widget/waether_detail.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widget/weather_row.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
