Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

feat(backend-dawit)booking-and-seat-test
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/BookController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Services/UserService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mock/MockBookRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mock/MockUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handler/GetBookQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Query/GetBookQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Services/BookService.cs
Labels: @team/backend

feat(backend-Yeabsira) (Yeabsira Driba)
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/CineFlex.Application.UnitTest.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockSeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Command/CreateBlogCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Query/GetBlogDetailsQuery.cs
Labels: @team/backend

feat(backend-Yeabsira) (Yeabsira Driba)
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Command/CreateBlogCommandHandlerTest.cs
Labels: @team/backend

feat(Backend-Yonas) fiX-auth
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieBookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
Labels: @team/backend

feat(samuel.api): add missing
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/BookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/GetQueyListHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/UpdateBookCommandHandler.cs
Labels: @team/backend

feat(Yeabsira.Assessment) add authorization
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/CinemaController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
Labels: @team/backend

feat(tigist-assessment): add fixes
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/BookingController.cs
Labels: @team/backend

fix(Backend.mavericks): add sets
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
Labels: @team/backend

fix(backend.gadisa): fix testing errors
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seattest/Command/DeleteRateCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seattest/Command/UpdateRateCommandHandlerTest.cs
Labels: @team/backend

feat(samuel.api): add missing
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/BookingController.cs
Labels: @team/backend

implement weather app
  Mobile/mobile_assessement/assets/images/onboarding_photo_1.png
  Mobile/mobile_assessement/assets/images/weather.png
  Mobile/mobile_assessement/lib/core/error/exception.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/usecases/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/core/utils/images.dart
  Mobile/mobile_assessement/lib/core/utils/ui_converter.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasources/weather_remote_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repo_impl.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entities/weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repositories/weather_repo.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_fav_city.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/search.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/detail/city_detail.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/feed/home.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/get_start/wecome.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widget/get_start_button.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
  Mobile/mobile_assessement/test/features/weather/domain/repository/weather_repo_test.dart
  Mobile/mobile_assessement/test/features/weather/domain/usecases/weather_test.dart
Labels: @team/mobile

fix(backend-bereket): CineFlex CRUD with Authentication
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/BaseApiController.cs
Labels: @team/backend

feat(samuel.api): add missing
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
Labels: @team/backend

fix(backend-bereket): CineFlex CRUD with Authentication
  Backend/backend_assessment/CineFlex/CineFlex.API/DependecnyInjection.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Auth/CQRS/Handlers/CreateUserCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UserRepository.cs
Labels: @team/backend

feat(backend-birehan): update admin role authorization
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/CinemaController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Extensions/IdentityServiceExtension.cs
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/Security/IsAdminRequirement.cs
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/Security/IsTaskCreatorRequirement.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/UserConfiguration.cs
Labels: @team/backend

feat(backend): Implement the Api endpoint for the MovieBooking
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieBookingController.cs
Labels: @team/backend

weather app exercise
  Mobile/mobile_assessement/lib/core/usecases/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/ui_converter.dart
  Mobile/mobile_assessement/lib/features/feed/detail/data/datasources/home_detail_remote.dart
  Mobile/mobile_assessement/lib/features/feed/detail/data/model/home_detail.dart
  Mobile/mobile_assessement/lib/features/feed/detail/data/repository/homedetailrepo.dart
  Mobile/mobile_assessement/lib/features/feed/detail/domain/entity/detail.dart
  Mobile/mobile_assessement/lib/features/feed/detail/domain/repository/home_detail_repository.dart
  Mobile/mobile_assessement/lib/features/feed/detail/domain/usecase/home_detail_usecase.dart
  Mobile/mobile_assessement/lib/features/feed/detail/presentation/bloc/detail_bloc.dart
  Mobile/mobile_assessement/lib/features/feed/detail/presentation/bloc/detail_event.dart
  Mobile/mobile_assessement/lib/features/feed/detail/presentation/bloc/detail_state.dart
  Mobile/mobile_assessement/lib/features/feed/detail/presentation/screen/home_detail.dart
  Mobile/mobile_assessement/lib/features/feed/home/data/datasource/home_remote.dart
  Mobile/mobile_assessement/lib/features/feed/home/data/model/home.dart
  Mobile/mobile_assessement/lib/features/feed/home/data/repository/home_repository.dart
  Mobile/mobile_assessement/lib/features/feed/home/domain/entity/home.dart
  Mobile/mobile_assessement/lib/features/feed/home/domain/repository/home_repository.dart
  Mobile/mobile_assessement/lib/features/feed/home/domain/usecase/home_usecase.dart
  Mobile/mobile_assessement/lib/features/feed/home/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/features/feed/home/presentation/widgets/search_bar.dart
  Mobile/mobile_assessement/lib/features/onboarding/presentation/screen/onboarding.dart
  Mobile/mobile_assessement/test/features/feed/domain/usecase/home_usecase.dart
  Mobile/mobile_assessement/test/features/feed/domain/usecase/home_usecase.mocks.dart
Labels: @team/mobile

feat(backend-birehan): fixing errrors
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/CinemaController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Infrastructure/Security/IsAdminRequirement.cs
Labels: @team/backend

add dependency injection
  Mobile/mobile_assessement/lib/injection_container.dart
Labels: @team/mobile

feat(seid.assessment)weatherify_app
  Mobile/mobile_assessement/assets/logo.jpg
  Mobile/mobile_assessement/lib/core/error/exception.dart
  Mobile/mobile_assessement/lib/core/error/exceptions.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/shared_widgets/article_button.dart
  Mobile/mobile_assessement/lib/core/usecases/usecases.dart
  Mobile/mobile_assessement/lib/core/utils/constants/colors.dart
  Mobile/mobile_assessement/lib/core/utils/constants/global_variables.dart
  Mobile/mobile_assessement/lib/core/utils/constants/styles.dart
  Mobile/mobile_assessement/lib/core/utils/converters/convert_to_font_size.dart
  Mobile/mobile_assessement/lib/core/utils/converters/real_pixel_to_logical_pixel.dart
  Mobile/mobile_assessement/lib/core/utils/util.dart
  Mobile/mobile_assessement/lib/features/get_started/domain/repositories/example_repository.dart
  Mobile/mobile_assessement/lib/features/get_started/domain/usecases/example_usecase.dart
  Mobile/mobile_assessement/lib/features/get_started/presentation/screen/get_started_page.dart
  Mobile/mobile_assessement/lib/features/get_started/presentation/widgets/get_started_button.dart
  Mobile/mobile_assessement/lib/features/get_started/presentation/widgets/logo.dart
  Mobile/mobile_assessement/lib/features/get_started/presentation/widgets/texts_in_the_app.dart
  Mobile/mobile_assessement/lib/features/home/data/datasources/city_search_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/home/data/models/city_model.dart
  Mobile/mobile_assessement/lib/features/home/data/repositaries/city_search_repository_impl.dart
  Mobile/mobile_assessement/lib/features/home/domain/entities/city.dart
  Mobile/mobile_assessement/lib/features/home/domain/repositories/city_search_repository.dart
  Mobile/mobile_assessement/lib/features/home/domain/usecases/search_city.dart
  Mobile/mobile_assessement/lib/features/home/presentation/screen/home_screen.dart
  Mobile/mobile_assessement/lib/features/home/presentation/widgets/search_bar.dart
  Mobile/mobile_assessement/lib/features/home/presentation/widgets/text.dart
  Mobile/mobile_assessement/lib/features/weather_details/data/datasources/city_search_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weather_details/data/datasources/weather_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weather_details/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather_details/data/repositaries/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weather_details/domain/entities/weather.dart
  Mobile/mobile_assessement/lib/features/weather_details/domain/repositories/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather_details/domain/usecases/get_weather.dart
  Mobile/mobile_assessement/lib/main.dart
Labels: @team/mobile

feat(backend-birehan): fixing errors
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/CinemaController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/UserConfiguration.cs
Labels: @team/backend

add readme file
  Mobile/mobile_assessement/README.md
Labels: @team/mobile

implementing doctors and doctor profile page
  Web/web_assessment/components/DoctorCard.tsx
  Web/web_assessment/components/DoctorList.tsx
  Web/web_assessment/components/SearchBar.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/[id].tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/store/features/doctors/doctors-api.ts
  Web/web_assessment/store/index.ts
Labels: @team/web

implementing doctors and doctor profile page
  Web/web_assessment/store/features/doctors/doctors-api.ts
Labels: @team/web

feat(web): update footer
  Web/web_assessment/components/Footer.tsx
Labels: @team/web

final commit
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/detail.tsx
  Web/web_assessment/store/features/doctors/doctors-detail-api.ts
  Web/web_assessment/store/index.ts
Labels: @team/web

final commit
  Web/web_assessment/components/doctors/DoctorCard.tsx
Labels: @team/web

(Mobile-Dart-Knight): Finish implementing presentation layer
  Mobile/mobile_assessement/assets/background_photo.jpg
  Mobile/mobile_assessement/assets/cloud_image.png
  Mobile/mobile_assessement/lib/data/repositories/repository_impl.dart
  Mobile/mobile_assessement/lib/domain/repositories/repositories.dart
  Mobile/mobile_assessement/lib/domain/usecase/get_weather_by_city.dart
  Mobile/mobile_assessement/lib/injection.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/lib/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/presentation/screen/detail.dart
  Mobile/mobile_assessement/lib/presentation/screen/get_started.dart
  Mobile/mobile_assessement/lib/presentation/screen/home_page.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

doctorslist page
  Web/web_assessment/components/DoctorCard.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/layout/default.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/[id].tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/img/Group 8823.png
  Web/web_assessment/store/features/doctorsapi.ts
  Web/web_assessment/store/index.ts
Labels: @team/web

write tests
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/search_weather_page.dart
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
  Mobile/mobile_assessement/test/features/weather/data/datasources/weather_local_data_source_test.dart
  Mobile/mobile_assessement/test/features/weather/data/datasources/weather_remote_data_source_test.dart
  Mobile/mobile_assessement/test/features/weather/data/models/weather_model_test.dart
  Mobile/mobile_assessement/test/features/weather/data/repositories/weather_repository_impl_test.dart
  Mobile/mobile_assessement/test/features/weather/domain/usecase/search_weather_test.dart
  Mobile/mobile_assessement/test/widget_test.dart
Labels: @team/mobile

update unwanted code
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repository_impl.dart
Labels: @team/mobile

BrookW
  Web/web_assessment/components/home/CardItem.tsx
  Web/web_assessment/components/home/DoctorsCard.tsx
  Web/web_assessment/components/home/Footer.tsx
  Web/web_assessment/components/home/HomePage.tsx
  Web/web_assessment/components/home/NavBar.tsx
  Web/web_assessment/components/home/ProfilePage.tsx
  Web/web_assessment/data/card-data.json
  Web/web_assessment/data/profile-data.json
  Web/web_assessment/package-lock.json
  Web/web_assessment/pages/api/doctors.ts
  Web/web_assessment/pages/hakim.hub/index.tsx
  Web/web_assessment/public/profile/ellipse-5.png
  Web/web_assessment/public/profile/frame.png
  Web/web_assessment/public/profile/hakim-hub.png
  Web/web_assessment/public/profile/image-1.png
  package-lock.json
Labels: repo, @team/web

(Mobile): ADd bloc observer
  Mobile/mobile_assessement/lib/bloc_observer.dart
  Mobile/mobile_assessement/lib/main.dart
Labels: @team/mobile

Revert "Revert "feat(matador.joshua): add login bloc consumption (#262)""
  Mobile/starter_project_matador/lib/features/auth/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/auth/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/auth/data/repositories/login_user_repository_impl.dart
  Mobile/starter_project_matador/lib/features/auth/domain/repositories/login_repository.dart
  Mobile/starter_project_matador/lib/features/auth/domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_bloc.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_state.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/widgets/login/logo.dart
  Mobile/starter_project_matador/lib/injection/injection.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

Revert "feat(matador.joshua): add login bloc consumption (#262)"
  Mobile/starter_project_matador/lib/features/auth/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/auth/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/auth/data/repositories/login_user_repository_impl.dart
  Mobile/starter_project_matador/lib/features/auth/domain/repositories/login_repository.dart
  Mobile/starter_project_matador/lib/features/auth/domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_bloc.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_state.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/widgets/login/logo.dart
  Mobile/starter_project_matador/lib/injection/injection.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

Revert "feat(matador.joshua): add login bloc consumption (#262)"
  Mobile/starter_project_matador/lib/features/auth/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/auth/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/auth/data/repositories/login_user_repository_impl.dart
  Mobile/starter_project_matador/lib/features/auth/domain/repositories/login_repository.dart
  Mobile/starter_project_matador/lib/features/auth/domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_bloc.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_state.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/widgets/login/logo.dart
  Mobile/starter_project_matador/lib/injection/injection.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

make image contained
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/pages/doctors/[id]/index.tsx
Labels: @team/web

updated ui
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/screens/search_city.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/screens/weather.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/widgets/action_button.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/widgets/everyday.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/widgets/search_bar.dart
  Mobile/mobile_assessement/lib/main.dart
Labels: @team/mobile

setup search
  Web/web_assessment/pages/home/home-screen.tsx
Labels: @team/web

setup debounce input
  Web/web_assessment/pages/home/home-screen.tsx
Labels: @team/web
