Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

fix pagination
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

add more dependencies to useEffect
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

feat(backend-mavricks): Implement basic crud for comment (#175)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentByIdQueryHandlert.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentByIdQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Comment.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/CreateCommentCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/UpdateCommetCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockCommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateCommentCommandHandlerTests.cs
Labels: @team/backend

feat(backend-dotnetfroces7): Add new user in blog and link user with blog (#224)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

add user remote datasource test
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
Labels: @team/mobile

fix(web-iconics): change pagination props to reduce redundant calculations (#226)
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

feat(backend-dotnetforces7): add user blog relation
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Constants/CustomClaimTypes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
Labels: @team/backend

Yeabsira.exception handling (#204)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Middlewares/ExceptionMiddleware.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/Mail/EmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockEmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Services/EmailServiceTest.cs
Labels: @team/backend

add pagination to team members list
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/data/teams/team-members.json
Labels: @team/web

add teamMembers to useEffect dependency
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
Labels: @team/web

fix(mavericks-backend): remove migration files
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230501123711_initialMigration.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230501123711_initialMigration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230507211749_IdentityMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230507211749_IdentityMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073531_testUser.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073531_testUser.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073816_testIdentity.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073816_testIdentity.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/UserIdentityDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230507205607_MyNewMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230507205607_MyNewMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510072904_testDatabase.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510072904_testDatabase.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510073905_testBlogD.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510073905_testBlogD.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
Labels: @team/backend

fix(mavericks-backend): change exception type in sign up
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Exceptions/ServerErrorException.cs
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): Folder structure setup
  .gitignore
  Backend/.gitignore
Labels: repo, @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): Folder structure setup
  .gitignore
  Backend/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
Labels: repo, @team/backend

fix(backend-mavericks): use relative file paths
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignInHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignUpHandlerTests.cs
Labels: @team/backend

feature(backend-mavericks: application user model added
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/User.cs
Labels: @team/backend

feature(backend-mavericks: persistance layer for user
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): setup gitignore
  Backend/.gitignore
Labels: @team/backend

fix(backend-mavericks: Refactor the application user test
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Handlers/SigninHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockAuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignInHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignUpHandlerTests.cs
Labels: @team/backend

fix(backend-mavericks: Refactor the application user test
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockAuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/UserAuthTests.cs
Labels: @team/backend

feature(backend-mavericks): add validation
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/appsettings.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
Labels: @team/backend

fix(mavericks-backend): remove migration files
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230507211749_IdentityMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230507211749_IdentityMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073531_testUser.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073531_testUser.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073816_testIdentity.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073816_testIdentity.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/UserIdentityDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230507205607_MyNewMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230507205607_MyNewMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510072904_testDatabase.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510072904_testDatabase.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510073905_testBlogD.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510073905_testBlogD.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): Folder structure setup
  .gitignore
  Backend/.gitignore
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Program.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/appsettings.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogApp.Persistence.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230501123711_initialMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230501123711_initialMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogApp.Persistence.csproj
Labels: repo, @team/backend

feature(backend-mavericks): add validation
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/appsettings.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTO/Validators/SignInFormDtoValidators.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTO/Validators/SignUpFormValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): setup gitignore
  Backend/.gitignore
Labels: @team/backend

feature(backend-mavericks: test application user
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/appsettings.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073531_testUser.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073531_testUser.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073816_testIdentity.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073816_testIdentity.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510072904_testDatabase.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510072904_testDatabase.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510073905_testBlogD.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510073905_testBlogD.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockAuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/UserAuthTests.cs
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): setup gitignore
  Backend/.gitignore
Labels: @team/backend

feat(IL2023-26-Abel-Basic-CRUD-for-User-Authentication)implement user authentication
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Program.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/appsettings.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230507211749_IdentityMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230507211749_IdentityMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/UserIdentityDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogApp.Persistence.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230507205607_MyNewMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230507205607_MyNewMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
Labels: @team/backend

feature(backend-mavericks: User Authentication added
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
Labels: @team/backend

feature(backend-mavericks): update response format
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Handlers/SigninHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
Labels: @team/backend

fix(backend-mavericks): remove unnecessary comments:
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignInHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignUpHandlerTests.cs
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): setup git ignore
  .gitignore
Labels: repo

feat(Backend.DaniT-Folder-Structure-Setup): setup git ignore
  .gitignore
Labels: repo

fix(mavericks-backend): add server error exception and ignore migration files
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Exceptions/ServerErrorException.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Handlers/SignupHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
Labels: @team/backend

feature(backend-mavericks): update response format
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Commands/SigninCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Commands/SignupCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Handlers/SigninHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/CQRS/Handlers/SignupHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTO/SignupFormDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTO/Validators/SignInFormDtoValidators.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Authentication/DTO/Validators/SignUpFormValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Indices/DTOs/Validators/Create_IndexDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
Labels: @team/backend

fix(mavericks-backend): modify gitignore file
  Backend/.gitignore
Labels: @team/backend

fix(mavericks-backend): modify gitignore file
  Backend/.gitignore
Labels: @team/backend

fix(mavericks-backend): remove unnecessary comments
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/SignInHandlerTests.cs
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): setup git ignore
  .gitignore
Labels: repo

feature(backend-mavericks: test application user
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/appsettings.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073531_testUser.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073531_testUser.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073816_testIdentity.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Migrations/20230510073816_testIdentity.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Identity/Repositories/AuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510072904_testDatabase.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510072904_testDatabase.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510073905_testBlogD.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230510073905_testBlogD.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockAuthRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/User/UserAuthTests.cs
Labels: @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
