Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

fix tabs
  Web/starter_project_barbies/components/common/Pagination.tsx
Labels: @team/web

fix(Mobile-Dartknights): remove changes on local.properties file inside metador project
  Mobile/starter_project_matador/android/local.properties
Labels: @team/mobile

fix(Mobile-Dartknights): remove changes on local.properties file of metador project
  Mobile/starter_project_matador/android/local.properties
Labels: @team/mobile

Update local.properties
  Mobile/starter_project_matador/android/local.properties
Labels: @team/mobile

feat(web-barbies): Create pagination component (#17)
  Web/starter_project_barbies/components/common/Pagination.tsx
Labels: @team/web

implement post artcle ui
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/core/constants.dart
  Mobile/starter_project_dartsmiths/lib/features/example/presentation/screen/post_article_page.dart
Labels: @team/mobile

refactor code
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/blog/blog-detail.module.scss
Labels: @team/web

fix(mobile-matador): Fix home_page file structure
  Mobile/starter_project_matador/.dart_tool/package_config.json
  Mobile/starter_project_matador/lib/features/home_page/presentation/screen/home_page.dart
  Mobile/starter_project_matador/lib/features/home_page/presentation/widgets/appbar_title.dart
  Mobile/starter_project_matador/lib/features/home_page/presentation/widgets/menu_icon.dart
  Mobile/starter_project_matador/lib/features/home_page/presentation/widgets/profile_avatar.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

add(mobile-matador): Implement Homepage Appbarr
  .idea/.gitignore
  .idea/Internship-2023.iml
  .idea/modules.xml
  .idea/vcs.xml
  Mobile/starter_project_matador/.dart_tool/package_config.json
  Mobile/starter_project_matador/.dart_tool/package_config_subset
  Mobile/starter_project_matador/.dart_tool/version
  Mobile/starter_project_matador/.idea/libraries/Dart_SDK.xml
  Mobile/starter_project_matador/.idea/workspace.xml
  Mobile/starter_project_matador/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  Mobile/starter_project_matador/android/local.properties
  Mobile/starter_project_matador/android/matador_android.iml
  Mobile/starter_project_matador/assets/fonts/MenuAltRight.ttf
  Mobile/starter_project_matador/assets/images/profile_image.jpg
  Mobile/starter_project_matador/ios/Runner/GeneratedPluginRegistrant.m
  Mobile/starter_project_matador/lib/core/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/menu_alt_right_icon.dart
  Mobile/starter_project_matador/lib/core/utils/real_pixel_to_logical_pixel.dart
  Mobile/starter_project_matador/lib/features/example/presentation/screen/home_page.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/home_page/appbarr_title.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/home_page/menu_icon.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/home_page/profile_avatar.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/macos/Flutter/GeneratedPluginRegistrant.swift
  Mobile/starter_project_matador/matador.iml
  Mobile/starter_project_matador/pubspec.lock
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

define fonts in tailwind config
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
Labels: @team/web

delete blog detail css module
  Web/starter_project_barbies/styles/blog/blog-detail.module.scss
Labels: @team/web

feat(web-barbies): Create blog detail screen (#43)
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

[mobile] implement log in screen
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/.dart_tool/version
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_matador/.dart_tool/package_config.json
  Mobile/starter_project_matador/.dart_tool/package_config_subset
  Mobile/starter_project_matador/.dart_tool/version
  Mobile/starter_project_matador/android/local.properties
Labels: @team/mobile

implement success stories page
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/components/story/Stories.tsx
  Web/starter_project_iconics/components/story/TextSection.tsx
  Web/starter_project_iconics/package-lock.json
  Web/starter_project_iconics/pages/story/success-stories.tsx
  Web/starter_project_iconics/public/success-stories-images/Google.png
  Web/starter_project_iconics/public/success-stories-images/InstDeep.png
  Web/starter_project_iconics/public/success-stories-images/Palantir.png
  Web/starter_project_iconics/public/success-stories-images/biruk.png
  Web/starter_project_iconics/public/success-stories-images/databricks.png
  Web/starter_project_iconics/public/success-stories-images/linkedin.png
  Web/starter_project_iconics/public/success-stories-images/lydia.png
  Web/starter_project_iconics/public/success-stories-images/meta.png
  Web/starter_project_iconics/public/success-stories-images/yishak.png
  package-lock.json
  package.json
Labels: repo, @team/web

Implement Write article page
  Mobile/starter_project_matador/lib/features/example/presentation/screen/write_article_screen.dart
Labels: @team/mobile

implement success stories page
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/pages/story/success-stories.tsx
Labels: @team/web

feat(web-barbies) : Add select blog tag component (#36)
  Web/starter_project_barbies/components/blog/SelectBlogTag.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

feat(web-barbies) : Add blog card component (#13)
  Web/starter_project_barbies/components/blog/BlogCard.tsx
  Web/starter_project_barbies/components/blog/LikeButton.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

implement navbar (#12)
  Web/starter_project_vanguard/components/layout/navbar.tsx
  Web/starter_project_vanguard/layout/default.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/public/images/a2sv-logo.png
  Web/starter_project_vanguard/styles/globals.css
  Web/starter_project_vanguard/tailwind.config.js
  Web/starter_project_vanguard/types/nav.ts
Labels: @team/web

feat(web-iconics): update blogCard component
  Web/starter_project_iconics/components/common/blogCard.tsx
  Web/starter_project_iconics/components/profile/myblogs.tsx
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/data/blogs.ts
  Web/starter_project_iconics/data/user.ts
  Web/starter_project_iconics/package-lock.json
  Web/starter_project_iconics/package.json
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/public/blogImages/card1Photo.png
  Web/starter_project_iconics/public/blogImages/user1Photo.png
  Web/starter_project_iconics/store/mockData/data.tsx
  Web/starter_project_iconics/styles/blogCard.module.css
  Web/starter_project_iconics/types/blog.tsx
  Web/starter_project_iconics/types/user.tsx
Labels: @team/web

feat(web-barbies): Create pagination component (#17)
  Web/starter_project_barbies/components/common/Pagination.tsx
Labels: @team/web

feat(web-barbies): Create blog detail screen (#43)
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

fix(web-iconics): fix blogCard component
  Web/starter_project_iconics/components/profile/myblogs.tsx
Labels: @team/web

Revert "implement navbar (#12)"
  Web/starter_project_vanguard/components/layout/navbar.tsx
  Web/starter_project_vanguard/layout/default.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/public/images/a2sv-logo.png
  Web/starter_project_vanguard/styles/globals.css
  Web/starter_project_vanguard/tailwind.config.js
  Web/starter_project_vanguard/types/nav.ts
Labels: @team/web

Revert "feat(web-barbies): Create blog detail screen (#43)"
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

Revert "feat(web-barbies): Create pagination component (#17)"
  Web/starter_project_barbies/components/common/Pagination.tsx
Labels: @team/web

Revert "feat(web-barbies) : Add select blog tag component (#36)"
  Web/starter_project_barbies/components/blog/SelectBlogTag.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

implement blog card
  Web/starter_project_vanguard/components/blog/chip.tsx
  Web/starter_project_vanguard/components/blog/image.tsx
  Web/starter_project_vanguard/components/blog/profilepic.tsx
  Web/starter_project_vanguard/components/blog/tag.tsx
  Web/starter_project_vanguard/components/common/text.tsx
  Web/starter_project_vanguard/components/profile/avatar.tsx
  Web/starter_project_vanguard/components/profile/description.tsx
  Web/starter_project_vanguard/components/profile/name.tsx
  Web/starter_project_vanguard/components/profile/title.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/blog/blogs.tsx
  Web/starter_project_vanguard/tailwind.config.js
Labels: @team/web

Implement Write article page
  Mobile/starter_project_matador/lib/features/example/presentation/screen/write_article_screen.dart
Labels: @team/mobile

update blog-card page
  Web/starter_project_vanguard/components/blog/tag.tsx
  Web/starter_project_vanguard/components/profile/description.tsx
  Web/starter_project_vanguard/components/profile/title.tsx
  Web/starter_project_vanguard/pages/blog/blogs.tsx
Labels: @team/web

add home page
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/assets/backgrd.jpg
  Mobile/starter_project_dartsmiths/assets/bas.jpg
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Bold.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Light.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dartsmiths/assets/menu.svg
  Mobile/starter_project_dartsmiths/assets/pp.jpg
  Mobile/starter_project_dartsmiths/lib/features/example/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.lock
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

remove unused css classes
  Web/starter_project_barbies/components/team/team-member-card.tsx
Labels: @team/web

feat(web-barbies): Create blog detail screen (#43)
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

feat(web-barbies) : Add select blog tag component (#36)
  Web/starter_project_barbies/components/blog/SelectBlogTag.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

feat(web-barbies): Create pagination component (#17)
  Web/starter_project_barbies/components/common/Pagination.tsx
Labels: @team/web

feat(web-barbies): Create pagination component (#17)
  Web/starter_project_barbies/components/common/Pagination.tsx
Labels: @team/web

feat(web-barbies) : Add select blog tag component (#36)
  Web/starter_project_barbies/components/blog/SelectBlogTag.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

feat(web-barbies): Create blog detail screen (#43)
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

remove unused css classes
  Web/starter_project_barbies/components/team/team-member-card.tsx
Labels: @team/web

fix(web-vanguard): fix issues according to the comment received from previous pr
  Web/starter_project_vanguard/components/team/HeroSection.tsx
  Web/starter_project_vanguard/pages/index.tsx
Labels: @team/web

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
