Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

Feat(sosna.tag): implementing mediatR, CQRS, and validations
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/CreateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/DeleteTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/UpdateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/UpdateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/CreateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/UpdateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/CreateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

fix(backend-zsilentcoders): fix gitignore on main directory
  .gitignore
Labels: repo

Fix(sosna.tag): fix merge confilicts
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

feat(sosna.tag): Add domain, contarcts, and Dtos
  .gitignore
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Tag.cs
Labels: repo, @team/backend

feat(backend-zsilentcoders): implement basic CRUD for tags
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/CreateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/DeleteTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/UpdateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/UpdateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/DeleteTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/UpdateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/DeleteTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/TagConfigurations.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockTagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/CreateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/DeleteTagCommandHandlerTest.cs
Labels: @team/backend

Fix(sosna.tag): fixing the merge conflict
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

Fix(sosna.tag): fix merge confilicts
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

feat(backend-zsilentcoders): implement basic CRUD for tags (#190)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/CreateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/DeleteTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/UpdateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/UpdateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/CreateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/DeleteTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagDetailsDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/UpdateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/CreateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/DeleteTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Tag.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/TagConfigurations.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockTagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/CreateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/DeleteTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/UpdateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagListQueryTest.cs
Labels: @team/backend

inject html from json
  Web/starter_project_iconics/pages/blog/[id].tsx
Labels: @team/web

Aklile.merge blog type (#188)
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/data/blog/blog-detail.json
  Web/starter_project_iconics/data/blog/blog-tile.json
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/types/blog/blog-detail.tsx
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

fix(Samuel.Review): resolve conflict
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(Samuel.Samuel_Abatneh.Review): Define the Review entity.
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
Labels: @team/backend

feat(Samuel_Abatneh.review): add api layer
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
Labels: @team/backend

fix(Samuel.Review): Add fix to feature
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 2
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/ReviewIsApprovedDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/ReviewConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504103225_ReviewMigrate.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504103225_ReviewMigrate.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/ReviewRepository.cs
Labels: @team/backend

fix(Samuel.Review): complete controller
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
Labels: @team/backend

fix(Samuel_Abatneh.review): fix review repository issue
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/ReviewRepository.cs
Labels: @team/backend

feat(Samuel.Samuel_Abatneh.Review): Define the Review entity.
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
Labels: @team/backend

fix(Samuel.Review): second Conflict resolved
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/CreateReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/IReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/ReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/_Review.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/ReviewRepository.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 3
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/Validators/IReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewDetainQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewListQueryHandler.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/ReviewRepository.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/ReviewRepository.cs
Labels: @team/backend

fix(Samuel.Review): Add fix to feature
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
Labels: @team/backend

fix(Samuel.Review): complete controller
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
Labels: @team/backend

feature(Samuel.Review): add validator
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/IReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/Validators/CreateReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/Validators/DeleteReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/Validators/IReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/Validators/UpdateReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
Labels: @team/backend

fix(Samuel.Review): resolve conflict
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 5
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewDetainQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewListQueryHandlerTest.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 10
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 6
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
Labels: @team/backend

feat(Samuel.Samuel_Abatneh.Review): Define the Review entity.
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 9
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 7
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
Labels: @team/backend

feature(Samuel.Review): finish all tests
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/DTOs/Validators/UpdateIsResolvedValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewListQueryHandlerTest.cs
Labels: @team/backend

feat(Samuel.Samuel_Abatneh.Review): Define the Review entity.
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 11
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
Labels: @team/backend

fix(Samuel.Review): resolve conflict 16
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Review/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
Labels: @team/backend

fix(Samuel.Review): resolve conflict 12
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
Labels: @team/backend
