Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

feat(web-iconics): use tailwind configured text color
  Web/starter_project_iconics/components/profile/profileLayout.tsx
Labels: @team/web

feat(web-iconics): fix namings and vague points
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/profile/myBlogs.tsx
  Web/starter_project_iconics/components/profile/profileLayout.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/profile/blog.tsx
Labels: @team/web

feat(web-iconic): merge data type created earlier
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/profile/myBlogs.tsx
  Web/starter_project_iconics/data/profile/blogs.json
  Web/starter_project_iconics/types/blog/blog.tsx
  Web/starter_project_iconics/types/profile/blog.tsx
Labels: @team/web

feat(web-iconics): undo a commit
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconic): resolve inconsistent code style
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/profile/MyBlogsPage.tsx
  Web/starter_project_iconics/components/profile/ProfilePageLayout.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): removed unnecessary component and correct naming
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/components/profile/MyBlogsPage.tsx
  Web/starter_project_iconics/components/profile/ProfilePageLayout.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-blogs.tsx
Labels: @team/web

feat(web-iconics): update code because of update on type
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/profile/MyBlogsPage.tsx
  Web/starter_project_iconics/data/profile/blogs.json
Labels: @team/web

feat(web-iconics): remove files from folders
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/types/blog.tsx
  Web/starter_project_iconics/types/user.tsx
Labels: @team/web

feat(web-iconics): rename files to thier proper extension
  Web/starter_project_iconics/types/blog.ts
  Web/starter_project_iconics/types/user.ts
Labels: @team/web

feat(web-iconics): correct props naming
  Web/starter_project_iconics/components/blog/BlogCard.tsx
Labels: @team/web

feat(web-iconics): corrected data id
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/data/profile/personal-blogs.json
  Web/starter_project_iconics/data/profile/user-profile.json
Labels: @team/web

feat(web-iconics): remove inconsistent naming
  Web/starter_project_iconics/components/blog/BlogCard.tsx
Labels: @team/web

feat(web-iconics): fix
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
Labels: @team/web

feat(web-iconics): address comments
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): address comments
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): address comments
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

remove user datasource
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
Labels: @team/mobile

remove user datasource
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
Labels: @team/mobile

feat(web-iconics): rename files and lint
  Web/starter_project_iconics/pages/profile/index.tsx
Labels: @team/web

feat(web-iconics): add layout
  Web/starter_project_iconics/components/profile/MyPersonalInfo.tsx
  Web/starter_project_iconics/components/profile/ProfileLayout.tsx
  Web/starter_project_iconics/data/profile/user.json
  Web/starter_project_iconics/pages/profile/my-info.tsx
Labels: @team/web

feat(web-iconics): add personal info page component in profile
  Web/starter_project_iconics/components/profile/my-personal-info.tsx
  Web/starter_project_iconics/types/profile/user.tsx
Labels: @team/web

feat(web-iconics): update component
  Web/starter_project_iconics/components/profile/MyPersonalInfo.tsx
Labels: @team/web

feat(web-iconics): remove unnecessary component
  Web/starter_project_iconics/components/profile/MyPersonalInfo.tsx
  Web/starter_project_iconics/components/profile/ProfileLayout.tsx
  Web/starter_project_iconics/data/profile/user.json
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/pages/profile/my-info.tsx
Labels: @team/web

feat(matador.joshua): add login data source
  Mobile/starter_project_matador/lib/core/error/exception.dart
  Mobile/starter_project_matador/lib/features/login/data/datasources/login_local_datasource.dart
  Mobile/starter_project_matador/lib/features/login/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/login/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/login/data/network_info.dart
  Mobile/starter_project_matador/lib/features/login/data/repositories/login_user_repository_impl.dart
Labels: @team/mobile

[Mobile] home page data layer
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/features/home/data/datasource/home_remote.dart
  Mobile/starter_project_dartsmiths/lib/features/home/data/model/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/data/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/test/core/fixtures/home_data.json
  Mobile/starter_project_dartsmiths/test/core/utils/fixture_reader.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/model/home_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/repository/home_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/repository/home_repository_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.mocks.dart
Labels: @team/mobile

Domain layer model test updated
  Mobile/starter_project_dartsmiths/test/features/home/domain/model/home_model_test.dart
Labels: @team/mobile

implenting about_us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

First commit
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Drawing 2.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/amicopuzzle.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
Labels: @team/web

Implement about_us
  Web/starter_project_iconics/components/about/AboutSection.css
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.css
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.css
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.css
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.css
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/public/about/Drawing 1.jpg
  Web/starter_project_iconics/public/about/Ellipse-4.png
  Web/starter_project_iconics/public/about/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 1 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 2 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 3 (2).png
  Web/starter_project_iconics/public/about/img/Rectangle 4(2).png
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/about/img/amicopuzzle.png
  Web/starter_project_iconics/public/about/img/amicosolve.png
  Web/starter_project_iconics/public/about/img/icon tag (1).png
  Web/starter_project_iconics/public/about/img/icon tag (2).png
  Web/starter_project_iconics/public/about/img/icon tag (3).png
  Web/starter_project_iconics/public/about/img/icon tag (4).png
  Web/starter_project_iconics/public/about/img/icon tag (5).png
  Web/starter_project_iconics/public/about/img/icon tag.png
  Web/starter_project_iconics/public/about/img/info iconicon1.png
  Web/starter_project_iconics/public/about/img/info iconicon2.png
  Web/starter_project_iconics/public/about/img/info iconicon3.png
  Web/starter_project_iconics/styles/about/AboutSection.css
  Web/starter_project_iconics/styles/about/Card.css
  Web/starter_project_iconics/styles/about/ProblemSection.css
  Web/starter_project_iconics/styles/about/SessionSection.css
  Web/starter_project_iconics/styles/about/SocialProjectsSections.css
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

implement card items
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/Card.tsx
  Web/starter_project_iconics/components/about/CardItems.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/data/about/about-card.json
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
  Web/starter_project_iconics/public/about/img/Drawing 2.jpg
  Web/starter_project_iconics/public/about/img/Rectangle 5(2).png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-1.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-2.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-3.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-4.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag-5.png
  Web/starter_project_iconics/public/img/about/a2sv-program-icons/icon-tag.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-1.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-2.png
  Web/starter_project_iconics/public/img/about/about-section/rectangle-3.png
  Web/starter_project_iconics/public/img/about/problem-section/africa-iconicon-1.png
  Web/starter_project_iconics/public/img/about/problem-section/amico-solve.png
  Web/starter_project_iconics/public/img/about/problem-section/code-iconicon-2.png
  Web/starter_project_iconics/public/img/about/session-section/amico-puzzle.png
  Web/starter_project_iconics/public/img/about/session-section/light-bulb-icon-3.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-4.png
  Web/starter_project_iconics/public/img/about/socialproject-section/rectangle-5.png
  package-lock.json
Labels: repo, @team/web

implemnting about-us
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
  Web/starter_project_iconics/pages/about/about.tsx
  Web/starter_project_iconics/pages/about/index.tsx
Labels: @team/web

implenting about_us
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
  Web/starter_project_iconics/components/about/ProblemSection.tsx
  Web/starter_project_iconics/components/about/SessionSection.tsx
  Web/starter_project_iconics/components/about/SocialProjectsSections.tsx
Labels: @team/web

about-us_middle-section
  Web/starter_project_iconics/components/about/A2svSessionCardItem.tsx
  Web/starter_project_iconics/components/about/A2svSessionCards.tsx
  Web/starter_project_iconics/components/about/AboutSection.tsx
Labels: @team/web

[Mobilde] move home to feed
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/datasource/home_remote.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/model/home.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/model/home_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/repository/home_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/repository/home_repository_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/usecase/home_test.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/usecase/home_test.mocks.dart
Labels: @team/mobile

[Mobile] move model to data in test folder
  Mobile/starter_project_dartsmiths/test/features/feed/home/data/model/home_model_test.dart
Labels: @team/mobile

feat(backend-dotnetforces7): Link user with blog
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(backend-dotnetforces7): Link user with blog
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogUser.cs
Labels: @team/backend

feat(Yeabsira.Exception-Handling) add Handlers
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Middlewares/ExceptionMiddleware.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
Labels: @team/backend

feat(Yeabsira.Exception-Handling) add a test for email service
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/Mail/EmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockEmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Services/EmailServiceTest.cs
Labels: @team/backend

fix(Yeabsira.Exception-Handling) change password
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
Labels: @team/backend
