Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

feat(Surafel.Imp-CRUD-Seat)
  .gitignore
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IGenericRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSestCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatDetailQueryHandler .cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTO/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTO/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTO/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTO/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTO/Validators/CreateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTO/Validators/ISeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTO/Validators/UpdateSeatDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CinemaEntity.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlex.Persistence.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/SeatConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.sln
Labels: repo, @team/backend

fix add weather model to model folder
  Mobile/mobile_assessement/lib/data/model/weather.dart
Labels: @team/mobile

Feat(backend): add the seats domain
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatsController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatsRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/CreateSeatsCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/DeleteSeatsCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Commands/UpdateSeatsCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateSeatsCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSeatsCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetMovieListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatsDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/UpdateSeatsCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatsDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Queries/GetSeatsListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatsDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/DeleteSeatsDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/ISeatsDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatsDetailDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatsDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatsListDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/UpdateSeatsDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/CreateSeatsDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/ISeatsDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/Validators/UpdateSeatsDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Booking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatsRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

setup network layer for profile screen
  Web/web_assessment/components/doctor/DoctorCard.tsx
  Web/web_assessment/pages/home/home-screen.tsx
  Web/web_assessment/pages/profile/[id].tsx
  Web/web_assessment/store/doctors/doctors-api.ts
  Web/web_assessment/types/doctor.ts
Labels: @team/web

feat(backend): implement seat model
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CineFlex.Domain.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
Labels: @team/backend

feat(backend): Implement application layer for the seat model
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ICinemaRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IMovieRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/CQRS/Commands/SigninCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/CQRS/Commands/SignupCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/CQRS/Handlers/SigninHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/CQRS/Handlers/SignupHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/DTOs/SigninFormDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/DTOs/SigninResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/DTOs/SignupFormDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Authentication/DTOs/SignupResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/CreateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/DeleteSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Commands/UpdateSeatCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/GetSeatListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/GetSeatQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/ISeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/DTOs/UpdateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/Queries/GetSeatListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seat/Queries/GetSeatQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/JwtSettings.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
Labels: @team/backend

feat(backend): Implement Seat api endpoints
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
Labels: @team/backend

feat(backend): Implement User api endpoints
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/AuthController.cs
Labels: @team/backend

feat(backend): Implement persistence layer for the seat model
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlex.Persistence.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/CinemaRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/MovieRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

(Mobile-Dart-Knight): Implement domain layer
  Mobile/mobile_assessement/lib/data/datasources/remote_data_souce.dart
  Mobile/mobile_assessement/lib/data/model/weather_model.dart
  Mobile/mobile_assessement/lib/data/repositories/repository_impl.dart
  Mobile/mobile_assessement/lib/domain/entities/weather.dart
  Mobile/mobile_assessement/lib/domain/repositories/repositories.dart
  Mobile/mobile_assessement/lib/domain/usecase/get_weather_by_city.dart
  Mobile/mobile_assessement/lib/domain/usecase/save_favorite_city_use_case.dart
Labels: @team/mobile

feat(backend): add Identity project
  Backend/backend_assessment/CineFlex/CineFlex.sln
Labels: @team/backend

(Mobile-Dart-Knight): Implement errors and utils
  Mobile/mobile_assessement/lib/core/errors/exceptions.dart
  Mobile/mobile_assessement/lib/core/errors/failur.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/usecase/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
Labels: @team/mobile

feat(backend-bruk): implement seat crud
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/GetSeatsByCinemaQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContext.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

(Mobile): Add details page
  Mobile/mobile_assessement/assets/images/sun_image.png
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/details_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/widgets/action_button.dart
  Mobile/mobile_assessement/lib/main.dart
Labels: @team/mobile

(Mobile): Add weathere bloc
  Mobile/mobile_assessement/lib/features/weatherify/presentation/bloc/weatherify_bloc.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/features/weatherify/presentation/widgets/action_button.dart
Labels: @team/mobile

initial commit
  Web/web_assessment/components/Doctor.tsx
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/components/common/Layout.tsx
  Web/web_assessment/components/common/NavBar.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/favicon.ico
  Web/web_assessment/public/hakimhub-logo.svg
  Web/web_assessment/public/next.svg
  Web/web_assessment/public/profile.jpeg
  Web/web_assessment/public/vercel.svg
  Web/web_assessment/store/doctor/doctor-api.ts
  Web/web_assessment/store/hooks.ts
  Web/web_assessment/store/store.ts
Labels: @team/web

implement the app
  Mobile/mobile_assessement/assets/images/rainy_lightning_windy_sunny.png
  Mobile/mobile_assessement/lib/core/errors/exception.dart
  Mobile/mobile_assessement/lib/core/errors/exceptions.dart
  Mobile/mobile_assessement/lib/core/errors/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/shared_widgets/example_button.dart
  Mobile/mobile_assessement/lib/core/usecases/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/core/utils/converter.dart
  Mobile/mobile_assessement/lib/core/utils/images.dart
  Mobile/mobile_assessement/lib/core/utils/style.dart
  Mobile/mobile_assessement/lib/core/utils/text_style.dart
  Mobile/mobile_assessement/lib/core/utils/util.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/data/datasources/weather_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/data/models/weather_forcast_model.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/data/repositories/weather_reposiotry_implementation.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/domain/entities/weather.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/domain/entities/weather_forcast.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/domain/repositories/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/domain/usecases/get_current_weather.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/domain/usecases/get_weather_forcast.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/screens/search_city.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/screens/weather.dart
  Mobile/mobile_assessement/lib/injections.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/test/features/weather_forcast/data/datasources/weather_remote_data_source_test.dart
  Mobile/mobile_assessement/test/features/weather_forcast/data/datasources/weather_remote_data_source_test.mocks.dart
  Mobile/mobile_assessement/test/features/weather_forcast/data/repositories/weather_repository_implementation_test.dart
  Mobile/mobile_assessement/test/features/weather_forcast/data/repositories/weather_repository_implementation_test.mocks.dart
  Mobile/mobile_assessement/test/features/weather_forcast/domain/usecases/get_current_weather_test.dart
  Mobile/mobile_assessement/test/features/weather_forcast/domain/usecases/get_current_weather_test.mocks.dart
  Mobile/mobile_assessement/test/features/weather_forcast/domain/usecases/get_weather_forcast_test.dart
Labels: @team/mobile

update: make the weather model extend the weather Entity
  Mobile/mobile_assessement/lib/data/model/weather.dart
Labels: @team/mobile

add repository contaract on the domain layer
  Mobile/mobile_assessement/lib/domain/repositories/weather_repo.dart
Labels: @team/mobile

add weather entity
  Mobile/mobile_assessement/lib/domain/Entity/weather_entity.dart
Labels: @team/mobile

finish profile screen
  Web/web_assessment/pages/profile/[id].tsx
  Web/web_assessment/types/doctor.ts
Labels: @team/web

feat(mobile-duressaJemal): Add dependancy injection
  Mobile/mobile_assessement/lib/features/weather/data/datasource/weather_local_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repositories/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/add_favorite_city.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_city_weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_favorite_cities.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/remove_favorite_city.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/bloc/weather_bloc_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/bloc/weather_bloc_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/home.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
  Mobile/mobile_assessement/macos/Flutter/GeneratedPluginRegistrant.swift
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

pubspec
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

(Mobile): control flow
  Mobile/mobile_assessement/lib/features/weatherify/data/datasources/weatherify_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weatherify/data/models/weather_model.dart
Labels: @team/mobile

add redux toolkit support
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
Labels: @team/web

create doctor types
  Web/web_assessment/types/doctor.ts
Labels: @team/web

add doctors api
  Web/web_assessment/store/doctors/doctors-api.ts
Labels: @team/web

add doctor api to store
  Web/web_assessment/store/store.ts
Labels: @team/web

add images
  Web/web_assessment/public/image/doctors/avatar.svg
  Web/web_assessment/public/image/doctors/hackimhub.svg
Labels: @team/web

add navbar
  Web/web_assessment/components/common/NavBar.tsx
Labels: @team/web

add footer
  Web/web_assessment/components/common/Footer.tsx
Labels: @team/web

add layout element
  Web/web_assessment/components/common/Layout.tsx
Labels: @team/web

update _app to use layout and store
  Web/web_assessment/pages/_app.tsx
Labels: @team/web

add doctors card
  Web/web_assessment/components/doctors/DoctorCard.tsx
Labels: @team/web

feat(backend-biruk): Add user auth and half Booking func
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/AccountController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IAuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Identity/IUserService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Commands/BookMovieCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Handlers/BookMovieHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/DTOs/BookMovieDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/DTOs/Validators/BookMovieDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/AuthRequest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/AuthResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/JwtSettings.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationRequest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/RegistrationResponse.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Models/Identity/User.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Booking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlexIdentityDbContext.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlexIdentityDbContextFactory.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/RoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/UserConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Configurations/UserRoleConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/IdentityServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Models/ApplicationUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/AuthService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/Services/UserService.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/CineFlex.Seat.Test.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Class1.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/CreateBlogCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/DeleteBlogCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/UpdateBlogCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Query/GetBlogDetailsQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Query/GetBlogListQueryTest.cs
Labels: @team/backend

remove unnecessary global css
  Web/web_assessment/styles/globals.css
Labels: @team/web

add pagination component
  Web/web_assessment/components/doctors/Pagination.tsx
Labels: @team/web

add search bar component
  Web/web_assessment/components/doctors/SearchBar.tsx
Labels: @team/web

add doctor details page
  Web/web_assessment/pages/doctors/[doctorId].tsx
Labels: @team/web

bloc consuming
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/screens/search_city.dart
  Mobile/mobile_assessement/lib/features/weather_forcast/presentation/screens/weather.dart
Labels: @team/mobile
