Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

add user_profile
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/widgets/blue_card.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/widgets/post_display.dart
Labels: @team/mobile

(feat-Dartsmiths): add login page (#73)
  Mobile/starter_project_dartsmiths/assets/font/Poppins-Regular.ttf
  Mobile/starter_project_dartsmiths/assets/font/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dartsmiths/assets/images/a2sv_logo.jpg
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/images.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/screen/Login_page.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/custom_login_text.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

fix local properties in android folder
  Mobile/starter_project_dark_knights/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/.dart_tool/version
Labels: @team/mobile

implement post artcle ui
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/core/constants.dart
  Mobile/starter_project_dartsmiths/lib/features/example/presentation/screen/post_article_page.dart
Labels: @team/mobile

pushing changes from other team
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_matador/.dart_tool/package_config.json
  Mobile/starter_project_matador/.dart_tool/package_config_subset
  Mobile/starter_project_matador/android/local.properties
Labels: @team/mobile

fix changes
  Mobile/starter_project_dartsmiths/.gitignore
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_color.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_styles.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/datasources/example_datasource.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/models/example.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/repositories/example_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/example.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/example_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/example_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/example_event.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/example_state.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/example_widget.dart
Labels: @team/mobile

feat(Mobile.dartsmiths.zalbo): Implemented profile page (#20)
  Mobile/starter_project_dartsmiths/lib/core/utils/text_styles.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
Labels: @team/mobile

feat(Mobile-Matador): Implement Write article page (#48)
  Mobile/starter_project_matador/lib/core/shared_widgets/article_button.dart
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_datasource.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article.dart
  Mobile/starter_project_matador/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_event.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_state.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/content_widget.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/input_field.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/publish_button.dart
Labels: @team/mobile

pushing changes from other team
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_color.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
Labels: @team/mobile

implement post artcle ui
  Mobile/starter_project_dartsmiths/lib/core/constants.dart
  Mobile/starter_project_dartsmiths/lib/features/example/presentation/screen/post_article_page.dart
Labels: @team/mobile

add dart tool to git ignore and change folder
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screen/example_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screen/post_article_page.dart
Labels: @team/mobile

move constants and delete example file
  Mobile/starter_project_dartsmiths/lib/core/utils/constants.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screen/example_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screen/post_article_page.dart
Labels: @team/mobile

fix bugs
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screen/post_article_page.dart
Labels: @team/mobile

change reveiw
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_color.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/constants.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screen/post_article_page.dart
Labels: @team/mobile

feat(Mobile-Dart-Knights): add profile-page (#90)
  Mobile/starter_project_dark_knights/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/.dart_tool/version
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/widgets/blue_card.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/widgets/post_display.dart
Labels: @team/mobile

fix bugs
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
Labels: @team/mobile

add fonts
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Medium.ttf
Labels: @team/mobile

feat(mobile-dart_knight): Implement Article Reading Page
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/screen/Article_Reading_Page.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Author_Detail.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Author_Profile_Picture.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Like_Button.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Post.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/BookmarkIconButton.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Header.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Header_Icons.dart
Labels: @team/mobile

add header section of article reading page
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/post.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/user_info.dart
Labels: @team/mobile

add utils
  Mobile/starter_project_dark_knights/lib/core/utils/converter.dart
  Mobile/starter_project_dark_knights/lib/core/utils/images.dart
Labels: @team/mobile

add article reading page
  Mobile/starter_project_dark_knights/lib/features/example/presentation/screen/article_reading_page.dart
Labels: @team/mobile

add floating action button
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/floating_action_button.dart
Labels: @team/mobile

add change on pubspec.yaml
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

add images used
  Mobile/starter_project_dark_knights/assets/images/post_image.png
  Mobile/starter_project_dark_knights/assets/images/profile_image.png
Labels: @team/mobile

feat(mobile-dart_knight): Change pubspec.yaml
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

fix(mobile-dart_knight): Delete duplicated files
  Mobile/starter_project_dark_knights/lib/features/example/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/floating_action_button.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/post.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/user_info.dart
Labels: @team/mobile

feat(Mobile-Dart-Knights): add article reading page (#86)
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Medium.ttf
  Mobile/starter_project_dark_knights/assets/images/post_image.png
  Mobile/starter_project_dark_knights/assets/images/profile_image.png
  Mobile/starter_project_dark_knights/lib/core/utils/converter.dart
  Mobile/starter_project_dark_knights/lib/core/utils/images.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/screen/Article_Reading_Page.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Author_Detail.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Author_Profile_Picture.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Like_Button.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Post.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/BookmarkIconButton.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Header.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Header_Icons.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat(Backend.DaniT-Folder-Structure-Setup): setup gitignore
  Backend/.gitignore
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): setup git ignore
  .gitignore
Labels: repo

(mobile-Dartknights): fix merge conflict
  Mobile/starter_project_dark_knights/assets/images/a2sv.jpg
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/log_in_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

remove extra comments
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/log_in_screen.dart
Labels: @team/mobile

remove extra lines and change style
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/log_in_screen.dart
Labels: @team/mobile

[Mobile] update log in screen
  Mobile/starter_project_dark_knights/assets/images/a2sv.jpg
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/log_in_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

[Mobile] Fixed the show button on the UI for log in
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/images/a2sv.png
Labels: @team/mobile

[Mobile] Modulariz the log_in_screen
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/log_in_screen.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_button.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/text_style.dart
Labels: @team/mobile

[Mobile] Remove unnecessary comment
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/log_in_screen.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
Labels: @team/mobile

[Mobile-Dartknights]: remove darttools and android from remote branch
  Mobile/starter_project_dark_knights/lib/core/utils/text_style.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
Labels: @team/mobile

[Mobile] Give descriptive naming
  Mobile/starter_project_dark_knights/lib/core/utils/text_style.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/login_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

clean conflicts on dart tool and android
  Mobile/starter_project_dark_knights/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/.dart_tool/version
  Mobile/starter_project_dark_knights/android/local.properties
Labels: @team/mobile

add blue card color
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
