Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

(fix) login page and login card, create custom login text widget, add show functionality
  Mobile/starter_project_dartsmiths/assets/font/Poppins-Regular.ttf
  Mobile/starter_project_dartsmiths/assets/font/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/screen/Login_page.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/custom_login_text.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

update colors in login card and login page
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/screen/Login_page.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
Labels: @team/mobile

implement login card
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/screen/Login_page.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
Labels: @team/mobile

implement login_card
  Mobile/starter_project_dartsmiths/assets/images/a2sv_logo.jpg
  Mobile/starter_project_dartsmiths/lib/features/example/presentation/screen/Login_page.dart
  Mobile/starter_project_dartsmiths/lib/features/example/presentation/widgets/login_card.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

(fix) main.dart file changes reverted
  Mobile/starter_project_dartsmiths/lib/main.dart
Labels: @team/mobile

fix(Mobile-Dartknights): Update round border size into MediaQuery
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
Labels: @team/mobile

(Mobile-Dartknights): Add images and fonts to assets
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Light.ttf
Labels: @team/mobile

fix(Mobile-Dartknights): update height and width to MediaQuery
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/dot.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/separator.dart
Labels: @team/mobile

fix(Mobile-Dartknights): resolve PR reviews
  Mobile/starter_project_dark_knights/assets/images/onboarding_1.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_2.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_3.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_4.png
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/separator.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/stepper_dot.dart
Labels: @team/mobile

build write article page
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dark_knights/assets/fonts/OFL.txt
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Black.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-BlackItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-BoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-ExtraBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-ExtraBoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-ExtraLight.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-ExtraLightItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Italic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-LightItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-MediumItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-SemiBoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Thin.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-ThinItalic.ttf
  Mobile/starter_project_dark_knights/lib/features/write_article/data/datasources/example_datasource.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/data/models/example.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/data/repositories/example_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/entities/example.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/repositories/example_repository.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/usecases/example_usecase.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_event.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_state.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_subtitle.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_title.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/title_bar.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

Rename to write_article_page
  Mobile/starter_project_matador/lib/features/article/presentation/screen/write_article_page.dart
Labels: @team/mobile

implement post artcle ui
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/core/constants.dart
  Mobile/starter_project_dartsmiths/lib/features/example/presentation/screen/post_article_page.dart
Labels: @team/mobile

pushing changes from other team
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_matador/.dart_tool/package_config.json
  Mobile/starter_project_matador/.dart_tool/package_config_subset
  Mobile/starter_project_matador/android/local.properties
Labels: @team/mobile

Delete Backend/starter_project_mavericks/BlogApp/.vs/BlogApp directory
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/FileContentIndex/4556a266-a897-4308-8e1e-650108e672ad.vsidx
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/FileContentIndex/a7fd8ae0-8564-4704-9c6a-3ea9e7161a0e.vsidx
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/FileContentIndex/e4adcdbd-7f22-47af-b37b-56935d338300.vsidx
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/FileContentIndex/e859807a-f95a-4f84-b2ff-636bfaa5185f.vsidx
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/FileContentIndex/read.lock
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/config/applicationhost.config
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/v17/.suo
Labels: @team/backend

Delete Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj directory
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/BlogApp.API.csproj.nuget.dgspec.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/BlogApp.API.csproj.nuget.g.props
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/BlogApp.API.csproj.nuget.g.targets
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.AssemblyInfo.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.AssemblyInfoInputs.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.GlobalUsings.g.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.MvcApplicationPartsAssemblyInfo.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.MvcApplicationPartsAssemblyInfo.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.assets.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.csproj.AssemblyReference.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.csproj.BuildWithSkipAnalyzers
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.csproj.CopyComplete
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.csproj.CoreCompileInputs.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.csproj.FileListAbsolute.txt
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.genruntimeconfig.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.pdb
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/apphost.exe
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/ref/BlogApp.API.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/refint/BlogApp.API.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/staticwebassets.build.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/staticwebassets/msbuild.build.BlogApp.API.props
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.BlogApp.API.props
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.BlogApp.API.props
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/project.assets.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/project.nuget.cache
Labels: @team/backend

Delete Backend/starter_project_mavericks/BlogApp/BlogApp.Application/bin/Debug/net6.0 directory
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/bin/Debug/net6.0/BlogApp.Application.deps.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/bin/Debug/net6.0/BlogApp.Application.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/bin/Debug/net6.0/BlogApp.Application.pdb
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/bin/Debug/net6.0/BlogApp.Domain.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/bin/Debug/net6.0/BlogApp.Domain.pdb
Labels: @team/backend

Delete Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj directory
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/BlogApp.Application.csproj.nuget.dgspec.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/BlogApp.Application.csproj.nuget.g.props
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/BlogApp.Application.csproj.nuget.g.targets
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.AssemblyInfo.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.AssemblyInfoInputs.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.GlobalUsings.g.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.assets.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.csproj.AssemblyReference.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.csproj.CopyComplete
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.csproj.CoreCompileInputs.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.csproj.FileListAbsolute.txt
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.pdb
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/ref/BlogApp.Application.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/refint/BlogApp.Application.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/project.assets.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/project.nuget.cache
Labels: @team/backend

Delete Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/bin/Debug/net6.0 directory
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/bin/Debug/net6.0/BlogApp.Domain.deps.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/bin/Debug/net6.0/BlogApp.Domain.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/bin/Debug/net6.0/BlogApp.Domain.pdb
Labels: @team/backend

Delete Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj directory
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/BlogApp.Domain.csproj.nuget.dgspec.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/BlogApp.Domain.csproj.nuget.g.props
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/BlogApp.Domain.csproj.nuget.g.targets
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.AssemblyInfo.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.AssemblyInfoInputs.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.GlobalUsings.g.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.assets.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.csproj.AssemblyReference.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.csproj.CoreCompileInputs.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.csproj.FileListAbsolute.txt
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.pdb
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/ref/BlogApp.Domain.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/refint/BlogApp.Domain.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/project.assets.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/project.nuget.cache
Labels: @team/backend

Delete Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0 directory
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0/BlogApp.Application.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0/BlogApp.Application.pdb
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0/BlogApp.Domain.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0/BlogApp.Domain.pdb
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0/BlogApp.Persistence.deps.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0/BlogApp.Persistence.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0/BlogApp.Persistence.pdb
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/bin/Debug/net6.0/BlogApp.Persistence.runtimeconfig.json
Labels: @team/backend

Delete Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj directory
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/BlogApp.Persistence.csproj.nuget.dgspec.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/BlogApp.Persistence.csproj.nuget.g.props
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/BlogApp.Persistence.csproj.nuget.g.targets
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.AssemblyInfo.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.AssemblyInfoInputs.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.GlobalUsings.g.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.assets.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.csproj.AssemblyReference.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.csproj.BuildWithSkipAnalyzers
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.csproj.CopyComplete
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.csproj.CoreCompileInputs.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.csproj.FileListAbsolute.txt
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.genruntimeconfig.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.pdb
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/ref/BlogApp.Persistence.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/refint/BlogApp.Persistence.dll
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/project.assets.json
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/project.nuget.cache
Labels: @team/backend

fix changes
  Mobile/starter_project_dartsmiths/.gitignore
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_color.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_styles.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/datasources/example_datasource.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/models/example.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/repositories/example_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/example.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/example_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/example_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/example_event.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/example_state.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/example_widget.dart
Labels: @team/mobile

update login page a2sv logo
  Mobile/starter_project_dartsmiths/lib/core/utils/images.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/screen/Login_page.dart
Labels: @team/mobile

(Mobile-Dartknights): Implement the onboarding screen (#96)
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/images/onboarding_1.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_2.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_3.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_4.png
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/clipped_image.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/description_text.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/header_text.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/stepper_dot.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

delete unwanted folders
  Mobile/starter_project_dark_knights/lib/features/example/data/datasources/example_datasource.dart
  Mobile/starter_project_dark_knights/lib/features/example/data/models/example.dart
  Mobile/starter_project_dark_knights/lib/features/example/data/repositories/example_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/example/domain/entities/example.dart
  Mobile/starter_project_dark_knights/lib/features/example/domain/repositories/example_repository.dart
  Mobile/starter_project_dark_knights/lib/features/example/domain/usecases/example_usecase.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/bloc/example_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/bloc/example_event.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/bloc/example_state.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/screen/example_page.dart
  Mobile/starter_project_dark_knights/lib/features/example/presentation/widgets/example_widget.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/data/datasources/example_datasource.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/data/models/example.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/data/repositories/example_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/entities/example.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/repositories/example_repository.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/usecases/example_usecase.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_event.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_state.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_subtitle.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

Delete unwanted folders
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_subtitle.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_title.dart
Labels: @team/mobile

change error imports
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

delete unwanted folders
  Mobile/starter_project_dark_knights/lib/features/write_article/data/datasources/example_datasource.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/data/models/example.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/data/repositories/example_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/entities/example.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/repositories/example_repository.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/domain/usecases/example_usecase.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_event.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/bloc/example_state.dart
Labels: @team/mobile

update home page
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/profile.dart
Labels: @team/mobile

fix a conflict
  Web/starter_project_vanguard/data/layout/nav-items.ts
Labels: @team/web

match colors with core colors
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/title_bar.dart
Labels: @team/mobile

feat(Backend.DaniT-Folder-Structure-Setup): gitIgnore setup.
  Backend/.gitignore
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup) Added one blank sln to
  .gitignore
Labels: repo

feat(Backend.DaniT-Folder-Structure-Setup): Folder structure setup for team Maverick completed.
  .gitignore
Labels: repo

match colors with core colors
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_article_content.dart
Labels: @team/mobile

feat(Mobile.dartsmiths.jeal): Implemented home page (#104)
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Bold.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Light.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dartsmiths/assets/images/backgrd.jpg
  Mobile/starter_project_dartsmiths/assets/images/card_picture.jpg
  Mobile/starter_project_dartsmiths/assets/images/menu_bar.svg
  Mobile/starter_project_dartsmiths/assets/images/profile_picture.jpg
  Mobile/starter_project_dartsmiths/lib/core/utils/style.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/add_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/article_card.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/filter_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/profile.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/search_bar.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

refactor code formating
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/title_bar.dart
Labels: @team/mobile

gitignore setup
  Backend/.gitignore
Labels: @team/backend

fix bugs
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screen/post_article_page.dart
Labels: @team/mobile

onboarding page is done (#30)
  Mobile/starter_project_dartsmiths/assets/images/onboarding1.jpg
  Mobile/starter_project_dartsmiths/assets/images/onboarding2.jpg
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/on_boarding_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/article_content.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/next_pointer.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_lower_layout.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_upper_layout.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
