Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

feat(matador.joshua): Add auth domain (#159)
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/login/Domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/login/Domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

feat(mobile-dart_knights): implement article domain layer (#193)
  Mobile/starter_project_dark_knights/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/delete_article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_article_by_id.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_articles.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_articles_by_user_id.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/update_articles.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_user_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

Yared.hayat usecases for user profile (#196)
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/entities/user_entity.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/create_user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/delete_user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/edit_user_profile.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_all_users.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_following.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_followers.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/create_user_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/create_user_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/delete_user_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/edit_user_profile_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_all_users_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_followers_test.dart
  Mobile/starter_project_dark_knights/test/widget_test.dart
Labels: @team/mobile

feat(mobile-dart knight) implement user authentication (#199)
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/login_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_button.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/signup_form.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

feat(backend-mavericks): Implement basic CRUD and unit test for review (#177)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/ReviewsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetBlogReviewListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetUserReviewListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetBlogReviewListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetUserReviewListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/IReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Review.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/UpdateReviewCommandHandlerTest.cs
Labels: @team/backend

feat(Mobile-Dart_Knights): implement model and model test for article feature (#206)
  Mobile/starter_project_dark_knights/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dark_knights/test/features/article/data/models/article_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/article.json
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
Labels: @team/mobile

feat(backend-zsilentcoders): implement basic crud for blog rate (#162)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogRatesController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IBlogRateRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Commands/CreateBlogRateCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Commands/DeleteBlogRateCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Commands/UpdateBlogRateCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Handlers/CreateBlogRateCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Handlers/DeleteBlogRateCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Handlers/GetBlogRateListByBlogRequestHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Handlers/UpdateBlogRateCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Queries/GetBlogRateListByBlogRequest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/BlogRateDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/CreateBlogRateDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/DeleteBlogRateDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/IBlogRateDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/Validators/BlogRateDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/Validators/CreateBlogRateDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/Validators/DeleteBlogRateDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/Validators/IBlogRateDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Blog.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/BlogRate.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRateRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/CreateBlogRateCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/DeleteBlogRateCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/GetBlogRateListByBlogRequestHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockBlogRateRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

Aklile.merge blog type (#188)
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/data/blog/blog-detail.json
  Web/starter_project_iconics/data/blog/blog-tile.json
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/types/blog/blog-detail.tsx
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

feat(backend-dotnetforce7): Implement crud review (#161)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Query/GetReviewDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Query/GetReviewListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/IReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Rate.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Review.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/ReviewConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(Matador):Article-Domain (#183)
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.mocks.dart
Labels: @team/mobile

feat(backend-dotnetforce7) comment-crud (#165)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/CreateCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/DeleteCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/UpdateCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Query/GetCommentDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Query/GetCommentListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockCommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Comment.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/CommentConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

fix tag type error on article entity (#201)
  Mobile/starter_project_dark_knights/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_user_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

feat(backend-dotnetforce7): Implement user authentication and autherization (#150)
  Backend/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/UserController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Properties/launchSettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Constants/CustomClaimTypes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IUserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Exceptions/IdentityException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistraionRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/AuthServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Usings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/.DS_Store
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogIdentityDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

fix(mobile-matador): fix file structure and import issues for whole file (#192)
  Mobile/starter_project_matador/lib/core/errors/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/introduction.dart
  Mobile/starter_project_matador/lib/features/signup/domain/repositories/auth_repository.dart
  Mobile/starter_project_matador/lib/features/signup/domain/usecases/signup_user.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
Labels: @team/mobile

Kaleab.about-page (#38)
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/data/about/problem-items.json
  Web/starter_project_barbies/data/about/projects.json
  Web/starter_project_barbies/data/about/sessions.json
  Web/starter_project_barbies/data/about/solution-items.json
  Web/starter_project_barbies/pages/about/index.tsx
  Web/starter_project_barbies/public/img/about/hero/development-phase.png
  Web/starter_project_barbies/public/img/about/hero/education-process.png
  Web/starter_project_barbies/public/img/about/problems/africa.svg
  Web/starter_project_barbies/public/img/about/problems/amico-puzzle.png
  Web/starter_project_barbies/public/img/about/problems/amico-solve.png
  Web/starter_project_barbies/public/img/about/problems/code.svg
  Web/starter_project_barbies/public/img/about/problems/idea.svg
  Web/starter_project_barbies/public/img/about/projects/hakim-hub.png
  Web/starter_project_barbies/public/img/about/projects/track-sym.png
  Web/starter_project_barbies/public/img/about/sessions/biweekly.svg
  Web/starter_project_barbies/public/img/about/sessions/code.svg
  Web/starter_project_barbies/public/img/about/sessions/learning.svg
  Web/starter_project_barbies/public/img/about/sessions/question.svg
  Web/starter_project_barbies/public/img/about/sessions/rocket-launch.svg
  Web/starter_project_barbies/public/img/about/sessions/triangle.svg
  Web/starter_project_barbies/types/about.tsx
Labels: @team/web

setup json-server (#203)
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

Add data to the json-server
  Web/starter_project_barbies/db.json
Labels: @team/web

feat(Mobile-Dartknights): Implement the data layer for user profile (#228)
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/list_of_users.json
Labels: @team/mobile

feat(matador.joshua): add login data layer (#237)
  Mobile/starter_project_matador/lib/core/error/exception.dart
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/features/login/data/datasources/login_local_datasource.dart
  Mobile/starter_project_matador/lib/features/login/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/login/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/login/data/network_info.dart
  Mobile/starter_project_matador/lib/features/login/data/repositories/login_user_repository_impl.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.mocks.dart
Labels: @team/mobile

Update store
  Web/starter_project_barbies/store/store.ts
Labels: @team/web

Create story Folder
  Web/starter_project_barbies/store/story/companies-api.ts
  Web/starter_project_barbies/store/story/story-api.ts
Labels: @team/web

feat(backend-mavericks): Implement CRUD operation for "Tag" Feature (#181)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Tag.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockTagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/createTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/deleteTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

fix(web-iconics): change pagination props to reduce redundant calculations (#226)
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

Feruz.user profile data layer (#218)
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/network/network_info.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.mocks.dart
  Mobile/starter_project_dark_knights/test/fixtures/list_of_users.json
Labels: @team/mobile

add user remote data sources (#238)
  Mobile/starter_project_dark_knights/assets/icons/4squares.svg
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
Labels: @team/mobile

feat(backend-mavricks): Implement basic crud for comment (#175)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentByIdQueryHandlert.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentByIdQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Comment.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/CreateCommentCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/UpdateCommetCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockCommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateCommentCommandHandlerTests.cs
Labels: @team/backend

feat(mobile-dartknight)implement authentication model (#210)
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/models/authentication_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/authentication_valid.json
  Mobile/starter_project_dark_knights/test/fixtures/fixure_reader.dart
Labels: @team/mobile

feat(web-iconics): implement teams page (#127)
  Web/starter_project_iconics/components/teams/README.md
  Web/starter_project_iconics/components/teams/TeamMemberCard.tsx
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
  Web/starter_project_iconics/data/teams/team-members.json
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/public/img/teams/naty.png
  Web/starter_project_iconics/types/teams.ts
Labels: @team/web

feat(web-iconics): create blog card and one profile page (#59)
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/data/profile/personal-blogs.json
  Web/starter_project_iconics/data/profile/user-profile.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/blog.ts
  Web/starter_project_iconics/types/user.ts
Labels: @team/web

feat(backend-dotnetfroces7): Add new user in blog and link user with blog (#224)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

IMplement Partners-section using Redux
  Web/starter_project_barbies/components/story/Partners.tsx
Labels: @team/web

IMplement Success-Story using Redux
  Web/starter_project_barbies/components/story/SuccessStory.tsx
Labels: @team/web

feat(web): implement blogs page (#191)
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Search.tsx
  Web/starter_project_vanguard/components/common/Tags.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

Update Success-Story Card
  Web/starter_project_barbies/components/story/SuccessStoryCard.tsx
Labels: @team/web

feat(hiwot.dartsmiths): implement data layer for get_article (#220)
  Mobile/starter_project_dartsmiths/lib/core/error/exception.dart
  Mobile/starter_project_dartsmiths/lib/core/network/intwork_info.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/platform/network_info.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/models/article_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/fixtures/article.json
  Mobile/starter_project_dartsmiths/test/fixtures/fixture_readrer.dart
Labels: @team/mobile

Yeabsira.exception handling (#204)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Middlewares/ExceptionMiddleware.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/Mail/EmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockEmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Services/EmailServiceTest.cs
Labels: @team/backend

feat(backend-dotnetforces7): Add user blog relation (#232)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Constants/CustomClaimTypes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
Labels: @team/backend

Mobile.duressa jemal.user.data layer and bloc (#214)
  Mobile/starter_project_matador/lib/core/error/exceptions.dart
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/network/network_info.dart
  Mobile/starter_project_matador/lib/features/user/data/datasources/user_local_data_source.dart
  Mobile/starter_project_matador/lib/features/user/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/user/data/models/user_model.dart
  Mobile/starter_project_matador/lib/features/user/data/repositories/user_repository_imp.dart
  Mobile/starter_project_matador/lib/features/user/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/user/domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/add_user.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/delete_user_by_id.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/edit_user_by_id.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_bloc.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_event.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_state.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/user/data/models/user_model_test.dart
Labels: @team/mobile

Add Partners type
  Web/starter_project_barbies/types/story.ts
Labels: @team/web

implement data layer (#236)
  Mobile/starter_project_dark_knights/lib/core/errors/exception.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/datasources/article_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_local_data_resource_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_local_data_resource_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/data/repositories/article_repository_imple_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/repositories/article_repository_imple_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/article_cached.json
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
