Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

upgrade projects to .net 7
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogApp.Persistence.csproj
Labels: @team/backend

feat(mobile-dartsmith): implement login entity_login usecase (#117)
  Mobile/starter_project_dartsmiths/lib/core/errors/failures.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/entity/authentication_payload.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/repository/login_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/use_cases/login_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.mocks.dart
Labels: @team/mobile

fix(backend): update use pk to string
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230504123122_Change user pk to string.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230504123122_Change user pk to string.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.dgspec.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.props
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.targets
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.assets.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.nuget.cache
Labels: @team/backend

feat(backend): create identity tests solution
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTests.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/UnitTest1.cs
Labels: @team/backend

git(backend): remove git tracked obj directory
  Backend/starter_project_dotnetforce7/BlogApp2/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.dgspec.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.props
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.targets
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.AssemblyInfo.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.AssemblyInfoInputs.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.GlobalUsings.g.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.assets.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.csproj.AssemblyReference.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.assets.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.nuget.cache
Labels: @team/backend

fix(backend): rename identity tests to test
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTests.csproj
Labels: @team/backend

add user service tests
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/UnitTest1.cs
Labels: @team/backend

add home-page
  Web/starter_project_barbies/components/home/AcceptanceCard.tsx
  Web/starter_project_barbies/components/home/BuildBetter.tsx
  Web/starter_project_barbies/components/home/Hero.tsx
  Web/starter_project_barbies/components/home/ImpactStories.tsx
  Web/starter_project_barbies/components/home/ServiceCard.tsx
  Web/starter_project_barbies/components/home/SuccessRate.tsx
  Web/starter_project_barbies/components/home/SupportUs.tsx
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/public/data/home/acceptance-rate.json
  Web/starter_project_barbies/public/data/home/impact-stories.json
  Web/starter_project_barbies/public/data/home/service-description.json
  Web/starter_project_barbies/public/img/home/africa.png
  Web/starter_project_barbies/public/img/home/build-better.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-1.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-2.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-3.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-4.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-5.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-6.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-7.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-1.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-2.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-3.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-4.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-5.png
  Web/starter_project_barbies/public/img/home/success-description.png
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/home.ts
Labels: @team/web

merging signup and login page as authentication feature
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/signup_form.dart
Labels: @team/mobile

rename widget file
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/login_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_button.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_form.dart
Labels: @team/mobile

fix(backend-dotnetforce7): converted dotnet version back to 6.0
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.dgspec.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.props
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.targets
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.assets.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogApp.Persistence.csproj
Labels: @team/backend

fix(backend-dotnetforce7): deleted migration file
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230503195731_Initail migration.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230503195731_Initail migration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230504123122_Change user pk to string.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230504123122_Change user pk to string.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/BlogIdentityDbContextModelSnapshot.cs
Labels: @team/backend

fix(dotnetforce7): add roles field
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/dataSources.local.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/dataSources.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/dataSources/85e588e9-7b38-4caf-a849-5b5f1c37271e.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/indexLayout.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/projectSettingsUpdater.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/workspace.xml
Labels: @team/backend

fix(dotnetforce7): address review comments
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/encodings.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/vcs.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/workspace.xml
Labels: @team/backend

fix(dotnetforce7): git untrack .idea
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/dataSources.local.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/dataSources.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/dataSources/85e588e9-7b38-4caf-a849-5b5f1c37271e.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/encodings.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/indexLayout.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/projectSettingsUpdater.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/vcs.xml
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/workspace.xml
Labels: @team/backend

feat(dotnetforce7): add error handling middleware
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/workspace.xml
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Middlewares/ErrorHandlingMiddleware.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
Labels: @team/backend

fix(dotnetforce7): migrate to fluent validator for auth services
  Backend/starter_project_dotnetforce7/BlogApp2/.idea/.idea.BlogApp2/.idea/workspace.xml
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistraionRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/Validators/RegistrationRequestValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
Labels: @team/backend

solving conflict
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

update main.dart file
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

update the imported package on onbording page
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
Labels: @team/mobile

create add-new-blog
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/TagSelection.tsx
  Web/starter_project_vanguard/components/blog/TextEditor.tsx
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
Labels: @team/web

add new blog
  Web/starter_project_vanguard/api/blog/add-new-blog.ts
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/store/store.ts
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

merge with main
  Web/starter_project_vanguard/data/success-story.json
  Web/starter_project_vanguard/features/success-story/success-story-api-slice.ts
  Web/starter_project_vanguard/hooks/hooks.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/store/store.ts
Labels: @team/web

custom 404 page
  Web/starter_project_vanguard/features/success-story/success-story-api-slice.ts
  Web/starter_project_vanguard/pages/success-story/index.tsx
Labels: @team/web

remove some comment
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
Labels: @team/web

feat(matador.joshua): Add auth domain (#159)
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/login/Domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/login/Domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

feat(mobile-dart knight) implement user authentication (#199)
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/login_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_button.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/signup_form.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

merge with main and solve confilict
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/data/blogs.json
Labels: @team/web

fix tag type error on article entity
  Mobile/starter_project_dark_knights/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_user_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

fix(backend.dotnetforce7): fix mocking unitofwork save method
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockTagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
Labels: @team/backend

feat(backend-dotnetforce7): update Ratetest after Linking with blog
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/UpdateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/UpdateRateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/UpdateRateDtoValidator.cs
Labels: @team/backend

fix tag type error on article entity (#201)
  Mobile/starter_project_dark_knights/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_user_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

final commit
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/blog/Search.tsx
  Web/starter_project_vanguard/components/common/Avatar.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

fix some issues
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/blog/Search.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

implemnt usecases for Authentication feature
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Bold copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Regular copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Light copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/repositories/authentication_repository.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/login_usecase_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/login_usecase_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/signup_usecase_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/signup_usecase_test.mocks.dart
Labels: @team/mobile

fix minor issues
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Avatar.tsx
Labels: @team/web

final commit
  Web/starter_project_vanguard/package.json
Labels: @team/web

revert change on package-lock.json
  Web/starter_project_vanguard/package-lock.json
Labels: @team/web

return android file
  Mobile/starter_project_dark_knights/android/local.properties
Labels: @team/mobile

remove comment
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/login_usecase_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/signup_usecase_test.dart
Labels: @team/mobile
