Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

add pubspec.yaml
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

fix(mobile.matador.joshua): fix comments
  Mobile/starter_project_matador/assets/fonts/Poppins-SemiBold.ttf
  Mobile/starter_project_matador/assets/fonts/Urbanist-Bold.ttf
  Mobile/starter_project_matador/assets/images/A2SVBlue.png
  Mobile/starter_project_matador/lib/core/utils/constants/global_variables.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/constants/global_variables.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_line.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/welcome_back.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

fix(mobile:matador.joshua): fix UI comments
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/welcome_back.dart
Labels: @team/mobile

fix bugs
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_styles.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/chips_builder.dart
Labels: @team/mobile

feat(Backend.DaniT-Folder-Structure-Setup): setup git ignore
  .gitignore
Labels: repo

feat(Backend.DaniT-Folder-Structure-Setup): setup gitignore
  Backend/.gitignore
Labels: @team/backend

change widget name
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/article_page.dart
Labels: @team/mobile

add next image
  Web/starter_project_vanguard/components/blog/Blog.tsx
  Web/starter_project_vanguard/components/common/Avatar.tsx
  Web/starter_project_vanguard/next.config.js
  Web/starter_project_vanguard/pages/blog/blogs.tsx
  Web/starter_project_vanguard/public/images/samplepic.jpg
Labels: @team/web

fix review changes
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_styles.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/chips_builder.dart
Labels: @team/mobile

add full UI of write article page
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/title_bar.dart
Labels: @team/mobile

create custom textfield
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/custom_textfield.dart
Labels: @team/mobile

Change blog card with new JSON data
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/next.config.js
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/tsconfig.json
  Web/starter_project_vanguard/types/blogs.ts
Labels: @team/web

Update configuration to use network images
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/next.config.js
  Web/starter_project_vanguard/tsconfig.json
Labels: @team/web

Update Json and resolve conversation
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/tsconfig.json
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

Implement blog card (#95)
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/next.config.js
  Web/starter_project_vanguard/tsconfig.json
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

Segni.mobile responsive nav (#72)
  Web/starter_project_vanguard/components/layout/Navbar.tsx
  Web/starter_project_vanguard/components/layout/navbar.tsx
  Web/starter_project_vanguard/data/layout/nav-items.ts
  Web/starter_project_vanguard/layout/default.tsx
  Web/starter_project_vanguard/public/img/a2sv-logo.png
  Web/starter_project_vanguard/public/img/success-story/companies/databricks.png
  Web/starter_project_vanguard/public/img/success-story/companies/google.png
  Web/starter_project_vanguard/public/img/success-story/companies/insta-deep.png
  Web/starter_project_vanguard/public/img/success-story/companies/linkedin.png
  Web/starter_project_vanguard/public/img/success-story/companies/meta.png
  Web/starter_project_vanguard/public/img/success-story/companies/palantir.png
  Web/starter_project_vanguard/public/img/success-story/people/biruk.png
  Web/starter_project_vanguard/public/img/success-story/people/isaac.png
  Web/starter_project_vanguard/public/img/success-story/people/lydia.png
Labels: @team/web

fix success stories page
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/public/success-stories-images/databricks-logo.png
  Web/starter_project_iconics/public/success-stories-images/google-logo.png
  Web/starter_project_iconics/public/success-stories-images/inst-deep-logo.png
  Web/starter_project_iconics/public/success-stories-images/linkedin-logo.png
  Web/starter_project_iconics/public/success-stories-images/meta-logo.png
  Web/starter_project_iconics/public/success-stories-images/palantir-logo.png
Labels: @team/web

implement success stories page
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/components/story/Stories.tsx
  Web/starter_project_iconics/components/story/TextSection.tsx
  Web/starter_project_iconics/pages/story/success-stories.tsx
  Web/starter_project_iconics/public/success-stories-images/Google.png
  Web/starter_project_iconics/public/success-stories-images/InstDeep.png
  Web/starter_project_iconics/public/success-stories-images/Palantir.png
  Web/starter_project_iconics/public/success-stories-images/biruk.png
  Web/starter_project_iconics/public/success-stories-images/databricks.png
  Web/starter_project_iconics/public/success-stories-images/linkedin.png
  Web/starter_project_iconics/public/success-stories-images/lydia.png
  Web/starter_project_iconics/public/success-stories-images/meta.png
  Web/starter_project_iconics/public/success-stories-images/yishak.png
  package-lock.json
  package.json
Labels: repo, @team/web

fix success stories page
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/public/success-stories-images/inst-deep.png
Labels: @team/web

fix issues
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/data/story/success-stories.ts
  Web/starter_project_iconics/pages/story/success-stories.tsx
  Web/starter_project_iconics/public/img/success-stories-images/companies/databricks-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/google-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/inst-deep-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/linkedin-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/meta-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/palantir-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/databricks-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/google-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/inst-deep-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/linkedin-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/meta-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/palantir-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/people/biruk.png
  Web/starter_project_iconics/public/img/success-stories-images/people/lydia.png
  Web/starter_project_iconics/public/img/success-stories-images/people/yishak.png
Labels: @team/web

implement success stories page
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/pages/story/success-stories.tsx
Labels: @team/web

implement success stories page
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/pages/story/success-stories.tsx
Labels: @team/web

fix success stories page
  Web/starter_project_iconics/data/story/success-stories.ts
  Web/starter_project_iconics/pages/story/success-stories.tsx
Labels: @team/web

fix success stories page
  package-lock.json
  package.json
Labels: repo

remove space
  Web/starter_project_iconics/pages/story/success-stories.tsx
Labels: @team/web

fix success stories page
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/components/story/TextSection.tsx
  Web/starter_project_iconics/pages/story/success-stories.tsx
Labels: @team/web

fix vercel issue
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/components/story/Stories.tsx
  Web/starter_project_iconics/components/story/TextSection.tsx
  Web/starter_project_iconics/data/story/success-stories.ts
  Web/starter_project_iconics/pages/story/success-stories.tsx
  Web/starter_project_iconics/types/story/success-stories.tsx
Labels: @team/web

fix success stories page
  Web/starter_project_iconics/pages/story/success-stories.tsx
Labels: @team/web

remove comment
  Web/starter_project_iconics/pages/story/success-stories.tsx
Labels: @team/web

fix success stories page
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/components/story/TextSection.tsx
  Web/starter_project_iconics/data/story/success-stories.ts
  Web/starter_project_iconics/pages/story/success-stories.tsx
  Web/starter_project_iconics/public/img/success-stories-images/databricks-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/google-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/inst-deep-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/linkedin-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/meta-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/palantir-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/people/yisehak.png
  Web/starter_project_iconics/types/story/success-stories.tsx
Labels: @team/web

implement pagination
  Web/starter_project_vanguard/components/common/pagination.tsx
Labels: @team/web

made the items page responsive
  Web/starter_project_vanguard/components/common/Pagination.tsx
  Web/starter_project_vanguard/pages/teams/index.tsx
Labels: @team/web

make the pages functional
  Web/starter_project_vanguard/components/common/pagination.tsx
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/MemberCard.tsx
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/data/team-members.json
  Web/starter_project_vanguard/pages/teams/index.tsx
Labels: @team/web

fix conflicts
  Web/starter_project_vanguard/components/common/Pagination.tsx
  Web/starter_project_vanguard/pages/teams/index.tsx
Labels: @team/web

Clean-up files
  Web/starter_project_barbies/components/story/SuccessStoryCard.tsx
  Web/starter_project_barbies/components/successStory/Footer.jsx
  Web/starter_project_barbies/components/successStory/Partners.jsx
  Web/starter_project_barbies/components/successStory/SuccessStory.jsx
  Web/starter_project_barbies/components/successStory/SuccessStoryCard.jsx
  Web/starter_project_barbies/components/successStory/SuccessStoryDataSets.jsx
  Web/starter_project_barbies/components/successStory/Title.jsx
  Web/starter_project_barbies/pages/story/index.tsx
Labels: @team/web

index.tsx
  Web/starter_project_barbies/pages/index.tsx
Labels: @team/web

feat(web-barbies) : create Personal Information Component
  Web/starter_project_barbies/components/profile/ProfileInformation.tsx
  Web/starter_project_barbies/components/profile/ProfileNavbar.tsx
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/public/img/profile-information/profile-girl.png
Labels: @team/web

remove the comments from the PersonalInformation component
  Web/starter_project_barbies/components/profile/ProfileInformation.tsx
Labels: @team/web

create the search bar widget
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/searchbar_widget.dart
Labels: @team/mobile

implement the image displayed on the article
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/articleImage_widget.dart
Labels: @team/mobile
