Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

make minor changes header and footer
  Web/web_assessment/components/common/Header.tsx
  Web/web_assessment/components/common/Layout.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/pages/home/home-screen.tsx
  Web/web_assessment/pages/index.tsx
Labels: @team/web

clean up
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/components/doctors/DoctorDetail.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/public/images/Group 8823.png
  Web/web_assessment/types/doctor/doctor.ts
Labels: @team/web

update footer
  Web/web_assessment/components/DoctorsList.tsx
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/components/Header.tsx
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/tailwind.config.js
Labels: @team/web

add footer and testing
  Web/web_assessment/components/Doctor.tsx
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/cypress.json
  Web/web_assessment/cypress/integration/doctor.spec.ts
  Web/web_assessment/cypress/integration/doctors.spec.ts
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/index.tsx
Labels: @team/web

modify footer UI
  Web/web_assessment/components/common/Footer.tsx
Labels: @team/web

fix(web): update detail page
  Web/web_assessment/pages/details/[id].tsx
  Web/web_assessment/public/img/cover-image.svg
  Web/web_assessment/styles/globals.css
  Web/web_assessment/types/doctor-detail.ts
Labels: @team/web

add pagination
  Web/web_assessment/components/common/Pagination.tsx
  Web/web_assessment/components/doctors/DoctorsList.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Header.tsx
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/store/features/doctors/doctors-api.ts
Labels: @team/web

improve doctors-details ui
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Header.tsx
  Web/web_assessment/pages/doctor-details/[id].tsx
  Web/web_assessment/pages/doctors-list/index.tsx
Labels: @team/web

add max w
  Web/web_assessment/pages/_app.tsx
Labels: @team/web

implement search component
  Web/web_assessment/components/DoctorCard.tsx
  Web/web_assessment/components/DoctorList.tsx
  Web/web_assessment/components/SearchBar.tsx
  Web/web_assessment/pages/doctors/[id].tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/store/features/doctors/doctors-api.ts
Labels: @team/web

add border colors
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/pages/doctor-details/[id].tsx
Labels: @team/web

add pagination
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/store/doctors/doctors-api.ts
Labels: @team/web

fix pagination
  Web/web_assessment/components/doctors/DoctorsList.tsx
Labels: @team/web

modify detail page
  Web/web_assessment/components/common/pagination.tsx
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/layout/default.tsx
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/detail.tsx
  Web/web_assessment/pages/detail/[id].tsx
  Web/web_assessment/pages/doctor-detail.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/features/doctors/doctors-detail-api.ts
Labels: @team/web

modify footer UI
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/components/common/Layout.tsx
  Web/web_assessment/pages/index.tsx
Labels: @team/web

add blog detail, header and footer
  Web/web_assessment/components/common/Pagination.tsx
  Web/web_assessment/components/common/SearchForm.tsx
  Web/web_assessment/components/doctor/DoctorDetail.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/pages/[id].tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/doctor/doctors-api.ts
Labels: @team/web

add tailwind styles
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/pages/doctor-details/[id].tsx
  Web/web_assessment/pages/doctors-list/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/tailwind.config.js
Labels: @team/web

fix weather app and write tests
  Mobile/mobile_assessement/lib/features/weather/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entities/weather.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repositories/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_weather.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/home.dart
  Mobile/mobile_assessement/test/features/weather/data/datasources/weather_remote_data_source_test.dart
  Mobile/mobile_assessement/test/features/weather/data/models/weather_model_test.dart
  Mobile/mobile_assessement/test/features/weather/data/repositories/weather_repository_impl_test.dart
  Mobile/mobile_assessement/test/features/weather/domain/repositories/weather_repository_test.dart
  Mobile/mobile_assessement/test/features/weather/domain/usecases/get_weather_test.dart
Labels: @team/mobile

modify layout
  Web/web_assessment/components/common/Footer.tsx
Labels: @team/web

add header
  Web/web_assessment/components/Header.tsx
  Web/web_assessment/img/profile.png
  Web/web_assessment/pages/_app.tsx
Labels: @team/web

clean up
  Web/web_assessment/components/Navbar.tsx
  Web/web_assessment/components/doctors/DoctorDetail.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
Labels: @team/web

modify UI
  Web/web_assessment/components/common/Footer.tsx
Labels: @team/web

change style and refactor Home
  Web/web_assessment/components/Card.tsx
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/components/Search.tsx
  Web/web_assessment/features/userSlice.ts
  Web/web_assessment/pages/detail/[id].tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/index.ts
Labels: @team/web

done with implement ui
  Mobile/mobile_assessement/lib/features/weather/data/datasources/weather_detail_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/city_detail_screen.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/search_screen.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/splash_screen.dart
  Mobile/mobile_assessement/pubspec.lock
Labels: @team/mobile

implement doctors list and doctor details pages
  Web/web_assessment/components/doctors/DoctorDetails.tsx
  Web/web_assessment/components/doctors/DoctorsList.tsx
  Web/web_assessment/pages/api/doctors.ts
  Web/web_assessment/pages/doctors/doctor-details.tsx
  Web/web_assessment/pages/doctors/doctors-list.tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/store/features/doctors/doctor-api.ts
  Web/web_assessment/store/features/doctors/doctors-api.tsx
  Web/web_assessment/store/features/doctors/doctors-list.tsx
  Web/web_assessment/store/index.ts
  Web/web_assessment/types/doctors/doctors-list.tsx
Labels: @team/web

add footer and header in doctor detail
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/pages/[id].tsx
Labels: @team/web

modify detail page
  Web/web_assessment/components/doctors/DoctorList.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/index.tsx
Labels: @team/web

fix functionalities
  Web/web_assessment/components/DoctorList.tsx
  Web/web_assessment/pages/doctors/[id].tsx
Labels: @team/web

fix doctors profile page
  Web/web_assessment/pages/doctor/[id].tsx
  Web/web_assessment/pages/doctor/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/features/doctor/doctor-api.ts
Labels: @team/web

implement doctors list and doctor details pages
  Web/web_assessment/pages/doctors/index.tsx
Labels: @team/web

modify detail page
  Web/web_assessment/components/layout/Footer.tsx
Labels: @team/web

[Mobile] weather app bloc consumer not finished
  Mobile/mobile_assessement/lib/features/weather/data/datasources/remote_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/data/model/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/data/repository/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entity/weather.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/search_page.dart
Labels: @team/mobile

implement onboarding page
  Mobile/mobile_assessement/assets/images/Group.svg
  Mobile/mobile_assessement/lib/features/feed/detail/presentation/screen/home_detail.dart
  Mobile/mobile_assessement/lib/features/feed/home/data/repository/home_repository.dart
  Mobile/mobile_assessement/lib/features/feed/home/domain/repository/home_repository.dart
  Mobile/mobile_assessement/lib/features/feed/home/domain/usecase/home_usecase.dart
  Mobile/mobile_assessement/lib/features/onboarding/presentation/screen/onboarding.dart
  Mobile/mobile_assessement/lib/main.dart
Labels: @team/mobile

ddMerge branch 'gizaw.review-crud' of https://github.com/RealEskalate/Internship-2023 into gizaw.review-crud
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mocks/MockSeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Seat.cs
Labels: @team/backend

feat(Backend-dotnetforce7) : backend-assessment)
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MB.sln
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.API/Class1.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.API/MBApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Exceptions/BadRequestException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Exceptions/IdentityException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Exceptions/NotFoundException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Exceptions/ValidationException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Common/BaseDTO.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Commands/CreateSeatCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Commands/DeleteSeatCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Commands/UpdateSeatCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Handlers/CreateSeatCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Handlers/GetSeatDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Handlers/GetSeatListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Handlers/UpdateSeatCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/CQRS/Queries/GetSeatDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/DTOs/CreateSeatDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/DTOs/ISeatDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/DTOs/SeatDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/DTOs/UpdateSeatDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/DTOs/Validators/CreateSeatDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/DTOs/Validators/ISeatDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Features/Seats/DTOs/Validators/UpdateSeatDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/MBApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Responses/BaseCommandResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Application/Responses/Result.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Domain/Cinema.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Domain/Common/BaseEntity.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Domain/MBApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Domain/Movie.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Domain/MovieBooking.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Domain/Seat.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Persistence/Class1.cs
  Backend/starter_project_dotnetforce7/BlogApp2/Movie-booking/MBApp.Persistence/MBApp.Persistence.csproj
Labels: @team/backend

decorate the ui
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repo_impl.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/detail/city_detail.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/feed/home.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screens/get_start/wecome.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
  Mobile/mobile_assessement/test/features/weather/domain/usecases/weather_test.dart
Labels: @team/mobile

feat(mobile-duressaJemal): Update UI and bloc consumption
  Mobile/mobile_assessement/assets/images/Group.png
  Mobile/mobile_assessement/lib/features/weather/data/model/weather_model.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entity/weather.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/bloc/weather_bloc_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/home.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/onboarding.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widget/weather_detail.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/widget/weather_row.dart
  Mobile/mobile_assessement/lib/injection/injection.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

assessment(joshua.weather): add corrections
  Mobile/mobile_assessement/lib/features/city/data/datasources/city_remote_datasources.dart
  Mobile/mobile_assessement/lib/features/city/data/datasources/example_datasource.dart
  Mobile/mobile_assessement/lib/features/city/data/models/city_model.dart
  Mobile/mobile_assessement/lib/features/city/data/models/city_weather_model.dart
  Mobile/mobile_assessement/lib/features/city/data/models/weather_model.dart
  Mobile/mobile_assessement/lib/features/city/data/repositories/city_repository_impl.dart
  Mobile/mobile_assessement/lib/features/city/data/repositories/example_repository_impl.dart
  Mobile/mobile_assessement/lib/features/city/domain/entities/city.dart
  Mobile/mobile_assessement/lib/features/city/domain/entities/city_entity.dart
  Mobile/mobile_assessement/lib/features/city/domain/entities/favourites.dart
  Mobile/mobile_assessement/lib/features/city/domain/entities/weather_entity.dart
  Mobile/mobile_assessement/lib/features/city/domain/repositories/city_list_repository.dart
  Mobile/mobile_assessement/lib/features/city/domain/repositories/city_repository.dart
  Mobile/mobile_assessement/lib/features/city/domain/repositories/example_repository.dart
  Mobile/mobile_assessement/lib/features/city/domain/repositories/get_city_weather.dart
  Mobile/mobile_assessement/lib/features/city/domain/usecases/city_usecase.dart
  Mobile/mobile_assessement/lib/features/city/domain/usecases/example_usecase.dart
  Mobile/mobile_assessement/lib/features/city/domain/usecases/get_city_weather_usecase.dart
  Mobile/mobile_assessement/lib/features/city/injectory.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/city_bloc.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/city_event.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/city_state.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/favourites/favourite_bloc.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/favourites/favourite_event.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/favourites/favourite_state.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/search/seach_bloc.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/search/search_event.dart
  Mobile/mobile_assessement/lib/features/city/presentation/bloc/search/search_state.dart
  Mobile/mobile_assessement/lib/features/city/presentation/screen/search_page.dart
  Mobile/mobile_assessement/lib/features/city/presentation/screen/weather_city_list.dart
  Mobile/mobile_assessement/lib/features/city/presentation/screen/weather_detail_screen.dart
  Mobile/mobile_assessement/lib/features/city/presentation/widgets/example_widget.dart
  Mobile/mobile_assessement/lib/features/city/presentation/widgets/get_started_button.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/macos/Flutter/GeneratedPluginRegistrant.swift
Labels: @team/mobile

delete connection checker
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/features/data/data_source/city_weather_remote_datasource.dart
  Mobile/mobile_assessement/lib/features/data/model/city_weather_model.dart
  Mobile/mobile_assessement/lib/features/data/repository/city_weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/presentation/bloc/city_weather_event.dart
  Mobile/mobile_assessement/lib/features/presentation/screen/detail_page.dart
  Mobile/mobile_assessement/lib/features/presentation/screen/home_page.dart
  Mobile/mobile_assessement/lib/features/presentation/screen/spilash_page.dart
  Mobile/mobile_assessement/lib/injection.dart
  Mobile/mobile_assessement/lib/main.dart
Labels: @team/mobile

add splash screen
  Mobile/mobile_assessement/lib/presentation/screens/home_page.dart
  Mobile/mobile_assessement/lib/presentation/screens/search_page.dart
  Mobile/mobile_assessement/lib/presentation/screens/weather_detail_page.dart
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
