Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

feat(backend-bruk): implement movie booking
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieBookingController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/CineFlex.Application.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IMovieBookingRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/ISeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Commands/CreateMovieBookingCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/CQRS/Handlers/CreateMovieBookingCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/DTOs/CreateMovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/DTOs/MovieBookingDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/MovieBooking/DTOs/Validators/CreateMovieBookingDtoValidation.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Profiles/MappingProfile.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Movie.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/MovieBooking.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/PersistenceServicesRegistration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/MovieBookingRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/SeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(Backend.mavericks): add exception middleware
  Backend/backend_assessment/CineFlex/CineFlex.API/Authorizations/Handlers/BookOwnerHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Authorizations/Requirements/BookOwnerRequirement.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/BooksController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/SeatsController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Middlewares/ExceptionMiddleware.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/GetBookDetailQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handlers/GetBookListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Queries/GetBookDetailQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Queries/GetBookListQuery.cs
Labels: @team/backend

add list page and detail page
  Web/web_assessment/components/DoctorCard.tsx
  Web/web_assessment/components/DoctorsList.tsx
  Web/web_assessment/components/DoctorsSearch.tsx
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/hooks/common.ts
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctordetail/[id].tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/hakim-list/hakim-list-api.ts
  Web/web_assessment/store/store.ts
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/type/hakim.ts
Labels: @team/web

fix(web): add blog card
  Web/web_assessment/components/DoctorCard.tsx
Labels: @team/web

fix(web): add doctor list
  Web/web_assessment/components/DoctorList.tsx
Labels: @team/web

implment most features
  Web/web_assessment/components/common/Error.tsx
  Web/web_assessment/components/common/Search.tsx
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/components/doctors/DoctorsList.tsx
  Web/web_assessment/components/doctors/SpecialityTag.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Header.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/[id]/index.tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/hakimhub.png
  Web/web_assessment/public/profile/user.png
  Web/web_assessment/store/features/doctors/doctors-api.ts
  Web/web_assessment/store/index.ts
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/types/doctors.ts
Labels: @team/web

fix(web): header and footer
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/components/Navbar.tsx
Labels: @team/web

feat(web): state management
  Web/web_assessment/store/hackimhub-api.ts
  Web/web_assessment/store/index.ts
Labels: @team/web

feat(web): add navigation to detail page
  Web/web_assessment/layout/default.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/details/[id].tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/img/avatar.svg
  Web/web_assessment/public/img/hackimhub.svg
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/types/doctor-detail.ts
  Web/web_assessment/types/footer-navigation.ts
  Web/web_assessment/types/institution.ts
  Web/web_assessment/types/nav.ts
  Web/web_assessment/types/speciality.ts
Labels: @team/web

fix issue
  Web/web_assessment/components/doctors/DoctorCard.tsx
Labels: @team/web

feat(web-blen): add details feature
  Web/web_assessment/components/home/DoctorDetail.tsx
  Web/web_assessment/components/home/DoctorLists.tsx
  Web/web_assessment/data/doctor/doctors.json
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/doctor-slices.ts
  Web/web_assessment/store/index.ts
  Web/web_assessment/types/doctor.ts
Labels: @team/web

add test for hakim-api
  Web/web_assessment/pages/doctordetail/[id].tsx
  Web/web_assessment/test/hakim-api-test.py
Labels: @team/web

first commit
  Web/web_assessment/components/Footer.tsx
  Web/web_assessment/components/Navbar.tsx
  Web/web_assessment/components/doctors/DoctorDetail.tsx
  Web/web_assessment/components/doctors/DoctorItem.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
  Web/web_assessment/hooks/hooks.ts
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/_document.tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/pages/doctors/profile.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/images/Ellipse 26.png
  Web/web_assessment/public/images/Frame 102.png
  Web/web_assessment/public/images/coolicon (1).png
  Web/web_assessment/public/images/coolicon (2).png
  Web/web_assessment/public/images/coolicon.png
  Web/web_assessment/public/images/frame.png
  Web/web_assessment/store/features/doctors/doctor-api.ts
  Web/web_assessment/store/index.ts
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/types/doctor/doctor.ts
Labels: @team/web

minor changes
  Web/web_assessment/pages/profile/[id].tsx
  Web/web_assessment/store/doctors/doctors-api.ts
Labels: @team/web

Add components
  Web/web_assessment/components/DoctorsCard.tsx
  Web/web_assessment/components/DoctorsDetailPage.tsx
  Web/web_assessment/components/DoctorsList.tsx
  Web/web_assessment/components/SearchDoctor.ts
  Web/web_assessment/components/Top.tsx
Labels: @team/web

Add image
  Web/web_assessment/public/image/Component 35.jpg
  Web/web_assessment/public/image/Jonathan Alemayehu.png
Labels: @team/web

setup the store for fetching
  Web/web_assessment/store/doctor/doctorapi.ts
  Web/web_assessment/store/store.tsx
Labels: @team/web

define your type
  Web/web_assessment/types/doctor.ts
Labels: @team/web

[Mobile] Weather UI is finished
  Mobile/mobile_assessement/assets/images/image.jpg
  Mobile/mobile_assessement/assets/images/mostly_sunny.png
  Mobile/mobile_assessement/assets/images/rainy_lightning_windy_sunny.png
  Mobile/mobile_assessement/assets/images/weather.jpg
  Mobile/mobile_assessement/lib/features/weather/data/datasources/remote_datasource.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/detail_page.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/getstarted_page.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/screen/search_page.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.lock
  Mobile/mobile_assessement/pubspec.yaml
  Mobile/mobile_assessement/test/widget_test.dart
Labels: @team/mobile

create the doctors list page
  Web/web_assessment/components/DoctorCard.tsx
  Web/web_assessment/components/DoctorDetails.tsx
  Web/web_assessment/components/DoctorList.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/[doctorId].tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/slices/doctorsSlice.ts
  Web/web_assessment/store/index.tsx
  Web/web_assessment/styles/globals.css
  Web/web_assessment/types.ts
Labels: @team/web

feat(backend-dawit)user-auth
  Backend/backend_assessment/CineFlex/CineFlex.API/AuthDto/LoginDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/AuthDto/RegisterDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/AuthDto/UserResponseDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/CineFlex.API.csproj
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/UserAuthController.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Exstensions/IdentityServiceExstension.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Program.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/Services/TokenService.cs
  Backend/backend_assessment/CineFlex/CineFlex.API/appsettings.json
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IBookRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/CreateBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/DeleteBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Commands/UpdateBookCommand.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handler/CreateBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handler/DeleteBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handler/GetBookListQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handler/GetBookQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Handler/UpdateBookCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Query/GetBookListQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/CQRS/Query/GetBookQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/BookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/CreateBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/IBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/UpdateBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/Validators/CreateDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/Validators/IBookDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Book/DTO/Validators/UpdateBookDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Cinema/DTO/Validators/ICinemaDtoValidator.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/AppUser.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/Book.cs
  Backend/backend_assessment/CineFlex/CineFlex.Domain/CineFlex.Domain.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/CinemaConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Configurations/Entities/MovieConfiguration.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/BookRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(web-Blen): final commit
  Web/web_assessment/store/doctorSlice.ts
Labels: @team/web

set up the environment
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/styles/globals.css
Labels: @team/web

feat(Backend-Yonas) unit tests
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/CineFlex.Application.UnitTest.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mock/MockSeatRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Mock/MockUnitOfWork.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Commands/CreateSeatCommnadHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Commands/DeleteSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Commands/UpdateSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Queries/GetSeatDetailsQueryHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Queries/GetSeatListQueryHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Handlers/SearchMovieQueryHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Queries/SearchMovieQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/DeleteSeatCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/c.txt
Labels: @team/backend

feat(backend-bruk): add seat crud tests
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/CineFlex.Application.UnitTest.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Commands/CreateSeatCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Commands/DeleteSeatCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application.UnitTest/Seat/Commands/UpdateSeatCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Seats/CQRS/Handlers/CreateSeatCommandHandler.cs
Labels: @team/backend

feat(backend-biruk): seat test and booking feature
  Backend/backend_assessment/CineFlex/CineFlex.API/Controllers/MovieController.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Contracts/Persistence/IMovieRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/CQRS/Handlers/BookMovieHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Application/Features/Movies/DTOs/BookConfirmationDto.cs
  Backend/backend_assessment/CineFlex/CineFlex.Identity/CineFlex.Identity.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/CineFlexDbContex.cs
  Backend/backend_assessment/CineFlex/CineFlex.Persistence/Repositories/MovieRepository.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/CineFlex.Seat.Test.csproj
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/CreateBlogCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/CreateSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/DeleteBlogCommandHandler.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/DeleteSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/UpdateBlogCommandHandlerTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Command/UpdateSeatCommandHandlerTests.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Query/GetBlogDetailsQuery.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Query/GetBlogListQueryTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Query/GetSeatDetailsQueryTest.cs
  Backend/backend_assessment/CineFlex/CineFlex.Seat.Test/Query/GetSeatListQueryTest.cs
Labels: @team/backend

feat(web): add navigation to detail page
  Web/web_assessment/components/DoctorCard.tsx
Labels: @team/web

aklile web assessment
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Header.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctor-details/[id].tsx
  Web/web_assessment/pages/doctors-list/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/HakimHub.png
  Web/web_assessment/public/img/doctor-details/dummy-banner.png
  Web/web_assessment/public/img/user/avatar.png
  Web/web_assessment/public/logo.png
  Web/web_assessment/store/features/api/doctors/index.tsx
  Web/web_assessment/store/features/index.tsx
  Web/web_assessment/types/doctor-profile.ts
  Web/web_assessment/types/doctors.ts
Labels: @team/web

feat(web-assesement) implement state management for the homepage
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/config/index.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/[id].tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/store/features/doctors/doctor-api.ts
  Web/web_assessment/store/features/doctors/doctors-api.ts
  Web/web_assessment/store/index.ts
Labels: @team/web

Work assessement by jebessa
  Web/web_assessment/components/home/DoctorCard.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctors/[DetailPage].tsx
  Web/web_assessment/pages/doctors/index.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/pages/store/home/doctors-api.ts
  Web/web_assessment/pages/store/index.ts
  Web/web_assessment/public/img/logo.jpg
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/types/doctor.ts
Labels: @team/web

fix
  Web/web_assessment/components/doctors/DoctorsList.tsx
Labels: @team/web

refactor code
  Web/web_assessment/components/common/Footer.tsx
  Web/web_assessment/components/doctors/Pagination.tsx
  Web/web_assessment/pages/doctors/[doctorId].tsx
  Web/web_assessment/pages/doctors/index.tsx
Labels: @team/web

final commit
  Web/starter_project_vanguard/pages/_app.tsx
  Web/web_assessment/components/doctors/DoctorCard.css
  Web/web_assessment/components/doctors/DoctorCard.tsx
  Web/web_assessment/components/doctors/DoctorDetail.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
  Web/web_assessment/components/doctors/SingleDoctor.tsx
  Web/web_assessment/data/doctors.json
  Web/web_assessment/hooks/README.md
  Web/web_assessment/hooks/hooks.ts
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctor-detail.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/img/profile-photo.png
  Web/web_assessment/store/features/doctors/doctors-api.ts
  Web/web_assessment/store/features/doctors/doctors-detail-api.ts
  Web/web_assessment/store/index.ts
  Web/web_assessment/types/doctor.ts
Labels: @team/web

done with bloc and consumption
  Mobile/mobile_assessement/assets/images/rainy_lightning_windy_sunny.png
  Mobile/mobile_assessement/lib/core/error/exception.dart
  Mobile/mobile_assessement/lib/core/error/failures.dart
  Mobile/mobile_assessement/lib/core/network/network_info.dart
  Mobile/mobile_assessement/lib/core/shared_widgets/example_button.dart
  Mobile/mobile_assessement/lib/core/usecases/usecase.dart
  Mobile/mobile_assessement/lib/core/utils/colors.dart
  Mobile/mobile_assessement/lib/core/utils/images.dart
  Mobile/mobile_assessement/lib/core/utils/text_styles.dart
  Mobile/mobile_assessement/lib/core/utils/util.dart
  Mobile/mobile_assessement/lib/features/weather/data/datasources/weather_detail_remote_data_source.dart
  Mobile/mobile_assessement/lib/features/weather/data/models/weather_detail_model.dart
  Mobile/mobile_assessement/lib/features/weather/data/repositories/weather_repository_impl.dart
  Mobile/mobile_assessement/lib/features/weather/domain/entities/weather_detail_domain.dart
  Mobile/mobile_assessement/lib/features/weather/domain/repositories/weather_repository.dart
  Mobile/mobile_assessement/lib/features/weather/domain/usecases/get_weather_detail.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_bloc.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_event.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/bloc/weather_state.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/city_detail_screen.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/search_screen.dart
  Mobile/mobile_assessement/lib/features/weather/presentation/splash_screen.dart
  Mobile/mobile_assessement/lib/injection.dart
  Mobile/mobile_assessement/lib/main.dart
  Mobile/mobile_assessement/pubspec.yaml
Labels: @team/mobile

finale
  Web/web_assessment/components/Search.tsx
  Web/web_assessment/features/userSlice.ts
  Web/web_assessment/pages/detail/[id].tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/public/img/detailbg.png
Labels: @team/web

create doctors list and doctor details page
  Web/web_assessment/components/doctors/DoctorDetails.tsx
  Web/web_assessment/components/doctors/DoctorsList.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/NavBar.tsx
  Web/web_assessment/data/doctors/doctor-details.json
  Web/web_assessment/data/doctors/doctors-list.json
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/api/doctors.ts
  Web/web_assessment/pages/doctors/doctor-details.tsx
  Web/web_assessment/pages/doctors/doctors-list.tsx
  Web/web_assessment/store/features/doctors/doctor-api.ts
  Web/web_assessment/store/features/doctors/doctors-list.tsx
  Web/web_assessment/store/index.ts
  Web/web_assessment/types/doctors/doctor-details.tsx
  Web/web_assessment/types/doctors/doctors-list.tsx
Labels: @team/web

feat(web-assesement) implement state management for the homepage
  Web/starter_project_iconics/next.config.js
Labels: @team/web

implement doctors list page
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/NavBar.tsx
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/doctor/doctor-details.tsx
  Web/web_assessment/pages/doctor/doctors-list.tsx
  Web/web_assessment/store/features/doctor/doctor-api.ts
  Web/web_assessment/store/features/doctor/doctor-slice.ts
  Web/web_assessment/store/index.ts
  Web/web_assessment/types/doctor/doctor.ts
Labels: @team/web

I messed up
  Web/web_assessment/components/common/Pagination.tsx
  Web/web_assessment/components/common/SearchForm.tsx
  Web/web_assessment/components/doctor/DoctorCard.tsx
  Web/web_assessment/components/layout/Footer.tsx
  Web/web_assessment/components/layout/Navbar.tsx
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/[id].tsx
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/store/doctor/doctors-api.ts
  Web/web_assessment/store/store.ts
  Web/web_assessment/styles/globals.css
  Web/web_assessment/types/doctor.ts
Labels: @team/web

helllo
  Web/web_assessment/components/Navbar.tsx
  Web/web_assessment/components/doctors/DoctorDetail.tsx
  Web/web_assessment/components/doctors/DoctorList.tsx
Labels: @team/web
