Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

feat(Matador):Article-Domain (#183)
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.mocks.dart
Labels: @team/mobile

Aklile.merge blog type (#188)
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/data/blog/blog-detail.json
  Web/starter_project_iconics/data/blog/blog-tile.json
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/types/blog/blog-detail.tsx
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

feat(hiwot.dartsmiths)implement article entities_get_article usecase (#144)
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/usecases/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/get_article.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.mocks.dart
Labels: @team/mobile

feat(metador)the domain layer implementation with the tests (#185)
  Mobile/starter_project_matador/lib/core/errors/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/signup/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/signup/domain/repositories/auth_repository.dart
  Mobile/starter_project_matador/lib/features/signup/domain/usecases/signup_user.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.dart
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.mocks.dart
Labels: @team/mobile

feat(wed-iconics)- Implement single blog page (#149)
  Web/starter_project_iconics/data/blog/blog-detail.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/add-blog.tsx
  Web/starter_project_iconics/public/img/blog/dummy-author-img.png
  Web/starter_project_iconics/public/img/blog/dummy-blog-img.png
  Web/starter_project_iconics/types/blog/blog-detail.tsx
Labels: @team/web

fix(mobile-matador): fix file structure and import issues for whole file (#192)
  Mobile/starter_project_matador/lib/core/errors/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/introduction.dart
  Mobile/starter_project_matador/lib/features/signup/domain/repositories/auth_repository.dart
  Mobile/starter_project_matador/lib/features/signup/domain/usecases/signup_user.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
Labels: @team/mobile

feat( web-iconics): implement pagination component (#82)
  Web/starter_project_iconics/.eslintrc.json
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

feat(backend-dotnetforce7): Implement crud review (#161)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Query/GetReviewDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Query/GetReviewListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/IReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Rate.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Review.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/ReviewConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

feat(backend-zsilentcoders): implement basic CRUD for tags (#190)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/CreateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/DeleteTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/UpdateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/UpdateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/CreateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/DeleteTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagDetailsDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/UpdateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/CreateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/DeleteTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Tag.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/TagConfigurations.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockTagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/CreateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/DeleteTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/UpdateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagListQueryTest.cs
Labels: @team/backend

feat(backend-dotnetforce7) comment-crud (#165)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/CreateCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/DeleteCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/UpdateCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Query/GetCommentDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Query/GetCommentListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockCommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Comment.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/CommentConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

dom[Mobile.dartsmiths]: Add user profile entities and usecase (#147)
  Mobile/starter_project_dartsmiths/lib/core/error/profile_failures.dart
  Mobile/starter_project_dartsmiths/lib/core/usecase/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/entities/user_profile.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/repositories/user_profile_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/usecases/get_user_profile.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.dart
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.mocks.dart
Labels: @team/mobile

feat(web-barbies): Add team card component (#29)
  Web/starter_project_barbies/components/team/TeamMemberCard.tsx
  Web/starter_project_barbies/data/team/team-members.json
  Web/starter_project_barbies/pages/team/index.tsx
  Web/starter_project_barbies/public/image/team/hero-image.svg
  Web/starter_project_barbies/types/team.ts
Labels: @team/web

feat(backend-zsilentcoders): Impliment review CRUD (#146)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Commands/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Commands/DeleteReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Commands/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Queries/GetReviewDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Queries/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/IReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/ReviewIsApprovedDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/DeleteReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateIsResolvedValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/ReviewConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewDetainQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewListQueryHandlerTest.cs
Labels: @team/backend

Kaleab.about-page (#38)
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/data/about/problem-items.json
  Web/starter_project_barbies/data/about/projects.json
  Web/starter_project_barbies/data/about/sessions.json
  Web/starter_project_barbies/data/about/solution-items.json
  Web/starter_project_barbies/pages/about/index.tsx
  Web/starter_project_barbies/public/img/about/hero/development-phase.png
  Web/starter_project_barbies/public/img/about/hero/education-process.png
  Web/starter_project_barbies/public/img/about/problems/africa.svg
  Web/starter_project_barbies/public/img/about/problems/amico-puzzle.png
  Web/starter_project_barbies/public/img/about/problems/amico-solve.png
  Web/starter_project_barbies/public/img/about/problems/code.svg
  Web/starter_project_barbies/public/img/about/problems/idea.svg
  Web/starter_project_barbies/public/img/about/projects/hakim-hub.png
  Web/starter_project_barbies/public/img/about/projects/track-sym.png
  Web/starter_project_barbies/public/img/about/sessions/biweekly.svg
  Web/starter_project_barbies/public/img/about/sessions/code.svg
  Web/starter_project_barbies/public/img/about/sessions/learning.svg
  Web/starter_project_barbies/public/img/about/sessions/question.svg
  Web/starter_project_barbies/public/img/about/sessions/rocket-launch.svg
  Web/starter_project_barbies/public/img/about/sessions/triangle.svg
  Web/starter_project_barbies/types/about.tsx
Labels: @team/web

Mobile matador.duressa jemal.user.domain layer (#174)
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/user/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/user/domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.mocks.dart
Labels: @team/mobile

Yared.hayat usecases for user profile (#196)
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/entities/user_entity.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/create_user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/delete_user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/edit_user_profile.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_all_users.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_following.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_followers.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/create_user_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/create_user_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/delete_user_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/edit_user_profile_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_all_users_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_followers_test.dart
  Mobile/starter_project_dark_knights/test/widget_test.dart
Labels: @team/mobile

feat(backend-mavricks): Implement basic crud for comment (#175)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentByIdQueryHandlert.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentByIdQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Comment.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/CreateCommentCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/UpdateCommetCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockCommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateCommentCommandHandlerTests.cs
Labels: @team/backend

feat(web-iconics): implement tag component (#34)
  Web/starter_project_iconics/components/common/Tag.tsx
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

feat(mobile-dart knight) implement authentication domain layer (#202)
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Bold copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Regular copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Light copy.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/repositories/authentication_repository.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/login_usecase_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/login_usecase_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/signup_usecase_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/domain/usecases/signup_usecase_test.mocks.dart
Labels: @team/mobile

feat(hiwot.dartsmiths): implement data layer for get_article (#220)
  Mobile/starter_project_dartsmiths/lib/core/error/exception.dart
  Mobile/starter_project_dartsmiths/lib/core/network/intwork_info.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/platform/network_info.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/models/article_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/fixtures/article.json
  Mobile/starter_project_dartsmiths/test/fixtures/fixture_readrer.dart
Labels: @team/mobile

setup json-server (#203)
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

feat(web-iconics): implement teams page (#127)
  Web/starter_project_iconics/components/teams/README.md
  Web/starter_project_iconics/components/teams/TeamMemberCard.tsx
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
  Web/starter_project_iconics/data/teams/team-members.json
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/public/img/teams/naty.png
  Web/starter_project_iconics/types/teams.ts
Labels: @team/web

feat(mobile-dart_knights): implement article domain layer (#193)
  Mobile/starter_project_dark_knights/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/delete_article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_article_by_id.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_articles.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_articles_by_user_id.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/update_articles.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_user_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

feat(web-iconics): create blog card and one profile page (#59)
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/data/profile/personal-blogs.json
  Web/starter_project_iconics/data/profile/user-profile.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/blog.ts
  Web/starter_project_iconics/types/user.ts
Labels: @team/web

feat(backend-dotnetforce7): Implement user authentication and autherization (#150)
  Backend/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/UserController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Properties/launchSettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Constants/CustomClaimTypes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IUserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Exceptions/IdentityException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistraionRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/AuthServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Usings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/.DS_Store
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogIdentityDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

fix tag type error on article entity (#201)
  Mobile/starter_project_dark_knights/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_user_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

feat(backend-dotnetfroces7): Add new user in blog and link user with blog (#224)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

fix(web-iconics): change pagination props to reduce redundant calculations (#226)
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

feat(Mobile-Dartknights): Create user model with tests (#207)
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/models/user_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
  Mobile/starter_project_dark_knights/test/fixtures/user.json
Labels: @team/mobile

Yeabsira.exception handling (#204)
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Middlewares/ExceptionMiddleware.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/Mail/EmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockEmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Services/EmailServiceTest.cs
Labels: @team/backend

feat(backend-mavericks): Implement CRUD operation for "Tag" Feature (#181)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Tag.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockTagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/createTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/deleteTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

implement data layer (#236)
  Mobile/starter_project_dark_knights/lib/core/errors/exception.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/datasources/article_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_local_data_resource_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_local_data_resource_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/data/repositories/article_repository_imple_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/repositories/article_repository_imple_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/article_cached.json
Labels: @team/mobile

feat(matador.joshua): add login data layer (#237)
  Mobile/starter_project_matador/lib/core/error/exception.dart
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/features/login/data/datasources/login_local_datasource.dart
  Mobile/starter_project_matador/lib/features/login/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/login/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/login/data/network_info.dart
  Mobile/starter_project_matador/lib/features/login/data/repositories/login_user_repository_impl.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.mocks.dart
Labels: @team/mobile

feat(Mobile-Dart_Knights): implement model and model test for article feature (#206)
  Mobile/starter_project_dark_knights/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dark_knights/test/features/article/data/models/article_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/article.json
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
Labels: @team/mobile

add user remote data sources (#238)
  Mobile/starter_project_dark_knights/assets/icons/4squares.svg
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
Labels: @team/mobile

feat(Mobile-Dartknights): Implement the data layer for user profile (#228)
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/list_of_users.json
Labels: @team/mobile

Feruz.user profile data layer (#218)
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/network/network_info.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.mocks.dart
  Mobile/starter_project_dark_knights/test/fixtures/list_of_users.json
Labels: @team/mobile

feat(matador.joshua): Add auth domain (#159)
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/login/Domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/login/Domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

feat(web): implement blogs page (#191)
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Search.tsx
  Web/starter_project_vanguard/components/common/Tags.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

feat(backend-mavericks): Implement basic CRUD and unit test for review (#177)
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/ReviewsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetBlogReviewListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetUserReviewListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetBlogReviewListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetUserReviewListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/IReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Review.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/UpdateReviewCommandHandlerTest.cs
Labels: @team/backend
