Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

fix image url
  Mobile/starter_project_dark_knights/test/features/article/data/models/article_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/article.json
Labels: @team/mobile

rebase from main
  Mobile/starter_project_dartsmiths/android/.gitignore
  Mobile/starter_project_dartsmiths/android/app/build.gradle
  Mobile/starter_project_dartsmiths/android/app/src/debug/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  Mobile/starter_project_dartsmiths/android/app/src/main/kotlin/com/example/dartsmiths/MainActivity.kt
  Mobile/starter_project_dartsmiths/android/app/src/main/res/drawable-v21/launch_background.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/drawable/launch_background.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/values-night/styles.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/values/styles.xml
  Mobile/starter_project_dartsmiths/android/app/src/profile/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/build.gradle
  Mobile/starter_project_dartsmiths/android/dartsmiths_android.iml
  Mobile/starter_project_dartsmiths/android/gradle.properties
  Mobile/starter_project_dartsmiths/android/gradle/wrapper/gradle-wrapper.jar
  Mobile/starter_project_dartsmiths/android/gradle/wrapper/gradle-wrapper.properties
  Mobile/starter_project_dartsmiths/android/gradlew
  Mobile/starter_project_dartsmiths/android/gradlew.bat
  Mobile/starter_project_dartsmiths/android/settings.gradle
Labels: @team/mobile

feat(Mobile-Dart_Knights): implement model and model test for article feature (#206)
  Mobile/starter_project_dark_knights/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dark_knights/test/features/article/data/models/article_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/article.json
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
Labels: @team/mobile

write model test and model
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/models/authentication_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/authentication_valid.json
  Mobile/starter_project_dark_knights/test/fixtures/fixure_reader.dart
Labels: @team/mobile

return android file
  Mobile/starter_project_dark_knights/android/local.properties
Labels: @team/mobile

implemnt usecases for Authentication feature
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
Labels: @team/mobile

feat(mobile-dartknight)implement authentication model (#210)
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/models/authentication_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/authentication_valid.json
  Mobile/starter_project_dark_knights/test/fixtures/fixure_reader.dart
Labels: @team/mobile

user profile fetch and update
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user-data.json
  Web/starter_project_vanguard/pages/api/profile.ts
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

[Mobile] home page domain layer
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/get_article.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/pubspec.lock
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.dart
  Mobile/starter_project_dartsmiths/test/features/home/domain/usecase/home_test.mocks.dart
Labels: @team/mobile

rebase from main
  Mobile/starter_project_dartsmiths/android/.gitignore
  Mobile/starter_project_dartsmiths/android/app/build.gradle
  Mobile/starter_project_dartsmiths/android/app/src/debug/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  Mobile/starter_project_dartsmiths/android/app/src/main/kotlin/com/example/dartsmiths/MainActivity.kt
  Mobile/starter_project_dartsmiths/android/app/src/main/res/drawable-v21/launch_background.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/drawable/launch_background.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  Mobile/starter_project_dartsmiths/android/app/src/main/res/values-night/styles.xml
  Mobile/starter_project_dartsmiths/android/app/src/main/res/values/styles.xml
  Mobile/starter_project_dartsmiths/android/app/src/profile/AndroidManifest.xml
  Mobile/starter_project_dartsmiths/android/build.gradle
  Mobile/starter_project_dartsmiths/android/dartsmiths_android.iml
  Mobile/starter_project_dartsmiths/android/gradle.properties
  Mobile/starter_project_dartsmiths/android/gradle/wrapper/gradle-wrapper.jar
  Mobile/starter_project_dartsmiths/android/gradle/wrapper/gradle-wrapper.properties
  Mobile/starter_project_dartsmiths/android/gradlew
  Mobile/starter_project_dartsmiths/android/gradlew.bat
  Mobile/starter_project_dartsmiths/android/settings.gradle
Labels: @team/mobile

Home page domain layer
  Mobile/starter_project_dartsmiths/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
Labels: @team/mobile

android/local.properties deleted
  Mobile/starter_project_dartsmiths/android/local.properties
Labels: @team/mobile

fix(backend-mavericks): ignore files from .idea folder
  .gitignore
Labels: repo

"Update getTagDetailQueryHandler"
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/getTagDetailQuery.cs
Labels: @team/backend

"ApplicationTag2"
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
Labels: @team/backend

"Update getTagQueryList"
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/getTagListQuery.cs
Labels: @team/backend

"Update getTagDetailQueryHandler"
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/getTagDetailQuery.cs
Labels: @team/backend

feat(bakend-mavericks): implement tags CRUD
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Tag.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockTagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/createTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/deleteTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

"Update naming to camelCase"
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Create_TagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Delete_TagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Update_TagCommadHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

fix(backend-mavericks): ignore files from .idea folder
  .gitignore
Labels: repo

"PersistentTag"
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/_TagRepository.cs
Labels: @team/backend

fix(backend-mavericks): fix ignore content
  .gitignore
Labels: repo

"TagUnitTest"
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/.gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/indexLayout.xml
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/vcs.xml
Labels: @team/backend

feat(backend): Implement basic CRUD for tags along with test
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/.gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/indexLayout.xml
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/vcs.xml
Labels: @team/backend

fix(backend-mavericks): confugure gitignore file
  .gitignore
Labels: repo

"Update naming to camelCase"
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/workspace.xml
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/createTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/deleteTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

"ApplicationTag2"
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
Labels: @team/backend

fix(backend-mavericks): confugure gitignore file
  .gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/.gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/indexLayout.xml
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/vcs.xml
Labels: repo, @team/backend

"AppicationTag"
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/I_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Create_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Delete_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Update_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Create_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Delete_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Get_TagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Get_TagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Update_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/Get_TagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/Get_TagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Create_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/I_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/Create_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/I_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/Update_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

"TagUnitTest"
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/.gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/indexLayout.xml
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/vcs.xml
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/I_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Create_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Delete_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Update_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Create_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Delete_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Get_TagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Get_TagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Update_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/Get_TagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/Get_TagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Create_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/I_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Update_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/Create_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/I_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/Update_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/Mock_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Create_TagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Delete_TagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Update_TagCommadHandlerTests.cs
Labels: @team/backend

feat(backend): Implement basic CRUD for tags along with test
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/.gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/indexLayout.xml
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/vcs.xml
Labels: @team/backend

fix(backend-mavericks): fix ignore content
  .gitignore
Labels: repo

"TagUnitTest"
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/.gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/indexLayout.xml
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/vcs.xml
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

fix(backend-mavericks): confugure gitignore file
  .gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/.gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/indexLayout.xml
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/vcs.xml
Labels: repo, @team/backend

fix(backend-mavericks): confugure gitignore file
  .gitignore
Labels: repo

"TagUnitTest"
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/.gitignore
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/indexLayout.xml
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/vcs.xml
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/I_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Create_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Delete_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/Update_TagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Create_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Delete_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Get_TagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Get_TagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/Update_TagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/Get_TagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/Get_TagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Create_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/I_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Update_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/Create_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/I_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/Update_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/Mock_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Create_TagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Delete_TagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/Update_TagCommadHandlerTests.cs
Labels: @team/backend

feat(bakend-mavericks): implement tags CRUD
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/I_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/getTagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/getTagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/I_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/I_TagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/_TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/_Tag.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/Mock_TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

"Update getTagQueryList"
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/_TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/_Tags/CQRS/Queries/getTagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
Labels: @team/backend

"PersistentTag"
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/_TagRepository.cs
Labels: @team/backend

"Domain _Tag"
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/_Tag.cs
Labels: @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
