Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

git(backend): remove git tracked obj directory
  Backend/starter_project_dotnetforce7/BlogApp2/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.dgspec.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.props
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.targets
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.AssemblyInfo.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.AssemblyInfoInputs.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.GlobalUsings.g.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.assets.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.csproj.AssemblyReference.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.assets.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.nuget.cache
Labels: @team/backend

fix(backend): rename identity tests to test
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

fix(matador.tesfaye): fix constants
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/article_detail.dart
Labels: @team/mobile

feat(Backend.ZSilentCoders): Implement Blog CRUD
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/.gitignore
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/indexLayout.xml
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/vcs.xml
Labels: @team/backend

feat(matador.tesfaye): implement article reading page (#141)
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/article_detail.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/user_card.dart
Labels: @team/mobile

edit the footer component
  Web/starter_project_barbies/components/layout/Footer.tsx
Labels: @team/web

add update operation handlers
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
Labels: @team/backend

add padding to profile page
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

Remove comented code
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
Labels: @team/web

Implement my-blogs component
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

Implement My blogs (#132)
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
Labels: @team/web

fix(gadisa.rate-crud-fix): fix BlogApp2.sln file
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

fix(gadisa.rate-crud-fix): fix deletecommandhandler error
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
Labels: @team/backend

fix(gadisa.rate-crud-fix): rename Rate folder to Ratetest in test project
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateListQueryHandlerTest.cs
Labels: @team/backend

implement entities, usecase and there test
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/usecases/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/update_article.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/entities/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/repositories/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/mock_article_repository.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

Gadisa.rate crud fix (#143)
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

fix file naming
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/public/img/landing-image.png
Labels: @team/web

fix implementation of landing section
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/tailwind.config.js
Labels: @team/web

change text color
  Web/starter_project_vanguard/components/home/HeroSection.tsx
Labels: @team/web

change svg to react-icons
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/public/img/home-page/landing-image.png
Labels: @team/web

fix implementation of landing section
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/tailwind.config.js
Labels: @team/web

fix image import naming
  Web/starter_project_vanguard/components/home/HeroSection.tsx
Labels: @team/web

update image folders
  Web/starter_project_vanguard/public/img/landing-image.png
Labels: @team/web

fix(Yeabsira.user) change file names
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/UserController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/ApplicationServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Create_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Delete_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Update_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Create_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Delete_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Get_UserDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Get_UserListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Update_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Queries/Get_UserDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Queries/Get_UserListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Create_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/I_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/RegisterDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/Create_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/I_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/Update_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
Labels: @team/backend

implement test for post and update usecase
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/mock_article_repository.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/datasources/example_datasource_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/models/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/repositories/example_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/entities/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/repositories/example_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/example/presentation/bloc/example_bloc_test.dart
Labels: @team/mobile

add user service tests
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IUserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/UnitTest1.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
Labels: @team/backend

implement entities, usecase and there test
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/usecases/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/update_article.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/entities/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/repositories/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/mock_article_repository.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

implement test for post and update usecase
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/mock_article_repository.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/datasources/example_datasource_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/models/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/repositories/example_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/entities/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/repositories/example_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/example/presentation/bloc/example_bloc_test.dart
Labels: @team/mobile

fix(signup_metador) using the colors from core directory
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
Labels: @team/mobile

fix(metador-signup) making the variable widget
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_and_signin_box.dart
Labels: @team/mobile

fix(signup_metador) using the colors from core directory
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/example/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_button.dart
Labels: @team/mobile

fix(mobile.metador.signup_page) making the signup page 2 components
  Mobile/starter_project_matador/lib/features/example/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/app.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_button.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/white_box.dart
Labels: @team/mobile

feat(metador-team)signup page
  Mobile/starter_project_matador/lib/features/example/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/app.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_button.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/white_box.dart
Labels: @team/mobile

fix(signup page - metador)the structure of my folder
  Mobile/starter_project_matador/.dart_tool/package_config.json
  Mobile/starter_project_matador/.dart_tool/package_config_subset
  Mobile/starter_project_matador/.dart_tool/version
  Mobile/starter_project_matador/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  Mobile/starter_project_matador/android/local.properties
  Mobile/starter_project_matador/ios/Runner/GeneratedPluginRegistrant.m
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_button.dart
  Mobile/starter_project_matador/macos/Flutter/GeneratedPluginRegistrant.swift
Labels: @team/mobile

test(backend): add auth service tests
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/AuthServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
Labels: @team/backend

feat(mobile-matador): add usecase for user future
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/features/user/domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.mocks.dart
Labels: @team/mobile

(Mobile-Dartknights): Duplicate the example folder and add starter files
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
Labels: @team/mobile

(Mobile-Dartknights): Add asset images and splash screen page
  Mobile/starter_project_dark_knights/assets/images/splash_screen.png
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
Labels: @team/mobile

fix(Mobile-Dartknights): update the route to onboarding page
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

(Mobile-Dartknights): Implement the splash screen (#75)
  Mobile/starter_project_dark_knights/assets/images/splash_screen.png
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
