Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

add repository for the user
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
Labels: @team/mobile

add user model
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/user.dart
Labels: @team/mobile

add user entity
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/entities/user_entity.dart
Labels: @team/mobile

add getUser usecase
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/entities/user_entity.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
Labels: @team/mobile

add user model
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user.dart
Labels: @team/mobile

add failures for usecases
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
Labels: @team/mobile

fix getFollowing to return list of user entities
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
Labels: @team/mobile

add test for getUser usecase
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
Labels: @team/mobile

add test for getFollower usecase
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_followers.dart
Labels: @team/mobile

add dependency build_runner
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

add mock for the repository
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.mocks.dart
Labels: @team/mobile

fix failures error
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.mocks.dart
Labels: @team/mobile

fix remove params from the usecases
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
Labels: @team/mobile

refactor GetUser usecase
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
Labels: @team/mobile

refactor the get User usecase
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
Labels: @team/mobile

refactory usecase tests
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
  Mobile/starter_project_dark_knights/pubspec.lock
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_dartsmiths/pubspec.lock
  Mobile/starter_project_matador/.dart_tool/package_config.json
  Mobile/starter_project_matador/.dart_tool/package_config_subset
  Mobile/starter_project_matador/.dart_tool/version
  Mobile/starter_project_matador/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
  Mobile/starter_project_matador/android/local.properties
  Mobile/starter_project_matador/ios/Runner/GeneratedPluginRegistrant.m
  Mobile/starter_project_matador/macos/Flutter/GeneratedPluginRegistrant.swift
  Mobile/starter_project_matador/pubspec.lock
Labels: @team/mobile

fix conflict on the mock repository
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
Labels: @team/mobile

make paragraphs a string
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

feat(metador)the domain layer implementation with the tests (#185)
  Mobile/starter_project_matador/lib/core/errors/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/signup/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/signup/domain/repositories/auth_repository.dart
  Mobile/starter_project_matador/lib/features/signup/domain/usecases/signup_user.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.dart
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.mocks.dart
Labels: @team/mobile

feat(web-barbies) : Add api slice to fetch blog data
  Web/starter_project_barbies/slices/api/blog-api.ts
  Web/starter_project_barbies/store/store.ts
Labels: @team/web

fix unwanted changes on android\local.properties files
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dartsmiths/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dartsmiths/.dart_tool/package_config.json
  Mobile/starter_project_dartsmiths/.dart_tool/package_config_subset
  Mobile/starter_project_dartsmiths/.dart_tool/version
  Mobile/starter_project_dartsmiths/android/local.properties
  Mobile/starter_project_matador/android/local.properties
Labels: @team/mobile

feat(backend-dotnetforce7): Add Upload Image to clodinary
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Middleware/ExceptionMiddleware.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/DeleteBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IPhotoAccessor.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Core/AppException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/DeleteBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/IBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/IBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Photo.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Infrastructure/BlogApp.Infrastructure.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Infrastructure/Photos/CloudinarySettings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Infrastructure/Photos/PhotoAccessor.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(backend-dotnetforce7): Add Upload Image to clodinary
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Middleware/ExceptionMiddleware.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/DeleteBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IPhotoAccessor.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Core/AppException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/DeleteBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/IBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/IBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Photo.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Infrastructure/BlogApp.Infrastructure.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Infrastructure/Photos/CloudinarySettings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Infrastructure/Photos/PhotoAccessor.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

feat(web): implement the Social Projects Section component
  Web/starter_project_barbies/components/about/ProjectCard.tsx
  Web/starter_project_barbies/components/about/ProjectList.tsx
Labels: @team/web

fix(web): fix vercel deployment errors
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
Labels: @team/web

feat(web): implement the Session Section component
  Web/starter_project_barbies/components/about/SessionCard.tsx
  Web/starter_project_barbies/components/about/SessionList.tsx
Labels: @team/web

feat(web): implement the hero section
  Web/starter_project_barbies/components/about/HeroSection.tsx
Labels: @team/web

feat(web): clean up about page implementation
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProblemItemCard.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectCard.tsx
  Web/starter_project_barbies/components/about/ProjectList.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionCard.tsx
  Web/starter_project_barbies/components/about/SessionList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/data/about.tsx
  Web/starter_project_barbies/pages/about.tsx
  Web/starter_project_barbies/pages/about/README.md
  Web/starter_project_barbies/pages/about/index.tsx
  Web/starter_project_barbies/public/about/africa.svg
  Web/starter_project_barbies/public/about/approach.svg
  Web/starter_project_barbies/public/about/biweeklycontest.svg
  Web/starter_project_barbies/public/about/biweeklyones.svg
  Web/starter_project_barbies/public/about/code.svg
  Web/starter_project_barbies/public/about/github.svg
  Web/starter_project_barbies/public/about/idea.svg
  Web/starter_project_barbies/public/about/open.svg
  Web/starter_project_barbies/public/about/problemsolving.svg
  Web/starter_project_barbies/public/about/qanda.svg
  Web/starter_project_barbies/public/about/technicaltraining.svg
  Web/starter_project_barbies/public/images/about/hero/development-phase.png
  Web/starter_project_barbies/public/images/about/hero/education-process.png
  Web/starter_project_barbies/public/images/about/problems/amico-puzzle.png
  Web/starter_project_barbies/public/images/about/problems/amico-solve.png
  Web/starter_project_barbies/public/images/about/projects/hakim-hub.png
  Web/starter_project_barbies/public/images/about/projects/track-sym.png
  Web/starter_project_barbies/types/AboutTypes.tsx
  Web/starter_project_barbies/types/about.tsx
Labels: @team/web

feat(web): implement the Problem Section components
  Web/starter_project_barbies/components/about/ProblemItemCard.tsx
  Web/starter_project_barbies/components/about/ProblemSection.tsx
Labels: @team/web

feat(web): implement the about page
  Web/starter_project_barbies/data/about.ts
  Web/starter_project_barbies/pages/about/index.tsx
  Web/starter_project_barbies/public/about/africa.svg
  Web/starter_project_barbies/public/about/amicopuzzle.png
  Web/starter_project_barbies/public/about/amicosolve.png
  Web/starter_project_barbies/public/about/approach.svg
  Web/starter_project_barbies/public/about/biweeklycontest.svg
  Web/starter_project_barbies/public/about/biweeklyones.svg
  Web/starter_project_barbies/public/about/code.svg
  Web/starter_project_barbies/public/about/development_phase.png
  Web/starter_project_barbies/public/about/education_process.png
  Web/starter_project_barbies/public/about/github.svg
  Web/starter_project_barbies/public/about/hakimhub.png
  Web/starter_project_barbies/public/about/idea.svg
  Web/starter_project_barbies/public/about/open.svg
  Web/starter_project_barbies/public/about/problemsolving.svg
  Web/starter_project_barbies/public/about/qanda.svg
  Web/starter_project_barbies/public/about/technicaltraining.svg
  Web/starter_project_barbies/public/about/tracksym.png
  Web/starter_project_barbies/types/AboutTypes.tsx
Labels: @team/web

fix(web): change image folder structure
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/public/img/about/hero/development-phase.png
  Web/starter_project_barbies/public/img/about/hero/education-process.png
  Web/starter_project_barbies/public/img/about/problems/amico-puzzle.png
  Web/starter_project_barbies/public/img/about/problems/amico-solve.png
  Web/starter_project_barbies/public/img/about/projects/hakim-hub.png
  Web/starter_project_barbies/public/img/about/projects/track-sym.png
Labels: @team/web

fix(web): address the pull request changes requested
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/pages/about/index.tsx
Labels: @team/web

restore about page folder structure
  Web/starter_project_barbies/pages/about.tsx
  Web/starter_project_barbies/pages/about/README.md
  Web/starter_project_barbies/pages/about/index.tsx
Labels: @team/web

fix(web): address pull request review changes
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/data/about.tsx
  Web/starter_project_barbies/data/about/problem-items.json
  Web/starter_project_barbies/data/about/projects.json
  Web/starter_project_barbies/data/about/sessions.json
  Web/starter_project_barbies/data/about/solution-items.json
  Web/starter_project_barbies/public/img/about/problems/africa.svg
  Web/starter_project_barbies/public/img/about/problems/code.svg
  Web/starter_project_barbies/public/img/about/problems/idea.svg
  Web/starter_project_barbies/public/img/about/sessions/biweekly.svg
  Web/starter_project_barbies/public/img/about/sessions/code.svg
  Web/starter_project_barbies/public/img/about/sessions/learning.svg
  Web/starter_project_barbies/public/img/about/sessions/question.svg
  Web/starter_project_barbies/public/img/about/sessions/rocket-launch.svg
  Web/starter_project_barbies/public/img/about/sessions/triangle.svg
  Web/starter_project_barbies/types/about.tsx
Labels: @team/web

Kaleab.about-page (#38)
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/data/about/problem-items.json
  Web/starter_project_barbies/data/about/projects.json
  Web/starter_project_barbies/data/about/sessions.json
  Web/starter_project_barbies/data/about/solution-items.json
  Web/starter_project_barbies/pages/about/index.tsx
  Web/starter_project_barbies/public/img/about/hero/development-phase.png
  Web/starter_project_barbies/public/img/about/hero/education-process.png
  Web/starter_project_barbies/public/img/about/problems/africa.svg
  Web/starter_project_barbies/public/img/about/problems/amico-puzzle.png
  Web/starter_project_barbies/public/img/about/problems/amico-solve.png
  Web/starter_project_barbies/public/img/about/problems/code.svg
  Web/starter_project_barbies/public/img/about/problems/idea.svg
  Web/starter_project_barbies/public/img/about/projects/hakim-hub.png
  Web/starter_project_barbies/public/img/about/projects/track-sym.png
  Web/starter_project_barbies/public/img/about/sessions/biweekly.svg
  Web/starter_project_barbies/public/img/about/sessions/code.svg
  Web/starter_project_barbies/public/img/about/sessions/learning.svg
  Web/starter_project_barbies/public/img/about/sessions/question.svg
  Web/starter_project_barbies/public/img/about/sessions/rocket-launch.svg
  Web/starter_project_barbies/public/img/about/sessions/triangle.svg
  Web/starter_project_barbies/types/about.tsx
Labels: @team/web

Fix(sosna.tag): fix the test3
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

feat(backend-zsilentcoders): implement basic CRUD for tags
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
Labels: @team/backend

Feat(sosna.tag: Add controller
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
Labels: @team/backend

Feat(sosna.tag): Add Tests
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagDetailsDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/UpdateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagListQueryTest.cs
Labels: @team/backend

Feat(sosna.tag): implement CQRS and MediatR Queries
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagListQuery.cs
Labels: @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
