Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

Implement story-page
  Web/starter_project_barbies/components/successStory/Footer.jsx
  Web/starter_project_barbies/components/successStory/Partners.jsx
  Web/starter_project_barbies/components/successStory/Profile.jsx
  Web/starter_project_barbies/components/successStory/SuccessStory.jsx
  Web/starter_project_barbies/components/successStory/SuccessStoryCard.jsx
  Web/starter_project_barbies/components/successStory/SuccessStoryDataSets.jsx
  Web/starter_project_barbies/pages/story/index.tsx
  Web/starter_project_barbies/public/img/successStory/a2sv-logo.png
  Web/starter_project_barbies/public/img/successStory/instdeep.png
  Web/starter_project_barbies/public/img/successStory/yisehak.png
Labels: @team/web

address PR comments
  Web/starter_project_barbies/components/team/TeamMemberCard.tsx
Labels: @team/web

fix(web-barbies) : Fix blog-card like button
  Web/starter_project_barbies/components/blog/LikeButton.tsx
Labels: @team/web

address PR comments
  Web/starter_project_barbies/components/team/TeamMemberCard.tsx
Labels: @team/web

address nit PR comments
  Web/starter_project_barbies/data/team-members.json
  Web/starter_project_barbies/pages/team/index.tsx
  Web/starter_project_barbies/public/image/team/hero-image.svg
Labels: @team/web

reorganize folders
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/introduction.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

Web barbies.tsehayneh.blog post card (#77)
  Web/starter_project_barbies/components/blog/LikeButton.tsx
Labels: @team/web

add onboarding-2 screen
  Mobile/starter_project_matador/lib/features/example/presentation/screen/onboarding_1_screen.dart
Labels: @team/mobile

implement single blog page
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/blog/singleBlog.tsx
  Web/starter_project_iconics/public/blogImg.png
  Web/starter_project_iconics/public/small-blog-img.png
  Web/starter_project_iconics/styles/singleBlog.css
Labels: @team/web

fix single blog page
  Web/starter_project_iconics/data/blog/blog.tsx
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/store/blogs.tsx
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

fix single blog page
  Web/starter_project_iconics/data/blog/blog.tsx
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/singleBlog.tsx
  Web/starter_project_iconics/public/blog/dummy-author-img.png
  Web/starter_project_iconics/public/blog/dummy-blog-img.png
  Web/starter_project_iconics/store/blogs.tsx
  Web/starter_project_iconics/styles/singleBlog.css
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/blog.tsx
Labels: @team/web

fix single blog page
  Web/starter_project_iconics/pages/blog/[id].tsx
Labels: @team/web

fix(web-barbies) : Fix exporting blog-detail.tsx and blogs.tsx file
  Web/starter_project_barbies/pages/blog/blog-detail.tsx
  Web/starter_project_barbies/pages/blog/blogs.tsx
Labels: @team/web

create blog detail component
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
Labels: @team/web

setup fonts
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/blog/blog-detail.module.css
Labels: @team/web

refactor code
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/blog/blog-detail.module.scss
Labels: @team/web

feat(mobile-matador): Revert unnecessary changes
  Mobile/starter_project_matador/assets/fonts/MenuAltRight.ttf
  Mobile/starter_project_matador/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_matador/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_matador/assets/images/profile_image.jpg
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/core/utils/converters/convert_to_font_size.dart
  Mobile/starter_project_matador/lib/core/utils/converters/real_pixel_to_logical_pixel.dart
  Mobile/starter_project_matador/lib/core/utils/menu_alt_right_icon.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/menu_icon.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/profile_avatar.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.lock
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

modularize images in post
  Mobile/starter_project_matador/lib/features/profile_page/presentation/screen/profile_page.dart
  Mobile/starter_project_matador/lib/features/profile_page/presentation/widget/header.dart
  Mobile/starter_project_matador/lib/features/profile_page/presentation/widget/posts.dart
  Mobile/starter_project_matador/lib/features/profile_page/presentation/widget/profile_description.dart
  Mobile/starter_project_matador/lib/features/profile_page/presentation/widget/status_card.dart
Labels: @team/mobile

fix(web-barbies) : Fix exporting files
  Web/starter_project_barbies/pages/blog/blog-detail.tsx
  Web/starter_project_barbies/pages/blog/blogs.tsx
Labels: @team/web

update(mobile-matador): Update file structure for icons
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/menu_alt_right_icon.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/menu_icon.dart
Labels: @team/mobile

fix single blog page
  Web/starter_project_iconics/data/blog/blog.tsx
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/public/img/blog/dummy-author-img.png
  Web/starter_project_iconics/public/img/blog/dummy-blog-img.png
  Web/starter_project_iconics/store/blogs.tsx
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

modularization of my work
  Mobile/starter_project_matador/lib/features/example/presentation/screen/signup.dart
  Mobile/starter_project_matador/lib/features/example/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/signup_button.dart
  Mobile/starter_project_matador/lib/features/example/presentation/widgets/white_box.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

fix(mobile-matador): Delete BlogDetail.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
Labels: @team/web

fix(mobile-matador): Delete blog-detail.module.scss
  Web/starter_project_barbies/styles/blog/blog-detail.module.scss
Labels: @team/web

fix single blog page
  Web/starter_project_iconics/data/blog/blog.tsx
  Web/starter_project_iconics/pages/blog/[id].tsx
Labels: @team/web

feat(mobile-matador): Implement Homepage Appbar (#44)
  Mobile/starter_project_matador/assets/fonts/MenuAltRight.ttf
  Mobile/starter_project_matador/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_matador/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_matador/assets/images/profile_image.jpg
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/core/utils/converters/convert_to_font_size.dart
  Mobile/starter_project_matador/lib/core/utils/converters/real_pixel_to_logical_pixel.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/menu_alt_right_icon.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/menu_icon.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/profile_avatar.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.lock
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

change arbitrary color with theme
  Web/starter_project_iconics/components/common/Button.tsx
Labels: @team/web

apply lint
  Web/starter_project_iconics/components/common/Button.tsx
Labels: @team/web

remove package.lock
  package-lock.json
Labels: repo

resolve conflict
  Web/starter_project_iconics/components/common/Button.tsx
Labels: @team/web

remove changes in hero
  Web/starter_project_iconics/components/home-page/Hero.tsx
Labels: @team/web

add outline to button
  Web/starter_project_iconics/components/common/Button.tsx
Labels: @team/web

increase default button size
  Web/starter_project_iconics/components/common/Button.tsx
  Web/starter_project_iconics/components/home-page/Hero.tsx
Labels: @team/web

replace clsx with backtick
  Web/starter_project_iconics/components/common/Button.tsx
Labels: @team/web

add optional icon to button
  Web/starter_project_iconics/components/common/Button.tsx
  package-lock.json
Labels: repo, @team/web

Delete write_article_screen.dart
  Mobile/starter_project_matador/lib/features/example/presentation/screen/write_article_screen.dart
Labels: @team/mobile

feat(web-iconics) : implement button component (#23)
  Web/starter_project_iconics/components/common/Button.tsx
Labels: @team/web

add like_button and article_progile widgets
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screen/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/article_profile.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/article_reading.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/like_button.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
Labels: @team/mobile

Remove comments
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/input_field.dart
Labels: @team/mobile

fix(web-barbies) : Fix exporting blog-detail.tsx and blogs.tsx file (#78)
  Web/starter_project_barbies/pages/blog/blog-detail.tsx
  Web/starter_project_barbies/pages/blog/blogs.tsx
Labels: @team/web
