Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

use next/image (#119)
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
Labels: @team/web

img->Image (#99)
  Web/starter_project_vanguard/components/success-story/Partners.tsx
  Web/starter_project_vanguard/components/success-story/SuccessImageCard.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
Labels: @team/web

feat(web-barbies) : Add blog-form component for new blog post (#45)
  Web/starter_project_barbies/components/blog/BlogForm.tsx
  Web/starter_project_barbies/components/blog/RichTextEditor.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/public/img/blog/file-upload.jpg
Labels: @team/web

feat(Yeabsira.user): Implement user
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.cs
Labels: @team/backend

remove body background
  Web/starter_project_iconics/pages/team/teams-page.tsx
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

refactor onboarding 1 screen
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

reorganize folders
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

fix single blog page
  Web/starter_project_iconics/pages/blog/[id].tsx
Labels: @team/web

Yeabsira.user-implement user crud
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.cs
Labels: @team/backend

remove body background (#130)
  Web/starter_project_iconics/pages/team/teams-page.tsx
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

modify font family
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/introduction.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

fix(matador.joshua): add forget password (#122)
  Mobile/starter_project_matador/lib/features/login/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/forgot_password.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

A navbar on the new branch
  Web/starter_project_barbies/components/layout/Navbar.tsx
Labels: @team/web

fix(matador.josh): remove login_page
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

A navbar on the new branch (#124)
  Web/starter_project_barbies/components/layout/Navbar.tsx
Labels: @team/web

fix navigation issue
  Web/starter_project_iconics/components/layout/Navbar.tsx
  Web/starter_project_iconics/data/layout/navbar/nav-data.ts
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/pages/story/index.tsx
Labels: @team/web

fix(web-barbies) : Update my-blogs page component
  Web/starter_project_barbies/pages/blog/my-blogs/[user-id].tsx
  Web/starter_project_barbies/public/data/dummy-blogs-data.json
  Web/starter_project_barbies/public/img/coding.jpg
  Web/starter_project_barbies/public/img/profile.jpg
Labels: @team/web

fix(web-barbies) : Move blogs data out of the public folder
  Web/starter_project_barbies/data/blogs.json
  Web/starter_project_barbies/pages/api/blogs.ts
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
  Web/starter_project_barbies/public/data/dummy-blogs-data.json
Labels: @team/web

fix(web-barbies) : Fix vercel deployment error
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
Labels: @team/web

fix(web-barbies) : Resolve conflicts
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
  Web/starter_project_barbies/styles/globals.css
Labels: @team/web

fix(web-barbies) : Fix dummy-blogs-data issues for my-blogs-page
  Web/starter_project_barbies/pages/blog/my-blogs/[user-id].tsx
Labels: @team/web

refactor(web-barbies) : Refactor fetchData function in my-blogs page
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
Labels: @team/web

feat(web-barbies) : Add user blogs management page
  Web/starter_project_barbies/pages/blog/my-blogs/[user-id].tsx
  Web/starter_project_barbies/public/data/dummy-data.json
Labels: @team/web

fix(web-barbies) : Fix dummy-blogs-data issues for my-blogs-page
  Web/starter_project_barbies/pages/blog/my-blogs/[user-id].tsx
  Web/starter_project_barbies/public/data/dummy-blogs-data.json
  Web/starter_project_barbies/public/data/dummy-data.json
  Web/starter_project_barbies/public/img/blog/coding.jpg
  Web/starter_project_barbies/public/img/blog/profile.jpg
Labels: @team/web

fix navigation issue
  Web/starter_project_iconics/components/layout/Navbar.tsx
Labels: @team/web

add onboarding screen 1
  Mobile/starter_project_matador/lib/features/onboarding/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/introduction.dart
Labels: @team/mobile

fix(matador.josh): remove login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

fix(mobile-matador): fix import from login_page
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
Labels: @team/mobile

feat(mobile-matador): Create user entities for user domain layer
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/user/domain/entities/user.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

fix(mobile-matador): fix import isues
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
Labels: @team/mobile

fix(mobile-matador): fix merge conflicts
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

fix(matador.joshua: remove domain files)
  Mobile/starter_project_matador/lib/features/login/Domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/login/Domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/signup_use_case.dart
Labels: @team/mobile

fix single blog page
  Web/starter_project_iconics/data/blog/single-blog.tsx
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/types/blog/single-blog.tsx
Labels: @team/web

feat(web-barbies) : Add user blogs management page (#22)
  Web/starter_project_barbies/data/blogs.json
  Web/starter_project_barbies/pages/api/blogs.ts
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
  Web/starter_project_barbies/public/img/blog/coding.jpg
  Web/starter_project_barbies/public/img/blog/profile.jpg
  Web/starter_project_barbies/styles/globals.css
Labels: @team/web

feat(admin-frontend): fix dependency issue and clean up
  Backend/starter_project_dotnetforce7/BlogApp2/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Responses/BaseCommandResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Common/BaseDomainEntity.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/_IndexConfiguration.cs
Labels: @team/backend

fix single blog page
  Web/starter_project_iconics/pages/blog/[id].tsx
Labels: @team/web

crud blog
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/BlogApp.Application.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/DeleteBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Usings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Commands/CreateBlogCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Commands/DeleteBlogCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Commands/UpdateBlogCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/DeleteBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Queries/GetBlogDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Queries/GetBlogListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/IBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/IBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs.fs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230502111936_CreateBlog.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230502111936_CreateBlog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/GenericRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

fix navigation issue (#131)
  Web/starter_project_iconics/components/layout/Navbar.tsx
  Web/starter_project_iconics/data/layout/navbar/nav-data.ts
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/pages/story/index.tsx
Labels: @team/web

fix(matador.joshua): remove login_page.dart (#134)
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

add onboarding screen 1 (#136)
  Mobile/starter_project_matador/lib/features/onboarding/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/introduction.dart
Labels: @team/mobile
