Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

fix(mobile-matador): fix file structure and import issues for whole file
  Mobile/starter_project_matador/lib/core/errors/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/introduction.dart
  Mobile/starter_project_matador/lib/features/signup/domain/repositories/auth_repository.dart
  Mobile/starter_project_matador/lib/features/signup/domain/usecases/signup_user.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
Labels: @team/mobile

fix(mobile-matador): fix file structure and import issues for whole file (#192)
  Mobile/starter_project_matador/lib/core/errors/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/introduction.dart
  Mobile/starter_project_matador/lib/features/signup/domain/repositories/auth_repository.dart
  Mobile/starter_project_matador/lib/features/signup/domain/usecases/signup_user.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
Labels: @team/mobile

Add comment model and work with the DTOs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Comment.cs
Labels: @team/backend

feat(Surafel.Imp-Comment): Implement CQRS and Comment interface
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
Labels: @team/backend

additional crud
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/CommentController.cs
Labels: @team/backend

feat(Surafel.Imp-Comment): Implement CommentController and Edit the CQRS
  .gitignore
  .vscode/launch.json
  .vscode/tasks.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogApp.Persistence.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/CommentConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504083811_InitialCreate.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504083811_InitialCreate.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504104948_commentMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504104948_commentMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: repo, @team/backend

feat(Surafel.Imp-Comment): Implement Get controller with its CQRS
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508072307_SecondCommentMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508072307_SecondCommentMigration.cs
Labels: @team/backend

Surafel : fix migrations error
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
Labels: @team/backend

fear(Surafel.Imp-Comment): Implement the test for comment handlers
  .vscode/settings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/DeleteCommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/DeleteCommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504083811_InitialCreate.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504083811_InitialCreate.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504104948_commentMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504104948_commentMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508072307_SecondCommentMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508072307_SecondCommentMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/GenericRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/CreateCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/DeleteCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Query/GetCommentDetailQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockCommentRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

feat(Surafel.Imp-Comment): Implement CommentController and Edit the CQRS
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504083811_InitialCreate.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504083811_InitialCreate.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504104948_commentMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504104948_commentMigration.cs
Labels: @team/backend

feat(Surafel.Imp-Comment): Implement Get controller with its CQRS
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508072307_SecondCommentMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508072307_SecondCommentMigration.cs
Labels: @team/backend

Surafel : fix migrations error
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
Labels: @team/backend

fear(Surafel.Imp-Comment): Implement the test for comment handlers
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504083811_InitialCreate.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504083811_InitialCreate.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504104948_commentMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230504104948_commentMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508072307_SecondCommentMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508072307_SecondCommentMigration.cs
Labels: @team/backend

feat(Surafel.Imp-Comment) : Fix test errors
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/DeleteCommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/UpdateCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Query/GetCommentListQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockCommentRepository.cs
Labels: @team/backend

feat(Surafel.Imp-Comment) : Fix gitIgnore errors
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
Labels: repo

feat(Surafel.Imp-Comment) : Fix Update Dtos and Handlers
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/UpdateCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Query/GetCommentListQueryHandlerTest.cs
Labels: @team/backend

feat(Surafel.Imp-Comment) : Fix Get Handlers
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/UpdateCommentCommandHandlerTest.cs
Labels: @team/backend

(Mobile-Dartknights): make variable naming consistent
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/edit_user_profile.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_all_users.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_followers.dart
Labels: @team/mobile

Yared.hayat usecases for user profile (#196)
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/entities/user_entity.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/create_user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/delete_user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/edit_user_profile.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_all_users.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_following.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_followers.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/create_user_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/create_user_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/delete_user_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/edit_user_profile_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_all_users_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_followers_test.dart
  Mobile/starter_project_dark_knights/test/widget_test.dart
Labels: @team/mobile

Create Article Domain
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
Labels: @team/mobile

Refactor article domain
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.mocks.dart
Labels: @team/mobile

article_usecase update
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
Labels: @team/mobile

add pubspec
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

article usecase update
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
Labels: @team/mobile

Article usecase update
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
Labels: @team/mobile

feat(Matador):Article-Domain (#183)
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.mocks.dart
Labels: @team/mobile

fix(Yonas.implement-authentication) imports
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/CreateBlogRateCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/DeleteBlogRateCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/GetBlogRateListByBlogRequestHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/CreateCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/DeleteCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/UpdateCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Query/GetCommentDetailQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Query/GetCommentListQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewDetainQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewListQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/CreateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/DeleteTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/UpdateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagListQueryTest.cs
Labels: @team/backend

feat(Yonas.implement-authentication) resend token
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Get_UserListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ServerSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Services/AuthServiceTest.cs
Labels: @team/backend

fix(Yonas.implement-authentication) bring index
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
Labels: @team/backend

feat(Yonas.implement-authentication) Create Files
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Constants/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ConfirmEmailResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ForgotPasswordResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Models/BlogUser.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

feature(backend-mavericks):add check blog existence
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetBlogReviewListQueryHandler.cs
Labels: @team/backend

feature(backend-mavericks): change responses
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetBlogReviewListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetUserReviewListQueryHandler.cs
Labels: @team/backend

feature(backend-mavericks):add env file
  Backend/starter_project_mavericks/BlogApp/.idea/.idea.BlogApp/.idea/workspace.xml
Labels: @team/backend

feature(backend-mavericks):add check db changes
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/UpdateReviewCommandHandler.cs
Labels: @team/backend

feature(backend-mavericks): change review field
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Review.cs
Labels: @team/backend

feature(backend-mavericks):add review repo interface
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
Labels: @team/backend

feature(backend-mavericks): add default value
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
Labels: @team/backend

feature(backend-mavericks):add review entity
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Review.cs
Labels: @team/backend

feature(backend-mavericks):add review test
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/UpdateReviewCommandHandlerTest.cs
Labels: @team/backend

fix(backend-mavericks): change blog id type
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewValidator.cs
Labels: @team/backend
