Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

add article entity
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/article_usecase.dart
Labels: @team/mobile

use next/image
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
Labels: @team/web

use next/image (#119)
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
Labels: @team/web

changes to profile
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/public/img/profile/profile-photo.png
Labels: @team/web

fix(matador.joshua): add forget password
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/forgot_password.dart
Labels: @team/mobile

fix(matador.joshua): remove domain files
  Mobile/starter_project_matador/lib/features/login/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

updating the index.tsx 3
  Web/starter_project_barbies/pages/index.tsx
Labels: @team/web

restructure folder
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/components/profile/user.ts
Labels: @team/web

feat(matador.josh): add user entity
  Mobile/starter_project_matador/lib/features/login/Domain/entities/user.dart
Labels: @team/mobile

fix(web-vanguard): make the hero on teams page responsive (#115)
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/MemberCard.tsx
  Web/starter_project_vanguard/data/success-story.json
Labels: @team/web

file change
  Web/starter_project_vanguard/data/profile/user.ts
Labels: @team/web

add profile page (#41)
  Web/starter_project_vanguard/components/layout/Navbar.tsx
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/public/img/profile/profile-photo.png
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

feat(web-barbies) : Add blog-form component for new blog post (#45)
  Web/starter_project_barbies/components/blog/BlogForm.tsx
  Web/starter_project_barbies/components/blog/RichTextEditor.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/public/img/blog/file-upload.jpg
Labels: @team/web

feat(admin-frontend): Add service for Ientity and Identity contracts for application
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230503195731_Initail migration.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/20230503195731_Initail migration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Migrations/BlogIdentityDbContextModelSnapshot.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.dgspec.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.props
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/BlogApp.Identity.csproj.nuget.g.targets
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.assets.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/Debug/net7.0/BlogApp.Identity.csproj.AssemblyReference.cache
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.assets.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/obj/project.nuget.cache
Labels: @team/backend

feat(backend): Add service for Ientity and Identity contracts for application
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Constants/CustomClaimTypes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IUserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistraionRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Responses/BaseCommandResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Common/BaseDomainEntity.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/_IndexConfiguration.cs
Labels: @team/backend

feat(Backend.ZSilentCoders): Implement Blog features
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/.gitignore
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/indexLayout.xml
  Backend/starter_project_zsilentcoders/BlogApp3/.idea/.idea.BlogApp3/.idea/vcs.xml
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BaseController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogDetailsQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/CreateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/DeleteBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogDetailsDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/DeleteBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/DeleteBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Blog.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockBlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Usings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

Implement the CRUD of Comment Entity by Adding Models,DTOs and Controllers of the Entity
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentByList.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentByIdQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Comment.cs
Labels: @team/backend

Yeabsira.user-implement user crud
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/_IndexController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/I_IndexRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Commands/Create_IndexCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Commands/Delete_IndexCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Commands/Update_IndexCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Create_IndexCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Delete_IndexCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Get_IndexDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Get_IndexListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Handlers/Update_IndexCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Queries/Get_IndexDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/CQRS/Queries/Get_IndexListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/Create_IndexDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/I_IndexDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/Validators/Create_IndexDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/Validators/I_IndexDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/Validators/Update_IndexDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/_Indices/DTOs/_IndexDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/User.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/_Index.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/_IndexConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230501123711_initialMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230501123711_initialMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503132546_userMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503132546_userMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/_IndexRepository.cs
Labels: @team/backend

feat(Yeabsira.user): Implement user
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/UserController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/I_UserRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Create_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Delete_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Commands/Update_UserCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Create_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Delete_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Get_UserDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Get_UserListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Handlers/Update_UserCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Queries/Get_UserDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/CQRS/Queries/Get_UserListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Create_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/I_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/Create_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/I_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Validators/Update_UserDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/User.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/_UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503121725_userMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/_UserRepository.cs
Labels: @team/backend

feat(Yonas.implement-authentication) Create Files
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Constants/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ConfirmEmailResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ForgotPasswordResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Models/BlogUser.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

feat(matador.joshua): Add user entity
  Mobile/starter_project_matador/lib/features/login/Domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/signup_use_case.dart
Labels: @team/mobile

fix single blog page
  Web/starter_project_iconics/data/blog/blog.tsx
  Web/starter_project_iconics/types/blog/single-blog.tsx
Labels: @team/web

feat(Yonas.implement-authentication) implement AuthService
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Infrastructure/IEmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ConfirmEmailResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/LoginResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Identity/ResetPasswordModel.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Mail/Email.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Models/Mail/EmailSettings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/BlogApp.Infrastructure.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/InfrastructureServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Infrastructure/Mail/EmailSender.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

feat(Yonas.implement-authentication) Migration Added
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Constants/Identity/IAuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/20230503203007_initial migration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/20230503203007_initial migration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Migrations/BlogAppIdentityDbContextModelSnapshot.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Models/BlogUser.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
Labels: @team/backend

feat(web-barbies) : Add blog card component (#13)
  Web/starter_project_barbies/components/blog/BlogCard.tsx
  Web/starter_project_barbies/components/blog/LikeButton.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

implement navbar (#12)
  Web/starter_project_vanguard/components/layout/navbar.tsx
  Web/starter_project_vanguard/layout/default.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/public/images/a2sv-logo.png
  Web/starter_project_vanguard/styles/globals.css
  Web/starter_project_vanguard/tailwind.config.js
  Web/starter_project_vanguard/types/nav.ts
Labels: @team/web

feat(web-iconics): add configuration for font-styles (#42)
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

Added constant image and colors file to track colors and images (#66)
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/images.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/ui_converter.dart
Labels: @team/mobile

feat(web-barbies) : Add select blog tag component (#36)
  Web/starter_project_barbies/components/blog/SelectBlogTag.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

feat(web-iconics): Implement hero section for the Homepage (#19)
  Web/starter_project_iconics/.prettierrc
  Web/starter_project_iconics/components/home-page/Hero.tsx
  Web/starter_project_iconics/cypress.config.ts
  Web/starter_project_iconics/cypress/support/commands.ts
  Web/starter_project_iconics/cypress/support/e2e.ts
  Web/starter_project_iconics/package-lock.json
  Web/starter_project_iconics/package.json
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home-page/hero.png
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

feat(web-barbies): Create blog list screen (#52)
  Web/starter_project_barbies/components/blog/BlogAuthorDetail.tsx
  Web/starter_project_barbies/components/blog/BlogCardWide.tsx
  Web/starter_project_barbies/components/blog/BlogContent.tsx
  Web/starter_project_barbies/components/blog/BlogsList.tsx
  Web/starter_project_barbies/components/common/SearchForm.tsx
  Web/starter_project_barbies/components/common/TagList.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/pages/blog/blog-detail.tsx
  Web/starter_project_barbies/pages/blog/blogs.tsx
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

feat(web-iconics): Implement header component (#24)
  Web/starter_project_iconics/components/layout/Navbar.tsx
  Web/starter_project_iconics/data/layout/navbar/nav-data.ts
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/public/a2sv-logo.png
Labels: @team/web

feat(web-barbies): Create blog detail screen (#43)
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/pages/blog/BlogDetail.tsx
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

feat(web-barbies): Create pagination component (#17)
  Web/starter_project_barbies/components/common/Pagination.tsx
Labels: @team/web

feat(web-vanguard): implemented the hero section on teams page (#26)
  Web/starter_project_vanguard/components/team/HeroSection.tsx
  Web/starter_project_vanguard/next.config.js
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/public/img/teams/hero-section/hero-background.png
  Web/starter_project_vanguard/public/img/teams/hero-section/hero-image-1.png
  Web/starter_project_vanguard/public/img/teams/hero-section/hero-image-2.png
  Web/starter_project_vanguard/public/img/teams/hero-section/hero-image-3.png
Labels: @team/web

Define custom buttons (#67)
  Web/starter_project_vanguard/styles/globals.css
Labels: @team/web

Web barbies.tsehayneh.blog post card (#77)
  Web/starter_project_barbies/components/blog/LikeButton.tsx
Labels: @team/web

feat(web-iconics) : implement Team Card component (#62)
  Web/starter_project_iconics/components/common/Button.tsx
  Web/starter_project_iconics/components/team/TeamCard.tsx
  Web/starter_project_iconics/pages/index.tsx
Labels: @team/web

feat(web-vanguard): implement the Member card component (#18)
  Web/starter_project_vanguard/components/team/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/MemberCard.tsx
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/components/teams/README.md
  Web/starter_project_vanguard/data/team-members.json
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/teams/README.md
  Web/starter_project_vanguard/pages/teams/index.tsx
  Web/starter_project_vanguard/types/teams.ts
Labels: @team/web

add the colors (#68)
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
Labels: @team/mobile

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
