Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'

add article_card
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/widgets/add_button.dart
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/widgets/article_card.dart
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/widgets/profile.dart
Labels: @team/mobile

fix(mobile-dartsmiths): Made requested changes
  Mobile/starter_project_dartsmiths/lib/core/utils/style.dart
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/widgets/add_button.dart
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/widgets/article_card.dart
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/widgets/filter_button.dart
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/widgets/profile.dart
  Mobile/starter_project_dartsmiths/lib/features/home/presentation/widgets/search_bar.dart
Labels: @team/mobile

update navigation file
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
Labels: @team/mobile

update the buttonsfile
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/buttons.dart
Labels: @team/mobile

update signup_form file
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/signup_form.dart
Labels: @team/mobile

initial commit
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/.dart_tool/version
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/pages/signup.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/signup_form.dart
Labels: @team/mobile

return main.dart to its original form
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

remove fonts
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-BlackItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-BoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ExtraLight.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Italic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-LightItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-MediumItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Thin.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-Black.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-BlackItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-BoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-ExtraBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-ExtraBoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-ExtraLight.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-Italic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-LightItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-MediumItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-SemiBoldItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/static/Urbanist-Thin.ttf
Labels: @team/mobile

remove dart tools and androidfile
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/.dart_tool/version
  Mobile/starter_project_dark_knights/android/local.properties
  Mobile/starter_project_dark_knights/assets/images/logo.png
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/core/utils/style.dart
  Mobile/starter_project_dark_knights/lib/core/utils/util.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/pages/signup.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/signup_form.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

update pubspec.yaml
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/pages/signup.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat(Mobile.dartknights.Fenet): Implement signup page
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/OFL.txt
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Black.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ExtraBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ThinItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/OFL.txt
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/README.txt
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-ExtraLightItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-ThinItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dark_knights/assets/images/logo.png
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/core/utils/style.dart
  Mobile/starter_project_dark_knights/lib/core/utils/util.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/signup_form.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

add article card
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Bold.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Light.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dartsmiths/assets/images/backgrd.jpg
  Mobile/starter_project_dartsmiths/assets/images/card_picture.jpg
  Mobile/starter_project_dartsmiths/assets/images/menu_bar.svg
  Mobile/starter_project_dartsmiths/assets/images/profile_picture.jpg
  Mobile/starter_project_dartsmiths/lib/features/feed/data/datasources/example_datasource.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/data/datasources/home_datasource.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/data/models/example.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/data/models/home.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/data/repositories/example_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/data/repositories/home_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/domain/entities/example.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/domain/entities/home.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/domain/repositories/example_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/domain/repositories/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/domain/usecases/home_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/bloc/example_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/bloc/example_event.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/bloc/example_state.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/bloc/home_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/bloc/home_event.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/bloc/home_state.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/add_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/article_card.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/filter_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/profile.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/search_bar.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

add search bar
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Bold.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Light.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dartsmiths/assets/images/backgrd.jpg
  Mobile/starter_project_dartsmiths/assets/images/card_picture.jpg
  Mobile/starter_project_dartsmiths/assets/images/menu_bar.svg
  Mobile/starter_project_dartsmiths/assets/images/profile_picture.jpg
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/profile.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/search_bar.dart
Labels: @team/mobile

add filter button
  Mobile/starter_project_dartsmiths/lib/core/utils/style.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/filter_button.dart
Labels: @team/mobile

Completed home page
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/add_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/article_card.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

delete unnecessary components
  Web/starter_project_vanguard/components/blog/Blog.tsx
  Web/starter_project_vanguard/components/blog/Search.tsx
  Web/starter_project_vanguard/components/common/Pagination.tsx
  Web/starter_project_vanguard/components/common/Text.tsx
Labels: @team/web

feat(Backend.DaniT-Folder-Structure-Setup) Added one blank sln to
  .vs/Internship-2023/FileContentIndex/236762d4-d3db-487e-8c0b-bfd20e65ccbc.vsidx
  .vs/Internship-2023/FileContentIndex/6ff17340-95e7-4d01-b436-dc536992a44e.vsidx
  .vs/Internship-2023/FileContentIndex/91363f44-aafe-43c9-ae25-d72b87bca813.vsidx
  .vs/Internship-2023/FileContentIndex/c8e229c7-0a96-48d3-96ee-79df3708abde.vsidx
  .vs/Internship-2023/FileContentIndex/read.lock
  .vs/Internship-2023/config/applicationhost.config
  .vs/Internship-2023/v17/.wsuo
  .vs/Internship-2023/v17/workspaceFileList.bin
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  .vs/tasks.vs.json
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/v17/.suo
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
Labels: @team/backend

feat(Backend.DaniT-Folder-Structure-Setup): gitIgnore setup.
  .gitignore
  .vs/Internship-2023/FileContentIndex/236762d4-d3db-487e-8c0b-bfd20e65ccbc.vsidx
  .vs/Internship-2023/FileContentIndex/91363f44-aafe-43c9-ae25-d72b87bca813.vsidx
  .vs/Internship-2023/FileContentIndex/c8e229c7-0a96-48d3-96ee-79df3708abde.vsidx
  .vs/slnx.sqlite
  Backend/.gitignore
  Backend/starter_project_mavericks/BlogApp/.vs/BlogApp/v17/.suo
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/obj/Debug/net6.0/BlogApp.API.assets.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/obj/Debug/net6.0/BlogApp.Application.assets.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/obj/Debug/net6.0/BlogApp.Domain.assets.cache
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.GeneratedMSBuildEditorConfig.editorconfig
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/obj/Debug/net6.0/BlogApp.Persistence.assets.cache
Labels: repo, @team/backend

Delete .vs directory
  .vs/Internship-2023/FileContentIndex/6ff17340-95e7-4d01-b436-dc536992a44e.vsidx
  .vs/Internship-2023/FileContentIndex/read.lock
  .vs/Internship-2023/config/applicationhost.config
  .vs/Internship-2023/v17/.wsuo
  .vs/Internship-2023/v17/workspaceFileList.bin
  .vs/VSWorkspaceState.json
  .vs/slnx.sqlite
  .vs/tasks.vs.json
Labels: none

feat(Backend.DaniT-Folder-Structure-Setup): gitIgnore setup.
  Backend/.gitignore
Labels: @team/backend

implement-add-new-blog
  Web/starter_project_vanguard/components/blog/TextEditor.tsx
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
Labels: @team/web

implement add-new-blog
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/TextEditor.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/public/images/illustration.JPG
Labels: @team/web

responsive
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/TextEditor.tsx
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
Labels: @team/web

rebase commited.
  .gitignore
Labels: repo

fix the errors causing the deployment to fail (#98)
  Web/starter_project_vanguard/components/layout/Footer.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/types/footer-navigation.ts
Labels: @team/web

(Mobile-Dartknights): duplicate the example folder and add starter files
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/header_text.dart
Labels: @team/mobile

fix(Mobile-Dartknights): add onboarding screen page
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
Labels: @team/mobile

add(Mobile-Dartknights): Add widgets for onboarding screen
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/clipped_image_widget.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/description_text_widget.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/dot_widget.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/example_widget.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/header_text_widget.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
Labels: @team/mobile

(Mobile-Dartknights): Add separate widgets for the onboarding screen
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/clipped_image.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/description_text.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/dot.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/example_widget.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/header_text.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

manage state with redux
  Web/starter_project_vanguard/data/success-story.json
  Web/starter_project_vanguard/features/success-story/success-story-api-slice.ts
  Web/starter_project_vanguard/hooks/hooks.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/public/manifest.json
  Web/starter_project_vanguard/store/store.ts
Labels: @team/web

(Mobile-Dartknights): Add images and fonts to assets
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/images/1.png
  Mobile/starter_project_dark_knights/assets/images/2.png
  Mobile/starter_project_dark_knights/assets/images/3.png
  Mobile/starter_project_dark_knights/assets/images/4.png
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

custom 404 page
  Web/starter_project_vanguard/features/success-story/success-story-api-slice.ts
  Web/starter_project_vanguard/pages/success-story/index.tsx
Labels: @team/web

Implement Partners-section
  Web/starter_project_barbies/components/story/Partners.tsx
Labels: @team/web

Implement successStory-section
  Web/starter_project_barbies/components/story/SuccessStory.tsx
  Web/starter_project_barbies/components/story/SuccessStoryCard.tsx
Labels: @team/web

Implement Title-section
  Web/starter_project_barbies/components/story/Title.tsx
Labels: @team/web

Include dataSets
  Web/starter_project_barbies/public/data/story.json
  Web/starter_project_barbies/public/img/story/companies/databricks.png
  Web/starter_project_barbies/public/img/story/companies/google.png
  Web/starter_project_barbies/public/img/story/companies/instdeep.png
  Web/starter_project_barbies/public/img/story/companies/linkedin.png
  Web/starter_project_barbies/public/img/story/companies/meta.png
  Web/starter_project_barbies/public/img/story/companies/palantir.png
  Web/starter_project_barbies/public/img/story/photos/biruk.png
  Web/starter_project_barbies/public/img/story/photos/lydia.png
  Web/starter_project_barbies/public/img/story/photos/yisehak.png
  Web/starter_project_barbies/styles/story/style.module.css
  Web/starter_project_barbies/types/story.ts
Labels: @team/web

update column widget alignment
  Mobile/starter_project_dartsmiths/lib/features/example/presentation/widgets/login_card.dart
Labels: @team/mobile

update text called show
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
Labels: @team/mobile

update naming of login card class
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/screen/Login_page.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
Labels: @team/mobile

update alignment of login card texts
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
Labels: @team/mobile
