Repository RealEskalate/Internship-2023, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, @team/mobile, @team/web, @team/backend

dom[Mobile.dartsmiths]: add get user profile test
  Mobile/starter_project_dartsmiths/lib/core/error/profile_failures.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/entities/user_profile.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/repositories/user_profile_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/usecases/get_user_profile.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.dart
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.mocks.dart
Labels: @team/mobile

(fix): Refactored the domain layer
  Mobile/starter_project_dartsmiths/lib/core/usecase/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/usecases/get_user_profile.dart
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.dart
Labels: @team/mobile

feat(wed-iconics)- Implement single blog page (#149)
  Web/starter_project_iconics/data/blog/blog-detail.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/add-blog.tsx
  Web/starter_project_iconics/public/img/blog/dummy-author-img.png
  Web/starter_project_iconics/public/img/blog/dummy-blog-img.png
  Web/starter_project_iconics/types/blog/blog-detail.tsx
Labels: @team/web

fix getFollowing to return list of user entities
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
Labels: @team/mobile

fix(we-barbies) : Fix single blog route
  Web/starter_project_barbies/components/blog/BlogCard.tsx
Labels: @team/web

fix remove params from the usecases
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
Labels: @team/mobile

fix(we-barbies) : Fix single blog route (#182)
  Web/starter_project_barbies/components/blog/BlogCard.tsx
Labels: @team/web

fix conflict on the mock repository
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
Labels: @team/mobile

dom[Mobile.dartsmiths]: Add user profile entities and usecase (#147)
  Mobile/starter_project_dartsmiths/lib/core/error/profile_failures.dart
  Mobile/starter_project_dartsmiths/lib/core/usecase/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/entities/user_profile.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/repositories/user_profile_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/usecases/get_user_profile.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.dart
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.mocks.dart
Labels: @team/mobile

feat(Yonas.implement-authentication) xuser feature
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/AuthController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/UserController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Users/DTOs/Create_UserDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/IdentityServiceRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503132546_userMigration.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503132546_userMigration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508075848_fix-date-time.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230508075848_fix-date-time.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockBlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

move team type to folder
  Web/starter_project_barbies/data/team/team-members.json
  Web/starter_project_barbies/pages/team/index.tsx
Labels: @team/web

change color
  Web/starter_project_barbies/components/team/TeamMemberCard.tsx
  Web/starter_project_barbies/pages/team/index.tsx
Labels: @team/web

Yared.teams page responsiveness (#85)
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/pages/teams/index.tsx
  Web/starter_project_vanguard/tailwind.config.js
Labels: @team/web

create sucess stories page (#11)
  Web/starter_project_vanguard/components/layout/navbar.tsx
  Web/starter_project_vanguard/components/success-story/Partners.tsx
  Web/starter_project_vanguard/components/success-story/README.md
  Web/starter_project_vanguard/components/success-story/SuccessDescription.tsx
  Web/starter_project_vanguard/components/success-story/SuccessImageCard.tsx
  Web/starter_project_vanguard/data/success-story.json
  Web/starter_project_vanguard/pages/_document.tsx
  Web/starter_project_vanguard/pages/story/README.md
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/public/images/success-story/companies/databricks.png
  Web/starter_project_vanguard/public/images/success-story/companies/google.png
  Web/starter_project_vanguard/public/images/success-story/companies/insta-deep.png
  Web/starter_project_vanguard/public/images/success-story/companies/linkedin.png
  Web/starter_project_vanguard/public/images/success-story/companies/meta.png
  Web/starter_project_vanguard/public/images/success-story/companies/palantir.png
  Web/starter_project_vanguard/public/images/success-story/people/biruk.png
  Web/starter_project_vanguard/public/images/success-story/people/isaac.png
  Web/starter_project_vanguard/public/images/success-story/people/lydia.png
  Web/starter_project_vanguard/styles/globals.css
  Web/starter_project_vanguard/types/success-story.ts
Labels: @team/web

feat(web-iconics) : implement footer component (#40)
  Web/starter_project_iconics/components/layout/Footer.tsx
  Web/starter_project_iconics/pages/_app.tsx
  Web/starter_project_iconics/public/img/layout/helping-a-partner.jpg
  Web/starter_project_iconics/types/layout/nav-item.ts
Labels: @team/web

fix the errors causing the deployment to fail (#98)
  Web/starter_project_vanguard/components/layout/Footer.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/types/footer-navigation.ts
Labels: @team/web

[feat/onboarding] Create the onboarding page UI (#53)
  Mobile/starter_project_dartsmiths/assets/images/onboarding_photo_1.png
  Mobile/starter_project_dartsmiths/assets/images/onboarding_photo_2.png
  Mobile/starter_project_dartsmiths/assets/images/onboarding_photo_3.png
  Mobile/starter_project_dartsmiths/assets/images/onboarding_photo_4.png
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/lib/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dartsmiths/lib/onboarding/presentation/widgets/onboarding_stepper_box.dart
  Mobile/starter_project_dartsmiths/lib/onboarding/presentation/widgets/onboarding_stepper_button.dart
  Mobile/starter_project_dartsmiths/lib/onboarding/presentation/widgets/stepper_dots.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

deployment fixes (#97)
  Web/starter_project_iconics/components/common/Button.tsx
  Web/starter_project_iconics/components/layout/Navbar.tsx
  Web/starter_project_iconics/components/team/TeamCard.tsx
Labels: @team/web

feat(web-barbies): Fix blog routing (#83)
  Web/starter_project_barbies/components/blog/BlogCardWide.tsx
  Web/starter_project_barbies/components/blog/BlogContent.tsx
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/components/common/Pagination.tsx
  Web/starter_project_barbies/next.config.js
  Web/starter_project_barbies/pages/blogs/README.md
  Web/starter_project_barbies/pages/blogs/[id].tsx
  Web/starter_project_barbies/pages/blogs/index.tsx
  Web/starter_project_barbies/public/data/blogs.json
Labels: @team/web

feat(Mobile.dartsmiths.jeal): Implemented home page (#104)
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Bold.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Light.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dartsmiths/assets/images/backgrd.jpg
  Mobile/starter_project_dartsmiths/assets/images/card_picture.jpg
  Mobile/starter_project_dartsmiths/assets/images/menu_bar.svg
  Mobile/starter_project_dartsmiths/assets/images/profile_picture.jpg
  Mobile/starter_project_dartsmiths/lib/core/utils/style.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/add_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/article_card.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/filter_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/profile.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/search_bar.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

feat(Mobile.dartknights.Fenet): Implement signup page
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/OFL.txt
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Black.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ExtraBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ThinItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/OFL.txt
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/README.txt
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-ExtraLightItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-ThinItalic.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dark_knights/assets/images/logo.png
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/core/utils/style.dart
  Mobile/starter_project_dark_knights/lib/core/utils/util.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/signup_form.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat(dartsmiths) Created article reading page (#102)
  Mobile/starter_project_dartsmiths/lib/core/utils/images.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/article_profile.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/like_button.dart
Labels: @team/mobile

(Mobile-Dartknights): Implement the onboarding screen (#96)
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Bold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/urbanist/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/images/onboarding_1.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_2.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_3.png
  Mobile/starter_project_dark_knights/assets/images/onboarding_4.png
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/clipped_image.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/description_text.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/header_text.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/stepper_dot.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat(Mobile-Dart-Knights): add article reading page (#86)
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Medium.ttf
  Mobile/starter_project_dark_knights/assets/images/post_image.png
  Mobile/starter_project_dark_knights/assets/images/profile_image.png
  Mobile/starter_project_dark_knights/lib/core/utils/converter.dart
  Mobile/starter_project_dark_knights/lib/core/utils/images.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/screen/Article_Reading_Page.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Author_Detail.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Author_Profile_Picture.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Like_Button.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Post.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/BookmarkIconButton.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Header.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Header_Icons.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat(Mobile-Matador): Implement Write article page (#48)
  Mobile/starter_project_matador/lib/core/shared_widgets/article_button.dart
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_datasource.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article.dart
  Mobile/starter_project_matador/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_event.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_state.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/content_widget.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/input_field.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/publish_button.dart
Labels: @team/mobile

feat(Mobile.dartsmiths.zalbo): Implemented profile page (#20)
  Mobile/starter_project_dartsmiths/lib/core/utils/text_styles.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
Labels: @team/mobile

feat(Mobile-Dart-Knights): add profile-page (#90)
  Mobile/starter_project_dark_knights/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/.dart_tool/version
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/widgets/blue_card.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/widgets/post_display.dart
Labels: @team/mobile

onboarding page is done (#30)
  Mobile/starter_project_dartsmiths/assets/images/onboarding1.jpg
  Mobile/starter_project_dartsmiths/assets/images/onboarding2.jpg
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/on_boarding_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/article_content.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/next_pointer.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_lower_layout.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_upper_layout.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

(feat-Dartsmiths): add login page (#73)
  Mobile/starter_project_dartsmiths/assets/font/Poppins-Regular.ttf
  Mobile/starter_project_dartsmiths/assets/font/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dartsmiths/assets/images/a2sv_logo.jpg
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/images.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/screen/Login_page.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/custom_login_text.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

final commit
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/next.config.js
  Web/starter_project_vanguard/tsconfig.json
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

fix next image
  Web/starter_project_vanguard/components/layout/Navbar.tsx
  Web/starter_project_vanguard/components/layout/navbar.tsx
  Web/starter_project_vanguard/data/layout/nav-items.ts
  Web/starter_project_vanguard/layout/default.tsx
  Web/starter_project_vanguard/public/images/samplepic.jpg
  Web/starter_project_vanguard/public/img/a2sv-logo.png
  Web/starter_project_vanguard/public/img/success-story/companies/databricks.png
  Web/starter_project_vanguard/public/img/success-story/companies/google.png
  Web/starter_project_vanguard/public/img/success-story/companies/insta-deep.png
  Web/starter_project_vanguard/public/img/success-story/companies/linkedin.png
  Web/starter_project_vanguard/public/img/success-story/companies/meta.png
  Web/starter_project_vanguard/public/img/success-story/companies/palantir.png
  Web/starter_project_vanguard/public/img/success-story/people/biruk.png
  Web/starter_project_vanguard/public/img/success-story/people/isaac.png
  Web/starter_project_vanguard/public/img/success-story/people/lydia.png
Labels: @team/web

feat(web-vanguard): implement a working pagination (#87)
  Web/starter_project_vanguard/components/common/pagination.tsx
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/MemberCard.tsx
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/data/team-members.json
  Web/starter_project_vanguard/pages/teams/index.tsx
Labels: @team/web

feat(mobile - dart knight): implement the homepage (#60)
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ExtraLight.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/images/article_pic.jpg
  Mobile/starter_project_dark_knights/assets/images/menu.png
  Mobile/starter_project_dark_knights/assets/images/profile_pic.jpg
  Mobile/starter_project_dark_knights/assets/images/search_icon.png
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/screen/home_page.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/action_button.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_card.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_image.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_info.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/filters.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/profile_pic.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/search_bar.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

feat(mobile.matador): Add Login Page (#80)
  Mobile/starter_project_matador/assets/fonts/Poppins-SemiBold.ttf
  Mobile/starter_project_matador/assets/fonts/Urbanist-Bold.ttf
  Mobile/starter_project_matador/assets/images/A2SVBlue.png
  Mobile/starter_project_matador/lib/core/utils/constants/global_variables.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

feat(Mobile-Dartknight): Implement log in screen (#63)
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/images/a2sv.png
  Mobile/starter_project_dark_knights/lib/core/utils/text_style.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/login_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_button.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

implement success stories page (#50)
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/components/story/Stories.tsx
  Web/starter_project_iconics/components/story/TextSection.tsx
  Web/starter_project_iconics/data/story/success-stories.ts
  Web/starter_project_iconics/pages/story/success-stories.tsx
  Web/starter_project_iconics/public/img/success-stories-images/companies/databricks-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/google-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/inst-deep-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/linkedin-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/meta-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/palantir-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/people/biruk.png
  Web/starter_project_iconics/public/img/success-stories-images/people/lydia.png
  Web/starter_project_iconics/public/img/success-stories-images/people/yisehak.png
  Web/starter_project_iconics/types/story/success-stories.tsx
Labels: @team/web

(fix: add svg dependency that is needed for profile_page) (#110)
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

(fix) Resolved merge erros, Added test folder with example files, Fixed git ignore not to add generated files, Fixed font size for Onboarding page (#116)
  Mobile/starter_project_dartsmiths/.gitignore
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/on_boarding_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/onboarding_page_v1.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/onboarding_page_v2.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_stepper_box.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_stepper_button.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/stepper_dots.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/core/core_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/datasources/example_datasource_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/models/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/data/repositories/example_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/entities/example_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/repositories/example_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/example_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/example/presentation/bloc/example_bloc_test.dart
Labels: @team/mobile

add full UI of write article page (#113)
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/title_bar.dart
Labels: @team/mobile

feat(web-barbies) : create Personal Information Component (#94)
  Web/starter_project_barbies/components/profile/ProfileInformation.tsx
  Web/starter_project_barbies/components/profile/ProfileNavbar.tsx
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/public/img/profile-information/profile-girl.png
Labels: @team/web

.github/labeler.yml:

repo:
- '*'

'@team/mobile':
- 'Mobile/**/*'

'@team/web':
- 'Web/**/*'

'@team/backend':
- 'Backend/**/*'
