Repository RealEskalate/Internship-2023, pull requests merged in 2023-05, with the labels that each got.

#98 fix(web-vanguard): fix the errors causing the deployment to fail
  Web/starter_project_vanguard/components/layout/Footer.tsx
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/types/footer-navigation.ts
Labels: @team/web

#104 feat(Mobile.dartsmiths.jeal): Implemented home page
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Bold.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Light.ttf
  Mobile/starter_project_dartsmiths/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dartsmiths/assets/images/backgrd.jpg
  Mobile/starter_project_dartsmiths/assets/images/card_picture.jpg
  Mobile/starter_project_dartsmiths/assets/images/menu_bar.svg
  Mobile/starter_project_dartsmiths/assets/images/profile_picture.jpg
  Mobile/starter_project_dartsmiths/lib/core/utils/style.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/add_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/article_card.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/filter_button.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/profile.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/presentation/widgets/search_bar.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

#30 onboarding page is done
  Mobile/starter_project_dartsmiths/assets/images/onboarding1.jpg
  Mobile/starter_project_dartsmiths/assets/images/onboarding2.jpg
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/screen/on_boarding_page.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/article_content.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/next_pointer.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_lower_layout.dart
  Mobile/starter_project_dartsmiths/lib/features/onboarding/presentation/widgets/onboarding_upper_layout.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

#73 (feat-Dartsmiths): add login page
  Mobile/starter_project_dartsmiths/assets/font/Poppins-Regular.ttf
  Mobile/starter_project_dartsmiths/assets/font/Urbanist-VariableFont_wght.ttf
  Mobile/starter_project_dartsmiths/assets/images/a2sv_logo.jpg
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/images.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/screen/Login_page.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/custom_login_text.dart
  Mobile/starter_project_dartsmiths/lib/features/login/presentation/widgets/login_card.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
Labels: @team/mobile

#20 feat(Mobile.dartsmiths.zalbo): Implemented profile page
  Mobile/starter_project_dartsmiths/lib/core/utils/text_styles.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/about_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/post_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
Labels: @team/mobile

#48 feat(Mobile-Matador): Implement Write article page
  Mobile/starter_project_matador/lib/core/shared_widgets/article_button.dart
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_datasource.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article.dart
  Mobile/starter_project_matador/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_event.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_state.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/content_widget.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/input_field.dart
  Mobile/starter_project_matador/lib/features/article/presentation/widgets/publish_button.dart
Labels: @team/mobile

#90 feat(Mobile-Dart-Knights): add profile-page
  Mobile/starter_project_dark_knights/.dart_tool/dartpad/web_plugin_registrant.dart
  Mobile/starter_project_dark_knights/.dart_tool/package_config.json
  Mobile/starter_project_dark_knights/.dart_tool/package_config_subset
  Mobile/starter_project_dark_knights/.dart_tool/version
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/screen/profile_page.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/widgets/blue_card.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/widgets/post_display.dart
Labels: @team/mobile

#86 feat(Mobile-Dart-Knights): add article reading page
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Medium.ttf
  Mobile/starter_project_dark_knights/assets/images/post_image.png
  Mobile/starter_project_dark_knights/assets/images/profile_image.png
  Mobile/starter_project_dark_knights/lib/core/utils/converter.dart
  Mobile/starter_project_dark_knights/lib/core/utils/images.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/screen/Article_Reading_Page.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Author_Detail.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Author_Profile_Picture.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Like_Button.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Article_Post.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/BookmarkIconButton.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Header.dart
  Mobile/starter_project_dark_knights/lib/features/article reading/presentation/widgets/Header_Icons.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

#95 Implement blog card
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/next.config.js
  Web/starter_project_vanguard/tsconfig.json
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

#72 Segni.mobile responsive nav
  Web/starter_project_vanguard/components/layout/Navbar.tsx
  Web/starter_project_vanguard/components/layout/navbar.tsx
  Web/starter_project_vanguard/data/layout/nav-items.ts
  Web/starter_project_vanguard/layout/default.tsx
  Web/starter_project_vanguard/public/img/a2sv-logo.png
  Web/starter_project_vanguard/public/img/success-story/companies/databricks.png
  Web/starter_project_vanguard/public/img/success-story/companies/google.png
  Web/starter_project_vanguard/public/img/success-story/companies/insta-deep.png
  Web/starter_project_vanguard/public/img/success-story/companies/linkedin.png
  Web/starter_project_vanguard/public/img/success-story/companies/meta.png
  Web/starter_project_vanguard/public/img/success-story/companies/palantir.png
  Web/starter_project_vanguard/public/img/success-story/people/biruk.png
  Web/starter_project_vanguard/public/img/success-story/people/isaac.png
  Web/starter_project_vanguard/public/img/success-story/people/lydia.png
Labels: @team/web

#87 feat(web-vanguard): implement a working pagination
  Web/starter_project_vanguard/components/common/pagination.tsx
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/MemberCard.tsx
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/data/team-members.json
  Web/starter_project_vanguard/pages/teams/index.tsx
Labels: @team/web

#60 feat(mobile - dart knight): implement the homepage
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-ExtraLight.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-Medium.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Poppins/Poppins-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-SemiBold.ttf
  Mobile/starter_project_dark_knights/assets/fonts/poppins/Poppins-Light.ttf
  Mobile/starter_project_dark_knights/assets/images/article_pic.jpg
  Mobile/starter_project_dark_knights/assets/images/menu.png
  Mobile/starter_project_dark_knights/assets/images/profile_pic.jpg
  Mobile/starter_project_dark_knights/assets/images/search_icon.png
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/screen/home_page.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/action_button.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_card.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_image.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_info.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/filters.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/profile_pic.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/search_bar.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

#50 implement success stories page
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
  Web/starter_project_iconics/components/story/Stories.tsx
  Web/starter_project_iconics/components/story/TextSection.tsx
  Web/starter_project_iconics/data/story/success-stories.ts
  Web/starter_project_iconics/pages/story/success-stories.tsx
  Web/starter_project_iconics/public/img/success-stories-images/companies/databricks-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/google-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/inst-deep-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/linkedin-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/meta-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/companies/palantir-logo.png
  Web/starter_project_iconics/public/img/success-stories-images/people/biruk.png
  Web/starter_project_iconics/public/img/success-stories-images/people/lydia.png
  Web/starter_project_iconics/public/img/success-stories-images/people/yisehak.png
  Web/starter_project_iconics/types/story/success-stories.tsx
Labels: @team/web

#63 feat(Mobile-Dartknight): Implement log in screen
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/images/a2sv.png
  Mobile/starter_project_dark_knights/lib/core/utils/text_style.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/login_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_button.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

#80 feat(mobile.matador): Add Login Page
  Mobile/starter_project_matador/assets/fonts/Poppins-SemiBold.ttf
  Mobile/starter_project_matador/assets/fonts/Urbanist-Bold.ttf
  Mobile/starter_project_matador/assets/images/A2SVBlue.png
  Mobile/starter_project_matador/lib/core/utils/constants/global_variables.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
  Mobile/starter_project_matador/lib/main.dart
Labels: @team/mobile

#111 fix bugs
  Mobile/starter_project_dartsmiths/lib/core/utils/article_page_styles.dart
  Mobile/starter_project_dartsmiths/lib/core/utils/colors.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/screens/post_article_page.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/chips_builder.dart
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/widgets/custom_textfield.dart
Labels: @team/mobile

#114 feat(mobile.matador.duressaJemal): Implement homepage body UI
  Mobile/starter_project_matador/assets/images/card_image.jpg
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/article_preview_card.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/chip_builder.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/filter_chips.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/home_page_body.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/search_bar.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

#94 feat(web-barbies) : create Personal Information Component
  Web/starter_project_barbies/components/profile/ProfileInformation.tsx
  Web/starter_project_barbies/components/profile/ProfileNavbar.tsx
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/public/img/profile-information/profile-girl.png
Labels: @team/web

#110 (fix: add svg dependency that is needed for profile_page)
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

#113 feat(mobile-dart-knights) : implement write article page
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/write_article/presentation/widgets/title_bar.dart
Labels: @team/mobile

#76 ekram.story-page
  Web/starter_project_barbies/components/story/Partners.tsx
  Web/starter_project_barbies/components/story/SuccessStory.tsx
  Web/starter_project_barbies/components/story/SuccessStoryCard.tsx
  Web/starter_project_barbies/components/story/Title.tsx
  Web/starter_project_barbies/pages/story/index.tsx
  Web/starter_project_barbies/public/data/partners.json
  Web/starter_project_barbies/public/data/story.json
  Web/starter_project_barbies/public/img/story/companies/databricks.png
  Web/starter_project_barbies/public/img/story/companies/google.png
  Web/starter_project_barbies/public/img/story/companies/instdeep.png
  Web/starter_project_barbies/public/img/story/companies/linkedin.png
  Web/starter_project_barbies/public/img/story/companies/meta.png
  Web/starter_project_barbies/public/img/story/companies/palantir.png
  Web/starter_project_barbies/public/img/story/photos/biruk.png
  Web/starter_project_barbies/public/img/story/photos/lydia.png
  Web/starter_project_barbies/public/img/story/photos/yisehak.png
  Web/starter_project_barbies/public/img/successStory/a2sv-logo.png
  Web/starter_project_barbies/public/img/successStory/biruk.png
  Web/starter_project_barbies/public/img/successStory/databricks.png
  Web/starter_project_barbies/public/img/successStory/google.png
  Web/starter_project_barbies/public/img/successStory/instdeep.png
  Web/starter_project_barbies/public/img/successStory/linkedin.png
  Web/starter_project_barbies/public/img/successStory/lydia.png
  Web/starter_project_barbies/public/img/successStory/meta.png
  Web/starter_project_barbies/public/img/successStory/palantir.png
  Web/starter_project_barbies/public/img/successStory/yisehak.png
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/styles/story/style.module.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/story.ts
Labels: @team/web

#100 feat(web-iconics): implement teams-hero component
  Web/starter_project_iconics/components/team/TeamsHero.tsx
  Web/starter_project_iconics/pages/team/teams-page.tsx
  Web/starter_project_iconics/pages/teams/README.md
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/public/img/teams/hero-background.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-1.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-2.png
  Web/starter_project_iconics/public/img/teams/team-work/team-work-3.png
Labels: @team/web

#74 feat(web-iconics): implement build better section for the homepage
  Web/starter_project_iconics/components/home-page/Hero.tsx
  Web/starter_project_iconics/components/home/BuildBetter.tsx
  Web/starter_project_iconics/components/home/Landing.tsx
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/better-tomorrow.jpg
  Web/starter_project_iconics/public/img/home/hero.png
Labels: @team/web

#99 img->Image
  Web/starter_project_vanguard/components/success-story/Partners.tsx
  Web/starter_project_vanguard/components/success-story/SuccessImageCard.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
Labels: @team/web

#37 feat(web-barbies): Add team page
  Web/starter_project_barbies/data/team-members.json
  Web/starter_project_barbies/pages/team/index.tsx
  Web/starter_project_barbies/public/image/team/hero-image.svg
Labels: @team/web

#119 use next/image
  Web/starter_project_iconics/components/story/GlassImage.tsx
  Web/starter_project_iconics/components/story/PartnersLogos.tsx
Labels: @team/web

#115 fix(web-vanguard): make the hero on teams page responsive
  Web/starter_project_vanguard/components/teams/HeroSection.tsx
  Web/starter_project_vanguard/components/teams/MemberCard.tsx
  Web/starter_project_vanguard/data/success-story.json
Labels: @team/web

#41 add profile page
  Web/starter_project_vanguard/components/layout/Navbar.tsx
  Web/starter_project_vanguard/components/profile/AccountSetting.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/public/img/profile/profile-photo.png
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

#45 feat(web-barbies) : Add blog-form component for new blog post
  Web/starter_project_barbies/components/blog/BlogForm.tsx
  Web/starter_project_barbies/components/blog/RichTextEditor.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/public/img/blog/file-upload.jpg
Labels: @team/web

#130 fix(web-iconics): remove extra teams page
  Web/starter_project_iconics/pages/team/teams-page.tsx
  Web/starter_project_iconics/styles/globals.css
Labels: @team/web

#122 fix(matador.joshua): add forget password
  Mobile/starter_project_matador/lib/features/login/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/forgot_password.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

#124 A navbar on the new branch
  Web/starter_project_barbies/components/layout/Navbar.tsx
Labels: @team/web

#22 feat(web-barbies) : Add user blogs management page
  Web/starter_project_barbies/data/blogs.json
  Web/starter_project_barbies/pages/api/blogs.ts
  Web/starter_project_barbies/pages/blogs/my-blogs/[user-id].tsx
  Web/starter_project_barbies/public/img/blog/coding.jpg
  Web/starter_project_barbies/public/img/blog/profile.jpg
  Web/starter_project_barbies/styles/globals.css
Labels: @team/web

#134 fix(matador.joshua): remove login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/input_form_field.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/login_signup.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/rounded_button.dart
  Mobile/starter_project_matador/lib/features/login_page/Presentation/widgets/sign_in_with_your_account.dart
Labels: @team/mobile

#136 feat(mobile-matador): add onboarding screen
  Mobile/starter_project_matador/lib/features/onboarding/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/widgets/introduction.dart
Labels: @team/mobile

#129 fix(mobile-dart knights ): merge write article and article reading into one feature article
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_tags.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_profile_picture.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_post.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/publish_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

#123 feat(Abdulaziz.imp-rating): implement and test rating feature
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/CreateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Commands/UpdateRatingCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/RatingDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/DTOs/Validators/RatingDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Rating.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/RatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.sln
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockRatingRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateRatingCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/UpdateRatingCommandHandlerTests.cs
Labels: @team/backend

#125 feat(gadisa.rate-crud): implement rate crud
  Backend/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/RateController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/BlogApp.Application.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Rate/Query/GetRateListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Usings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Commands/CreateRateCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Commands/DeleteRateCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Commands/UpdateRateCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/CreateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/GetRateDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/GetRateListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/UpdateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Queries/GetRateDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Queries/GetRateListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/CreateRateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/IRateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/RateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/UpdateRateDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/CreateRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/IRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/UpdateRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Responses/Result.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Rate.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/RateConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230501123711_initialMigration.Designer.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/20230501123711_initialMigration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/RateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

#140 Yeabsira driba.blog crud
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BaseController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Properties/launchSettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogDetailsQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/CreateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/DeleteBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogDetailsDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/DeleteBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/I_BlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/DeleteBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Responses/Result.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Blog.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.Designer.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/20230503214140_InitialSchema.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockBlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Usings.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp3.sln
Labels: @team/backend

#143 Gadisa.rate crud fix
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/CreateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/DeleteRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Command/UpdateRateCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/DeleteRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

#75 (Mobile-Dartknights): Implement the splash screen
  Mobile/starter_project_dark_knights/assets/images/splash_screen.png
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

#120 feat(web-iconics): implement success-rate section of the homepage
  Web/starter_project_iconics/components/home/SuccessCard.tsx
  Web/starter_project_iconics/components/home/SuccessRate.tsx
  Web/starter_project_iconics/data/home/success-rate.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/types/home/success-rate.tsx
Labels: @team/web

#47 Bisrat | about page
  Web/starter_project_vanguard/components/about/A2SVSession.tsx
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/ImageTextStack.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/components/about/SocialProjectDescription.tsx
  Web/starter_project_vanguard/data/about/a2sv-sessions.ts
  Web/starter_project_vanguard/data/about/social-projects.ts
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/public/img/about/icons/africa-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/coding-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/github.svg
  Web/starter_project_vanguard/public/img/about/icons/light-icon.svg
  Web/starter_project_vanguard/public/img/about/icons/share.svg
  Web/starter_project_vanguard/public/img/about/phases/development-phase.svg
  Web/starter_project_vanguard/public/img/about/phases/education-process.svg
  Web/starter_project_vanguard/public/img/about/phases/growth-rate.svg
  Web/starter_project_vanguard/public/img/about/problems/how-we-are-solving.svg
  Web/starter_project_vanguard/public/img/about/problems/problem-image.svg
  Web/starter_project_vanguard/public/img/about/projects/hakimhub.svg
  Web/starter_project_vanguard/public/img/about/projects/tracksys.svg
  Web/starter_project_vanguard/public/img/about/sessions/how-to-approach.svg
  Web/starter_project_vanguard/public/img/about/sessions/problem-solving-session.svg
  Web/starter_project_vanguard/public/img/about/sessions/q&a.svg
  Web/starter_project_vanguard/public/img/about/sessions/technical-training.svg
  Web/starter_project_vanguard/public/img/about/sessions/weekly-contests.svg
  Web/starter_project_vanguard/public/img/about/sessions/weekly-one-on-ones.svg
  Web/starter_project_vanguard/styles/globals.css
  Web/starter_project_vanguard/tailwind.config.js
  Web/starter_project_vanguard/types/about/activity-component.ts
  Web/starter_project_vanguard/types/about/centered-image.ts
  Web/starter_project_vanguard/types/about/image-paragraph-component.ts
  Web/starter_project_vanguard/types/about/image-text-stack-component.ts
  Web/starter_project_vanguard/types/about/session-component.ts
  Web/starter_project_vanguard/types/about/social-project-component.ts
  Web/starter_project_vanguard/types/about/social-project-description.ts
Labels: @team/web

#153 feat(web-iconics): Implement services section of homepage
  Web/starter_project_iconics/components/home/IndividualService.tsx
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/data/home/service.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/internships.png
  Web/starter_project_iconics/public/img/home/social-projects.png
  Web/starter_project_iconics/public/img/home/training.png
  Web/starter_project_iconics/types/home/service.ts
Labels: @team/web

#158 feat(dartsmith.Tamirat).implement update and post entity and usecase with test
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/usecases/update_article.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/entities/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/repositories/.gitkeep
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
Labels: @team/mobile

#157 feat( metador/signup_page ) ui/ux
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/data_fill.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/input_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/login_text_at_the _end.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/logo.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_and_signin_box.dart
  Mobile/starter_project_matador/lib/features/signup/presentation/widgets/signup_button.dart
Labels: @team/mobile

#145 feat(backend-mavericks): Implement basic crud for blog model
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BaseApiController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/BlogController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Commands/CreateBlogCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Commands/DeleteBlogCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Commands/PublishBlogCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Commands/UpdateBlogCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/DeleteBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/GetBlogRequestHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/PublishBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Queries/GetBlogListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/CQRS/Queries/GetBlogQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/BlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/BlogListDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/IThumbnailUrlDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/UpdateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/Validators/IThumbnailUrlValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseCommandResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Blog.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230501123711_initialMigration.Designer.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/20230501123711_initialMigration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/CreateBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/DeleteBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/PublishBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Blogs/UpdateBlogCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockBlogRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

#167 fix(Mobile - Dart_Knights) : Fix import and asset errors
  Mobile/starter_project_dark_knights/assets/fonts/Poppins-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Light.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist-Regular.ttf
  Mobile/starter_project_dark_knights/assets/fonts/Urbanist/Urbanist-Medium.ttf
  Mobile/starter_project_dark_knights/lib/core/utils/style.dart
  Mobile/starter_project_dark_knights/lib/core/utils/text_style.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/log_in_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation_bar.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/article_reading_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/screen/write_article_page.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/add_article_content.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_author_detail.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/article_like_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/bookmark_icon_button.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/header_icons.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/text_fields.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/screen/home_page.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_card.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_image.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/article_info.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/filters.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/profile_pic.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/widgets/search_bar.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/widgets/onboarding/onboarding_row_images.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/signup/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/splash_screen/presentation/screen/splash_screen.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

#168 (Mobile-Dartknights): Add common errors and usecases
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/usecases/usecase.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

#170 fix(mobile-dart-knights): fix color and style errors.
  Mobile/starter_project_dark_knights/lib/core/utils/colors.dart
  Mobile/starter_project_dark_knights/lib/features/article/presentation/widgets/title_bar.dart
Labels: @team/mobile

#169 fix(backend-mavericks): migrate to new response handler
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/CreateRatingCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Ratings/CQRS/Handlers/UpdateRatingCommandHandler.cs
Labels: @team/backend

#142 feat( backend-dotnetforce7): update blog upon review
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/BlogApp.Application.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/CreateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/DeleteBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Commands/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Blogs/Queries/GetBlogListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockRateRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IBlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Commands/CreateBlogCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Commands/DeleteBlogCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Commands/UpdateBlogCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/CreateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/DeleteBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/GetBlogListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Handlers/UpdateBlogCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Queries/GetBlogDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/CQRS/Queries/GetBlogListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/BlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/CreateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/IBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/CreateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/IBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/CreateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/CQRS/Handlers/UpdateRateCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/CreateRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/IRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Rates/DTOs/Validators/UpdateRateDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Blog.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/RateConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/GenericRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

#171 feat(web-barbies): create store
  Web/starter_project_barbies/pages/_app.tsx
  Web/starter_project_barbies/store/hooks.ts
  Web/starter_project_barbies/store/store.ts
Labels: @team/web

#166 feat(backend-zsilentcoders): implement blog CRUD
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Program.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/CreateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Queries/GetBlogListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Commands/UpdateBlogCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Requests/Queries/GetBlogListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/BlogListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/UpdateBlogDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/DTOs/Validators/UpdateBlogDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/DeleteBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

#163 feat(backend-dotnetforce7): implement tag entity crud with test
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockTagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Ratetest/Query/GetRateDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/CreateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/DeleteTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Command/UpdateTagCommandHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Query/GetTagDetailQueryHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/TagTest/Query/GetTagListQueryHandlerTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/CreateTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/DeleteTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Commands/UpdateTagCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Handlers/UpdateTagCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/CreateTagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/CreateTagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Tag.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/TagConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

#46 feat(web-iconics) : implement add blog page
  Web/starter_project_iconics/components/blog/TextEditor.tsx
  Web/starter_project_iconics/package-lock.json
  Web/starter_project_iconics/package.json
  Web/starter_project_iconics/pages/blog/add-blog.tsx
  Web/starter_project_iconics/public/img/blog/upload-img.png
  Web/starter_project_iconics/tailwind.config.js
Labels: @team/web

#173 fix(backend-zsilentcoders): fix blog tests
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Command/UpdateBlogCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Blog/Query/GetBlogListQueryTest.cs
Labels: @team/backend

#174 Mobile matador.duressa jemal.user.domain layer
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/user/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/user/domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.mocks.dart
Labels: @team/mobile

#164 feat(web-iconics): implement impact stories section of homepage
  Web/starter_project_iconics/components/home/ImpactImage.tsx
  Web/starter_project_iconics/components/home/ImpactStories.tsx
  Web/starter_project_iconics/components/home/Services.tsx
  Web/starter_project_iconics/components/home/SuccessRate.tsx
  Web/starter_project_iconics/data/home/impact-story.json
  Web/starter_project_iconics/data/home/service.json
  Web/starter_project_iconics/data/home/service.ts
  Web/starter_project_iconics/data/home/success-rate.json
  Web/starter_project_iconics/data/home/success-rate.ts
  Web/starter_project_iconics/pages/index.tsx
  Web/starter_project_iconics/public/img/home/impact-story-0.png
  Web/starter_project_iconics/public/img/home/impact-story-1.png
  Web/starter_project_iconics/public/img/home/impact-story-2.png
  Web/starter_project_iconics/public/img/home/impact-story-3.png
  Web/starter_project_iconics/public/img/home/impact-story-4.png
  Web/starter_project_iconics/public/img/home/impact-story-5.png
  Web/starter_project_iconics/public/img/home/impact-story-6.png
  Web/starter_project_iconics/public/img/home/impact-story-gallery.png
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/home/impact-story.tsx
Labels: @team/web

#82 feat( web-iconics): implement pagination component
  Web/starter_project_iconics/.eslintrc.json
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

#149 feat(wed-iconics)- Implement single blog page
  Web/starter_project_iconics/data/blog/blog-detail.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/add-blog.tsx
  Web/starter_project_iconics/public/img/blog/dummy-author-img.png
  Web/starter_project_iconics/public/img/blog/dummy-blog-img.png
  Web/starter_project_iconics/types/blog/blog-detail.tsx
Labels: @team/web

#182 fix(we-barbies) : Fix single blog route
  Web/starter_project_barbies/components/blog/BlogCard.tsx
Labels: @team/web

#147 dom[Mobile.dartsmiths]: Add user profile entities and usecase
  Mobile/starter_project_dartsmiths/lib/core/error/profile_failures.dart
  Mobile/starter_project_dartsmiths/lib/core/usecase/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/entities/user_profile.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/repositories/user_profile_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/usecases/get_user_profile.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.dart
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.mocks.dart
Labels: @team/mobile

#29 feat(web-barbies): Add team card component
  Web/starter_project_barbies/components/team/TeamMemberCard.tsx
  Web/starter_project_barbies/data/team/team-members.json
  Web/starter_project_barbies/pages/team/index.tsx
  Web/starter_project_barbies/public/image/team/hero-image.svg
  Web/starter_project_barbies/types/team.ts
Labels: @team/web

#185 feat(metador)the domain layer implementation with the tests
  Mobile/starter_project_matador/lib/core/errors/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/utils/constants/colors.dart
  Mobile/starter_project_matador/lib/core/utils/constants/styles.dart
  Mobile/starter_project_matador/lib/features/signup/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/signup/domain/repositories/auth_repository.dart
  Mobile/starter_project_matador/lib/features/signup/domain/usecases/signup_user.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.dart
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.mocks.dart
Labels: @team/mobile

#38 Kaleab.about-page
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/data/about/problem-items.json
  Web/starter_project_barbies/data/about/projects.json
  Web/starter_project_barbies/data/about/sessions.json
  Web/starter_project_barbies/data/about/solution-items.json
  Web/starter_project_barbies/pages/about/index.tsx
  Web/starter_project_barbies/public/img/about/hero/development-phase.png
  Web/starter_project_barbies/public/img/about/hero/education-process.png
  Web/starter_project_barbies/public/img/about/problems/africa.svg
  Web/starter_project_barbies/public/img/about/problems/amico-puzzle.png
  Web/starter_project_barbies/public/img/about/problems/amico-solve.png
  Web/starter_project_barbies/public/img/about/problems/code.svg
  Web/starter_project_barbies/public/img/about/problems/idea.svg
  Web/starter_project_barbies/public/img/about/projects/hakim-hub.png
  Web/starter_project_barbies/public/img/about/projects/track-sym.png
  Web/starter_project_barbies/public/img/about/sessions/biweekly.svg
  Web/starter_project_barbies/public/img/about/sessions/code.svg
  Web/starter_project_barbies/public/img/about/sessions/learning.svg
  Web/starter_project_barbies/public/img/about/sessions/question.svg
  Web/starter_project_barbies/public/img/about/sessions/rocket-launch.svg
  Web/starter_project_barbies/public/img/about/sessions/triangle.svg
  Web/starter_project_barbies/types/about.tsx
Labels: @team/web

#190 feat(backend-zsilentcoders): implement basic CRUD for tags
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/CreateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/DeleteTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Commands/UpdateTagCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/CreateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/DeleteTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/GetTagListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Handlers/UpdateTagCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/CQRS/Queries/GetTagListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/CreateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/DeleteTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagDetailsDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/TagListDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/UpdateTagDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/CreateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/DeleteTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Tags/DTOs/Validators/UpdateTagDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Tag.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/TagConfigurations.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockTagRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/CreateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/DeleteTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Command/UpdateTagCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagDetailsQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Tags/Query/GetTagListQueryTest.cs
Labels: @team/backend

#188 Aklile.merge blog type
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/data/blog/blog-detail.json
  Web/starter_project_iconics/data/blog/blog-tile.json
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/types/blog/blog-detail.tsx
  Web/starter_project_iconics/types/blog/blog.tsx
Labels: @team/web

#146 feat(backend-zsilentcoders): Impliment review CRUD
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Commands/CreateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Commands/DeleteReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Commands/UpdateReviewCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Queries/GetReviewDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Handlers/Queries/GetReviewListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/IReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/ReviewIsApprovedDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/DeleteReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateIsResolvedValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Review.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/ReviewConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockReviewRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Command/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewDetainQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Review/Query/GetReviewListQueryHandlerTest.cs
Labels: @team/backend

#161 feat(backend-dotnetforce7): Implement crud review
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/ReviewController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Comman/UpdateReviewCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Query/GetReviewDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Review/Query/GetReviewListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/IReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Rate.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Review.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/ReviewConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

#165 feat(backend-dotnetforce7) comment-crud
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/CreateCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/DeleteCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Command/UpdateCommentCommandHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Query/GetCommentDetailQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/CommentTest/Query/GetCommentListQueryHandlerTest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockCommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application.UnitTest/Mocks/MockUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentDetailQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentDetailQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/Comment.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Configurations/Entities/CommentConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/UnitOfWork.cs
Labels: @team/backend

#162 feat(backend-zsilentcoders): implement basic crud for blog rate
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogRatesController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/BlogsController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IBlogRateRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Commands/CreateBlogRateCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Commands/DeleteBlogRateCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Commands/UpdateBlogRateCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Handlers/CreateBlogRateCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Handlers/DeleteBlogRateCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Handlers/GetBlogRateListByBlogRequestHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Handlers/UpdateBlogRateCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/CQRS/Queries/GetBlogRateListByBlogRequest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/BlogRateDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/CreateBlogRateDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/DeleteBlogRateDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/IBlogRateDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/Validators/BlogRateDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/Validators/CreateBlogRateDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/Validators/DeleteBlogRateDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/BlogRates/DTOs/Validators/IBlogRateDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Blog.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/BlogRate.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/BlogRateRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogApp.Tests.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/CreateBlogRateCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/DeleteBlogRateCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/BlogRates/GetBlogRateListByBlogRequestHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockBlogRateRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

#192 fix(mobile-matador): fix file structure and import issues for whole file
  Mobile/starter_project_matador/lib/core/errors/failures.dart
  Mobile/starter_project_matador/lib/core/usecases/usecase.dart
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/screen/onboarding_screen.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/animated_entry.dart
  Mobile/starter_project_matador/lib/features/onboarding/presentation/widgets/introduction.dart
  Mobile/starter_project_matador/lib/features/signup/domain/repositories/auth_repository.dart
  Mobile/starter_project_matador/lib/features/signup/domain/usecases/signup_user.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/get_user_by_id.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/signup/domain/usecases/signup_user_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.dart
Labels: @team/mobile

#178 feat(backend-zsilentcoders): implement Comment CRUD
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.API/appsettings.json
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Blog/CQRS/Handlers/Commands/UpdateBlogCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentDetailQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentDetailQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/DeleteCommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/DeleteCommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/BlogApp.Domain.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Domain/Comment.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogApp.Persistence.csproj
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Configurations/Entities/CommentConfiguration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/GenericRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/CreateCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/DeleteCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Command/UpdateCommentCommandHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Query/GetCommentDetailQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Comment/Query/GetCommentListQueryHandlerTest.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockCommentRepository.cs
  Backend/starter_project_zsilentcoders/BlogApp3/BlogApp.Tests/Mocks/MockUnitOfWork.cs
Labels: @team/backend

#196 Yared.hayat usecases for user profile
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/entities/user_entity.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/repositories/user_repository.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/create_user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/delete_user.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/edit_user_profile.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_all_users.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_following.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_followers.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/create_user_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/create_user_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/delete_user_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/edit_user_profile_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_all_users_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_followers_test.dart
  Mobile/starter_project_dark_knights/test/widget_test.dart
Labels: @team/mobile

#183 feat(Matador):Article-Domain
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/article_usecase.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.mocks.dart
Labels: @team/mobile

#177 feat(backend-mavericks): Implement basic CRUD and unit test for review
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/RatingsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/ReviewsController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/CreateReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/DeleteReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Commands/UpdateReviewCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/CreateReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/DeleteReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetBlogReviewListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetReviewDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/GetUserReviewListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Handlers/UpdateReviewCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetBlogReviewListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetReviewDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/CQRS/Queries/GetUserReviewListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/CreateReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/IReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/ReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/UpdateReviewDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/CreateReviewDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/IReviewDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Reviews/DTOs/Validators/UpdateReviewValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Review.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/ReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockReviewRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/CreateReviewCommandHandlerTest.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/DeleteReviewCommandHandlerTest.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Reviews/UpdateReviewCommandHandlerTest.cs
Labels: @team/backend

#193 feat(mobile-dart_knights): implement article domain layer
  Mobile/starter_project_dark_knights/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/delete_article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_article_by_id.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_articles.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/get_articles_by_user_id.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/post_article.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/usecases/update_articles.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_user_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

#150 feat(backend-dotnetforce7): Implement user authentication and autherization
  Backend/.gitignore
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/BlogApp.API.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Controllers/UserController.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Program.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/Properties/launchSettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.API/appsettings.json
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/BlogApp.Application.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Constants/CustomClaimTypes.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IAuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Contracts/Identity/IUserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Exceptions/IdentityException.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/AuthResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/JwtSettings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistraionRequest.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/RegistrationResponse.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Application/Models/Identity/User.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/BlogApp.Identity.UnitTest.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/AuthServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Services/UserServiceTests.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity.UnitTests/Usings.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/.DS_Store
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogApp.Identity.csproj
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/BlogIdentityDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/RoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Configurations/UserRoleConfiguration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/IdentityServicesRegistration.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Models/ApplicationUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/AuthService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Identity/Services/UserService.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp2.sln
Labels: @team/backend

#117 feat(mobile-dartsmith): implement login entity_login usecase
  Mobile/starter_project_dartsmiths/lib/core/errors/failures.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/entity/authentication_payload.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/repository/login_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/use_cases/login_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/status_card.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/presentation/widgets/user_post_view.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.mocks.dart
Labels: @team/mobile

#159 feat(matador.joshua): Add auth domain
  Mobile/starter_project_matador/lib/core/usecases/usecases.dart
  Mobile/starter_project_matador/lib/features/login/Domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/login/Domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/login/Domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile

#199 feat(mobile-dart knight) implement user authentication
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/login_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/screen/signup_page.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/buttons.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_button.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/login_form.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/navigation.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/widgets/signup_form.dart
  Mobile/starter_project_dark_knights/lib/features/onboarding/presentation/screen/onboarding_page.dart
  Mobile/starter_project_dark_knights/lib/main.dart
Labels: @team/mobile

#201 fix(mobile-dark_knight): fix tag type error on article entity
  Mobile/starter_project_dark_knights/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_by_user_id_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/post_article_test.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/update_article_test.dart
Labels: @team/mobile

#203 feat(web-barbies): setup json-server
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
Labels: @team/web

#207 feat(Mobile-Dartknights): Create user model with tests
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/models/user_model.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/models/user_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/fixture_reader.dart
  Mobile/starter_project_dark_knights/test/fixtures/user.json
Labels: @team/mobile

#205 feat(mobile:dart_knights):user-domain-layer
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_followers.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_number_of_following.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/domain/usecases/get_user.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_followers_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_number_of_following_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/domain/usecases/get_user_test.dart
Labels: @team/mobile

#210 feat(mobile-dartknight)implement authentication model
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/models/authentication.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/entities/authentication_entitiy.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/loginUsecase.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/domain/usecases/signupUsecase.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/models/authentication_model_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/authentication_valid.json
  Mobile/starter_project_dark_knights/test/fixtures/fixure_reader.dart
Labels: @team/mobile

#181 feat(backend-mavericks): Implement CRUD operation for "Tag" Feature
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/TagController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ITagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Blogs/DTOs/CreateBlogDTO.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/createTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/deleteTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Commands/updateTagCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/createTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/deleteTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagDetailQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/getTagListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Handlers/updateTagCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagDetailQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/CQRS/Queries/getTagListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/ITagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/TagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/ITagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/createTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/Validators/updateTagDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/createTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Tags/DTOs/updateTagDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Responses/BaseResponse.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Tag.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Configurations/Entities/_TagConfiguration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/TagRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/BlogApp.UnitTests.csproj
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockTagRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/createTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/deleteTagCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Tags/updateTagCommadHandlerTests.cs
Labels: @team/backend

#127 feat(web-iconics): implement teams page
  Web/starter_project_iconics/components/teams/README.md
  Web/starter_project_iconics/components/teams/TeamMemberCard.tsx
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/components/teams/TeamsHero.tsx
  Web/starter_project_iconics/data/teams/team-members.json
  Web/starter_project_iconics/pages/teams/index.tsx
  Web/starter_project_iconics/public/img/teams/naty.png
  Web/starter_project_iconics/types/teams.ts
Labels: @team/web

#191 feat(web): implement blogs page
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/common/Search.tsx
  Web/starter_project_vanguard/components/common/Tags.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
Labels: @team/web

#175 feat(backend-mavricks): Implement basic crud for comment
  Backend/starter_project_mavericks/BlogApp/BlogApp.API/Controllers/CommentController.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/ICommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Contracts/Persistence/IUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/CreateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/DeleteCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Commands/UpdateCommentCommand.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/CreateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentByIdQueryHandlert.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/GetCommentListQueryHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Handlers/UpdateCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentByIdQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/CQRS/Queries/GetCommentListQuery.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/CreateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/ICommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/UpdateCommentDto.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/CreateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/ICommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Features/Comments/DTOs/Validators/UpdateCommentDtoValidator.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Application/Profiles/MappingProfile.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Domain/Comment.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Migrations/BlogAppDbContextModelSnapshot.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/PersistenceServicesRegistration.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/CommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/BlogApp.Persistence/Repositories/UnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/CreateCommentCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/DeleteCommentCommandHandler.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Comments/UpdateCommetCommandHandlerTests.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockCommentRepository.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Mocks/MockUnitOfWork.cs
  Backend/starter_project_mavericks/BlogApp/tests/BlogApp.UnitTests/Ratings/CreateCommentCommandHandlerTests.cs
Labels: @team/backend

#224 feat(backend-dotnetfroces7): Add new user in blog and link user with blog
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Domain/BlogUser.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContext.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/BlogAppDbContextFactory.cs
  Backend/starter_project_dotnetforce7/BlogApp2/BlogApp.Persistence/Repositories/BlogRepository.cs
Labels: @team/backend

#226 fix(web-iconics): change pagination props to reduce redundant calculations
  Web/starter_project_iconics/components/common/Pagination.tsx
Labels: @team/web

#222 fix(web-iconics): add pagination to team members list
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/data/teams/team-members.json
Labels: @team/web

#59 feat(web-iconics): create blog card and one profile page
  Web/starter_project_iconics/components/blog/BlogCard.tsx
  Web/starter_project_iconics/components/blog/BlogCardFooter.tsx
  Web/starter_project_iconics/components/blog/BlogTile.tsx
  Web/starter_project_iconics/components/profile/MyBlogs.tsx
  Web/starter_project_iconics/data/blog/blog.json
  Web/starter_project_iconics/data/profile/personal-blogs.json
  Web/starter_project_iconics/data/profile/user-profile.json
  Web/starter_project_iconics/pages/blog/[id].tsx
  Web/starter_project_iconics/pages/blog/index.tsx
  Web/starter_project_iconics/pages/profile/index.tsx
  Web/starter_project_iconics/tailwind.config.js
  Web/starter_project_iconics/types/blog.ts
  Web/starter_project_iconics/types/user.ts
Labels: @team/web

#218 Feruz.user profile data layer
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/core/errors/failures.dart
  Mobile/starter_project_dark_knights/lib/core/network/network_info.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.mocks.dart
  Mobile/starter_project_dark_knights/test/fixtures/list_of_users.json
Labels: @team/mobile

#236 implement data layer
  Mobile/starter_project_dark_knights/lib/core/errors/exception.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/datasources/article_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dark_knights/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dark_knights/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_local_data_resource_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_local_data_resource_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/datasources/article_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/data/repositories/article_repository_imple_test.dart
  Mobile/starter_project_dark_knights/test/features/article/data/repositories/article_repository_imple_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/article/domain/usecases/delete_article_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/article_cached.json
Labels: @team/mobile

#228 feat(Mobile-Dartknights): Implement the data layer for user profile
  Mobile/starter_project_dark_knights/lib/core/errors/exceptions.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/repositories/user_repository_impl.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/user_profile/data/repositories/user_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/fixtures/list_of_users.json
Labels: @team/mobile

#238 feat(mobile: dark_knights) : user-data-layer
  Mobile/starter_project_dark_knights/assets/icons/4squares.svg
  Mobile/starter_project_dark_knights/lib/features/user_profile/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
  Mobile/starter_project_dark_knights/test/features/user_profile/data/datasources/user_remote_data_source_test.dart
Labels: @team/mobile

#220 feat(hiwot.dartsmiths): implement data layer for get_article
  Mobile/starter_project_dartsmiths/lib/core/error/exception.dart
  Mobile/starter_project_dartsmiths/lib/core/network/intwork_info.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/platform/network_info.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/models/article_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/fixtures/article.json
  Mobile/starter_project_dartsmiths/test/fixtures/fixture_readrer.dart
Labels: @team/mobile

#214 Mobile.duressa jemal.user.data layer and bloc
  Mobile/starter_project_matador/lib/core/error/exceptions.dart
  Mobile/starter_project_matador/lib/core/error/failures.dart
  Mobile/starter_project_matador/lib/core/network/network_info.dart
  Mobile/starter_project_matador/lib/features/user/data/datasources/user_local_data_source.dart
  Mobile/starter_project_matador/lib/features/user/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/user/data/models/user_model.dart
  Mobile/starter_project_matador/lib/features/user/data/repositories/user_repository_imp.dart
  Mobile/starter_project_matador/lib/features/user/domain/entities/user.dart
  Mobile/starter_project_matador/lib/features/user/domain/repositories/user_repository.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/add_user.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/delete_user_by_id.dart
  Mobile/starter_project_matador/lib/features/user/domain/usecases/edit_user_by_id.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_bloc.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_event.dart
  Mobile/starter_project_matador/lib/features/user/presentation/bloc/user_state.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/user/data/models/user_model_test.dart
Labels: @team/mobile

#208 feat(mobile: dart_knight) feed domain layer
  Mobile/starter_project_dark_knights/lib/features/feeds/domain/repositories/feed_repository.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/domain/usecases/filter_articles.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/domain/usecases/get_articles.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/domain/usecases/search_articles.dart
  Mobile/starter_project_dark_knights/test/features/feed/domain/usecases/filter_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/feed/domain/usecases/get_articles_test.dart
  Mobile/starter_project_dark_knights/test/features/feed/domain/usecases/get_articles_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/feed/domain/usecases/search_articles_test.dart
Labels: @team/mobile

#242 feat(Mobile-Dartknights): Implement BLoC logic for Auth screens
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/bloc/authentication_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/bloc/authentication_event.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/presentation/bloc/authentication_state.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

#197 feat(web-barbies): implement state management for blogs page
  Web/starter_project_barbies/components/blog/BlogCard.tsx
  Web/starter_project_barbies/components/blog/BlogCardShimmer.tsx
  Web/starter_project_barbies/components/blog/BlogCardWide.tsx
  Web/starter_project_barbies/components/blog/BlogCardWideShimmer.tsx
  Web/starter_project_barbies/components/blog/BlogsList.tsx
  Web/starter_project_barbies/components/blog/RelatedBlogs.tsx
  Web/starter_project_barbies/components/common/LoadingSpinner.tsx
  Web/starter_project_barbies/components/common/Pagination.tsx
  Web/starter_project_barbies/hooks/common.ts
  Web/starter_project_barbies/pages/api/blogs.ts
  Web/starter_project_barbies/pages/blogs/[id].tsx
  Web/starter_project_barbies/pages/blogs/index.tsx
  Web/starter_project_barbies/public/data/blogs.json
  Web/starter_project_barbies/store/blog/blogs-api.ts
  Web/starter_project_barbies/store/store.ts
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

#252 fix(matador.joshua): add forgost_pass.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/widgets/login/forgot_pass.dart
Labels: @team/mobile

#253 feat(mobile-matador): Add test for user data layer
  Mobile/starter_project_matador/lib/features/user/data/datasources/user_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/user/data/models/user_model.dart
  Mobile/starter_project_matador/lib/features/user/data/repositories/user_repository_imp.dart
  Mobile/starter_project_matador/test/features/user/data/datasources/user_data_source_test.dart
  Mobile/starter_project_matador/test/features/user/data/datasources/user_data_source_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/data/repositories/user_repository_imp_test.dart
  Mobile/starter_project_matador/test/features/user/data/repositories/user_repository_imp_test.mocks.dart
  Mobile/starter_project_matador/test/features/user/domain/usecases/get_user_by_id_test.mocks.dart
Labels: @team/mobile

#251 feat(mobile: dark_knights): User Profile Bloc
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/bloc/user_profile_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/bloc/user_profile_event.dart
  Mobile/starter_project_dark_knights/lib/features/user_profile/presentation/bloc/user_profile_state.dart
Labels: @team/mobile

#248 feat (web-iconics): add RTK Query to fetch data
  Web/starter_project_iconics/data/story/success-stories.json
  Web/starter_project_iconics/data/story/success-stories.ts
  Web/starter_project_iconics/pages/api/success-stories.ts
  Web/starter_project_iconics/pages/story/index.tsx
  Web/starter_project_iconics/store/features/story/success-stories-api.ts
  Web/starter_project_iconics/store/index.ts
Labels: @team/web

#254 fix(matador.seid) :adding the datasource implementation
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_datasource.dart
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_local_data_source.dart
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_matador/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_matador/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_event.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_state.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

#54 feat(web-barbies): add home-page UI
  Web/starter_project_barbies/components/home/AcceptanceCard.tsx
  Web/starter_project_barbies/components/home/BuildBetter.tsx
  Web/starter_project_barbies/components/home/Hero.tsx
  Web/starter_project_barbies/components/home/ImpactStories.tsx
  Web/starter_project_barbies/components/home/ServiceCard.tsx
  Web/starter_project_barbies/components/home/SuccessRate.tsx
  Web/starter_project_barbies/components/home/SupportUs.tsx
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/public/data/home/acceptance-rate.json
  Web/starter_project_barbies/public/data/home/impact-stories.json
  Web/starter_project_barbies/public/data/home/service-description.json
  Web/starter_project_barbies/public/img/home/africa.png
  Web/starter_project_barbies/public/img/home/build-better.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-1.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-2.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-3.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-4.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-5.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-6.png
  Web/starter_project_barbies/public/img/home/impact-stories/impact-story-7.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-1.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-2.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-3.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-4.png
  Web/starter_project_barbies/public/img/home/landing-images/landing-image-5.png
  Web/starter_project_barbies/public/img/home/success-description.png
  Web/starter_project_barbies/styles/globals.css
  Web/starter_project_barbies/tailwind.config.js
  Web/starter_project_barbies/types/home.ts
Labels: @team/web

#194 feat(web): implement state management and integration for about page
  Web/starter_project_barbies/components/about/HeroSection.tsx
  Web/starter_project_barbies/components/about/ProblemsSection.tsx
  Web/starter_project_barbies/components/about/ProjectsList.tsx
  Web/starter_project_barbies/components/about/SessionsList.tsx
  Web/starter_project_barbies/data/about/problem-items.json
  Web/starter_project_barbies/data/about/projects.json
  Web/starter_project_barbies/data/about/sessions.json
  Web/starter_project_barbies/data/about/solution-items.json
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/store/about/about-api.ts
  Web/starter_project_barbies/store/store.ts
Labels: @team/web

#230 feat(web-barbies) : Add new blog post
  Web/starter_project_barbies/.gitignore
  Web/starter_project_barbies/components/blog/BlogForm.tsx
  Web/starter_project_barbies/components/blog/SelectBlogTag.tsx
  Web/starter_project_barbies/package-lock.json
  Web/starter_project_barbies/package.json
  Web/starter_project_barbies/pages/index.tsx
  Web/starter_project_barbies/store/blog/blogs-api.ts
Labels: @team/web

#200 Endale.add new blog state
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/TagSelection.tsx
  Web/starter_project_vanguard/components/blog/TextEditor.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/data/success-story.json
  Web/starter_project_vanguard/hooks/hooks.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/api/blogs.ts
  Web/starter_project_vanguard/pages/api/success-story.ts
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/pages/success-story/index.tsx
  Web/starter_project_vanguard/store/features/blog/add-new-blog-api.ts
  Web/starter_project_vanguard/store/features/success-story/success-story-api.ts
  Web/starter_project_vanguard/store/store.ts
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

#249 (feat/dartsmiths/AuthenticaionDataLayer) Add the data layer for the authentication part
  Mobile/starter_project_dartsmiths/lib/core/error/exceptions.dart
  Mobile/starter_project_dartsmiths/lib/core/error/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/error/profile_failures.dart
  Mobile/starter_project_dartsmiths/lib/core/errors/failures.dart
  Mobile/starter_project_dartsmiths/lib/core/network/network_info.dart
  Mobile/starter_project_dartsmiths/lib/core/usecase/usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/data/datasource/authentication_remote_datasource.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/data/model/user_auth_credentials.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/data/repository/authentication_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/repository/login_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/domain/use_cases/login_usecase.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/presentation/bloc/auth_bloc.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/presentation/bloc/auth_bloc_event.dart
  Mobile/starter_project_dartsmiths/lib/features/authentication/presentation/bloc/auth_bloc_state.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/repositories/user_profile_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/profile/domain/usecases/get_user_profile.dart
  Mobile/starter_project_dartsmiths/lib/injection/injection.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/core/fixture/user_credential.json
  Mobile/starter_project_dartsmiths/test/core/fixture/user_credential_reader.dart
  Mobile/starter_project_dartsmiths/test/core/network/network_info_test.dart
  Mobile/starter_project_dartsmiths/test/core/network/network_info_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/get_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/post_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/article/domain/usecases/update_article_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/authentication/data/model/auth_credentials_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/authentication/data/repository/auth_repository_test.dart
  Mobile/starter_project_dartsmiths/test/features/authentication/data/repository/auth_repository_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.dart
  Mobile/starter_project_dartsmiths/test/features/example/domain/usecases/login_usecase.test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/profile/domain/usecases/get_user_profile_test.mocks.dart
Labels: @team/mobile

#257 implement dependency injection for article feature
  Mobile/starter_project_dark_knights/lib/article_injection.dart
  Mobile/starter_project_dark_knights/pubspec.yaml
Labels: @team/mobile

#258 feat(mobile : Dart Knight) implement the data layer of feed
  Mobile/starter_project_dark_knights/lib/features/feeds/data/datasources/feed_remote_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/data/repositories/feed_repository_implementation.dart
  Mobile/starter_project_dark_knights/test/features/feed/data/datasources/feed_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/feed/data/datasources/feed_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/feed/data/repositories/feed_repository_implementation_test.dart
  Mobile/starter_project_dark_knights/test/features/feed/data/repositories/feed_repository_implementation_test.mocks.dart
Labels: @team/mobile

#227 feat(web): adding state management to about page
  Web/starter_project_vanguard/components/about/A2SVSession.tsx
  Web/starter_project_vanguard/components/about/Activities.tsx
  Web/starter_project_vanguard/components/about/CenteredImage.tsx
  Web/starter_project_vanguard/components/about/ImagePragraph.tsx
  Web/starter_project_vanguard/components/about/SocialProject.tsx
  Web/starter_project_vanguard/data/about/a2sv-sessions.ts
  Web/starter_project_vanguard/data/about/social-projects.ts
  Web/starter_project_vanguard/data/db.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/about/index.tsx
  Web/starter_project_vanguard/pages/api/about/index.ts
  Web/starter_project_vanguard/store/about/about-api.ts
  Web/starter_project_vanguard/store/store.ts
  Web/starter_project_vanguard/types/about/a2sv-session.ts
  Web/starter_project_vanguard/types/about/project.ts
Labels: @team/web

#152 feat(web-vanguard): implement home page components
  Web/starter_project_vanguard/components/home/Activities.tsx
  Web/starter_project_vanguard/components/home/BuildBetter.tsx
  Web/starter_project_vanguard/components/home/HelpUs.tsx
  Web/starter_project_vanguard/components/home/HeroSection.tsx
  Web/starter_project_vanguard/components/home/ImpactStories.tsx
  Web/starter_project_vanguard/components/home/SuccessRate.tsx
  Web/starter_project_vanguard/components/home/YearlySuccess.tsx
  Web/starter_project_vanguard/data/home/activities.json
  Web/starter_project_vanguard/data/home/success-rates.json
  Web/starter_project_vanguard/pages/index.tsx
  Web/starter_project_vanguard/public/img/home/activity-1.jpg
  Web/starter_project_vanguard/public/img/home/activity-2.jpg
  Web/starter_project_vanguard/public/img/home/activity-3.jpg
  Web/starter_project_vanguard/public/img/home/africa.png
  Web/starter_project_vanguard/public/img/home/bulid-better-image.jpg
  Web/starter_project_vanguard/public/img/home/impact-story-image.png
  Web/starter_project_vanguard/public/img/home/landing-image.png
  Web/starter_project_vanguard/types/home/activity.ts
  Web/starter_project_vanguard/types/home/success-rate.ts
Labels: @team/web

#255 feat(Dartsmith).Tamirat post update data layer
  Mobile/starter_project_dartsmiths/lib/core/network/intwork_info.dart
  Mobile/starter_project_dartsmiths/lib/core/network/network_info.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_dartsmiths/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_dartsmiths/lib/features/article/domain/entities/article.dart
  Mobile/starter_project_dartsmiths/lib/platform/network_info.dart
  Mobile/starter_project_dartsmiths/pubspec.yaml
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.dart
  Mobile/starter_project_dartsmiths/test/features/article/data/repositories/article_repository_impl_test.mocks.dart
Labels: @team/mobile

#266 feat(mobile.dartsmith): Home page data layer implementation
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/datasource/home_remote.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/model/home.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/data/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/entity/home.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/repository/home_repository.dart
  Mobile/starter_project_dartsmiths/lib/features/feed/home/domain/usecase/home_usecase.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/data/model/home_model_test.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/repository/home_repository_test.mocks.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/usecase/home_test.dart
  Mobile/starter_project_dartsmiths/test/features/feed/home/domain/usecase/home_test.mocks.dart
Labels: @team/mobile

#256 fix(web-iconics) make the isLoading section of impact story better
  Web/starter_project_iconics/components/home/ImpactStories.tsx
Labels: @team/web

#265 feat(web-barbies): Integrate state
  Web/starter_project_barbies/components/team/TeamMemberCardShimmer.tsx
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/pages/team/index.tsx
  Web/starter_project_barbies/store/store.ts
  Web/starter_project_barbies/store/team/team-api.ts
Labels: @team/web

#263 feat(mobile:dart_knights): user dependency injection container
  Mobile/starter_project_dark_knights/lib/user_injection_container.dart
Labels: @team/mobile

#267 feat(mobile : Dart Knight) implement the bloc of feed
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_event.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_state.dart
Labels: @team/mobile

#225 feat(Web-vanguard): implement Single Blog
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/components/blog/FileUpload.tsx
  Web/starter_project_vanguard/components/blog/RelatedBlog.tsx
  Web/starter_project_vanguard/components/blog/TextEditor.tsx
  Web/starter_project_vanguard/data/blogs.json
  Web/starter_project_vanguard/data/tags.json
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/pages/blog/[id].tsx
  Web/starter_project_vanguard/pages/blog/add-new-blog.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
  Web/starter_project_vanguard/public/img/illustration.JPG
  Web/starter_project_vanguard/types/blog/blog.ts
Labels: @team/web

#270 feat(web-barbies): implement edit blog UI and Integration
  Web/starter_project_barbies/components/blog/BlogCard.tsx
  Web/starter_project_barbies/pages/blogs/my-blogs/edit-blog/[blog-id].tsx
  Web/starter_project_barbies/store/blog/blogs-api.ts
  Web/starter_project_barbies/types/blog.ts
Labels: @team/web

#268 Tseganesh add blogs state
  Web/starter_project_vanguard/components/blog/BlogsCard.tsx
  Web/starter_project_vanguard/pages/blog/index.tsx
  Web/starter_project_vanguard/store/features/blog/blogs-api.ts
  Web/starter_project_vanguard/store/store.ts
Labels: @team/web

#277 fix(web-barbies): fix bug on about page hero section
  Web/starter_project_barbies/components/about/HeroSection.tsx
Labels: @team/web

#275 feat(mobile: Dart knight) : added loadarticle by id on feed bloc
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_bloc.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_event.dart
  Mobile/starter_project_dark_knights/lib/features/feeds/presentation/bloc/feed_state.dart
Labels: @team/mobile

#278 Mobile.duressaJemal.homepage.feed-bloc
  Mobile/starter_project_matador/lib/features/article/data/datasources/article_remote_data_source.dart
  Mobile/starter_project_matador/lib/features/article/data/models/article_model.dart
  Mobile/starter_project_matador/lib/features/article/data/repositories/article_repository_impl.dart
  Mobile/starter_project_matador/lib/features/article/domain/repositories/article_repository.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/get_all_articles.dart
  Mobile/starter_project_matador/lib/features/article/domain/usecases/get_article_by_id.dart
  Mobile/starter_project_matador/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_matador/lib/features/article/presentation/screen/article_reading.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/block/feed_bloc.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/block/feed_event.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/block/feed_state.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/screen/home_page.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/article_preview_card.dart
  Mobile/starter_project_matador/lib/features/feed/presentation/widgets/home_page_body.dart
  Mobile/starter_project_matador/lib/injection/injection.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
Labels: @team/mobile

#212 Jebessa.update blog card
  Web/starter_project_vanguard/components/blog/BlogCard.tsx
  Web/starter_project_vanguard/components/profile/MyBlogs.tsx
Labels: @team/web

#281 (Mobile-Dart-Kinght): Implement data layer for authentication
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/datasources/authenication_remote_data_sources.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/datasources/authentication_local_data_source.dart
  Mobile/starter_project_dark_knights/lib/features/Authentication/data/repositories/authentication_repository_impl.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/datasources/authentication_remote_data_source_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/datasources/authentication_remote_data_source_test.mocks.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/repositories/authentication_repository_impl_test.dart
  Mobile/starter_project_dark_knights/test/features/authentication/data/repositories/authentication_repository_impl_test.mocks.dart
Labels: @team/mobile

#274 (Mobile-Dartknights): Add dependency injection file that wraps all other dependency files.
  Mobile/starter_project_dark_knights/lib/article_injection_container.dart
  Mobile/starter_project_dark_knights/lib/feed_injection_container.dart
  Mobile/starter_project_dark_knights/lib/injection_container.dart
  Mobile/starter_project_dark_knights/lib/main.dart
  Mobile/starter_project_dark_knights/lib/user_injection_container.dart
Labels: @team/mobile

#264 Ekram.story page
  Web/starter_project_barbies/components/story/Partners.tsx
  Web/starter_project_barbies/components/story/SuccessStory.tsx
  Web/starter_project_barbies/components/story/SuccessStoryCard.tsx
  Web/starter_project_barbies/components/story/Title.tsx
  Web/starter_project_barbies/db.json
  Web/starter_project_barbies/pages/story/index.tsx
  Web/starter_project_barbies/store/store.ts
  Web/starter_project_barbies/store/story/partners-api.ts
  Web/starter_project_barbies/store/story/storys-api.ts
  Web/starter_project_barbies/types/story.ts
Labels: @team/web

#260 feat(hiwot.dartsmiths): add dependency injection for article
  Mobile/starter_project_dartsmiths/assets/images/backie.jpg
  Mobile/starter_project_dartsmiths/lib/features/article/presentation/bloc/article_bloc.dart
  Mobile/starter_project_dartsmiths/lib/injection/article_injection.dart
  Mobile/starter_project_dartsmiths/lib/injection/injection.dart
  Mobile/starter_project_dartsmiths/lib/main.dart
Labels: @team/mobile

#280 feat(web-vanguard): implement fetch from json-server for home page
  Web/starter_project_vanguard/components/home/Activities.tsx
  Web/starter_project_vanguard/components/home/SuccessCard.tsx
  Web/starter_project_vanguard/components/home/SuccessRate.tsx
  Web/starter_project_vanguard/components/home/YearlySuccess.tsx
  Web/starter_project_vanguard/components/success-story/Partners.tsx
  Web/starter_project_vanguard/data/db.json
  Web/starter_project_vanguard/data/home/activities.json
  Web/starter_project_vanguard/data/home/success-rates.json
  Web/starter_project_vanguard/hooks/hooks.ts
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/store/features/home/home-api.ts
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

#284 Web barbies.kidus.footer final component
  Web/starter_project_barbies/components/layout/Footer.tsx
  Web/starter_project_barbies/components/layout/Navbar.tsx
  Web/starter_project_barbies/components/profile/ProfileInformation.tsx
  Web/starter_project_barbies/components/profile/ProfileNavbar.tsx
Labels: @team/web

#211 Profile with state
  Web/starter_project_vanguard/components/common/Loading.tsx
  Web/starter_project_vanguard/components/profile/PersonalInfo.tsx
  Web/starter_project_vanguard/data/profile/user-data.json
  Web/starter_project_vanguard/data/profile/user.ts
  Web/starter_project_vanguard/package-lock.json
  Web/starter_project_vanguard/package.json
  Web/starter_project_vanguard/pages/_app.tsx
  Web/starter_project_vanguard/pages/api/profile.ts
  Web/starter_project_vanguard/pages/profile/index.tsx
  Web/starter_project_vanguard/store/index.ts
  Web/starter_project_vanguard/types/profile.ts
Labels: @team/web

#288 feat(web-vamguard): implement teams page with RTKQ
  Web/starter_project_vanguard/components/teams/Members.tsx
  Web/starter_project_vanguard/data/db.json
  Web/starter_project_vanguard/data/team-members.json
  Web/starter_project_vanguard/store/features/teams/teams-api.ts
  Web/starter_project_vanguard/store/index.ts
Labels: @team/web

#287 feat(web): add starter code for assessment
  Web/web_assessment/.eslintrc.json
  Web/web_assessment/.gitignore
  Web/web_assessment/README.md
  Web/web_assessment/next.config.js
  Web/web_assessment/package-lock.json
  Web/web_assessment/package.json
  Web/web_assessment/pages/_app.tsx
  Web/web_assessment/pages/_document.tsx
  Web/web_assessment/pages/api/hello.ts
  Web/web_assessment/pages/index.tsx
  Web/web_assessment/postcss.config.js
  Web/web_assessment/public/favicon.ico
  Web/web_assessment/public/next.svg
  Web/web_assessment/public/vercel.svg
  Web/web_assessment/styles/globals.css
  Web/web_assessment/tailwind.config.js
  Web/web_assessment/tsconfig.json
Labels: @team/web

#276 feat(web-iconics): Add RTK Query to teams page
  Web/starter_project_iconics/components/teams/TeamMembersList.tsx
  Web/starter_project_iconics/data/layout/navbar/nav-data.ts
  Web/starter_project_iconics/store/features/team-members/team-members-api.ts
  Web/starter_project_iconics/store/index.ts
  Web/starter_project_iconics/types/blog.ts
Labels: @team/web

#291 Add the Navbar mapping functionality
  Web/starter_project_barbies/components/common/Footer.tsx
  Web/starter_project_barbies/components/common/Layout.tsx
  Web/starter_project_barbies/components/common/Navbar.tsx
  Web/starter_project_barbies/components/layout/README.md
  Web/starter_project_barbies/pages/_app.tsx
Labels: @team/web

#262 feat(matador.joshua): add login bloc consumption
  Mobile/starter_project_matador/lib/features/auth/data/datasources/login_remote_datasource.dart
  Mobile/starter_project_matador/lib/features/auth/data/models/login_model.dart
  Mobile/starter_project_matador/lib/features/auth/data/repositories/login_user_repository_impl.dart
  Mobile/starter_project_matador/lib/features/auth/domain/repositories/login_repository.dart
  Mobile/starter_project_matador/lib/features/auth/domain/usecases/login_use_case.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_bloc.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/bloc/login_state.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/screen/login_page.dart
  Mobile/starter_project_matador/lib/features/auth/presentation/widgets/login/logo.dart
  Mobile/starter_project_matador/lib/injection/injection.dart
  Mobile/starter_project_matador/lib/main.dart
  Mobile/starter_project_matador/pubspec.yaml
  Mobile/starter_project_matador/test/features/article/domain/usecases/article_test.dart
  Mobile/starter_project_matador/test/features/auth/data/datasources/login_datasources_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.dart
  Mobile/starter_project_matador/test/features/auth/data/models/login_model_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.dart
  Mobile/starter_project_matador/test/features/auth/data/repositories/login_repository_test.mocks.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.dart
  Mobile/starter_project_matador/test/features/auth/domain/usecases/authenticate_user_test.mocks.dart
Labels: @team/mobile
